﻿@model OykaCrm.EmployeeAddViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@if (Model != null)
{
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="feed-box">
                        <section class="card">
                            <div class="card-body">
                                @using (Html.BeginForm("Detail", "Employee", FormMethod.Post))
                                {
                                    @Html.HiddenFor(model => model.ID)
                                    @Html.HiddenFor(model => model.RecordEmployeeId)
                                    @Html.HiddenFor(model => model.RecordDate)
                                    @Html.HiddenFor(model => model.ManagerID)
                                    @Html.HiddenFor(model => model.IsActive)
                                    @Html.HiddenFor(model => model.Code)
                                    @Html.HiddenFor(model => model.Title)

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-horizontal form-main form-teklif">
                                        <div class="col-md-9">
                                            <div class="row form-group">

                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-user"></i> AD/SOYAD</label></div>

                                                <div class="col-12 col-md-9">
                                                    @Html.EditorFor(m => m.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-envelope-o"></i> E-POSTA</label></div>
                                                <div class="col-12 col-md-9">
                                                    @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <!--<div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-envelope-o"></i> ŞİFRE</label></div>
                                                <div class="col-12 col-md-9">-->
                                            @*@Html.PasswordFor(model => model.Password, new {@class = "form-control" } )
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                                            <!--<input type="password" class="form-control" value="@Model.Password" name="password" required/>
                                                </div>
                                            </div>-->
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-map-marker"></i>ROLE</label></div>
                                                <div class="col-sm-7">
                                                    <div class="section_room">
                                                        <div>
                                                            @Html.DropDownListFor(m => m.RoleGroupID, new SelectList(Model.RoleGroup.Select(x => new KeyValuePair<string, string>(x.ID.ToString(), x.GroupName)), "Key", "Value"), new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-bank"></i> DEPARTMAN/BÖLGE</label></div>
                                                <div class="col-sm-7">
                                                    <div class="section_room">
                                                        <div>
                                                            @Html.DropDownListFor(m => m.RegionID, new SelectList(Model.Region.Select(x => new KeyValuePair<string, string>(x.ID.ToString(), x.Name)), "Key", "Value"), new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3 text-right form-save-pc">
                                            <a href="/Employee/Index" class="btn btn-new-1">VAZGEÇ</a>
                                            <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                            <a class="btn btn-danger delBtn" id="deleteModal">Sil</a>
                                        </div>
                                        <div class="col-md-12 text-right form-save-mobile">
                                            <a href="/Employee/Index" class="btn btn-new-1">VAZGEÇ</a>
                                            <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                            <a class="btn btn-danger delBtn" data-toggle="modal" data-target="#confirm-delete">Sil</a>
                                        </div>
                                    </div>
                                }

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="confirm-delete" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Personel Silme</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Personel silme işlemini onaylıyor musunuz? <span class="description"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
                        <input type="button" id="deletePersonBtn" value="Evet" class="btn btn-danger btn-ok" />
                    </div>
                </div>
            </div>
        </div>

    </div>
}
else
{
    <div class="col-md-12">
        <div class="alert alert-danger">
            Kullanıcı Kaydı Bulunamadı
        </div>
        <button class="btn btn-info" onclick="goBack()">Geri Dön</button>
    </div>
}


<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>

<script>
    $(document).ready(function () {
        $("#deleteModal").click(function () {

            $("#confirm-delete").modal('show');
        });
        $("#deletePersonBtn").click(function () {
            var id = $("#ID")[0].value

            $.ajax({
                url: '/Employee/Delete/' + id,
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    if (result == true) {
                        window.location.href = "/Employee/Index"
                    }
                },
                error: function () {

                }
            });
        });
    });

</script>