﻿@model IEnumerable<OykaCrm.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            @if (TempData["Error"] != null && TempData["Error"].ToString() != "")
            {
                <div class='alert alert-danger alert-dismissible fade show' role='alert'>@TempData["Error"]<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>
            }
            <div class="col-md-12">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-header">
                            <div class="col-md-8 text-left">
                                <strong class="card-title">KULLANICILAR</strong>
                            </div>
                            <div class="col-md-4 text-right">
                                <a href="/Employee/New" class="btn btn-info">Yeni Kullanıcı Oluştur</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="toplamsayi pull-right"></div>
                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table id="sampleTable" class="table table-striped table-list table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                KOD
                                            </th>
                                            <th>
                                                BAŞLIK
                                            </th>
                                            <th style="min-width:200px">
                                                PERSONEL AD/SOYAD
                                            </th>
                                            <th width="160">E-POSTA</th>
                                            @*<th width="200">POZİSYON / DEPARTMAN</th>
                                            <th width="200">MANAGER</th>*@
                                            <th width="200">DEPARTMAN/BÖLGE</th>
                                            <th width="160">
                                                DURUM
                                            </th>
                                            @*<th width="160">
                                                    KAYIT EDEN KİŞİ
                                                </th>*@
                                            <th width="160">
                                                KAYIT TARIHI
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr onclick="document.location = '/Employee/Detail/'+ @item.ID;" class="pointer-tr">
                                                <td>@item.Code</td>
                                                <td>@item.Title</td>
                                                <td><strong>@item.FullName</strong></td>
                                                <td>@item.EMail</td>
                                                @*<td>@item.</td>*@
                                                @*<td>@item.RolGroupID</td>
                                                <td>
                                                    @if (item.ManagerID != null)
                                                    {
                                                        <span>@item.Employee2.FullName</span>
                                                    }
                                                </td>*@
                                                <td>
                                                    @if (item.Region != null)
                                                    {
                                                        @item.Region.Name
                                                    }
                                                    </td>
                                                <td>
                                                    @if (item.IsActive == true)
                                                    {
                                                        <span class="text-success">Çalışıyor</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-danger">Çalışmıyor</span>
                                                    }
                                                </td>
                                                @*<td>
                                                        <i class="fa fa-check text-success"></i> <span class="text-danger">@item.RecordEmployeeId</span>
                                                    </td>*@
                                                <td>@string.Format("{0:dd.MM.yyyy HH:mm}", item.RecordDate)</td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>