﻿@model OykaCrm.EmployeeAddViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">
                            <p><strong><i class="fa fa-caret-right"></i>Yeni Sistem Kullanıcısı Ekleme</strong></p>
                            <hr>
                            @if (TempData["Error"] != null && TempData["Error"].ToString() != "")
                            {
                                <div class='alert alert-danger alert-dismissible fade show' role='alert'>@TempData["Error"]<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>
                            }

                            @using (Html.BeginForm("New", "Employee", FormMethod.Post))
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-horizontal form-main form-teklif">
                                    <div class="col-md-9">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-user"></i> AD/SOYAD</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="FullName" placeholder="Ad/soyad giriniz" class="form-control" value="" required></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-envelope-o"></i> E-POSTA</label></div>
                                            <div class="col-12 col-md-9">
                                                <input type="email" id="text-input" name="EMail" placeholder="E-postayı giriniz" class="form-control" value="" required>
                                            </div>
                                        </div>
                                        @*<div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-key"></i> ŞİFRE</label></div>
                                            <div class="col-12 col-md-9"><input type="Password" id="text-input" name="password" placeholder="Kullanıcı Şifresini Giriniz" class="form-control" value="" required></div>
                                        </div>*@
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-check"></i>ROLE</label></div>
                                            <div class="col-sm-7">
                                                <div class="section_room">
                                                    <div id="ili">
                                                        <select id="il" name="RoleGroupID" class="form-control" required>
                                                            <option value="">Role Seçiniz</option>
                                                            @foreach (var item in Model.RoleGroup)
                                                            {
                                                                <option value="@item.ID">@item.GroupName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-bank"></i> DEPARTMAN/BÖLGE</label></div>
                                            <div class="col-sm-7">
                                                <div class="section_room">
                                                    <div id="ili">
                                                        <select id="il" name="RegionID" class="form-control" required>
                                                            <option value="">Bölge Seçiniz</option>
                                                            @foreach (var item in Model.Region)
                                                            {
                                                                <option value="@item.ID">@item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-3 text-right form-save-pc">
                                        <a href="/Employee/Index" class="btn btn-new-1">VAZGEÇ</a>
                                        <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                    </div>
                                    <div class="col-md-12 text-right form-save-mobile">
                                        <a href="/ayarlar/" class="btn btn-new-1">VAZGEÇ</a>
                                        <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                    </div>
                                </div>
                            }

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

