﻿@model OykaCrm.Models.TitleControlModel

@{
    ViewBag.Title = "NewTitle";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage
                    </div>
                </div>
                <br />
            }
            @if (ViewBag.ErrorMessage2 != null)
            {
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        @ViewBag.ErrorMessage2
                    </div>
                </div>
                <br />
            }
            <div class="feed-box">
                <section class="card">

                    <div class="card-body">
                        @using (Html.BeginForm("NewTitle", "Employee", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-3 ml-5">
                                    <label>Pozisyon Adı : </label>
                                    <input type="text" class="form-control" name="titleName" id="titleName" required />
                                </div>
                                <div class="col-md-3 ml-3">
                                    <label>Durumu : </label>
                                    <div>
                                        <select class="custom-control custom-select" name="statusID" id="statusID" required>
                                            <option value="">Lütfen durum seçiniz</option>
                                            @if (Model.StatusList != null && Model.StatusList.Count > 0)
                                            {
                                                foreach (var item in Model.StatusList)
                                                {
                                                    <option value="@item.ID">@item.StatusName</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-3 pull-right mt-3 pt-3">
                                    <button type="submit" class="btn btn-success">&nbsp; Kaydet &nbsp;</button>
                                </div>

                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
}

@*<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Ünvan Durumu</h5>
                </div>
                <div class="modal-body">
                    <p> Lütfen ünvan durumu seçiniz.. ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Tamam</button>
                </div>
            </div>
        </div>
    </div>*@



<script>

    //function SaveTitle() {

    //    var statusID;
    //    var name = $("#titleName").val();

    //    if ($("#checkC").val() != null) {
    //        statusID = 1;
    //    }
    //    else if ($("#checkE").val() != null) {
    //        statusID = 2;
    //    } else {
    //        $("#ConfirmModal").modal('show');
    //    }


    //    $.ajax({
    //        method: "Post",
    //        url: "/Employee/NewTitle",
    //        data: { titleName: name, statusID: statusID },
    //        beforeSend: function () {

    //        }
    //    }).done(function (d) {

    //    }).always(function () {

    //    });
    //}

</script>