﻿@model OykaCrm.Models.TitleControlModel


@{
    ViewBag.Title = "Titles";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

@if (Model != null)
{
    <div class="col-md-12">
        <div class="feed-box">
            <section class="card">
                <div class="card-header">
                    <div class="col-md-8 text-left">
                        <strong class="card-title" style="font-size:20px">Pozisyon Tanımları</strong>
                    </div>
                    <div class="col-md-4 text-right">
                        <a href="/Employee/NewTitle" class="btn btn-info">Pozisyon Ekle</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="sampleTable" class="table table-striped table-list table-hover">
                            <thead>
                                <tr>
                                    <th> Pozisyon </th>
                                    <th> Durum </th>
                                    <th> İşlem </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.PositionList != null && Model.PositionList.Count > 0)
                                {
                                    foreach (var item in Model.PositionList)
                                    {
                                        <tr @*onclick="document.location = '/Employee/Detail/'+ @item.ID;"*@ class="pointer-tr">
                                            <td>@item.PositionName</td>
                                            <td>@item.PositionStatus.StatusName</td>
                                            <td> <button class="btn btn-danger" onclick="deleteTitle(@item.ID)"> Sil </button> </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

}

<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("DeleteTitle", "Employee", FormMethod.Get))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Pozisyon Silme</h5>
                    <input type="hidden" name="titleID" id="titleID" value="" />
                </div>
                <div class="modal-body">
                    <p> Pozisyonu silmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Evet</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hayır</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/vendors/jquery/dist/jquery.min.js"></script>


<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>


<script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>



<script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>


<script>
    $("#sampleTable").DataTable();
    function deleteTitle(rowID) {

        $("#ConfirmModal").modal('show');
        $("#titleID").val(rowID);

    }


</script>