﻿@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />*@

<style>
    ul.widthUl {
        width: 200px;
    }
</style>

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/Default/Index"><img src="~/images/oypa.jpeg" alt="Logo"></a>
            <a class="navbar-brand hidden" href="/Default/Index"><img src="~/images/oypa.jpeg" alt=""></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav widthUl">
                <!--<h3 class="menu-title">MENÜ</h3>--><!-- /.menu-title -->
                <!--<li>
        <a href="/"> <i class="menu-icon fa fa-dashboard"></i>GÜNCEL DURUM </a>
    </li>-->
                @{ var CheckUser = Session["profile"] as OykaCrm.Models.Employee;}

                @if (CheckUser.RolGroupID == 2)
                {
                    <li class="active"><a href="/Default/Index"><i class="menu-icon fa fa-home"></i>GÜNCEL DURUM</a></li>

                    <li class="menu-item-has-children dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fa fa-file"></i>FIRSATLAR</a>
                        <ul class="sub-menu children dropdown-menu ">
                            <li><i class="fa fa-file"></i><a href="/Opportunity/New">Yeni Fırsat</a></li>
                            <li><i class="fa fa-file-text"></i><a href="/Opportunity/Index">Tüm Fırsatlar</a></li>
                            @*<li><i class="fa fa-file-text"></i><a href="#">Fırsat Arşivi</a></li>*@
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file"></i>TEKLİFLER</a>
                        <ul class="sub-menu children dropdown-menu ">
                            <li><i class="fa fa-file-text"></i><a href="/Offer/Index">Tüm Teklifler</a></li>
                            @*<li><i class="fa fa-diamond"></i><a href="/Offer/OfferArchive">Teklif Geçmişi</a></li>*@
                   
                        </ul>
                    </li>
                    <li><a href="/Login/Logout"><i class="menu-icon fa fa-close"></i> OTURUMU KAPAT</a></li>
                }
                else
                {
                    <li class="active"><a href="/Default/Index"><i class="menu-icon fa fa-home"></i>GÜNCEL DURUM</a></li>

                    <li class="menu-item-has-children dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file"></i>FIRSATLAR</a>
                        <ul class="sub-menu children dropdown-menu ">
                            <li><i class="fa fa-plus-square"></i><a href="/Opportunity/New">Yeni Fırsat</a></li>
                            <li><i class="fa fa-file-text-o"></i><a href="/Opportunity/Index">Tüm Fırsatlar</a></li>


                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file"></i>TEKLİFLER</a>
                        <ul class="sub-menu children dropdown-menu ">
                            <li><i class="fa fa-file-text-o"></i><a href="/Offer/Index">Tüm Teklifler</a></li>
                            <li><i class="fa fa-file-text-o"></i><a href="/Offer/OfferArchive">Teklif Geçmişi</a></li>
                            @*<li><i class="fa fa-diamond"></i><a href="/Opportunity/New">Yeni Fırsat</a></li>
                    <li><i class="fa fa-diamond"></i><a href="/Opportunity/Archive">Fırsat Arşivi</a></li>*@
                        </ul>
                    </li>


                    <li class="menu-item-has-children dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file"></i>PROJELER</a>
                        <ul class="sub-menu children dropdown-menu ">
                            <li><i class="fa fa-briefcase"></i><a href="/Project/Index">Projeler</a></li>
                            @*<li><i class="fa fa-file-text-o"></i><a href="#">Projeler Arşivi</a></li>*@
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file-text"></i>SÖZLEŞMELER</a>
                        <ul class="sub-menu children dropdown-menu ">
                            <li><i class="fa fa-file-text-o"></i><a href="/Contract/Index">Sözleşmeler</a></li>
                            <li><i class="fa fa-building-o"></i><a href="/Invoice/Index">Faturalar</a></li>
                            @*<li><i class="fa fa-bar-chart-o"></i><a href="#">Sözleşmeler Raporu</a></li>*@
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cloud-upload"></i>CRM</a>
                        <ul class="sub-menu children dropdown-menu ">
                            <li><i class="fa fa-building-o"></i><a href="/Customer/Index">Firmalar</a></li>
                            @*<li><i class="fa fa-building-o"></i><a href="/Customer/Company">Firmalar</a></li>*@
                            @*<li><i class="fa fa-folder-open-o"></i><a href="/Customer/CustomerCat">Kategoriler</a></li>*@
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-star-o"></i>PERSONEL</a>
                        <ul class="sub-menu children dropdown-menu ">
                            @*<li><i class="fa fa-user"></i><a href="/Employee/New">Personel Atama</a></li>
                            <li><i class="fa fa-users"></i><a href="/Employee/Index">Personel Tanımları</a></li>*@
                            <li><i class="fa fa-magic"></i><a href="/Employee/Titles">Pozisyon Tanımları</a></li>
                            @*<li><i class="fa fa-magic"></i><a href="#">Pozisyonlar</a></li>
                    <li><i class="fa fa-magic"></i><a href="#">Raporlar</a></li>*@
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-dropbox"></i>HİZMET/ÜRÜN</a>
                        <ul class="sub-menu children dropdown-menu ">
                            <li><i class="fa fa-plus-square-o"></i><a href="/Product/Index">Hizmet ve Ürünler</a></li>
                            @*<li><i class="fa fa-qrcode"></i><a href="#">Stok Hareketleri</a></li>*@
                            <!--<li><i class="fa fa-bar-chart-o"></i><a href="ui-social-buttons.html">Stok Ürün Raporu</a></li>-->
                        </ul>
                    </li>

                    <li><a href="/Document/Index"><i class="menu-icon fa fa-file-text-o"></i> DOKÜMANLAR</a></li>


                    <li class="menu-item-has-children dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fa fa-file-pdf-o"></i> RAPORLAR</a>

                        <ul class="sub-menu children dropdown-menu ">
                            <li><i class="fa fa-plus-square-o"></i><a href="/Report/DateFilteredReports">Tarih Filtreli Raporlar</a></li>
                            <li><i class="fa fa-plus-square-o"></i><a href="/Report/OfferStatusReports">Teklif Durum Raporları</a></li>
                            <li><i class="fa fa-plus-square-o"></i><a href="/Report/CustomersReports">Müşteri Bazlı Teklif Raporları</a></li>
                        </ul>
                    </li>
                   


                    <li class="menu-item-has-children dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-gear"></i>AYARLAR</a>
                        <ul class="sub-menu children dropdown-menu ">

                            <li><i class="fa fa-user"></i><a href="/Employee/Index">Kullanıcı İşlemleri</a></li>
                            <li><i class="fa fa-user"></i><a href="/MailProcess/Index">Mail Aksiyonları</a></li>
                            <li><i class="fa fa-user"></i><a href="/Audit/Index">Yetki Grupları</a></li>
                            <li><i class="fa fa-file-text"></i><a href="/DocumentCategory/Index">Doküman Kategorileri</a></li>
                            <li><i class="fa fa-file-text"></i><a href="/Role/Index">Roller</a></li>
                            <li><i class="fa fa-file-text"></i><a href="/Region/Index">Bölgeler</a></li>
                            <li><i class="fa fa-file-text"></i><a href="/ConstantParamater/Index">Sabit Değerler</a></li>
                            <li><i class="fa fa-file-text"></i><a href="/ConstantParamater/ArchiveList">Sabit Değerler Arşivi</a></li>
                            <li><i class="fa fa-file-text"></i><a href="/Log/Index">Log Listesi</a></li>

                        </ul>
                    </li>
                    <li><a href="/Login/Logout"><i class="menu-icon fa fa-close"></i> OTURUMU KAPAT</a></li>

                }


            </ul>
        </div>
    </nav>
</aside>
