﻿<header id="header" class="header">

    <div class="header-menu">
        <div class="col-xs-12 col-sm-4">
            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>

            <div class="page-header float-left">
                <div class="page-title">
                    <h1></h1>
                </div>
            </div>
        </div>
        <div class="col-sm-7 text-right mt-2">
            @if (Session["username"] != null)
            {
                <p class="headermenu-unvan">
                    <strong>OYAK PAZARLAMA-TYH</strong> / <small>@Session["username"].ToString()</small>

                </p>

            }

        </div>

        <div class="col-sm-1" >
            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="user-avatar rounded-circle" src="/images/oyakpazarlama.png" alt="User Avatar" style="width:95px; margin-top:14px !important;" >
                </a>
                <div class="user-menu dropdown-menu">
                  
                    <a class="nav-link" href="/Login/Logout"><i class="fa fa-power-off"></i>&nbsp; Çıkış</a>
                </div>
            </div>
        </div>
    </div>

</header>
