﻿@using OykaCrm.Models
@model List<Documents>

<table class="table" id="sampleTable">
    <thead>
        <tr>
            <th>Belge No</th>
            <th>Belge Adı</th>
            <th>Yüklenme Tarihi</th>
            <th>İndirme Linki</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {

                <tr>
                    <td>@item.ID</td>
                    @if (item.DocumentName.Length > 36)
                    {
                        <td>@item.DocumentName.Substring(36)</td>
                    }
                    else
                    {
                        <td>@item.DocumentName</td>

                    }
                    <td>@item.RecordDate.Value.ToShortDateString()</td>
                    <td><a href="~/Document/DownloadFile?filePath=@Model.FirstOrDefault(i => i.ID == item.ID).DocumentName">İndirmek için tıklayınız</a></td>
                </tr>
            }
        }

    </tbody>
</table>
