﻿@using OykaCrm.Models
@model ProjectControlModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">
                            <a href="#" class="btn btn-new-1 btn-sm" @*target="_blank"*@>Logo Entegrasyonu</a><br /><br />
                            <form action="~/Project/Create" method="post" class="form-horizontal form-main form-teklif" id="form1" name="form1">
                                <div class="col-md-9">
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-tasks fa-1x"></i> PROJE KODU </label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="ProjectCode" class="form-control" readonly value="@(Model != null ? Model.ProjectCode: "")"></div>
                                    </div>
                                    <hr>
                                    <br />
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-file-text"></i> PROJE ADI *</label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="ProjectName" placeholder="Proje adını giriniz" class="form-control" required></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-file-text"></i> PROJE KONUSU *</label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="ProjectSubject" placeholder="Proje konusunu giriniz" class="form-control" required></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-map-marker"></i> PROJE BÖLGESİ</label></div>
                                        <div class="col-12 col-md-9"><textarea name="ProjectArea" rows="4" placeholder="Adres bilgisini giriniz" class="form-control"></textarea></div>
                                    </div>
                                </div>
                                <div class="col-md-3 text-right form-save-pc">
                                    <a href="/Project/Index" class="btn btn-new-1">VAZGEÇ</a>
                                    <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>

