﻿@using OykaCrm.Models
@model ProjectControlModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@using (Html.BeginForm("Update", "Project", FormMethod.Post))
{
    if (Model != null)
    {
        if (Model.SingleProject != null)
        {
            <div class="col-md-12">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">
                            <input id="projectID" type="hidden" value="@Model.SingleProject.ID" name="ProjectID" />

                            <div class="col-sm-12 col-md-6">
                                <br />
                                <input type="hidden" value="@Model.SingleProject.ID" id="projectID" />
                                <p><i class="fa fa-certificate"></i> <strong>Proje : </strong> @Model.SingleProject.Code-@Model.SingleProject.ProjectName</p>
                                <p><i class="fa fa-calendar"></i> &nbsp;<strong>Son Güncellenme Tarihi : </strong> @String.Format("{0:dd.MM.yyyy HH:mm}", Model.SingleProject.UpdateDate)</p>
                            </div>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-md-12 ">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><b><i class="fa fa-tasks fa-1x"></i>&nbsp;Proje Detayı</b></a>
                                        <a class="nav-item nav-link" id="nav-oppo-tab" data-toggle="tab" href="#nav-oppo" role="tab" aria-controls="nav-oppo" aria-selected="false"><b><i class="fa fa-mail-reply-all"></i>&nbsp;Fırsatlar</b></a>
                                        <a class="nav-item nav-link" id="nav-offer-tab" data-toggle="tab" href="#nav-offer" role="tab" aria-controls="nav-offer" aria-selected="false"><b><i class="fa fa-file-o"></i>&nbsp;Teklifler</b></a>
                                        <a class="nav-item nav-link" id="nav-contract-tab" data-toggle="tab" href="#nav-contract" role="tab" aria-controls="nav-contract" aria-selected="false"><b><i class="fa fa-file-text-o"></i>&nbsp;Sözleşmeler</b></a>
                                        <a class="nav-item nav-link" id="nav-invoice-tab" data-toggle="tab" href="#nav-invoice" role="tab" aria-controls="nav-invoice" aria-selected="false"><b><i class="fa fa-file-o"></i>&nbsp;Faturalar</b></a>
                                        <a class="nav-item nav-link" id="nav-document-tab" data-toggle="tab" href="#nav-document" role="tab" aria-controls="nav-document" aria-selected="false"><b><i class="fa fa-upload"></i>&nbsp;Dokümanlar</b></a>
                                    </div>
                                </nav>
                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                    <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="col-md-9">
                                            <br />
                                            <br />
                                            <div class="row form-group">
                                                <div class="col col-md-1"></div>
                                                <div class="col col-md-2"><label for="text-input" class="form-control-label"> PROJE KODU </label></div>
                                                <div class="col-12 col-md-6">
                                                    <input type="text" id="text-input" name="ProjectCode" class="form-control" readonly value="@Model.SingleProject.Code">
                                                </div>
                                                <div class="col col-md-2"></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-1"></div>
                                                <div class="col col-md-2"><label for="text-input" class="form-control-label"> PROJE ADI *</label></div>
                                                <div class="col-12 col-md-6"><input type="text" id="text-input" name="ProjectName" placeholder="Proje adını giriniz" class="form-control" disabled value="@Model.SingleProject.ProjectName" required></div>
                                                <div class="col col-md-2"></div>
                                            </div>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-oppo" role="tabpanel" aria-labelledby="nav-oppo-tab">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-9">
                                            <br />
                                            <br />
                                            <div class="table-responsive">
                                                <table class="table table-striped table-list table-hover">
                                                    <thead>
                                                        <tr>

                                                            <th>Fırsat Numarası</th>
                                                            <th>Fırsat Durumu</th>
                                                            <th>Tarih</th>
                                                            <th class="text-right"> Detay </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Opportunities != null && Model.Opportunities.Count > 0)
                                                        {
                                                            foreach (var item in Model.Opportunities)
                                                            {
                                                                <tr @*onclick="document.location = '/Offer/Detail?id=@item.ID';"*@ class="pointer-tr">

                                                                    <td><strong>@item.OpportunityNumber</strong></td>
                                                                    <td><strong>@item.OpportunityStatus.StatusName</strong></td>
                                                                    <td><strong>@item.RecordDate.Value.ToShortDateString()</strong></td>
                                                                    <td class="price text-right"><a href="/Opportunity/Detail?ID=@item.ID" class="btn btn-info">Seç</a></td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td colspan="4">
                                                                    <p>Gösterilecek Kayıt Yok</p>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-offer" role="tabpanel" aria-labelledby="nav-offer-tab">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-9">
                                            <br />
                                            <br />
                                            <div class="table-responsive">
                                                <table class="table table-striped table-list table-hover">
                                                    <thead>
                                                        <tr>

                                                            <th>Teklif Numarası</th>
                                                            <th>Teklif Durumu</th>
                                                            <th>Tarih</th>
                                                            <th class="text-right"> Teklif Toplamı </th>
                                                            <th class="text-right"> Detay </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Offers != null && Model.Offers.Count > 0)
                                                        {
                                                            foreach (var item in Model.Offers)
                                                            {
                                                                <tr @*onclick="document.location = '/Offer/Detail?id=@item.ID';"*@ class="pointer-tr">

                                                                    <td><strong>@item.OfferNumber</strong></td>
                                                                    <td><strong>@(item.OfferStatus!=null?item.OfferStatus.StatusName:"-")</strong></td>
                                                                    <td><strong>@item.RecordDate.Value.ToShortDateString()</strong></td>
                                                                    <td class="price text-right">@(item.GenelToplam!=null?item.GenelToplam.Value.ToString("N2")+"₺":"-")</td>
                                                                    <td class="price text-right"><a href="/Offer/Detail?OpportunityID=@item.OpportunityID&AutoOpportunity=1" class="btn btn-info">Seç</a></td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td colspan="4">
                                                                    <p>Gösterilecek Kayıt Yok</p>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contract" role="tabpanel" aria-labelledby="nav-contract-tab">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-9">
                                            <br />
                                            <br />
                                            <div class="table-responsive">
                                                <table class="table table-striped table-list table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th width="60"></th>
                                                            <th>Teklif Numarası</th>
                                                            <th>Proje Adı</th>
                                                            <th>Müşteri</th>
                                                            <th>Tarih</th>
                                                            <th class="text-right"> Toplam Tutar </th>
                                                            <th class="text-right">  </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Contracts != null && Model.Contracts.Count > 0)
                                                        {
                                                            foreach (var item in Model.Contracts)
                                                            {
                                                                <tr onclick="document.location = '#';" class="pointer-tr">
                                                                    <td width="60" class="text-center"><i class="fa fa-file fa-x"></i></td>
                                                                    <td><strong>@item.OfferNumber</strong></td>
                                                                    <td><strong>@(item.Projects != null ? item.Projects.ProjectName:"-")</strong></td>
                                                                    <td><strong>@item.Customers.CustomerFullName</strong></td>
                                                                    <td><strong>@item.RecordDate.Value.ToShortDateString()</strong></td>
                                                                    <td class="price text-right">@(item.GenelToplam!=null?item.GenelToplam.Value.ToString("N2")+"₺":"-")</td>

                                                                    @if (Model.ContractTemplateList.Any(i => i.ContractID == item.ID))
                                                                    {
                                                                        var id = Model.ContractTemplateList.FirstOrDefault(i => i.ContractID == item.ID).ID;
                                                                        <td class="price text-right"><a href="/Contract/ShowContract?OfferContractID=@id" class="btn btn-info">Detay</a></td>
                                                                    }
                                                                    else
                                                                    {

                                                                        if (item.IsOneTime == false)
                                                                        {
                                                                            <td class="price text-right"><a href="/Invoice/Detail?ContractID=@item.ID" class="btn btn-success">Detay</a></td>
                                                                        }
                                                                        else
                                                                        {

                                                                            <td class="price text-right"><a href="/Contract/Detail?contractID=@item.ID" class="btn btn-success">Oluştur</a></td>
                                                                        }
                                                                    }




                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td colspan="5">
                                                                    <p>Gösterilecek Kayıt Yok</p>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-invoice" role="tabpanel" aria-labelledby="nav-invoice-tab">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-9">
                                            <br />
                                            <br />
                                            <div class="table-responsive">
                                                <table class="table table-striped table-list table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th width="60"></th>
                                                            <th>Teklif Numarası</th>
                                                            <th>Proje Adı</th>
                                                            <th>Müşteri</th>
                                                            <th>Tarih</th>
                                                            <th class="text-right"> Toplam Tutar </th>
                                                            <th class="text-right">  </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Invoices != null && Model.Invoices.Count > 0)
                                                        {
                                                            foreach (var item in Model.Invoices)
                                                            {
                                                                <tr onclick="document.location = '#';" class="pointer-tr">
                                                                    <td width="60" class="text-center"><i class="fa fa-file fa-x"></i></td>
                                                                    <td><strong>@item.OfferNumber</strong></td>
                                                                    <td><strong>@(item.Projects != null ? item.Projects.ProjectName:"-")</strong></td>
                                                                    <td><strong>@item.Customers.CustomerFullName</strong></td>
                                                                    <td><strong>@item.RecordDate.Value.ToShortDateString()</strong></td>
                                                                    <td class="price text-right">@(item.GenelToplam!=null?item.GenelToplam.Value.ToString("N2")+"₺":"-")</td>
                                                                    <td class="price text-right"><a href="/Invoice/Detail?ContractID=@item.ID&cdata=@item." class="btn btn-info">Detay</a></td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td colspan="5">
                                                                    <p>Gösterilecek Kayıt Yok</p>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-current" role="tabpanel" aria-labelledby="nav-current-tab">
                                        <div class="col-md-9">
                                            Cari Hareketler
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-document" role="tabpanel" aria-labelledby="nav-document-tab">
                                        <div class="col-md-9">
                                            <br /><br />
                                            <div class="row">

                                                <div class="col-lg-1"></div>
                                                <div class="form-group col-lg-4">
                                                    <input class="form-control-file" type="file" id="uploadFile" aria-describedby="fileHelp">
                                                </div>
                                                <div class="col-lg-1">
                                                    <button type="button" class="btn btn-success" id="UF" disabled> Döküman Ekle </button>
                                                </div>

                                            </div>
                                            <br /><br /><br />
                                            <div class="row">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-10" id="projectDocuments">
                                                    @Html.Partial("~/Views/Project/_ProjectDocumentsPartial.cshtml", Model.Documents)
                                                    <br /><br /><br />
                                                    <br /><br /><br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="alert alert-danger">
                    Proje Kaydı Bulunamadı
                </div>
                @*<a href="/Project/Index" class="btn btn-info">Geri Dön</a>*@
            <button class="btn btn-info" onclick="goBack()">Geri Dön</button>

            </div>
        }
    }
    else
    {
        <div class="col-md-12">
            <div class="alert alert-danger">
                Proje Kaydı Bulunamadı
            </div>
            @*<a href="/Project/Index" class="btn btn-info">Geri Dön</a>*@
        <button class="btn btn-info" onclick="goBack()">Geri Dön</button>

        </div>
    }
}

<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script>

    $("#uploadFile").change(function () {
        var formData = new FormData();
        var totalFiles = document.getElementById("uploadFile").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("uploadFile").files[i];
            formData.append("uploadFile", file);
        }

        $.ajax({
            type: "POST",
            url: '/Document/uploadfile',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function () {

                document.getElementById("UF").disabled = false;
            },
            error: function () {
                alert("Dosya Yükleme İşlemi Sırasında Bir Hata Oluştu");
            }
        });
    });

    $("#UF").click(function () {

        var projectId = $("#projectID").val();

        var confirmText = "Dökümanı kaydetmek istediğinizden emin misiniz?";
        if (confirm(confirmText)) {

            $.ajax({
                method: "GET",
                data: { projectId: projectId },
                url: "/Project/RecordFile",
                beforeSend: function () {
                }
            }).done(function (d) {

                var x = document.getElementById("projectDocuments");
                x.style.display = "block";
                $("#projectDocuments").html(d);
                document.getElementById("#uploadFile").value = '';

            }).fail(function () {
            }).always(function () {

            });
        }

    });

</script>