﻿


@using OykaCrm.Models
@model ProjectControlModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">




@if (Model != null)
{

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                </div>

                <div class="col-md-12">
                    <div class="alert alert-info">
                        <i><b>*Projeleri Güncelle</b> butonu logo programından yer alan güncel proje bilgilerini uygulamaya dahil etmek için kullanılır.</i>
                    </div>
                </div>
                <br />
                <br />
                <div class="col-md-12">
                    <div class="feed-box">
                        <section class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-md-2">

                                        <a href="/Project/ExportToExcelProjects" class="btn btn-new-1 btn-sm" @*target="_blank"*@>Excel'e Aktar</a>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="float-right">
                                            <button type="button" id="GetProjectFromLogo" class="btn btn-info">Projeleri Güncelle</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="table-responsive">
                                    <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                                        <thead>
                                            <tr>
                                                <th width="60"></th>
                                                <th>PROJE KODU</th>
                                                <th>PROJE ADI</th>
                                                <th class="text-right"> KAYIT TARİHİ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Projects != null && Model.Projects.Count > 0)
                                            {
                                                foreach (var item in Model.Projects)
                                                {
                                                    <tr onclick="document.location = '/Project/Detail?projectID=@item.ID';" class="pointer-tr">
                                                        <td width="60" class="text-center"><i class="fa fa-file-text"></i></td>
                                                        <td><strong>@item.Code</strong></td>
                                                        <td>@item.ProjectName</td>
                                                        @if (item.UpdateDate != null)
                                                        {
                                                            <td class="price text-right">   @string.Format("{0:dd.MM.yyyy HH:mm}", item.UpdateDate)</td>


                                                        }
                                                        else
                                                        {

                                                            <td class="price text-right">-</td>
                                                        }
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>



}

<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>


<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/vendors/jszip/dist/jszip.min.js"></script>
<script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<script>


    $('#GetProjectFromLogo').click(function () {

        bootbox.confirm({
            message: "Projeleri logodan çekmek istediğinizden emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {

                if (result == true) {

                    $.ajax({
                        method: "GET",
                        url: "/Project/GetProjectFromLogo",
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: {},

                        beforeSend: function () {
                            $.blockUI({ message: $('#domMessage') });
                        }
                    }).done(function (d) {
                        if (d.result = "Success") {

                            bootbox.alert({
                                size: "medium",
                                message: d.message,
                                buttons: {
                                    ok: {
                                        label: 'Tamam',
                                        className: 'btn-success'
                                    },
                                },
                                callback: function () { window.location.href = '/Project/Index' }
                            });
                             
                        } else {

                            bootbox.alert({
                                size: "medium",
                                message: d.message,
                                buttons: {
                                    ok: {
                                        label: 'Tamam',
                                        className: 'btn-success'
                                    },
                                },
                                callback: function () { /* your callback code */ }
                            });

                        }

                    }).always(function () {
                        $.unblockUI();
                    });
                }
            }
        });
        return false;


    });


</script>