﻿
@{
    ViewBag.Title = "EditRole";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@using OykaCrm.Models;
@model RegionModel


@if (Model != null)
{
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="feed-box">
                        <section class="card">
                            <div class="card-body">
                                @using (Html.BeginForm("EditRegion", "Region", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <h5>Bölge Güncelleme</h5>
                                    <hr />

                                    <div class="form-horizontal form-main form-teklif" id="form1" name="form1">
                                        <div class="col-md-9">
                                            <div class="row form-group">
                                                <div class="col col-md-2"><label for="text-input" class="form-control-label">Bölge Adı</label></div>
                                                <div class="col-5 col-md-4">
                                                    <input type="hidden" value="@Model.Id" />
                                                    <input type="text" id="text-input" name="Name" value="@Model.Name" class="form-control" required>
                                                </div>


                                                <div class="col col-md-2"><label for="text-input" class="form-control-label">Grup Mail Adresi</label></div>
                                                <div class="col-5 col-md-4">
                                                     
                                                    <input type="email" id="text-input" name="GroupMail" value="@Model.GroupMail" class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success">Kaydet</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-12">
        <div class="alert alert-danger">
            Bölge Kaydı Bulunamadı
        </div>
        <button class="btn btn-info" onclick="goBack()">Geri Dön</button>
    </div>
}




