﻿
<table id="sampleTable" class="table table-striped table-list table-hover">
    <thead>
        <tr>
            <th>
                Ad Soyad
            </th>
            <th>
                EPosta
            </th>
            <th style="min-width:200px">
                Birim
            </th>
            <th>Sürec</th>
            @*<th>İşlem</th>*@

        </tr>
    </thead>
    <tbody>
        @if (ViewBag.MailProcessList != null && ViewBag.MailProcessList.Count > 0)
        {
            foreach (var item in ViewBag.MailProcessList)
            {

                <tr onclick="document.location = '/MailProcess/Detail?mailProcessId='+ @item.Id;" class="pointer-tr">
                    <td>@item.FullName</td>

                    <td>@item.Email</td>
                    <td>@item.DepartmentName</td>

                    @if (item.MailProcessTypeId != null)
                    {
                        <td>@item.MailProcessType.Name</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    @*<td><a href="/MailProcess/Delete?mailProcessId=@item.Id" type="button" class="btn btn-danger">Sil</a></td>*@

                    @*<td><a href="/MailProcess/Detail?mailProcessId=@item.Id" type="button" class="btn btn-info">Detay</a></td>
                    <td><button type="button" class="btn btn-danger" onclick="OpenModal(@item.Id)">Sil</button></td>*@
                </tr>


            }
        }


    </tbody>
</table>

