﻿
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">
                            <p><strong><i class="fa fa-caret-right"></i>Yeni Aksiyon Ekle</strong></p>
                            <hr>
                            @if (ViewBag.EMessage != null)
                            {
                        <div class='alert alert-danger alert-dismissible fade show' role='alert'>@ViewBag.EMessage<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>
                            }

                            @using (Html.BeginForm("Add", "MailProcess", FormMethod.Post))
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-horizontal form-main form-teklif">
                                    <div class="col-md-9">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-user"></i> AD/SOYAD</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="FullName" placeholder="Ad/soyad giriniz" class="form-control" value="" required></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-envelope-o"></i> E-POSTA</label></div>
                                            <div class="col-12 col-md-9">
                                                <input type="email" id="text-input" name="Email" placeholder="E-postayı giriniz" class="form-control" value="" required>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-key"></i> Birim Adı</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="DepartmentName" placeholder="Birim Adı Giriniz" class="form-control" value="" required></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-check"></i>Süreç</label></div>
                                            <div class="col-sm-5">
                                                <div class="section_room">
                                                    <div id="ili">
                                                        <select id="il" name="MailProcessTypeId" class="form-control" required>
                                                            <option value="">Süreç Seçiniz</option>
                                                            @if (ViewBag.MailProcessTypeList != null && ViewBag.MailProcessTypeList.Count > 0)
                                                            {
                                                                 
                                                                foreach (var item in ViewBag.MailProcessTypeList)
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    

                                    </div>
                                    <div class="col-md-3 text-right form-save-pc">
                                        <a href="/MailProcess/Index" class="btn btn-new-1">VAZGEÇ</a>
                                        <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                    </div>
                                    <div class="col-md-12 text-right form-save-mobile">
                                        <a href="/ayarlar/" class="btn btn-new-1">VAZGEÇ</a>
                                        <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                    </div>
                                </div>
                            }

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>



