﻿
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">
                            <p><strong><i class="fa fa-caret-right"></i>Yeni Aksiyon Ekleme</strong></p>
                            <hr>

                            @if (ViewBag.EMessage2 != null)
                            {
                                <div class='alert alert-danger alert-dismissible fade show' role='alert'>@ViewBag.EMessage2<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>
                            }
                            @if (ViewBag.EMessage != null)
                            {
                                <div class='alert alert-danger alert-dismissible fade show' role='alert'>@ViewBag.EMessage<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>
                                <button class="btn btn-info" onclick="goBack()">Geri Dön</button>

                            }
                            else
                            {

                                using (Html.BeginForm("Update", "MailProcess", FormMethod.Post))
                                {
                                    if (ViewBag.Item != null)
                                    {
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-horizontal form-main form-teklif">
                                            <div class="col-md-9">
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-user"></i> AD/SOYAD</label></div>
                                                    <div class="col-12 col-md-9">
                                                        <input type="hidden" value="@ViewBag.Item.Id" name="Id" />

                                                        <input type="text" id="text-input" name="FullName" placeholder="Ad/soyad giriniz" class="form-control" value="@ViewBag.Item.FullName" required>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-envelope-o"></i> E-POSTA</label></div>
                                                    <div class="col-12 col-md-9">
                                                        <input type="email" id="text-input" name="Email" placeholder="E-postayı giriniz" class="form-control" value="@ViewBag.Item.Email" required>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-key"></i> Birim Adı</label></div>
                                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="DepartmentName" placeholder="Birim Adı Giriniz" class="form-control" value="@ViewBag.Item.DepartmentName" required></div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-check"></i>Süreç</label></div>
                                                    <div class="col-sm-5">
                                                        <div class="section_room">
                                                            <div id="ili">
                                                                <select id="il" name="MailProcessTypeId" class="form-control" required>
                                                                    <option value="">Süreç Seçiniz</option>
                                                                    @if (ViewBag.MailProcessTypeList != null && ViewBag.MailProcessTypeList.Count > 0)
                                                                    {

                                                                        foreach (var item in ViewBag.MailProcessTypeList)
                                                                        {
                                                                            <option value="@item.Id" @(item.Id == ViewBag.Item.MailProcessTypeId ? "selected" : "")>@item.Name</option>
                                                                        }
                                                                    }

                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-md-3 text-right form-save-pc">
                                                <a href="/MailProcess/Index" class="btn btn-new-1">VAZGEÇ</a>
                                                <button type="submit" name="button" id="button" class="btn btn-new-2">GUNCELLE</button>
                                                <button type="button" name="button" id="button" class="btn btn-danger" onclick="OpenModal(@ViewBag.Item.Id)">SİL</button>
                                            </div>
                                            <div class="col-md-12 text-right form-save-mobile">
                                                <a href="/ayarlar/" class="btn btn-new-1">VAZGEÇ</a>
                                                <button type="submit" name="button" id="button" class="btn btn-new-2">GUNCELLE</button>
                                            </div>
                                        </div>
                                    }

                                }
                            }



                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="exampleModalMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" value="" id="mailProcessId" />
                Kaydı Silmek istediğinizden emin misiniz ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="DeleteMail()">Evet</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hayır</button>
            </div>
        </div>
    </div>
</div>


<script>
    function OpenModal(Id) {
        $("#exampleModalMail").modal('show');
        $("#mailProcessId").val(Id);

    }
    function DeleteMail() {
        $("#exampleModalMail").modal('hide');
        var Id = $("#mailProcessId").val();

        $.ajax({
            method: "GET",
            url: "/MailProcess/Delete",
            data: { mailProcessId: Id },
            beforeSend: function () {
                /*$("#Loading").show()*/;
            }
        }).done(function (d) {
            $("#mailProcessList").html(d);
            window.location = '/MailProcess/Index';

        }).always(function () {
            //$("#Loading").hide();
        });

    }
</script>