﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}


<div class="col-md-12">
    <div class="feed-box">
        <section class="card">
            <div class="card-header">
                <div class="col-md-8 text-left">
                    <strong class="card-title">Mail Aksiyon Listesi</strong>
                </div>
                <div class="col-md-4 text-right">
                    <a href="/MailProcess/Add" class="btn btn-info">Aksiyon Ekle</a>
                </div>
            </div>
            <div class="card-body">
                <div class="toplamsayi pull-right"></div>
                <div class="clearfix"></div>
                <div class="table-responsive" id="mailProcessList">
                    @Html.Partial("_PartialMailProcessList")
                </div>
            </div>
        </section>
    </div>
</div>
 
