﻿


@model List<OykaCrm.Models.ApplicationLog>


<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">


<div class="table-responsive">
    <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
        <thead>
            <tr>
                <th class="th-sortable" data-toggle="class">
                    ID
                </th>
                <th>Log</th>
                <th>Kayıt Tarihi</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr class="pointer-tr">
                        <td>@item.ID</td>
                        <td>@item.Description</td>
                        <td>@(item.RecordDate != null ? item.RecordDate.Value.ToShortDateString() : "")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>

