﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="col-md-12">
    <div class="feed-box">
        <section class="card">
            <div class="card-body">
                <div class="row mt-3">

                    <div class="col-md-3">
                        <label>Başlangıç Tarihi</label> <br />
                        <input type="date" class="form-control" id="dateBegin" required>
                    </div>
                    <div class="col-md-3">
                        <label>Bitiş Tarihi</label> <br />
                        <input type="date" class="form-control" id="dateEnd" required>
                    </div>
                    <div class="col-md-3">
                        <label>Kullanıcı</label> <br />
                        <select class="form-control selectpicker" id="selectEmployee" data-show-subtext="true" data-live-search="true" name="selectEmployee">
                            <option selected value="">Seçiniz</option>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <option value="@item.ID">@item.FullName</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="col-md-1 mt-4">
                        <button type="button" class="form-control btn btn-success mt-2" onclick="GetLog()">Getir</button>
                    </div>

                </div>

                <div class="col-md-12 mt-5" id="partialList">
            


                </div>

            </div>

        </section>
    </div>
</div>


<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>



<script>
    function GetLog() {
        var beginDate = $('#dateBegin').val();
        var endDate = $('#dateEnd').val();
        var selectOptionValue = $('#selectEmployee').val();

        $.ajax({
            method: "Get",
            url: "/Log/GetLogs",
            data: { beginDate: beginDate, endDate: endDate, employeeId: selectOptionValue },
            contentType: 'application/json charset=utf=8',
            beforeSend: function () {
                $.blockUI({ message: $('#domMessage') });
            }
        }).done(function (d) {
            if (d.failed) {
                bootbox.alert({
                    size: "medium",
                    message: d.message,
                    buttons: {
                        ok: {
                            label: 'Tamam',
                            className: 'btn-success'
                        },
                    },
                    callback: function () { /* your callback code */ }
                });

                $('#partialList').html('');
            }
            else {
                $('#partialList').html(d);
            }

        }).always(function () {

            $.unblockUI();
        });
    }
</script>