﻿@model OykaCrm.Models.ProductModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">
                            <p><strong><i class="fa fa-caret-right"></i>Yeni Hizmet / Ürün Ekleme</strong></p>
                            <hr>
                            @if (TempData["Error"] != null && TempData["Error"].ToString() != "")
                            {
                                <div class='alert alert-danger alert-dismissible fade show' role='alert'>@TempData["Error"]<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>
                            }

                            @using (Html.BeginForm("Create", "Product", FormMethod.Post))
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-horizontal form-main form-teklif">
                                    <div class="col-md-9">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-list-alt "></i>Kategori </label></div>
                                            <div class="col-12 col-md-9">
                                                <div class="section_room">
                                                    <div>
                                                        <select id="category" name="CategoryID" class="form-control">
                                                            @foreach (var item in Model.ProductCategories)
                                                            {
                                                                <option value="@item.ID">@item.CategoryName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Ürün Kodu</label></div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="ProductCode" name="ProductCode" placeholder="Ürün Kodu" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Ürün Adı</label></div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="ProductName" name="ProductName" placeholder="Ürün Adı" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Birim</label></div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="Unit" name="Unit" placeholder="Birim" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Birim fiyati</label></div>
                                            <div class="col-12 col-md-9">
                                                <input type="number" id="UnitPrice" name="UnitPrice" placeholder="Birim fiyati" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Para Birimi</label></div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="Currency" name="Currency" placeholder="Para Birimi" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Amortısman</label></div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="Depreciation" name="Depreciation" placeholder="Amortısman" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Logo ID</label></div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="LogoID" name="LogoID" placeholder="Logo ID" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Logo Kodu</label></div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="LogoCode" name="LogoCode" placeholder="Logo Kodu" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-right form-save-pc">
                                        <a href="/Product/Index" class="btn btn-new-1">VAZGEÇ</a>
                                        <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                    </div>
                                    <div class="col-md-12 text-right form-save-mobile">
                                        <a href="/ayarlar/" class="btn btn-new-1">VAZGEÇ</a>
                                        <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                    </div>
                                </div>
                            }

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

