﻿@model OykaCrm.Models.ProductModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="content mt-3">

    @if (Model != null)
    {
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="feed-box">
                        <section class="card">
                            <div class="card-body">
                                @using (Html.BeginForm("Detail", "Product", FormMethod.Post))
                                {
                                    @Html.HiddenFor(model => model.ID)
                                    @*@Html.HiddenFor(model => model.RecordDate)*@
                                    @*@Html.HiddenFor(model => model.IsActive)*@

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-horizontal form-main form-teklif">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Kategori</label></div>
                                            <div class="col-sm-5">
                                                <div class="section_room">
                                                    <div>
                                                        @*@Html.DropDownListFor(m => m.CategoryID, new SelectList(Model.ProductCategories.Select(x => new KeyValuePair<string, string>(x.ID.ToString(), x.CategoryName)), "Key", "Value"), new { @class = "form-control" })*@
                                                        <select class="form-control" name="CategoryID" disabled>
                                                            @if (Model.ProductCategories != null && Model.ProductCategories.Count() > 0)
                                                            {
                                                                foreach (var item in Model.ProductCategories)
                                                                {

                                                                    <option value="@item.ID" @(item.ID == Model.CategoryID ? "selected" : "")>@item.CategoryName</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Ürün Kodu</label></div>
                                            <div class="col-12 col-md-5">
                                                @Html.EditorFor(m => m.ProductCode, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Ürün Adı</label></div>
                                            <div class="col-12 col-md-5">
                                                @Html.EditorFor(m => m.ProductName, new { htmlAttributes = new { @class = "form-control", @required = "required", disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Birim</label></div>
                                            <div class="col-12 col-md-5">
                                                @Html.EditorFor(m => m.Unit, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Birim fiyati (TL)</label></div>
                                            <div class="col-12 col-md-5">
                                                @Html.EditorFor(m => m.UnitPrice, new { htmlAttributes = new { @class = "form-control", @type = "text", disabled = "disabled" } })
                                            </div>
                                        </div>
                                        @*<div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"> Para Birimi</label></div>
                                                <div class="col-12 col-md-5">
                                                        @Html.EditorFor(m => m.Currency, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"> Amortısman</label></div>
                                                <div class="col-12 col-md-5">
                                                        @Html.EditorFor(m => m.Depreciation, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>*@
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"> Logo ID</label></div>
                                            <div class="col-12 col-md-5">
                                                @Html.EditorFor(m => m.LogoCode, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </div>
                                        @*<div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"> Logo Kodu</label></div>
                                                <div class="col-12 col-md-5">
                                                        @Html.EditorFor(m => m.LogoCode, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>*@
                                        @*<div class="col-md-3 text-right form-save-pc">
                                                <a href="/Product/Index" class="btn btn-new-1">VAZGEÇ</a>
                                                <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                                <a href="/Product/Delete/@Model.ID" class="btn btn-danger delBtn" >Sil</a>
                                            </div>
                                            <div class="col-md-12 text-right form-save-mobile">
                                                <a href="/Product/Index" class="btn btn-new-1">VAZGEÇ</a>
                                                <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                                <a href="/Product/Delete/@Model.ID" class="btn btn-danger delBtn">Sil</a>
                                            </div>*@
                                    </div>
                                }

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <div class="alert alert-danger">
                Ürün Kaydı Bulunamadı
            </div>
            @*<a href="/Product/Index" class="btn btn-info">Geri Dön</a>*@
            <button class="btn btn-info" onclick="goBack()">Geri Dön</button>

        </div>
    }

    <div class="modal" id="confirm-delete" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Onaylama</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bu işlemi yapmaya emin misiniz? <span class="description"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hayır</button>
                    <input type="submit" value="Evet" class="btn btn-danger btn-ok" />
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>

<script>

    $('#confirm-delete').on('click', '.btn-ok', function (e) {
        var $modalDiv = $(e.delegateTarget);
        var id = $("#ID")[0].value
        $modalDiv.addClass('loading');
        $.post('/Product/Delete?id=' + id).then(function () {
            $modalDiv.modal('hide').removeClass('loading');
            window.location.href = '/Product/Index';
        });
    });

    $('#confirm-delete').on('show.bs.modal', function (e) {
        var data = $(e.relatedTarget).data();
        $('.btn-ok', this).data('itemId', data.itemId);
    });
</script>