﻿@model IEnumerable<OykaCrm.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            @if (TempData["Error"] != null && TempData["Error"].ToString() != "")
            {
                <div class='alert alert-danger alert-dismissible fade show' role='alert'>@TempData["Error"]<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>
            }
            <div class="col-md-12">

                <div class="alert alert-info">
                    <i><b>*Ürünleri Güncelle</b> butonu logo programından yer alan güncel ürün bilgilerini uygulamaya dahil etmek için kullanılır.</i>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-header">
                            <div class="col-md-8 text-left">
                                <strong class="card-title">HIZMET/ÜRÜN</strong>
                            </div>
                            <div class="col-md-4 text-right">
                                @*<a href="/Product/Create" class="btn btn-info">Yeni Ürün Oluştur</a>*@
                                <button type="button" id="UpdateProductFromLogo" class="btn btn-info">Ürünleri Güncelle</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="toplamsayi pull-right"></div>
                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table id="sampleTable" class="table table-striped table-list table-hover">
                                    <thead>
                                        <tr>
                                            <th>Ürün KOD</th>
                                            <th style="min-width:200px">ÜRÜN ADI</th>
                                            <th width="160">BİRİM</th>
                                            <th width="200">BİRİM FİYATI (TL) </th>
                                            @*<th width="200">PARA BİRİMİ</th>
                                        <th width="160">AMORTISMAN</th>*@
                                            @*<th width="160">LOGO ID</th>*@
                                            @*<th width="160">LOGO KOD</th>*@
                                            <th width="160">KATEGORİ</th>
                                            <th width="160">KAYIT TARİHİ</th>
                                            @*<th width="160">GÜNCELEME TARİHİ</th>
                                        <th width="160">AKTİF Mİ?</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr onclick="document.location = '/Product/Detail/'+ @item.ID;" class="pointer-tr">
                                                <td>@item.ProductCode</td>
                                                <td><strong>@item.ProductName</strong></td>
                                                <td>@item.Unit</td>
                                                <td>@item.UnitPrice</td>
                                                @*<td>@item.Currency</td>
                                            <td>@item.Depreciation</td>*@
                                                @*<td>@item.LogoID</td>
                                            <td>@item.LogoCode</td>*@
                                                <td>@item.ProductCategory.CategoryName</td>
                                                @if (item.UpdateDate != null)
                                                {

                                                    <td>@string.Format("{0:dd.MM.yyyy HH:mm}", item.UpdateDate)</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }
                                                @*<td>@string.Format("{0:dd.MM.yyyy HH:mm}", item.UpdateDate)</td>
                                            <td>
                                                @if (item.IsActive == false)
                                                {
                                                    <span><i class="fa fa-remove" style="color:red"></i></span>
                                                }
                                                else if (item.IsActive == true)
                                                {
                                                    <span><i class="fa fa-check" style="color:#08c71c"></i></span>
                                                }
                                            </td>*@
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>

<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>

<script src="~/Scripts/bootbox.min.js"></script>
<script>


    $('#UpdateProductFromLogo').click(function () {



        bootbox.confirm({
            message: "Ürünleri logodan çekmek istediğinizden emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {

                if (result == true) {

                    $.ajax({
                        method: "GET",
                        url: "/Product/UpdateProductFromLogo",
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: {},

                        beforeSend: function () {
                            $.blockUI({ message: $('#domMessage') });
                        }
                    }).done(function (d) {
                        if (d.result = "Success") {

                            bootbox.alert({
                                size: "medium",
                                message: d.message,
                                buttons: {
                                    ok: {
                                        label: 'Tamam',
                                        className: 'btn-success'
                                    },
                                },
                                callback: function () { window.location.href = '/Product/Index' }
                            });
                           
                        } else if (d.result == "Success2") {

                            bootbox.alert({
                                size: "medium",
                                message: d.message,
                                buttons: {
                                    ok: {
                                        label: 'Tamam',
                                        className: 'btn-success'
                                    },
                                },
                                callback: function () { window.location.href = '/Product/Index' }
                            });
                             

                        } else {
                            bootbox.alert({
                                size: "medium",
                                message: d.message,
                                buttons: {
                                    ok: {
                                        label: 'Tamam',
                                        className: 'btn-success'
                                    },
                                },
                                callback: function () { /* your callback code */ }
                            });
                        }

                    }).always(function () {
                        $.unblockUI();
                    });
                }
            }
        });
        return false;


    });


</script>