
body {
    color: #403637;
}
/*.bg-dark {height:100vh;background-image:url(/images/3f483e247e063039ea4997faee298c04.gif);background-repeat:no-repeat;background-size:100% 100%;background-position:100% 100%;}*/
.bg-dark {
    height: 100vh;
    background-image: url(/images/bg-main.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%;
}

.search-filter-button {
    font-weight: 700;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.search-filter {
    display: none;
}

    .search-filter .form-control {
        font-weight: 600;
        font-size: 16px;
        font-family: 'Roboto Condensed', sans-serif;
    }

.btn {
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600
}

.btn-new-1 {
    border: 2px solid #d2d0cf;
    color: #a39f9d !important;
    background-color: #fff;
}

    .btn-new-1:hover {
        border: 2px solid #a39f9d;
        color: #a39f9d;
    }

.btn-new-2 {
    background-color: #514a48;
    border: 2px solid #514a48;
    color: #fff !important;
}

    .btn-new-2:hover {
        background-color: #272c33;
        border: 2px solid #272c33;
        color: #fff;
    }

.btn-new-3 {
    background-color: #2ac;
    border: 2px solid #20a2c2;
    color: #fff !important;
}

    .btn-new-3:hover {
        background-color: #20a2c2;
        border: 2px solid #20a2c2;
        color: #fff;
    }

.form-main .form-control-label {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #999593
}

.form-main input, .form-main textarea {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #514a48
}

.form-main .form-control-label i {
    margin-right: 8px
}

.btn-width-49 {
    width: 49%
}

.btn-width-100 {
    width: 100%
}

.btn-group-xs > .btn, .btn-xs {
    padding: .13rem .4rem;
    font-size: .875rem;
    line-height: 1.2;
}

.search-customer-result {
    position: absolute;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 14px;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    margin-top: -15px
}

.search-customer-result-list {
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 5px 10px;
}

    .search-customer-result-list:hover {
        background-color: #e8e7e7;
    }

.search-product-result {
    position: absolute;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 14px;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    margin-top: 2px
}

.search-product-result-list {
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 5px 10px;
}

    .search-product-result-list:hover {
        background-color: #e8e7e7;
    }

.search-product-result .new-badges {
    margin-top: -25px;
}

.search-customer-result .new-badges {
    margin-top: -25px;
}

.search-customer-bakiye {
    display: none
}

.search-customer-info {
    display: none;
}

.customer-info {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #403637
}





.search-customer-result-yetkili {
    position: absolute;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 14px;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    margin-top: -15px
}

.search-customer-result-list-yetkili {
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 5px 10px;
}

    .search-customer-result-list-yetkili:hover {
        background-color: #e8e7e7;
    }

.search-product-result-yetkili {
    position: absolute;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 14px;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    margin-top: 2px
}

.search-product-result-list-yetkili {
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 5px 10px;
}

    .search-product-result-list-yetkili:hover {
        background-color: #e8e7e7;
    }

.search-product-result-yetkili .new-badges {
    margin-top: -25px;
}

.search-customer-result-yetkili .new-badges {
    margin-top: -25px;
}

.search-customer-bakiye-yetkili {
    display: none
}

.search-customer-info-yetkili {
    display: none;
}

.customer-info-yetkili {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #403637
}



.ajanda-aktivite .input-group {
    margin-bottom: 10px
}

.ajanda-aktivite .input-group-addon {
    border-radius: .25rem 0 0 .25rem;
    font-weight: 600
}

.ajanda-aktivite .input-group .btn-group .btn {
    border-radius: 0 .25rem .25rem 0
}








.table .thead-dark th {
    background-color: #dedddc;
    border-color: #dedddc;
    color: #5e5854;
    font-size: 12px
}

.table .btn-new-2 {
    color: #fff !important
}


.table .dropdown-menu {
    left: -130px !important;
    padding: 0;
    min-width: 11rem;
}

    .table .dropdown-menu li a {
        display: block;
        padding: 6px 8px;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Roboto Condensed', sans-serif;
        border-bottom: 1px solid #dedddc;
        cursor: pointer
    }

        .table .dropdown-menu li a:hover {
            background-color: #dee2e6
        }

.none-border {
    border-top: 1px solid transparent !important;
}


.table-tutar h5 {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    color: #999593;
    padding: 6px 0;
}

.table-tutar {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans' sans-serif;
    color: #999593
}

    .table-tutar i {
        font-size: 18px;
    }

.genel-toplam, .genel-toplam i {
    color: #403637;
    font-size: 24px
}

.kur em {
    font-size: 14px;
}

.kur i {
    font-size: 16px;
}

.kur em i {
    font-size: 14px;
}

.table-list-goruntuleme

.toplam-tutar {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Open Sans' sans-serif;
    color: #403637;
}

.table-tutar small {
    font-size: 20px;
    font-weight: 400;
    color: #999593
}

.table-tutar {
    margin-bottom: 140px
}

.form-save-mobile {
    display: none;
}

.table-tutar td, .table-tutar th {
    padding: 4px 25px 4px 25px;
    border-top: 1px solid #f7f8f9;
}



.ara-toplam-indirimi {
    display: none;
}

.stopaj {
    display: none;
}

.tevkifat {
    display: none;
}

.ara_toplam_indirimi input.numberFormat2 {
    display: none;
}
/*.urun-indirimi-genel input.numberFormat2 {display:none;}*/




.tr_input td div .input-group {
    padding-top: 10px;
}

.table-list thead tr th {
    font-size: 14px;
    color: #999593;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 8px;
}

.table-list tr td {
    font-size: 14px;
    color: #66615f;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 8px;
}

.table-list thead th, .table-list td {
    border: 0;
}

.table-list .fa-file-o {
    background-color: #e6e5e4;
    padding: 8px;
    font-size: 24px;
    border-radius: 5px
}

.table-list .fa-search-plus {
    background-color: #e6e5e4;
    padding: 8px;
    font-size: 24px;
    border-radius: 5px;
    transition: all 400ms ease
}

.table-list a:hover .fa-search-plus {
    background-color: #ccc;
    padding: 8px;
    font-size: 24px;
    border-radius: 5px
}


.table-list .price {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 600;
}


.table-list .fa-building-o {
    background-color: #e6e5e4;
    padding: 8px;
    font-size: 24px;
    border-radius: 5px
}

.table-list .fa-institution {
    background-color: #e6e5e4;
    padding: 8px;
    font-size: 24px;
    border-radius: 5px
}

.table-list .fa-money {
    background-color: #e6e5e4;
    padding: 8px;
    font-size: 24px;
    border-radius: 5px
}





.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a,
        .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .pagination > li:first-child > a,
        .pagination > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .pagination > li:last-child > a,
        .pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
        }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


.btn-group .dropdown-menu {
    top: 100% !important;
    padding: 0;
    box-shadow: 1px 1px 15px #d2d0cf
}

    .btn-group .dropdown-menu li a {
        padding: 8px 8px 8px 8px;
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,.15)
    }

        .btn-group .dropdown-menu li a:hover {
            background-color: #d2d0cf
        }


tr.table-tutar-goruntuleme td {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    border-top: 1px solid #dee2e6
}


.card-body h2 {
    font-size: 24px;
}

.card-body h4.new-baslik-1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: #403637
}

.card-body h4.new-baslik-2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    color: #878787;
    font-weight: 600
}

.card-body h4.new-baslik-3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #878787;
    font-weight: 600
}

.card-body h4.new-baslik-4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    color: #5f5e5e;
    font-weight: 600
}

.card-body h4.new-baslik-5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color: #5f5e5e;
    font-weight: 600
}

.teklif-tab .pl-3, .teklif-tab .px-3 {
    padding-left: 0 !important;
}


.teklif-tab .list-group-item {
    padding: 8px 4px;
}

    .teklif-tab .list-group-item .fa {
        background-color: #e6e5e4;
        padding: 10px 12px;
        margin-left: 8px;
        border-radius: 5px
    }

.teklif-tab .list-group-item {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #999593;
}

    .teklif-tab .list-group-item span {
        color: #66615f;
    }

.teklif-tab #tumgecmis ul {
    max-height: 320px;
    overflow-x: hidden;
}



.multi-field-wrapper input {
    height: 32px;
    padding: 0 5px;
    border-radius: 0;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400
}

.multi-field-wrapper .input-group-addon {
    height: 32px;
    padding: 5px 5px;
    border-radius: 0;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400
}

.multi-field-wrapper select {
    height: 32px !important;
    padding: 0 5px;
    border-radius: 0 !important;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400
}

.multi-field-wrapper td {
    padding: 8px 8px;
}


.uretim-urun-input input {
    height: 38px;
    padding: 0 6px;
    border-radius: 0;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400
}


#container-tahsilat-ekle input {
    height: 32px;
    padding: 0 5px;
    border-radius: 0;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400
}

#container-tahsilat-ekle label {
    padding: 0 5px;
    border-radius: 0;
    font-size: 13px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600
}

#container-tahsilat-ekle select {
    height: 32px !important;
    padding: 0 5px;
    border-radius: 0 !important;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500
}

#container-tahsilat-ekle textarea {
    padding: 0 5px;
    border-radius: 0 !important;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400
}

#container-tahsilat-ekle .form-check label {
    padding: 0 15px;
    border-radius: 0;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600
}

.form-hizli .form-check label {
    padding: 0 15px;
    border-radius: 0;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600
}

.tahsilat-vade-tarihi {
    display: none;
}

.tahsilat-cekler {
    display: none;
}


.invoice-price {
    font-size: 15px;
    font-weight: 400 !important
}


.list-group-right-box li {
    padding: 0;
}

.list-group-right-box a {
    display: block;
    padding: .75rem 1.25rem
}

    .list-group-right-box a:hover {
        background: rgba(0,0,0,.1)
    }


.nav-link {
    font-family: 'Roboto Condensed', sans-serif;
}

#container-tahsilat-ekle {
    display: none;
}

.container-musteri-bilgileri {
    display: none;
}

.musteri-bilgileri-goruntuleme {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #878787;
}

    .musteri-bilgileri-goruntuleme .form-group {
        margin-bottom: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(0,0,0,.1)
    }

        .musteri-bilgileri-goruntuleme .form-group label {
            margin-bottom: 0
        }

    .musteri-bilgileri-goruntuleme .last-form-group {
        margin-bottom: 8px;
    }


.dl-horizontal dt {
    float: left;
    width: 120px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.dl-horizontal dd {
    margin-left: 140px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 2px;
}

.dataTables_length {
    width: 150px !important;
    float: left
}

.dt-buttons {
    width: 340px !important;
    float: left
}

#yazdirmabaslik {
    display: none;
}

.table-musteri-list .fa-search-plus {
    background-color: #e6e5e4;
    padding: 6px;
    font-size: 18px;
    border-radius: 5px;
    transition: all 400ms ease
}

.table-musteri-list a:hover .fa-search-plus {
    background-color: #ccc;
    border-radius: 5px
}

.table-musteri-list thead {
    background-color: #f7f7f6
}

    .table-musteri-list thead th {
        border-bottom: 1px solid #dee2e6;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #999593;
    }

.table-musteri-list td {
    border-top: 1px solid #dee2e6;
    font-size: 13px;
    color: #403637;
    font-family: 'Roboto', sans-serif;
    padding: .55rem;
}

.table-musteri-list tr:hover td {
    color: #20a2c2;
}



table.dataTable {
    border-collapse: collapse !important;
}


.navbar .navbar-nav li.active > a {
    color: #fff !important
}


.kasa-bakiye-tutar {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 28px !important
}

.stok-listeleme-miktar {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 18px !important
}

.weather-category ul li {
    width: calc((100% / 5) - 5px);
}

.twt-category ul li {
    color: #878787;
    font-size: 16px !important;
}

    .twt-category ul li h5 {
        color: #878787;
        font-size: 24px !important;
    }


.tooltip-main {
    width: 380px;
    height: 90vh;
    overflow-x: hidden;
    background: #fff;
    position: fixed;
    margin-left: 38px;
    bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    z-index: 999999;
    display: none;
    box-shadow: 1px 1px 5px #ccc;
}

.table-musteri-goruntuleme .thead-dark th {
    font-size: 11px;
}

.table-musteri-goruntuleme tr td {
    font-size: 11px;
}

.table-musteri-goruntuleme tr:hover td {
    color: #514a48
}

.table-musteri-goruntuleme h6 {
    font-size: 14px;
    font-weight: bold;
}

.musteri-urun-button {
    cursor: pointer
}

.musteri-urun-main {
    width: 360px;
    height: 160px;
    overflow-x: hidden;
    background: #fff;
    position: absolute;
    margin-left: 20px;
    top: -30px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    z-index: 999999;
    display: none;
    box-shadow: 1px 1px 5px #ccc;
}

.son-uc-urun-main {
    font-size: 14px;
    padding-top: 15px;
}

    .son-uc-urun-main hr {
        margin-top: 4px;
        margin-bottom: 4px;
    }

.toplamsayi {
    color: #66615f;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.teklif-tab .nav-link {
    padding: .5rem .8rem;
}

.margin-4-hr {
    margin-top: 4px;
    margin-bottom: 10px;
}

.margin-4-4-hr {
    margin-top: 4px;
    margin-bottom: 4px;
}

.headermenu-unvan {
    margin-top: 1px;
    margin-bottom: 0px
}

@media (max-width: 620px) {
    .multi-field-wrapper .table {
        min-width: 900px;
    }
}


@media (max-width: 768px) {
    .form-save-pc {
        display: none;
    }

    .form-save-mobile {
        display: block;
        margin-top: 30px;
    }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > li {
            display: inline;
        }

            .pagination > li > a,
            .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .pagination > li:first-child > a,
            .pagination > li:first-child > span {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .pagination > li:last-child > a,
            .pagination > li:last-child > span {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .pagination > li > a:hover,
            .pagination > li > span:hover,
            .pagination > li > a:focus,
            .pagination > li > span:focus {
                z-index: 2;
                color: #23527c;
                background-color: #eee;
                border-color: #ddd;
            }

        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus {
            z-index: 3;
            color: #fff;
            cursor: default;
            background-color: #337ab7;
            border-color: #337ab7;
        }

        .pagination > .disabled > span,
        .pagination > .disabled > span:hover,
        .pagination > .disabled > span:focus,
        .pagination > .disabled > a,
        .pagination > .disabled > a:hover,
        .pagination > .disabled > a:focus {
            color: #777;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd;
        }

    .pagination-lg > li > a,
    .pagination-lg > li > span {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
    }

    .pagination-lg > li:first-child > a,
    .pagination-lg > li:first-child > span {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .pagination-lg > li:last-child > a,
    .pagination-lg > li:last-child > span {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .pagination-sm > li > a,
    .pagination-sm > li > span {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
    }

    .pagination-sm > li:first-child > a,
    .pagination-sm > li:first-child > span {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .pagination-sm > li:last-child > a,
    .pagination-sm > li:last-child > span {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.kisi-son-gorevler .card-header {
    padding: 8px 10px;
    font-size: 14px
}

.kisi-son-gorevler .list-group-item {
    padding: 8px 10px;
    font-size: 14px;
}

.margin-top-15 {
    margin-top: 15px;
}

.kisi-devam-eden-gorevler {
    max-height: 190px;
    overflow-x: hidden;
}

.kisi-son-gorevler .list-group-item a {
    display: block;
}

.new-h4 {
    font-size: 20px;
    color: #999593;
    font-weight: 600
}

.kisi-son-gorevler p {
    font-size: 14px;
    padding-left: 8px;
}

#kullaniciyetkiler {
    display: none;
}

    #kullaniciyetkiler p {
        font-size: 14px;
    }

#mevccutsifredegisekran {
    display: none;
}

.firsatsurec {
    display: none;
}

.firsat-button li {
    list-style: none;
    display: inline-block
}

    .firsat-button li a {
        padding: 8px 0px;
        background-color: #DADFE1;
        font-family: 'Roboto Condensed', sans-serif;
        color: #6C7A89;
        transition: all 100ms ease;
    }

        .firsat-button li a:hover {
            background-color: #6C7A89;
            color: #ECF0F1;
        }

        .firsat-button li a span {
            padding-left: 10px;
            padding-right: 20px;
        }

        .firsat-button li a:after {
            content: '';
            width: 0px;
            height: 0px;
            border-color: white white white #DADFE1;
            border-style: solid;
            border-width: 20px 0 18px 15px;
            display: inline-block;
            position: relative;
            top: 13px;
        }

        .firsat-button li a:hover:after {
            border-color: white white white #6C7A89;
        }

        .firsat-button li a:before {
            content: '';
            width: px;
            height: 0px;
            border-color: #DADFE1 #DADFE1 #DADFE1 white;
            border-style: solid;
            border-width: 15px 10px 18px 15px;
            display: inline-block;
            position: relative;
            top: 12px;
        }

        .firsat-button li a:hover:before {
            border-color: #6C7A89 #6C7A89 #6C7A89 white;
        }

    .firsat-button li.active a {
        background-color: #03A678;
        color: #fff;
    }

        .firsat-button li.active a:after {
            border-color: white white white #03A678;
        }

        .firsat-button li.active a:before {
            border-color: #03A678 #03A678 #03A678 white;
        }


.recete-goruntuleme .table .thead-dark th {
    font-size: 16px;
}

.recete-goruntuleme .table-list tr td {
    font-size: 16px;
}

.fc-day-grid-event {
    padding: 3px 4px !important;
}


.loading {
    top: 50%;
    left: 47%;
}

.loading-bar {
    display: inline-block;
    width: 12px;
    height: 38px;
    border-radius: 4px;
    animation: loading 1s ease-in-out 3;
}

    .loading-bar:nth-child(1) {
        background-color: #3498db;
        animation-delay: 0;
    }

    .loading-bar:nth-child(2) {
        background-color: #c0392b;
        animation-delay: 0.09s;
    }

    .loading-bar:nth-child(3) {
        background-color: #f1c40f;
        animation-delay: .18s;
    }

    .loading-bar:nth-child(4) {
        background-color: #27ae60;
        animation-delay: .27s;
    }

    .loading-bar:nth-child(5) {
        background-color: #65C6BB;
        animation-delay: .35s;
    }

    .loading-bar:nth-child(6) {
        background-color: #F9690E;
        animation-delay: .42s;
    }

    .loading-bar:nth-child(7) {
        background-color: #674172;
        animation-delay: .49s;
    }

@keyframes loading {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1, 2.2);
    }

    40% {
        transform: scale(1);
        display: none;
    }
}

.loading-div {
    min-height: 380px;
}

.kurulum-form {
    display: none;
}


.abonelik-bilgileri .fa-trophy {
    border: 2px solid #c3c1c1;
    padding: 8px 8px 8px 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%
}

.abonelik-bilgileri h4 {
    padding-top: 20px
}

.abonelik-bilgileri i {
    color: #878787;
}

.jumbotron {
    padding: 15px 15px;
    color: #636363;
}

.user-area .user-menu {
    padding: 0;
    border: 1px solid #ebeaea
}

    .user-area .user-menu .nav-link {
        font-size: 16px;
        padding: 7px 7px;
        border-bottom: 1px solid #ebeaea;
        color: #878787
    }

        .user-area .user-menu .nav-link:hover {
            background-color: #ebeaea;
        }


.destek-mesajlari {
    background-color: #f9f9f9;
    padding: 12px 8px;
    margin-bottom: 5px;
    border-radius: 5px
}

    .destek-mesajlari .panel-collapse {
        padding: 12px 8px;
    }

    .destek-mesajlari .list-group {
        padding: 12px 8px 2px 8px;
    }

        .destek-mesajlari .list-group h4 {
            font-size: 16px;
            color: #636363
        }

    .destek-mesajlari .list-group-item-text {
        padding: 6px 8px 2px 8px;
        border-bottom: 1px solid #ebeaea
    }


.uretim-ekrani .uretim-ekrani-box a {
    display: block;
    padding: 20px;
}

.uretim-ekrani .card-body {
    padding: 0;
}

    .uretim-ekrani .card-body p {
        margin-top: 15px;
        font-size: 20px
    }

.box-bg-1 {
    background-color: #e4f1fe
}

.ribon-bg-1 {
    background: url(../../images/bg-corner-1.png);
}

.box-bg-2 {
    background-color: #fbf0d6
}

.ribon-bg-2 {
    background: url(../../images/bg-corner-2.png);
}

.box-bg-3 {
    background-color: #e4fbe2
}

.ribon-bg-3 {
    background: url(../../images/bg-corner-3.png);
}

.box-bg-4 {
    background-color: #eeeeee
}

.ribon-bg-4 {
    background: url(../../images/bg-corner-4.png);
}

.box-bg-5 {
    background-color: #fff1ef
}

.ribon-bg-5 {
    background: url(../../images/bg-corner-5.png);
}


.uretim-ekrani .table-list thead tr th {
    font-size: 16px;
    padding: 10px;
}

.uretim-ekrani .table-list tr td {
    font-size: 18px;
    padding: 10px;
}

.uretim-ekrani .search-filter-button {
    font-size: 18px;
    padding: 10px;
}

.uretim-ekrani .btn {
    padding: .595rem .85rem;
}

.uretim-ekrani .form-control {
    font-size: 18px;
}

.uretim-ekrani .table-list .fa-search-plus {
    padding: 10px;
    font-size: 28px;
}

.uretim-ekrani .table-list a:hover .fa-search-plus {
    background-color: #ccc;
    padding: 10px;
    font-size: 28px;
    border-radius: 5px
}

.uretim-ekrani .card-body h2 {
    font-size: 28px;
    padding-top: 10px
}

.uretim-ekrani .form-main .form-control-label {
    font-size: 18px;
}

.uretim-ekrani .card-body {
    padding-top: 20px;
    padding-bottom: 20px
}

.uretim-ekrani .table .thead-dark th {
    font-size: 16px;
}

.uretim-ekrani .form-control {
    font-size: 20px;
}

.uretim-ekrani .uretim-urun-input input {
    height: 45px;
    padding: 0 8px;
}


.uretim-ekrani .table-list-kucuk-yazi thead tr th {
    font-size: 14px;
    padding: 10px;
}

.uretim-ekrani .table-list-kucuk-yazi tr td {
    font-size: 14px;
    padding: 10px;
}


.uretim-ekrani .musteri-bilgileri-goruntuleme {
    font-size: 16px;
}

.switching-toplamdan-bul {
    padding-top: 5px;
    padding-left: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

.main-page-boxes {
    height: 228px;
    overflow-x: hidden;
}

.chart-panel h6 {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.chart-panel hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.chart-panel span {
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600
}

.margin-10-hr {
    margin-top: 10px;
    margin-bottom: 10px
}

.margin-left-10 {
    margin-left: 10px;
}

.main-page-boxes .badge {
    font-size: 85%
}


.main-page-top-button a .pb-0 {
    color: #fff;
}

.main-page-top-button a .text-light {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

.pointer-tr {
    cursor: pointer
}

.navbar .navbar-brand img {
    position: absolute;
    max-width: 140px;
    z-index: 999
}

.editable-form {
    font-size: 13px
}

.teklifnotsilme {
    padding: 5px 5px;
    line-height: 1;
    font-size: 12px
}



#kritik-stok {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999
}

.multi-field-wrapper, .multi-field-wrapper input {
    font-family: 'Inconsolata', monospace;
    !important;
}

.btn-sifirla-animation::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 40px;
    left: 125px;
    top: 0;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    animation-name: sifirla-animasyon;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes sifirla-animasyon {

    0% {
        left: 125px;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 125px;
    }
}

.musteri-bilgileri-goruntuleme .card-header {
    padding: 8px 10px;
    font-size: 14px;
}

/* .show_more {border:1px solid #ddd;margin:5px;padding:10px;background:#ccc;display:block;text-align:center;cursor:pointer;}
.loading {border:1px solid #ddd;margin:5px;padding:10px;background:#ccc;display:block;text-align:center;cursor:pointer;}
 */
/*
    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;
		
'Open Sans' sans-serif


    font-family: 'Roboto Mono', monospace;

    font-family: 'Inconsolata', monospace;


*/
