﻿@using OykaCrm.Models
@model OFFER_HUMAN_COST

<div class="container search-table">     
    <div class="search-list">
        
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Ücret Detayları</th>                   
                </tr>
            </thead>
            <tbody> 
                <tr>
                    <td>Brüt Maaş</td>
                    <td>@Model.GROSS_PRICE.Value.ToString("N2") <label for="text-input" class="form-control-label"><i class="fa fa-turkish-lira"></i></label></td>
                </tr>
                <tr>
                    <td>SGK Prim İşçi Payı</td>
                    <td>@Model.SGK_EMPLOYEE_PAY.Value.ToString("N2") <label for="text-input" class="form-control-label"><i class="fa fa-turkish-lira"></i></label></td>
                </tr>
                <tr>
                    <td>SGK İşsizlik İşçi Payı</td>
                    <td>@Model.SGK_ISSIZLIK_PAY.Value.ToString("N2") <label for="text-input" class="form-control-label"><i class="fa fa-turkish-lira"></i></label></td>
                </tr>
                <tr>
                    <td>Toplam SGK Primi</td>
                    <td>@Model.TOTAL_SGK_PRIM.Value.ToString("N2") <label for="text-input" class="form-control-label"><i class="fa fa-turkish-lira"></i></label></td>
                </tr>
                <tr>
                    <td>Vergi Matrahı</td>
                    <td>@Model.VERGI_MATRAH.Value.ToString("N2") <label for="text-input" class="form-control-label"><i class="fa fa-turkish-lira"></i></label></td>
                </tr>
                <tr>
                    <td>Gelir Vergisi Kesintisi</td>
                    <td>@Model.GELIR_VERGISI_KESINTISI.Value.ToString("N2") <label for="text-input" class="form-control-label"><i class="fa fa-turkish-lira"></i></label></td>
                </tr>
                <tr>
                    <td>Damga Vergisi Kesintisi</td>
                    <td>@Model.DAMGA_VERGISI_KESINTISI.Value.ToString("N2") <label for="text-input" class="form-control-label"><i class="fa fa-turkish-lira"></i></label></td>
                </tr>
                <tr>
                    <td>Net maaş</td>
                    <td>@Model.NET_MAAS.Value.ToString("N2") <label for="text-input" class="form-control-label"><i class="fa fa-turkish-lira"></i></label></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
