﻿<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oypa TYH - Personel Tanımları</title>
    <meta name="description" content="Fiber Hesap ile ekonomik ve hızlı çözümler">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="assets/css/normalize.css">-->
    <link rel="stylesheet" href="~/assets/css/lib/datatable/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker3.css">
    <link href="~/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Condensed:400,400i,700|Roboto:300,400,400i,500,500i,700|Inconsolata|Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href='~/assets/css/jquery-ui.min.css' type='text/css' rel='stylesheet'>
    <link rel="stylesheet" href="~/assets/css/clockpicker.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/mystyle.css" />
</head>
<body>
    <!-- Left Panel -->

    @Html.Partial("~/Views/_PartialLeftMenu.cshtml");
    <!-- /#left-panel -->
    <!-- Left Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        @Html.Partial("~/Views/_PartialHeaderLogin.cshtml");

        <!-- /header -->
        <!-- Header-->
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-8">
                        <form action="" method="post" class="form-horizontal">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-btn"><a class="btn btn-outline-link search-filter-button"><i class="fa fa-filter"></i> FİLTRELE  <i class="fa fa-angle-down"></i></a></div>
                                    <input type="text" id="input3-group2" name="aciklama" placeholder="Müşteri Adı / Firma İsmi" class="form-control">
                                    <div class="input-group-btn"><button type="submit" name="button" id="button" class="btn btn-secondary"><i class="fa fa-search"></i> </button></div>
                                </div>
                            </div>
                            <div class="search-filter">
                                <div class="row form-group">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-4">
                                        <label class=" form-control-label">Müşteri Arşiv Durumu</label>
                                        <select class="form-control" name="faturaarsiv">
                                            <option value="1">Arşiv Haricindeki Müşteriler</option>
                                            <option value="2">Arşiv Müşteriler</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group-btn"><a href="/musteriler/sifirla/" class="btn btn-new-1">Aramayı Sıfırla</a></div>
                    </div>
                    <div class="col-md-2 text-right">
                        <a href="/Customer/Create" class="btn btn-info">Yeni Müşteri Oluştur</a>
                    </div>
                    <div class="col-md-12">
                        <div class="feed-box">
                            <section class="card">
                                <div class="card-body">
                                    <a href="/excel-listesi/musteriler" class="btn btn-new-1 btn-sm" target="_blank">Excel'e Aktar</a>
                                    <div class="toplamsayi pull-right"><em>Toplam <strong>1</strong> müşteri bulunmaktadır.</em></div>
                                    <div class="clearfix"></div>
                                    <div class="table-responsive">
                                        <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="60"></th>
                                                    <th>
                                                        ÜNVANI
                                                        <a href="/musteriler/musteriAZ/"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                                        <a href="/musteriler/musteriZA/"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                                    </th>
                                                    <th>AÇILIŞ TARİHİ</th>
                                                    <th class="text-right">
                                                        BAKİYE
                                                        <a href="/musteriler/bakiyeAZ/"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                                        <a href="/musteriler/bakiyeZA/"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr onclick="document.location = '/musteriler/goruntuleme/686';" class="pointer-tr">
                                                    <td width="60" class="text-center"><i class="fa fa-building-o"></i></td>
                                                    <td><strong>nnbvnvc</strong></td>
                                                    <td>27.08.2019</td>
                                                    <td class="price text-right">
                                                    </td>
                                                </tr>
                                                <tr onclick="document.location = '/musteriler/goruntuleme/686';" class="pointer-tr">
                                                    <td width="60" class="text-center"><i class="fa fa-building-o"></i></td>
                                                    <td><strong>mmmm</strong></td>
                                                    <td>27.08.2019</td>
                                                    <td class="price text-right">
                                                    </td>
                                                </tr>
                                                <tr onclick="document.location = '/musteriler/goruntuleme/686';" class="pointer-tr">
                                                    <td width="60" class="text-center"><i class="fa fa-building-o"></i></td>
                                                    <td><strong>aaaaa</strong></td>
                                                    <td>27.08.2019</td>
                                                    <td class="price text-right">
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>



                                    <div class="col-md-12 text-center">


                                        <nav aria-label="Page navigation">
                                            <ul class="pagination pagination-md">
                                                <li class="disabled">
                                                    <a href="/musteriler/id/1" aria-label="First">
                                                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="/musteriler/id/0" aria-label="Previous">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="active"><a href="/musteriler/id/1">1</a></li>
                                                <li class="disabled">
                                                    <a href="/musteriler/id/2" aria-label="Next">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="/musteriler/id/1" aria-label="Last">
                                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>




                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>


        </div> <!-- .content -->
    </div>
    <!-- /#right-panel -->
    <script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/jquery.maskMoney.min.js"></script>
    <script src="~/assets/js/jquery.mask.js"></script>
    <script src="~/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js" type="text/javascript"></script>

    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/clockpicker.js"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js"></script>
    <script src="~/assets/js/myscript.js"></script> 
</body>
</html>
