﻿@*@using OykaCrm.Models
@model EMPLOYEE_COST_PARAMETER

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oypa TYH - Personel Tanımları</title>
    <meta name="description" content="Fiber Hesap ile ekonomik ve hızlı çözümler">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="~/assets/css/lib/datatable/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker3.css">
    <link href="~/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Condensed:400,400i,700|Roboto:300,400,400i,500,500i,700|Inconsolata|Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href='~/assets/css/jquery-ui.min.css' type='text/css' rel='stylesheet'>
    <link rel="stylesheet" href="~/assets/css/clockpicker.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/mystyle.css" />
</head>
<body>
     Left Panel 

    @Html.Partial("~/Views/_PartialLeftMenu.cshtml")
     /#left-panel 
     Left Panel 
    <div id="right-panel" class="right-panel">

         Header
        @Html.Partial("~/Views/_PartialHeaderLogin.cshtml")

         /header 
         Header
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="feed-box"> 
                            <section class="card">
                                <div class="card-body">

                                    <label>@Model.EMPLOYEE_WORK_TYPE.EMPLOYEE_WORK_TYPE_NAME</label><br />
                                    <hr />
                                    <div class="col-md-12">
                                        
                                        <div class="table-responsive">
                                            <table class="table multi-fields">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th width="100">Tavan Asgari Ücret</th>
                                                        <th width="100">SGK Prim İşçi Payı (%)</th>
                                                        <th width="100">SGK İşsizlik İşçi Payı (%)</th>
                                                        <th width="100">Damga Vergisi Kesintisi (%)</th>
                                                        <th width="100">Gelir Vergisi Kesintisi (%)</th>

                                                    </tr>
                                                </thead>
                                                <tbody class="table-product-main multi-field">

                                                    <tr>
                                                        <td>
                                                            <input type="number" name="tavanasgari" value="@Model.TAVAN_ASGARI_UCRET.Value.ToString().Replace(",", ".")" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="number" name="sgkiscipayi" value="@Model.SGK_ISCI_PAY.Value.ToString().Replace(",", ".")" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="number" name="sgkissizlik" value="@Model.SGK_ISSIZLIK_PAY.Value.ToString().Replace(",", ".")" class="form-control">

                                                        </td>
                                                        <td>
                                                            <input type="number" name="damgavergisi" value="@Model.DAMGA_VERGI_RATE.Value.ToString().Replace(",", ".")" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input type="number" name="gelirvergisi" value="@Model.GELIR_VERGI_RATE.Value.ToString().Replace(",", ".")" class="form-control">
                                                        </td>
                                                    </tr>
                                                </tbody>

                                               
                                            </table>

                                        </div>
                                    </div>
                                        <div class="offset-md-9 col-md-3 text-right form-save-pc">
                                            <a href="/Offer/Index" class="btn btn-new-1">VAZGEÇ</a>
                                            <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                        </div>
                                    </div>
</section>
                        </div>
                    </div>
                </div>
            </div>


        </div>
          .content 
    </div>
     /#right-panel 
    <script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/jquery.maskMoney.min.js"></script>
    <script src="~/assets/js/jquery.mask.js"></script>
    <script src="~/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js" type="text/javascript"></script>

    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/clockpicker.js"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js"></script>
    <script src="~/assets/js/myscript.js"></script>
</body>
</html>*@
