﻿
@{
    ViewBag.Title = "Positions";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

    
<h2>Pozisyon Tanımları</h2>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-9">
                @for (int i = 0; i < 10; i++)
                {
                    <div class="feed-box">
                        <section class="card">
                            <div class="card-body">
                                <div class="clearfix"></div>
                                <div class="table-responsive">
                                    <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                                        <thead>
                                            <tr>
                                                <th width="60"></th>
                                                <th>Çalışan Tipi</th>
                                                <th>Pozisyon Adı</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="pointer-tr">
                                                <td width="60" class="text-center"></td>
                                                <td>
                                                    <select id="" class="form-control parabirimi" name="selectedstatus">
                                                        <option value="1">Çalışan</option>
                                                        <option value="2">Emekli</option>
                                                    </select>

                                                </td>
                                                <td>
                                                    <select id="ProjeSelect" class="form-control parabirimi" name="parabirimi">
                                                        <option value="">Seçiniz..</option>
                                                        <option value="1">Denizli Çimento (Makam Şoförü Projesi)</option>
                                                        <option value="1">Denizli Çimento (Temizlik Hizmeti Projesi)</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                }




            </div>
            <div class="col-md-3">
                <div class="ustKisim" style="position:fixed;">
                    <aside id="" class="right-panel">
                        <div class="card">
                            <div class="card-header">
                                <strong>Badges in Buttons</strong>
                            </div>
                            <div class="card-body">

                            </div>
                        </div>
                    </aside>
                </div>
            </div>
            <aside class="aside-md dker b-r bg-success-ltest" id="subNav">
                <div class="wrapper header"><strong>O1908290001</strong></div>
                <div class="wrapper" id="ManfactDetail">
                    <form action="/Production/EditManufacture" class="bs-example form-horizontal" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">#ID</label>
                            <div class="col-lg-9">
                                <input id="ID" name="ID" type="hidden" value="10340">
                                <input id="OrderID" name="OrderID" type="hidden" value="1">
                                <strong>10340</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">GTIN14</label>
                            <div class="col-lg-9">
                                <input id="GTIN" name="GTIN" type="text" class="form-control" placeholder="GTIN14" value="08470006936191" readonly="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Serino</label>
                            <div class="col-lg-9">
                                <input id="USC" name="USC" type="text" class="form-control" placeholder="USC" value="4MCFPVWFTB2GCY" readonly="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Koli</label>
                            <div class="col-lg-9">
                                <select name="SSCC" class="form-control">
                                    <option value="00286995362262800116">OK - 00286995362262800116</option>
                                    <option value="00286995362262800123">OK - 00286995362262800123</option>
                                    <option value="00286995362262800130">OK - 00286995362262800130</option>
                                    <option value="00286995362262800147" selected="">OK - 00286995362262800147</option>
                                    <option value="00286995362262800154">OK - 00286995362262800154</option>
                                    <option value="00286995362262800161">OK - 00286995362262800161</option>
                                    <option value="00286995362262800178">OK - 00286995362262800178</option>
                                    <option value="00286995362262800185">OK - 00286995362262800185</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Palet</label>
                            <div class="col-lg-9">
                                <select name="PalletSSCC" class="form-control">
                                    <option value="00386995363262800028" selected="">OK - 00386995363262800028</option>
                                    <option value="00386995363262800035" disabled="">OK - 00386995363262800035</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Kalite</label>
                            <div class="col-lg-9">
                                <select name="Quality" class="form-control">
                                    <option value="A" selected="">A </option>
                                    <option value="B">B </option>
                                    <option value="C">C </option>
                                    <option value="D">D </option>
                                    <option value="E">E </option>
                                    <option value="F">F </option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Durum</label>
                            <div class="col-lg-9">
                                <select name="ReasonCode" class="form-control">
                                    <option value="DEACTIVATED">DEACTIVATED - Pasif </option>
                                    <option value="DECOMMISSIONED">DECOMMISSIONED - Devreden Çıkarma </option>
                                    <option value="DESTROYED">DESTROYED - İmha </option>
                                    <option value="ENCODED" selected="">ENCODED - Kodlanmış </option>
                                </select>
                            </div>


                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-s-md btn-block btn-warning">Üretimi Güncelle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </aside>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">
                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                                    <thead>
                                        <tr>
                                            <th width="60"></th>
                                            <th>Çalışan Tipi</th>
                                            <th>Pozisyon Adı</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="pointer-tr">
                                            <td width="60" class="text-center"></td>
                                            <td>
                                                <select id="" class="form-control parabirimi" name="selectedstatus">
                                                    <option value="1">Çalışan</option>
                                                    <option value="2">Emekli</option>
                                                </select>

                                            </td>
                                            <td>
                                                <select id="ProjeSelect" class="form-control parabirimi" name="parabirimi">
                                                    <option value="">Seçiniz..</option>
                                                    <option value="1">Denizli Çimento (Makam Şoförü Projesi)</option>
                                                    <option value="1">Denizli Çimento (Temizlik Hizmeti Projesi)</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>

