﻿<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oypa TYH - Personel Tanımları</title>
    <meta name="description" content="Fiber Hesap ile ekonomik ve hızlı çözümler">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="assets/css/normalize.css">-->
    <link rel="stylesheet" href="~/assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker3.css">
    <link href="~/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Condensed:400,400i,700|Roboto:300,400,400i,500,500i,700|Inconsolata|Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href='~/assets/css/jquery-ui.min.css' type='text/css' rel='stylesheet'>
    <link rel="stylesheet" href="~/assets/css/clockpicker.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/mystyle.css" />
</head>
<body>
    <!-- Left Panel -->

    @Html.Partial("~/Views/_PartialLeftMenu.cshtml")
    <!-- /#left-panel -->
    <!-- Left Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        @Html.Partial("~/Views/_PartialHeaderLogin.cshtml")

        <!-- /header -->
        <!-- Header-->
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="feed-box">
                            <section class="card">
                                <div class="card-body">
                                    <div class="clearfix"></div>
                                    <div class="table-responsive">
                                        <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="60"></th>
                                                    <th>Proje ID</th>
                                                    <th>Teklif Seçiniz</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="pointer-tr">
                                                    <td width="60" class="text-center"></td>
                                                    <td><a href="/Person/PersonDefineDetail?DefineID=1">1</a></td>
                                                    <td>
                                                        <select id="ProjeSelect" class="form-control parabirimi" name="parabirimi">
                                                            <option value="">Seçiniz..</option>
                                                            <option value="1">Denizli Çimento (Makam Şoförü Projesi)</option>
                                                            <option value="1">Denizli Çimento (Temizlik Hizmeti Projesi)</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detailselect" class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="feed-box">
                            <section class="card">
                                <div class="card-body">
                                    <div class="clearfix"></div>
                                    <div class="table-responsive">
                                        <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Bahçıvan</th>
                                                    <th>Usta (1)</th>
                                                    <th>Mühendis (3)</th>
                                                    <th>Hijyen Elemanı (1)</th>
                                                    <th>Kaynak Ustası (1)</th>
                                                    <th>#</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr class="pointer-tr">

                                                    <td>
                                                        <a href="#">
                                                            <input type="number" placeholder="Ücret" id="Ucret" name="urunmiktar" class="form-control" value="">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#">
                                                            <input type="number" placeholder="Ücret" name="urunmiktar" class="form-control" value="" onchange="">
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <input type="number" placeholder="Ücret" name="urunmiktar" class="form-control" value="" onchange="">
                                                    </td>
                                                    <td>
                                                        <input type="number" placeholder="Ücret" name="urunmiktar" class="form-control" value="" onchange="">
                                                    </td>
                                                    <td>
                                                        <input type="number" placeholder="Ücret" name="urunmiktar" class="form-control" value="" onchange="">
                                                    </td>
                                                    <td>#</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div id="detailselectx" style="display:none;" class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="feed-box">
                            <section class="card">
                                <div class="card-body" id="getcalculateucret">
                                    <div class="clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- .content -->
    </div>
    <!-- /#right-panel -->
    <script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/jquery.maskMoney.min.js"></script>
    <script src="~/assets/js/jquery.mask.js"></script>
    <script src="~/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js" type="text/javascript"></script>

    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/clockpicker.js"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js"></script>
    <script src="~/assets/js/myscript.js"></script>
    <script src="~/assets/js/OfferApp.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#detailselect").hide();
        });

        $("#ProjeSelect").change(function () {

            $("#detailselect").show();


        });

        $("#Ucret").change(function () {
            
            var Price = $("#Ucret").val();
            console.log(Price);
            CalculateCost(Price); 
        });

    </script>
</body>
</html>
