﻿
@{
    ViewBag.Title = "AddRole";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@using OykaCrm.Models
@model IEnumerable<RoleLevelList>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">


            <div class="col-md-12">

                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">
                            @using (Html.BeginForm("AddRole", "Role", FormMethod.Post, new { enctype = "multipart/form-data" }))

                            {
                                <h5>Rol Ekleme</h5>
                                <hr />

                                <div class="form-horizontal form-main form-teklif" id="form1" name="form1">
                                    <div class="col-md-9">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Rol Adı</label></div>
                                            <div class="col-5 col-md-5"><input type="text" id="text-input" name="roleName" value="" class="form-control" required></div>

                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Rol Seviyesi</label></div>
                                            <div class="col-5 col-md-5">
                                                <select name="roleLevelId" id="select" class="form-control" required>
                                                    <option value="">Rol Seçiniz</option>
                                                    @if (Model != null && Model.Count() > 0)
                                                    {
                                                        foreach (var item in Model)
                                                        {
                                                            if (item.Name != null)
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success">Kaydet</button>
                                        </div>
                                    </div>


                                </div>
                            }
                        </div>


                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

