﻿
@{
    ViewBag.Title = "EditRole";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@using OykaCrm.Models;
@model RoleModel


@if (Model != null)
{
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="feed-box">
                        <section class="card">
                            <div class="card-body">
                                @using (Html.BeginForm("EditRole", "Role", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <h5>Rol Güncelleme</h5>
                                    <hr />

                                    <div class="form-horizontal form-main form-teklif" id="form1" name="form1">
                                        <div class="col-md-9">
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label">Rol Adı</label></div>
                                                <div class="col-5 col-md-5">
                                                    <input type="hidden" value="@Model.Id" />
                                                    <input type="text" id="text-input" name="roleName" value="@Model.RoleName" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label">Rol Seviyesi</label></div>
                                                <div class="col-5 col-md-5">
                                                    <select name="roleLevelId" id="select" class="form-control" required>

                                                        @if (Model.RoleLevelList != null && Model.RoleLevelList.Count() > 0)
                                                        {
                                                            foreach (var item in Model.RoleLevelList)
                                                            {
                                                                if (item.Name != null)
                                                                {
                                                                    if (item.Id == Model.RoleLevelId)
                                                                    {
                                                                        <option value="@item.Id" selected>@item.Name</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@item.Id">@item.Name</option>
                                                                    }

                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success">Kaydet</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-12">
        <div class="alert alert-danger">
            Rol Kaydı Bulunamadı
        </div>
        <button class="btn btn-info" onclick="goBack()">Geri Dön</button>
    </div>
}



