﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@using OykaCrm.Models
@model IEnumerable<RoleModel>

<div class="col-md-12">
    <div class="feed-box">
        <section class="card">
            <div class="card-body">

                <h5>Kullanıcı Rol Listesi</h5>
                <a href="/Role/AddRole" class="btn btn-success pull-right">Rol Ekle</a>
                <hr />
                <hr />
                <div class="clearfix"></div>
                <div class="table-responsive">
                    <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                        <thead>
                            <tr>

                                <th>
                                    Kullanıcı Rolü
                                </th>

                                <th>
                                    İşlem
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    if (item.RoleName != null)
                                    {
                                        <tr>
                                            <td>@item.RoleName</td>
                                            <td>
                                                <a href="/Role/EditRole/@item.Id" class="btn btn-primary">Güncelle</a>
                                                <a href="#" class="btn btn-danger deleteRole" data-id="@item.Id">Sil</a>
                                            </td>
                                        </tr>
                                    }

                                }
                            }


                        </tbody>
                    </table>
                </div>



            </div>
        </section>
    </div>
</div>

<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>

<script>

    $(document).ready(function () {
        $(".deleteRole").click(function () {
            var id = $(this).attr("data-id");
            var closestTR = $(this).closest("tr");


            bootbox.confirm({
                message: "Rolü silmek istediğinizden emin misiniz?",
                buttons: {
                    confirm: {
                        label: 'Evet',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Hayır',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.ajax({
                            url: '/Role/DeleteRole/' + id,
                            type: 'POST',
                            success: function (result) {
                                if (result == true) {
                                    closestTR.fadeOut(1000, function () {
                                        closestTR.remove();

                                    });
                                }

                            }
                        });
                    }
                }
            });

        });
    });

</script>