﻿@model OykaCrm.Models.DocumentModel


<div class="card-body">

    <div class="col-sm-12 table-responsive">
        <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
            <thead>
                <tr role="row">
                    <th>Doküman ID</th>
                    <th>Doküman Adı</th>
                    <th>Kategori</th>
                    <th>Kaydeden  Kullanıcı</th>
                    <th>Kayıt Tarihi</th>
                    <th>İndir</th>

                    <th></th>
                </tr>

            </thead>
            <tbody>
                @if (Model != null)
                {
                    if (Model.documents != null && Model.documents.Count > 0)
                    {
                        foreach (var item in Model.documents)
                        {

                            <tr>
                                <td>@item.ID</td>

                                @if (item.FileName.Length > 36)
                                {
                                    <td>@item.FileName.Substring(36)</td>

                                }
                                else
                                {
                                    <td>@item.FileName</td>

                                }

                                @if (item.CategoryID != null)
                                {
                                    <td>@item.DocumentCategory.CategoryName</td>
                                }
                                else
                                {
                                    <td></td>
                                }

                                <td>@(Model.employees.Where(c => c.ID == item.RecordEmployee).FirstOrDefault() != null ? Model.employees.Where(c => c.ID == item.RecordEmployee).FirstOrDefault().FullName : "")</td>
                                <td>@item.Date.Value.ToShortDateString()</td>
                                <td>
                                    <a href="~/Document/DownloadFile?filePath=@item.DocumentName" style="color:blue"> İndirmek için tıklayınız</a>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="pull-right">
                                            <button class="btn btn-danger btn-sm" id="btn-confirm" onclick="DeleteFile(@item.ID)">Sil </button>

                                        </div>
                                    </div> <br />
                                </td>
                            </tr>


                        }
                    }
                }

            </tbody>
        </table>
    </div>

</div>
@*<script src="~/vendors/jquery/dist/jquery.min.js"></script>*@
@*<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>*@

<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>

<script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>


<script>


</script>