﻿@model OykaCrm.Models.DocumentModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">


<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="alert alert-success" role="alert" style="display:none" id="DeleteFileReturn">
                        Kayıt Başarılı Bir Şekilde Silindi
                    </div>
                    <div class="card-header">
                        <strong class="card-title" style="font-size:20px;">Doküman Listesi</strong>
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus" aria-hidden="true"></i> Yeni Doküman Ekle
                        </button>
                    </div>


                    <div id="DocumentList">
                        @Html.Partial("_PartialDocumentList")

                    </div>





                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div>

<!-- Large modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="text-align:center">Bu Kaydı Silmek istediğinize emin misiniz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="modal-btn-no">Hayır</button>
                <button type="button" class="btn btn-success" id="modal-btn-si">Evet</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Doküman Ekleme Sayfası</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" style="display:none" id="FileAlert" role="alert">
                    Bu Alanlar Boş Geçilemez
                </div>
                <form>
                    <div class="row">

                        <div class="form-group col-md-10">
                            <label> <b>Kategori</b></label><br />
                            <select class="form-control" id="documentCategory">
                                <option value="0">Lütfen Bir Kategori Seçiniz</option>
                                @if (Model != null)
                                {
                                    if (Model.documentCategories != null && Model.documentCategories.Count > 0)
                                    {
                                        foreach (var item in Model.documentCategories)
                                        {
                                            <option value="@item.ID">@item.CategoryName</option>
                                        }
                                    }
                                }

                            </select>

                        </div>
                        <div class="form-group col-md-10">
                            <label><b>Lütfen Dosyayı Seçiniz</b></label><br />
                            <input type="file" id="DocumentName" onchange="uploadFile()">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-success" onclick="RecordFile()">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>
<!-- Small modal -->

<script src="~/vendors/jquery/dist/jquery.min.js"></script>


<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>


<script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>



<script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>

<script>


    function DeleteFile(id) {
        bootbox.confirm({
            message: "Silmek istediğinizden emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        method: "GET",
                        data: {
                            id: id,
                        },
                        url: "/Document/DeleteFile",
                        beforeSend: function () {

                        }
                    }).done(function (d) {
                        $("#DocumentList").html(d);
                        //$("#DeleteFileReturn").show();
                        //setTimeout(function () { $("#DeleteFileReturn").hide(); }, 1500);
                        bootbox.alert("Doküman silindi");
                        $("#bootstrap-data-table").DataTable();
                    }).fail(function () {
                        bootbox.alert("Doküman silinemedi");
                    }).always(function () {

                    });
                }

            }
        });


    }

    function uploadFile() {

        var formData = new FormData();
        var totalFiles = document.getElementById("DocumentName").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("DocumentName").files[i];

            formData.append("DocumentName", file);
        }
        $.ajax({
            type: "POST",
            url: '/Document/uploadfile',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {

            },
            error: function (error) {
                alert("Dosya Yükleme İşlemi Sırasında Bir Hata Oluştu");
            }
        });

    }

    function RecordFile() {
        var Category = $("#documentCategory").val();
        var dosya = $("#DocumentName").val();
        if (dosya == "" || Category == 0) {
            bootbox.alert("Kategori ve dosya alanları boş geçilemez");

        }
        else {
            $.ajax({
                type: "GET",
                url: '/Document/RecordFile',
                data: { Category: Category },
                success: function (d) {
                    $("#DocumentList").html(d);
                    $("#exampleModal").modal('toggle');
                    $("#DocumentName").val('');
                    $("#documentCategory").val(0);
                    $("#documentCategory").val(0);
                    bootbox.alert("Doküman başarıyla eklendi.");
                    $("#bootstrap-data-table").DataTable();
                },
                error: function () {

                }
            });
        }


    }

</script>

