﻿
@using OykaCrm.Models;
@model  OfferControlModel

<div class="table-responsive mt-4 container-fluid">

    <table class="table multi-fields">
        <thead class="thead-dark">

            <tr>
                <th>AÇIKLAMA</th>
                <th>TUTAR</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="table-product-main multi-field">
            @if (Model.OtherExpenses != null && Model.OtherExpenses.Count > 0)
            {

                foreach (var row in Model.OtherExpenses)
                {
                    <tr>
                        <td>
                           @(row.Description != null ? row.Description : "-")
                        </td>
                        <td>
                            @(row.Price != null || row.Price != 0 ? row.Price : 0)
                        </td>

                        <td>
                            <a href="#" class="btn btn-danger btn-xs" onclick="RemoveOthersRow(@row.ID)"><i class="fa fa-trash-o"></i></a>
                        </td>

                    </tr>
                }
            }



        </tbody>
    </table>

</div>
