﻿@using OykaCrm.Models;
@model  OfferControlModel

<div class="table-responsive">
    <table class="table multi-fields">
        <thead class="thead-dark">

            <tr>
                <th>Pozisyon Adı</th>
                <th>Brüt Ücret</th>
                <th>Adet</th>
                <th>Opsiyonel Hesaplama</th>
                <th></th>

                @*<th>#</th>*@
            </tr>
        </thead>
        <tbody class="table-product-main multi-field">
            @if (Model.offerpositions != null && Model.offerpositions.Count > 0)
            {

                foreach (var row in Model.offerpositions.Where(i => i.PositionItemID == 1).ToList())
                {
                    <tr>
                        <td>
                            <input id="RowID" type="hidden" value="@row.ID" />
                            <input id="PositionsID" type="hidden" value="@row.ID" />
                            <input type="text" id="@("PositionsName"+row.ID)" name="pozisyonadi" class="form-control" autocomplete="off" value="@row.Positions.PositionName" onchange="UpdateOfferRow(@row.ID)" readonly data-toggle="tooltip" data-placement="top" title="@row.Positions.PositionName">

                        </td>
                        <td width="160">
                            <input type="text" name="brutucret" id="@("Brutucret"+row.ID)" disabled class="form-control money" value="@(row.UnitPrice?.ToString("N2") ?? "")">
                        </td>
                        <td width="105"><input type="number" class="form-control" value="@row.Quantity" id=@("positionsquantity"+row.ID) disabled /></td>

                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg2"
                                    disabled>
                                Opsiyonel Hesapla
                            </button>
                            @*<input type="button" value="Hesapla" class="btn btn-info" onclick="CalculateBrutToNet(@row.ID)" />*@
                        </td>
                        <td>
                            <a class="btn btn-primary" data-toggle="collapse" href="@("#collapseExample"+row.ID)" role="button" aria-expanded="false" aria-controls="@("collapseExample"+row.ID)">
                                Ücret Detayları
                            </a>
                        </td>
                        @*<td>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                        </td>*@
                    </tr>
                    <tr>
                        <td colspan="6">

                            <div class="collapse" id="@("collapseExample"+row.ID)">
                                <div class="card card-body">

                                    <table class="table" style="border:1px solid;">
                                        <thead>
                                            <tr>

                                                <th colspan="4" style="color:red;border:1px solid; border-color:black">SGK Çalışan Türü: @row.Positions.PositionStatus.StatusName</th>
                                            </tr>
                                            <tr style="border:1px solid">
                                                <th style="border-right:1px solid;border-bottom:1px solid;">Maliyet Konusu</th>
                                                <th style="border-right:1px solid;border-bottom:1px solid;">Opsiyonel Detay</th>
                                                <th style="border-right:1px solid;border-bottom:1px solid;">Tutar (TL)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.offerpositions.Where(i => i.PositionID == row.PositionID && i.PositionItemID != 1).ToList())
                                            {
                                                if (item.PositionItemID == 12 || item.PositionItemID == 13 || item.PositionItemID == 14 || item.PositionItemID == 15 || item.PositionItemID == 16)
                                                {

                                                    @*<li class="list-group-item">@(item.PositionItems.ItemName)  : <font color="blue">@(item.CostPrice.Value.ToString("N2")) ₺</font></li>*@


                                                }
                                                else
                                                {
                                                    if (item.PositionItemID == 4 || item.PositionItemID == 7) // Yıllık izin ve bayram
                                                    {
                                                        <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                            <td style="border:1px solid">@item.PositionItems.ItemName</td>
                                                            <td style="border:1px solid;"><span style="color:red"> @item.Value Gün</span></td>
                                                            <td style="border:1px solid">@item.CostPrice.Value.ToString("N2")</td>
                                                        </tr>
                                                    }
                                                    else if (item.PositionItemID == 6)//İhbar
                                                    {
                                                        <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                            <td style="border:1px solid">@item.PositionItems.ItemName</td>
                                                            <td style="border:1px solid;"><span style="color:red">@(item.PositionOptionID!=null? "28 Gün" :"-") </span></td>
                                                            <td style="border:1px solid">@item.CostPrice.Value.ToString("N2")</td>
                                                        </tr>
                                                    }
                                                    else if (item.PositionItemID == 9 || item.PositionItemID == 10) // yol yemek
                                                    {

                                                        <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                            <td style="border:1px solid">@item.PositionItems.ItemName</td>
                                                            <td style="border:1px solid;"><span style="color:red"> @(item.PositionOptionID!=null? item.PositionOptions.OptionName.ToUpper():"-")</span></td>

                                                            <td style="border:1px solid">@item.CostPrice.Value.ToString("N2")</td>
                                                        </tr>


                                                    }
                                                    @*else if (item.PositionItemID == 11 || item.PositionItemID == 12 || item.PositionItemID == 20)
                                                        {
                                                            <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                                <td style="border:1px solid">@item.PositionItems.ItemName</td>
                                                                <td style="border:1px solid;"><span style="color:red"> @item.Value</span></td>
                                                                <td style="border:1px solid">@item.CostPrice.Value.ToString("N2")</td>
                                                            </tr>
                                                        }*@
                                                    else if (item.PositionItemID == 21)
                                                    {
                                                        <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                            <td style="border:1px solid">@item.PositionItems.ItemName</td>
                                                            <td style="border:1px solid;"><span style="color:red">@(item.PositionOptionID!=null?item.Value+" Saat":"0 Saat")</span></td>
                                                            <td style="border:1px solid">@item.CostPrice.Value.ToString("N2")</td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                            <td style="border:1px solid">@item.PositionItems.ItemName</td>
                                                            <td style="border:1px solid;"><span style="color:red">@(item.Value!=null?item.Value.Value.ToString("N2"):"-")</span> </td>
                                                            <td style="border:1px solid">@item.CostPrice.Value.ToString("N2")</td>
                                                        </tr>
                                                    }
                                                }
                                                //else
                                                //{



                                                @*<li class="list-group-item"><b>@(item.PositionItems.ItemName)  </b> : <font color="blue"><b>@(item.CostPrice.Value.ToString("N2")) ₺</b></font></li>*@
                                                // }

                                            }

                                            @foreach (var item in Model.offerpositions.Where(i => i.PositionID == row.PositionID && i.PositionItemID != 1).ToList())
                                            {
                                                if (item.PositionItemID == 12 || item.PositionItemID == 13 || item.PositionItemID == 14 || item.PositionItemID == 15 || item.PositionItemID == 16)
                                                {

                                                    <tr style="border:1px solid;background-color:#ffffff;">
                                                        <td style="border-right:1px solid"><i>@item.PositionItems.ItemName</i></td>
                                                        <td style="border-right:1px solid"><i></i><span style="color:red">@(item.Value!=null?item.Value.Value.ToString("N2"):"-")</span> </td>
                                                        <td><i>@item.CostPrice.Value.ToString("N2")</i></td>

                                                    </tr>


                                                }
                                            }
                                        </tbody>

                                    </table>


         
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>
<hr />





