﻿@using OykaCrm.Models
@model OfferControlModel


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <div class="col-md-8 text-left">
                <strong class="card-title">Pozisyon Listesi</strong>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-success btn-sm" onclick="addPosition()"> <i class="fa fa-plus-square fa-2x"></i> </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-3">
                <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                    <thead>
                        <tr>
                            @*<th scope="col">#</th>*@
                            <th scope="col">ID</th>
                            <th scope="col">Pozisyon Adı</th>
                            <th scope="col">Durum</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.positions != null && Model.positions.Count > 0)
                        {
                            foreach (var item in Model.positions)
                            {
                                <tr>
                                    <th scope="row">@item.ID</th>
                                    <td>@item.PositionName</td>
                                    <td>@item.PositionStatus.StatusName</td>
                                    <td>
                                        <a onclick="AddPositionsOffer(@item.ID,@Model.singleoffer.ID)"><i class="fa fa-plus-square fa-1x"></i> &nbsp; Ekle</a>
                                    </td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@*<script src="~/vendors/jquery/dist/jquery.min.js"></script>*@
<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/vendors/jszip/dist/jszip.min.js"></script>
<script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>

