﻿@using OykaCrm.Models
@model OfferControlModel
<table class="table table-bordered" style="border:1px solid #000">
    <thead style="background-color:#4b85d9;color:white;border-bottom:1px solid #ff0000">
        <tr>
            <td>Ücret Detayı</td>
            <td>Değer</td>


        </tr>

    </thead>
    <tbody>
        <input type="hidden" id="rowID" value="" />
        @if (Model.offerpositions != null && Model.offerpositions.Count() > 0)
        {
            foreach (var item in Model.offerpositions)
            {
                <tr style="background-color:#dedddc;color:#5e5854;border-top:#ffffff !important">





                    @if (item.PositionItemID == 4)
                    {
                        <td>
                            @item.PositionItems.ItemName (Gün)
                        </td>
                        if (item.Value.ToString() == "14")
                        {
                            <td>
                                <div id='yillikizindiv' class='list-group-item'>
                                <input type='radio' class='ml-3' name='yillikIzin' value='14' checked />14 Günlük
                                <input type='radio' name='yillikIzin' class='ml-3' value='20' />20 Günlük 
                                <input type='radio' name='yillikIzin' class='ml-3' value='26' />26 Günlük 
                                <input type='radio' name='yillikIzin' class='ml-3' value='yillikIzinCancel' />İptal
                                </div>
                            </td>

                        }
                        else if (item.Value.ToString() == "20")
                        {
                            <td>
                                <div id='yillikizindiv' class='list-group-item'>
                                    <input type='radio' class='ml-3' name='yillikIzin' checked value='14' />14 Günlük <input type='radio' name='yillikIzin' class='ml-3' checked value='20' />20 Günlük <input type='radio' name='yillikIzin' class='ml-3' value='26' />26 Günlük
                                    <input type='radio' name='yillikIzin' class='ml-3' value='yillikIzinCancel' />İptal
                                </div>
                            </td>
                        }
                        else if (item.Value.ToString() == "26")
                        {
                            <td>
                                <div id='yillikizindiv' class='list-group-item'>
                                    <input type='radio' class='ml-3' name='yillikIzin' checked value='14' />14 Günlük <input type='radio' name='yillikIzin' class='ml-3' value='20' />20 Günlük <input type='radio' name='yillikIzin' class='ml-3' value='26' checked />26 Günlük
                                    <input type='radio' name='yillikIzin' class='ml-3' value='yillikIzinCancel' />İptal
                                </div>
                            </td>
                        }
                        else
                        {

                            <td>
                                <div id='yillikizindiv' class='list-group-item'>
                                    <input type='radio' class='ml-3' name='yillikIzin' value='14' />14 Günlük
                                    <input type='radio' name='yillikIzin' class='ml-3' value='20' />20 Günlük
                                    <input type='radio' name='yillikIzin' class='ml-3' value='26' />26 Günlük
                                    <input type='radio' name='yillikIzin' class='ml-3' value='yillikIzinCancel' />İptal
                                </div>
                            </td>
                        }
                    }

                    else if (item.PositionItemID == 9) //Yol gideri
                    {
                        <td>
                            @item.PositionItems.ItemName (₺)
                        </td>
                        <td>
                            @if (Model.PositonsOptions.Any(t => t.ID == item.PositionOptionID))
                            {
                                if (Model.PositonsOptions.FirstOrDefault(t => t.ID == item.PositionOptionID).OptionName == "bordro")
                                {
                                    <label id='lbl1'>
                                        <input type='radio' name='bordro' checked value='bordro'>Bordro
                                    </label>
                                    <label id='lbl1'>
                                        <input type='radio' name='bordro' value='kart'>Kart
                                    </label>

                                }
                                else
                                {
                                    <label id='lbl1'>
                                        <input type='radio' name='bordro' value='bordro'>Bordro Var
                                    </label>
                                    <label id='lbl1'>
                                        <input type='radio' name='bordro' checked value='kart'>Kart
                                    </label>
                                }

                            }
                            else
                            {

                                <label id='lbl1'>
                                    <input type='radio' name='bordro' value='bordro'>Bordro
                                </label>
                                <label id='lbl1'>
                                    <input type='radio' name='bordro' value='kart'>Kart
                                </label>

                            }
                            <input id="yoltxt" class='form-control money' value="@item.Value.Value.ToString("N2")" type="text" />

                        </td>
                    }
                    else if (item.PositionItemID == 1)
                    {
                        <td>
                            @item.PositionItems.ItemName (₺)
                        </td>
                        <td><input id="@("txt"+item.PositionItemID)" type="text" value="@item.UnitPrice.Value.ToString("N2")" readonly class="form-control" /></td>
                    }
                    else if (item.PositionItemID == 10)
                    {
                        <td>
                            @item.PositionItems.ItemName (₺)
                        </td>
                        <td>
                            @if ((Model.PositonsOptions.Any(t => t.ID == item.PositionOptionID)))
                            {
                                if (Model.PositonsOptions.FirstOrDefault(t => t.ID == item.PositionOptionID).OptionName == "bordro")
                                {
                                    <div id='yemekdiv' class='list-group-item'>  <span id='baslik' style='font - size: 14px; margin - left: 20px; '></span> <label id='lbl1'><input type='radio' name='radioyemek' checked value='bordro'>Bordro</label> <label id='lbl2'><input type='radio' name='radioyemek' value='kart'>Kart</label> <input id='txtyemek' class='form-control money' value="@item.Value.Value.ToString("N2")" type='text' /></div>
                                }
                                else if (Model.PositonsOptions.FirstOrDefault(t => t.ID == item.PositionOptionID).OptionName == "kart")
                                {
                                    <div id='yemekdiv' class='list-group-item'>  <span id='baslik' style='font - size: 14px; margin - left: 20px; '></span> <label id='lbl1'><input type='radio' name='radioyemek' value='bordro'>Bordro</label> <label id='lbl2'><input type='radio' name='radioyemek' value='kart' checked>Kart</label> <input id='txtyemek' class='form-control money' type='text' value="@item.Value.Value.ToString("N2")" /></div>
                                }
                                else
                                {
                                    <div id='yemekdiv' class='list-group-item'>  <span id='baslik' style='font - size: 14px; margin - left: 20px; '></span> <label id='lbl1'><input type='radio' name='radioyemek' value='bordro'>Bordro</label> <label id='lbl2'><input type='radio' name='radioyemek' value='kart'>Kart</label> <input id='txtyemek' class='form-control money' value="@item.Value.Value.ToString("N2")" type='text' /></div>
                                }
                            }
                            else
                            {
                                <div id='yemekdiv' class='list-group-item'>  <span id='baslik' style='font - size: 14px; margin - left: 20px; '></span> <label id='lbl1'><input type='radio' name='radioyemek' value='bordro'>Bordro</label> <label id='lbl2'><input type='radio' name='radioyemek' value='kart'>Kart</label> <input id='txtyemek' class='form-control money' value="@item.Value.Value.ToString("N2")" type='text' /></div>
                            }


                        </td>
                    }
                    else if (item.PositionItemID == 6) //ihbar tazminatı hesaplanırken txt den veri alınmayacak.
                    {
                        <td>
                            @item.PositionItems.ItemName (₺)
                        </td>
                        if (item.PositionOptionID != null) // Eğer positionItemId null değilse bu personlein ihbar tazminatı hesaplanmış demektir.
                        {

                            <td>
                                <div id='ihbardiv' class='list-group-item'>
                                    <input type='radio' name='ihbarTazminati' checked value='ihbarHesapla'>Hesapla
                                    <input type='radio' name='ihbarTazminati'  value='ihbarHesaplaCancel'>İptal
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div id='ihbardiv' class='list-group-item'>
                                    <input type='radio' name='ihbarTazminati' value='ihbarHesapla'>Hesapla
                                    <input type='radio' name='ihbarTazminati' value='ihbarHesaplaCancel'>İptal
                                </div>
                            </td>
                        }
                    }
                    else if (item.PositionItemID == 5)
                    {
                        <td>
                            Kıdem Tazminat Tavanı (₺)
                        </td>
                        if (item.Value == 0)
                        {

                            <td><input id="@("txt"+item.PositionItemID)" type="text" value="@(Model.KidemTazValue!=null?Model.KidemTazValue.Value.ToString("N2"):"0,00")))" class="form-control money" /></td>
                        }
                        else
                        {

                            <td><input id="@("txt"+item.PositionItemID)" type="text" value="@(item.Value!=null?item.Value.Value.ToString("N2"):"0,00")))" class="form-control money" /></td>
                        }
                    }
                    else if (item.PositionItemID == 7) //Bayram Mesaisi
                    {
                        <td>
                            @item.PositionItems.ItemName (Gün)
                        </td>
                        <td><input id="@("txt"+item.PositionItemID)" type="text" value="@item.Value.Value.ToString("N2")" class="form-control money" /></td>
                    }
                    else if (item.PositionItemID == 15)//Gelir Vergisi oranı
                    {
                        <td>
                            @item.PositionItems.ItemName @*(Oran)*@
                        </td>
                        <td><input id="@("txt"+item.PositionItemID)" type="text" value="@item.Value.Value.ToString()" class="form-control" /></td>
                    }
                    else if (item.PositionItemID == 21) //Fazla Mesai
                    {
                        <td>
                            @item.PositionItems.ItemName (Saat)
                        </td>
                        if ((Model.PositonsOptions.Any(t => t.ID == item.PositionOptionID))) //Eğer fazla mesai option girildiyse onu seçili getiriyorum.
                        {
                            if (Model.PositonsOptions.FirstOrDefault(t => t.ID == item.PositionOptionID).OptionName == "1,5")
                            {
                                <td>
                                    <div id='fazlaMesaidiv' class='list-group-item'>
                                        <label>Mesai Çarpanı:</label>
                                        <span id='baslik' style='font-size: 14px; margin-left: 20px;'></span> <input type='radio' name='fazlaMesair' checked value='1,5'>1,5 <input type='radio' name='fazlaMesair' style="margin-left:25px" value='2'>2
                                        <input id="@("txt"+item.PositionItemID)" type="text" value="@item.Value.Value.ToString("N2")" class="form-control money" />
                                    </div>
                                </td>
                            }
                            else if (Model.PositonsOptions.FirstOrDefault(t => t.ID == item.PositionOptionID).OptionName == "2")
                            {
                                <td>
                                    <div id='fazlaMesaidiv' class='list-group-item'>
                                        <label>Mesai Çarpanı:</label>
                                        <span id='baslik' style='font-size: 14px; margin-left: 20px;'></span> <input type='radio' name='fazlaMesair' value='1,5'>1,5 <input type='radio' name='fazlaMesair' style="margin-left:25px" checked value='2'>2
                                        <input id="@("txt"+item.PositionItemID)" type="text" value="@item.Value.Value.ToString("N2")" class="form-control money" />
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div id='fazlaMesaidiv' class='list-group-item'>
                                        <label>Mesai Çarpanı</label>
                                        <span id='baslik' style='font-size: 14px; margin-left: 20px;'></span> <input type='radio' name='fazlaMesair' value='1,5'>1,5 <input type='radio' name='fazlaMesair' style="margin-left:25px" value='2'>2
                                        <input id="@("txt"+item.PositionItemID)" type="text" value="@item.Value.Value.ToString("N2")" class="form-control money" />
                                    </div>
                                </td>
                            }

                        }
                        else
                        {
                            <td>
                                <div id='fazlaMesaidiv' class='list-group-item'>
                                    <label>Mesai Çarpanı:</label>
                                    <span id='baslik' style='font-size: 14px; margin-left: 20px;'></span>   <input type='radio' name='fazlaMesair' value='1,5'>1,5 <input type='radio' name='fazlaMesair' style="margin-left:25px" value='2'>2
                                    <input id="@("txt"+item.PositionItemID)" type="text" value="@item.Value.Value.ToString("N2")" class="form-control money" />
                                </div>
                            </td>
                        }


                    }
                    else
                    {
                        <td>
                            @item.PositionItems.ItemName (₺)
                        </td>
                        <td><input id="@("txt"+item.PositionItemID)" type="text" value="@item.Value.Value.ToString("N2")" class="form-control money" /></td>
                    }


                </tr>
            }
        }


        <tr></tr>
    </tbody>
</table>
