﻿@using OykaCrm.Models
@model OfferControlModel


@if (Model.singleoffer != null)
{
    if (Model.singleoffer.IsOneTime == true)
    {

        <div class="card-body">

            <input type="hidden" id="reOfferID" value="@Model.singleoffer.ID" />
            <div class="col-sm-12 col-md-12">
                <div class="col-md-12" style="font-size:large">
                    <p><i class="fa fa-building-o"> &nbsp;</i> <strong>Müşteri :  </strong><a href="#"><b>@Model.singleoffer.Customers.CustomerFullName</b></a></p>
                </div>

                <div class="col-md-12" style="font-size:large">
                    <p style="margin-top:3px;">
                        <i class="fa fa-building-o"> &nbsp;</i>  <strong>Proje:@Model.singleoffer.Projects.ProjectName</strong>
                    </p>
                </div>


                <div class="col-md-10">
                    <label for="text-input" class="form-control-label"><i class="fa fa-file-o"></i> &nbsp;Teklif Adı: </label>
                    <input value="" id="oppName" type="text" class="form-control" />
                </div>

            </div>

            <br />

            <div class="col-md-12 mt-2">

                <div class="col-md-5">

                    <label for="text-input" class="form-control-label"><i class="fa fa-calendar"></i> Düzenleme Tarihi:</label>
                    <input type="date" class="form-control" name="DateBegin" maxlength="10" autocomplete="off" id="DateBegin" required>
                </div>
                <div class="col-md-5">

                    <label for="text-input" class="form-control-label"><i class="fa fa-bell"></i> Bitiş Tarihi:</label>
                    <input type="date" class="form-control" name="DateEnd" maxlength="10" autocomplete="off" id="DateEnd" required>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="col-md-12">
                    <button class="btn btn-success" onclick="ReOfferConfirm()">Teklifi Yenile</button>
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="card-body">

            <input type="hidden" id="reOfferID" value="@Model.singleoffer.ID" />
            <div class="col-sm-12 col-md-12">
                <div class="col-md-12" style="font-size:large">
                    <p><i class="fa fa-building-o"> &nbsp;</i> <strong>Müşteri :  </strong><a href="#"><b>@Model.singleoffer.Customers.CustomerFullName</b></a></p>
                </div>

                <div class="col-md-12" style="font-size:large">
                    <p style="margin-top:3px;">
                        <i class="fa fa-building-o"> &nbsp;</i>  <strong>Proje:@Model.singleoffer.Projects.ProjectName</strong>
                    </p>
                </div>


                <div class="col-md-8">
                    <label for="text-input" class="form-control-label"><i class="fa fa-file-o"></i> &nbsp;Teklif Adı: </label>
                    <input value="" id="oppName" type="text" class="form-control" />
                </div>

            </div>

            <br />

            <div class="col-md-12 mt-2">

                <div class="col-md-8">

                    <label for="text-input" class="form-control-label"><i class="fa fa-calendar"></i> Düzenleme Tarihi:</label>
                    <input type="date" class="form-control" name="DateBegin" maxlength="10" autocomplete="off" id="DateBegin" required>
                </div>
                @*<div class="col-md-3">

                        <label for="text-input" class="form-control-label"><i class="fa fa-bell"></i> Bitiş Tarihi:</label>
                        <input type="date" class="form-control" name="DateEnd" maxlength="10" autocomplete="off" id="DateEnd" required>
                    </div>*@
            </div>
            <div class="col-md-12 mt-3">
                <div class="col-md-12">
                    <button class="btn btn-success" onclick="ReOfferConfirm()">Teklifi Yenile</button>
                </div>
            </div>

        </div>

    }


}
