﻿@using OykaCrm.Models
@model OfferControlModel

@if (Model.productlist.Count > 0 && Model.productlist != null)
{
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Makina/Araç/Demirbaş Ürün Sonuçları</strong>
            </div>
            <div class="card-body">


                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ürün Kodu</th>
                            <th scope="col">Ürün Adı</th>
                            <th scope="col">Miktar</th>
                            <th scope="col">İşlem</th>
                        </tr>
                    </thead>
                    <tbody>




                        @foreach (var item in Model.productlist)
                        {
                            <tr>
                                <th scope="row">@item.ID</th>
                                <td>@item.ProductCode</td>
                                <td>@item.ProductName</td>
                                <td><input type="number" class="form-control" value="1" id="prodquantity" /></td>
                                <td><a href="#" onclick="AddProduct(@item.ID)" ; Mesaj();"><i class="fa fa-plus-square fa-1x"></i>Ekle</a></td>
                            </tr>


                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}
else
{
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Yeni Malzeme Ekleme</strong>
            </div>
            <div class="card-body">

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class="form-control-label">Malzeme Adı:</label>
                    </div>
                    <div class="col-8 col-md-5">
                        <input type="text" name="NewProductName" id="NewProductName" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class="form-control-label">Marka:</label>
                    </div>
                    <div class="col-8 col-md-5">
                        <input type="text" name="EkMarka" id="NewProductBrand" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class="form-control-label">Model:</label>
                    </div>
                    <div class="col-8 col-md-5">
                        <input type="text" name="EkModel" id="NewProductModel" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class="form-control-label">Açıklama:</label>
                    </div>
                    <div class="col-8 col-md-5">
                        <textarea class="form-control" name="description" id="NewProductDescription" cols="4"></textarea>

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <button type="button" onclick="RequestNewProduct()" class="btn btn-success">Kaydet</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
