﻿@using OykaCrm.Models;
@model  OfferControlModel

<div class="table-responsive">
    <table class="table multi-fields">
        <thead class="thead-dark">

            <tr>
                <th>Pozisyon Adı</th>
                <th>Adet</th>
                <th>Mesai Saati</th>
                <th>Mesai Ücreti</th>
                <th>İşverene Maliyeti</th>
                <th></th>

                <th>#</th>
            </tr>
        </thead>
        <tbody class="table-product-main multi-field">
            @if (Model.IsOneTimeOfferPosList != null && Model.IsOneTimeOfferPosList.Count > 0)
            {

                foreach (var row in Model.IsOneTimeOfferPosList.Where(i => i.PositionItemID == 2).ToList())
                {
                    <tr>
                        <td>
                            <input id="RowID" type="hidden" value="@row.ID" />
                            <input id="PositionsID" type="hidden" value="@row.ID" />
                            <input type="text" id="@("PositionsName"+row.ID)" name="pozisyonadi" class="form-control" autocomplete="off" value="@row.Positions.PositionName" @*onchange="UpdateOfferRow(@row.ID)"*@ readonly  data-toggle="tooltip" data-placement="top" title="@row.Positions.PositionName" >

                        </td>

                        <td width="105"><input type="number" class="form-control" value="@row.Quantity" onchange="CalculateIsOneTimeOfferPosition(@row.ID)" id=@("positionsQuantity"+row.ID) /></td>
                        <td width="105">   <input type="text" name="brutucret" onchange="CalculateIsOneTimeOfferPosition(@row.ID)" id="@("workingHour"+row.ID)" class="form-control money" value="@(row.WorkingHour.Value.ToString("N2") ?? "")"></td>
                        <td width="160">
                            <input type="text" name="brutucret" id="@("overtimePay"+row.ID)" class="form-control money" onchange="CalculateIsOneTimeOfferPosition(@row.ID)" value="@(row.OvertimePay.Value.ToString("N2"))">
                        </td>
                        @*<td width="160">
                                <input type="text" name="brutucret" id="@("TotalPrice"+row.ID)" class="form-control" value="@(row.CostPrice?.ToString("N2") ?? "")">
                            </td>*@
                        <td>
                            <input type="text" name="brutucret" id="@("overtimePay"+row.ID)" class="form-control money" readonly value="@(row.Price.Value.ToString("N2"))">
                        </td>
                        <td>
                            <a class="btn btn-primary" data-toggle="collapse" href="@("#collapseExample"+row.ID)" role="button" aria-expanded="false" aria-controls="@("collapseExample"+row.ID)">
                                Ücret Detayları
                            </a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-danger btn-xs" onclick="RemoveRowPositions(@row.ID)"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">

                            <div class="collapse" id="@("collapseExample"+row.ID)">
                                <div class="card card-body">
                                    <table class="table" style="border:1px solid;">
                                        <thead>
                                            <tr>

                                                <th colspan="4" style="color:red;border:1px solid; border-color:black">SGK Çalışan Türü: @row.Positions.PositionStatus.StatusName</th>
                                            </tr>
                                            <tr style="border:1px solid">
                                                <th style="border-right:1px solid;border-bottom:1px solid;">Maliyet Konusu</th>
                                                <th style="border-right:1px solid;border-bottom:1px solid;">Tutar (TL)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.IsOneTimeOfferPosList.Where(i => i.PositionID == row.PositionID).ToList())
                                            {
                                                if (item.PositionItemID != 9 && item.PositionItemID != 10)
                                                {

                                                    <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                        <td style="border:1px solid">@(item.IsOneTimePositionItems.ItemName)</td>

                                                        <td style="border:1px solid">@(item.Price.Value.ToString("N2"))</td>
                                                    </tr>


                                                    @*<li class="list-group-item">@(item.IsOneTimePositionItems.ItemName)  : <font color="blue"><b>@(item.Price.Value.ToString("N2")) ₺</b></font></li>*@

                                                }

                                            }
                                        </tbody>

                                    </table>

                                   
                                </div>
                            </div>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>
<hr />
@*<div class="row">

        <div class="col-lg-3">
            <label>Karlılık Oranı % (Yüzde)</label>
            <input type="number" placeholder="Karlılık Oranı" id="profitRateHumanResources" onchange="AddProfitRateHumanResources(@Model.singleoffer.ID)" name="unitprice" class="form-control money" value="@(Model.singleoffer!=null?Model.singleoffer.BrutToplamProfitRate.ToString():"")">

        </div>
        <div class="col-lg-9">
            asasd
        </div>
    </div>*@

