﻿@using OykaCrm.Models
@model OfferContentModel

<div class="row">

    <div class="col-lg-12">
        <textarea id="editor1" class="form-control">@Model.singletemplate.TemplateContent</textarea>
    </div>
</div>

<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckeditor/styles.js"></script>
<script type="text/javascript">
    var editor = CKEDITOR.instances['editor1'];
    if (editor) { editor.destroy(true); }
    CKEDITOR.replace('editor1', {
        enterMode: CKEDITOR.ENTER_BR,
    });
</script>