﻿
@using OykaCrm.Models
@model OfferControlModel

<div class="col-md-12">
    <table id="noteTable" class="table table-bordered">
        <thead>
            <tr>
                <th>Notlar</th>
                <th>İşlemler</th>

            </tr>
        </thead>
        <tbody>

            @if (Model.Notes != null && Model.Notes.Count() > 0)
            {
                foreach (var item in Model.Notes)
                {
                    var x = item.Note.Split(' ');

                    <tr>
                        @if (@x[0].Count() >= 5)
                        {
                            <td>@x[0].Substring(0, 3) ...</td>
                        }
                        else
                        {
                            <td>@x[0] ...</td>
                        }

                        <td>
                            <a href="#" class="btn btn-danger btn-xs deleteNote" data-id="@item.Id">Sil</a>
                            <a href="#" class="btn btn-primary btn-xs preview" data-id="@item.Id">Görüntüle</a>
                        </td>

                    </tr>
                }

            }

        </tbody>
    </table>
</div>


<script>
    $(".preview").click(function () {
        $('#notePreviewModal').modal('show');

        var id = $(this).attr("data-id");

        $.ajax({
            url: '/Offer/PreviewNote/' + id,
            type: 'POST',
            dataType: 'json',
            success: function (result) {
                $('#previewNote').text(result.Note);
            },
            error: function () {

            }
        });


    });

    //Not sil
    $(".deleteNote").click(function () {
        var id = $(this).attr("data-id");
        var closestTR = $(this).closest("tr");

        bootbox.confirm({
            message: "Notu silmek istediğinizden emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    $.ajax({
                        url: '/Offer/DeleteNote/' + id,
                        type: 'POST',
                        success: function (result) {
                            if (result == true) {
                                closestTR.fadeOut(1000, function () {
                                    closestTR.remove();
                                    bootbox.alert({
                                        size: "small",
                                        message: "Not silindi",
                                        buttons: {
                                            ok: {
                                                label: 'Tamam',
                                                className: 'btn-success'
                                            },
                                        },
                                        callback: function () { /* your callback code */ }
                                    })
                                });
                            }

                        }
                    });
                }
            }
        });

    });

</script>