﻿@model OykaCrm.Models.HRCalculateProfitModel
<div class="row">

    <div class="col-md-4">
        <label style="font-weight:700;">İşletme Gideri (%)</label>
        <input type="text" class="form-control money" value="@(Model.SingleOfferHistory.ManagementExpenseRateHR != null ? Model.SingleOfferHistory.ManagementExpenseRateHR.Value.ToString("N2") : "")" id="" disabled />

    </div>

    <div class="col-md-4">
        <label style="font-weight:700;">Karlılık Oranı (%)</label>
        <input type="text" class="form-control money" id="" disabled value="@(Model.SingleOfferHistory.BrutToplamProfitRate != null ? Model.SingleOfferHistory.BrutToplamProfitRate.Value.ToString("N2") : "")" />
    </div>
    <div class="col-md-4 mt-5">
        <label style="font-weight:700;" class="col-md-9">Tümünü Seç</label>

        <input type="checkbox" class="form-check-input col-md-3" id="select_all" disabled value="">

    </div>





</div>
<div class="row mt-3">
    @{ var counter = 0;}
    @{ var counter2 = 0;}
    @if (Model.PositionItemList != null && Model.PositionItemList.Count() > 0)
    {
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead style="background-color:#4b85d9;color:white;border-bottom:1px solid #ff0000">
                    <tr>
                        <td>Karlılık Kalemi</td>
                        <td>Seç</td>


                    </tr>

                </thead>
                <tbody>

                    @if (Model.PositionItemList != null && Model.PositionItemList.Count() > 0) // Hesaplama işlemlerinden sonra offerPositionID gönderilecek
                    {

                        foreach (var item in Model.PositionItemList)
                        {
                            counter += 1;
                            if (counter % 2 == 1)
                            {


                                <tr style="background-color:#dedddc;color:#5e5854;border-top:#ffffff !important; line-height:8px;">

                                    <td>@item.ItemName</td>
                                    <td>
                                        @if (Model.SelectedHrProfitItemListHistory != null && Model.SelectedHrProfitItemListHistory.Count() > 0)
                                        {
                                            if (Model.SelectedHrProfitItemListHistory.Any(t => t.PositionItemID == item.ID))
                                            {
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" checked disabled id="@("chx"+item.ID)" value="@item.ID">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" disabled id="@("chx"+item.ID)" value="@item.ID">
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" disabled id="@("chx"+item.ID)" value="@item.ID">
                                            </div>
                                        }
                                    </td>


                                </tr>
                            }
                        }
                    }

                    <tr></tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-6">

            <table class="table table-bordered">
                <thead style="background-color:#4b85d9;color:white;border-bottom:1px solid #ff0000">
                    <tr>
                        <td>Karlılık Kalemi</td>
                        <td>Seç</td>


                    </tr>

                </thead>
                <tbody>
                    @if (Model.PositionItemList != null && Model.PositionItemList.Count() > 0) // Hesaplama işlemlerinden sonra offerPositionID gönderilecek
                    {

                        foreach (var item in Model.PositionItemList)
                        {
                            counter2 += 1;
                            if (counter2 % 2 == 0)
                            {


                                <tr style="background-color:#dedddc;color:#5e5854;border-top:#ffffff !important; line-height:8px;">

                                    <td>@item.ItemName</td>
                                    <td>
                                        @if (Model.SelectedHrProfitItemListHistory != null && Model.SelectedHrProfitItemListHistory.Count() > 0)
                                        {
                                            if (Model.SelectedHrProfitItemListHistory.Any(t => t.PositionItemID == item.ID))
                                            {
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" disabled checked id="@("chx"+item.ID)" value="@item.ID">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" disabled id="@("chx"+item.ID)" value="@item.ID">
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" disabled id="@("chx"+item.ID)" value="@item.ID">
                                            </div>
                                        }

                                    </td>

                                    @*<td><input type="text" id="@("txt"+item)"</td>*@

                                </tr>
                            }
                        }
                    }

                    <tr></tr>
                </tbody>
            </table>

        </div>
    }





</div>

<div class="col-md-12">
    <div class="pull-right">
        <label>Toplam Kar TL</label>
        <input type="text" class="form-control" value="@(Model.SingleOfferHistory.TotalHrProfit!=null?Model.SingleOfferHistory.TotalHrProfit.Value.ToString("N2"):"")" readonly />

    </div>
</div>


