﻿@model  OykaCrm.Models.ProductDescriptionModel
@if (Model.Product != null && string.IsNullOrEmpty(Model.Product.Description))
{
    <div class="col-md-12">
        <label>Açıklama</label> <br />
        @if (Model.Offer.StatusLevel != 8 && Model.Offer.StatusLevel != 9 && Model.Offer.StatusLevel != 10)
        {


<textarea class="form-control" id="ProductDesc" rows="6"></textarea>
        }
        else
        {
            <textarea class="form-control" id="ProductDesc" rows="6" disabled></textarea>
        }
        <div class="row mt-2">
            <div class="col-md-9"></div>
            <div class="col-md-2 ml-2">
                @if (Model.Offer.StatusLevel != 8 && Model.Offer.StatusLevel != 9 && Model.Offer.StatusLevel != 10)
                {
                    <button class="btn btn-success" onclick="AddProductDescription(@Model.Product.ID)">Kaydet</button>

                }
            </div>

        </div>
    </div>
}
else if (Model.Product != null && !string.IsNullOrEmpty(Model.Product.Description))
{
    <div class="col-md-12">
        <label>Açıklama</label> <br />
        @if (Model.Offer.StatusLevel != 8 && Model.Offer.StatusLevel != 9 && Model.Offer.StatusLevel != 10)
        {
            <textarea class="form-control" id="ProductDesc" rows="6">@Model.Product.Description</textarea>
        }
        else
        {
            <textarea class="form-control" id="ProductDesc" rows="6" disabled>@Model.Product.Description</textarea>
        }
        <div class="row mt-2">
            <div class="col-md-7"></div>
            @if (Model.Offer.StatusLevel != 8 && Model.Offer.StatusLevel != 9 && Model.Offer.StatusLevel != 10)
            {
                <div class="col-md-2 mr-2 ml-4">
                    <button class="btn btn-success" onclick="UpdateProductDescription(@Model.Product.ID)">Güncelle</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger" onclick="DeleteProductDescription(@Model.Product.ID)">Sil</button>
                </div>
            }
        </div>
    </div>
}
else if (Model.Product == null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}


<script type="text/javascript">

    function AddProductDescription(rowid) {
        var desc = $("#ProductDesc").val();
        $.ajax({
            method: "GET",
            url: "/Offer/AddProductDescription",
            data: { rowid: rowid, description: desc },
            beforeSend: function () {
                /*  $.blockUI({ message: $('#domMessage') });*/
            }
        }).done(function (d) {
            if (d.result == "Success") {
                bootbox.alert({
                    size: "small",
                    message: d.message,
                    buttons: {
                        ok: {
                            label: 'Tamam',
                            className: 'btn-success'
                        },
                    },
                    callback: function () { $("#DescriptionModal").modal("hide"); RefreshOfferProducts(rowid); }
                });
            } else {
                bootbox.alert({
                    size: "small",
                    message: d.message,
                    buttons: {
                        ok: {
                            label: 'Tamam',
                            className: 'btn-success'
                        },
                    },
                    callback: function () { }
                });
            }



        }).always(function () {

            //$.unblockUI();
        });


    }

    function UpdateProductDescription(rowid) {
        var desc = $("#ProductDesc").val();
        $.ajax({
            method: "GET",
            url: "/Offer/UpdateProductDescription",
            data: { rowid: rowid, description: desc },
            beforeSend: function () {
                /* $.blockUI({ message: $('#domMessage') });*/
            }
        }).done(function (d) {
            if (d.result == "Success") {
                bootbox.alert({
                    size: "small",
                    message: d.message,
                    buttons: {
                        ok: {
                            label: 'Tamam',
                            className: 'btn-success'
                        },
                    },
                    callback: function () { $("#DescriptionModal").modal("hide"); RefreshOfferProducts(rowid); }
                });
            } else {
                bootbox.alert({
                    size: "small",
                    message: d.message,
                    buttons: {
                        ok: {
                            label: 'Tamam',
                            className: 'btn-success'
                        },
                    },
                    callback: function () { }
                });
            }



        }).always(function () {

            //$.unblockUI();
        });


    }

    function DeleteProductDescription(rowid) {


        bootbox.confirm({
            size: "small",
            message: "Silmek istediğinizden emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    $.ajax({
                        method: "GET",
                        url: "/Offer/DeleteProductDescription",
                        data: { rowid: rowid },
                        beforeSend: function () {
                            //$.blockUI({ message: $('#domMessage') });
                        }
                    }).done(function (d) {
                        if (d.result == "Success") {
                            bootbox.alert({
                                size: "small",
                                message: d.message,
                                buttons: {
                                    ok: {
                                        label: 'Tamam',
                                        className: 'btn-success'
                                    },
                                },
                                callback: function () { $("#DescriptionModal").modal("hide"); RefreshOfferProducts(rowid); }
                            });

                        } else {
                            bootbox.alert({
                                size: "small",
                                message: d.message,
                                buttons: {
                                    ok: {
                                        label: 'Tamam',
                                        className: 'btn-success'
                                    },
                                },
                                callback: function () { }
                            });
                        }



                    }).always(function () {

                        //$.unblockUI();
                    });
                }
            }
        });






    }



    function RefreshOfferProducts(rowid) {

        $.ajax({
            method: "GET",
            url: "/Offer/RefreshOfferProducts",
            data: { rowid: rowid },
            traditional: true,
            beforeSend: function () {
                $.blockUI({ message: $('#domMessage') });
            }
        }).done(function (d) {

            $("#nav-home").html(d);

        }).always(function () {
            $.unblockUI();
        });


    }





</script>
