﻿
@using OykaCrm.Models;
@model  OfferControlModel

@if (Model.singleoffer != null)
{

    <input type="hidden" id="offerID" value="@Model.singleoffer.ID" />
}

<div class="table-responsive mt-4 container-fluid">

    <table class="table multi-fields">
        <thead class="thead-dark">

            <tr>
                <th>AÇIKLAMA</th>
                <th>TUTAR</th>

            </tr>
        </thead>
        <tbody class="table-product-main multi-field">
            @if (Model.IsOneTimeOfferOtherExpenseItems != null && Model.IsOneTimeOfferOtherExpenseItems.Count() > 0)
            {
                foreach (var item in Model.IsOneTimeOfferOtherExpenseItems)
                {
                    <tr style="background-color:#dedddc;color:#5e5854;border-top:#ffffff !important">

                        @if (item.ID == 1)
                        {
                            <td> 
                                @item.ItemName (₺)
                            </td>
                            <td width="150" style="float:left">
                                @if (Model.IsOneTimeOfferOtherExpenseList.FirstOrDefault(t => t.OtherExpenseItemID == 1) != null)
                                {


                                    <input id="@("ttt"+item.ID)" type="text" value="@Model.IsOneTimeOfferOtherExpenseList.FirstOrDefault(t=>t.OtherExpenseItemID==1).Price.Value.ToString("N2")" onchange="CalculateIsOneTimeOtherExpense()" class="form-control money" />
                                }
                                else
                                {
                                    <input id="@("ttt"+item.ID)" type="text" value="0,00" onchange="CalculateIsOneTimeOtherExpense()" class="form-control money" />
                                }
                            </td>
                        }
                        else if (item.ID == 2)
                        {
                            <td>
                                @item.ItemName (₺)
                            </td>
                            <td width="150" style="float:left"> 
                                @if (Model.IsOneTimeOfferOtherExpenseList.FirstOrDefault(t => t.OtherExpenseItemID == 2) != null)
                                {


                                    <input id="@("ttt"+item.ID)" type="text" value="@Model.IsOneTimeOfferOtherExpenseList.FirstOrDefault(t=>t.OtherExpenseItemID==2).Price.Value.ToString("N2")" onchange="CalculateIsOneTimeOtherExpense()" class="form-control money" />
                                }
                                else
                                {
                                    <input id="@("ttt"+item.ID)" type="text" value="0,00" onchange="CalculateIsOneTimeOtherExpense()" class="form-control money" />
                                }
                            </td>
                        }



                    </tr>
                }
            }


        </tbody>
    </table>

</div>

