﻿@using OykaCrm.Models;
@model  OfferControlModel
<div class="table-responsive">

    <table class="table multi-fields">
        <thead class="thead-dark">

            <tr>
                <th>ADI</th>
                <th>MİKTARI</th>
                <th>BİRİM</th>
                <th>MALİYET FİYATI</th>
                <th>TEKLİF FİYATI</th>
                <th>#</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody class="table-product-main multi-field">
            @if (Model.offerproducts != null && Model.offerproducts.Count > 0)
            {

                foreach (var row in Model.offerproducts)
                {
            <tr>
                <td>
                    <input id="RowID" type="hidden" value="@row.ID" />
                    <input id="ProductID" type="hidden" value="@row.ProductID" />
                    <input type="text" id="@("ProductName"+row.ID)" name="urunadi" class="form-control" autocomplete="off" value="@(row.Products!=null?row.Products.ProductName:"-")" data-toggle="tooltip" data-placement="top" title="@(row.Products!=null?row.Products.ProductName:"-")" onchange="UpdateOfferRow(@row.ID)" readonly>
                </td>
                <td width="130">
                    <input type="number" placeholder="Miktar" name="urunmiktar" id="@("Quantity"+row.ID)" class="form-control" value="@(row.Quantity!=null?row.Quantity.Value.ToString().Replace(",","."):"1")" data-toggle="tooltip" data-placement="top" title="@(row.Quantity!=null?row.Quantity.Value.ToString().Replace(",","."):"1")" onchange=" UpdateOfferRow(@row.ID)">
                </td>
                <td width="140">
                    @*<select id="@("Unit"+row.ID)" name="unit" class="hesap form-control urunindirimsec">
                <option value="Adet" selected>Adet</option>
                <option value="Kg.">Kg.</option>
            </select>*@
                    <input type="text" id="@("Unit"+row.ID)" disabled name="unit" class="hesap form-control urunindirimsec" value="@(row.Unit!=null?row.Unit:"-")">
                </td>
                <td width="150">
                    <input type="text" placeholder="Birim Fiyat" disabled name="unitprice" id="@("UnitPrice"+row.ID)" class="form-control money" value="@(row.UnitPrice?.ToString("N2"))" data-toggle="tooltip" data-placement="top" title="@(row.UnitPrice?.ToString("N2"))">
                </td>
                <td width="150">
                    <input type="text" placeholder="Birim Fiyat" name="unitprice" id="@("CostPrice"+row.ID)" class="form-control money" value="@(row.CostPrice?.ToString("N2"))" onchange="UpdateOfferRow(@row.ID)" data-toggle="tooltip" data-placement="top" title="@(row.CostPrice?.ToString("N2"))">
                </td>
                @if (row.Description != null)
                {
                    <td>
                        <a href="#" class="btn btn-success btn-xs" onclick="ShowProductDescription(@row.ID)" data-toggle="tooltip" data-placement="top" title="Ürün Açıklaması Bulunmaktadır."><i class="fa fa-info-circle"></i></a>
                    </td>
 }
                else
                {
                    <td>
                        <a href="#" class="btn btn-info btn-xs" onclick="ShowProductDescription(@row.ID)" data-toggle="tooltip" data-placement="top" title="Ürün Açıklaması Bulunmamaktadır."><i class="fa fa-info-circle"></i></a>
                    </td>

                }


                <td>
                    <a href="#" class="btn btn-danger btn-xs" onclick="RemoveRow(@row.ID)"><i class="fa fa-trash-o"></i></a>
                </td>


            </tr>
                }
            }



        </tbody>
    </table>

</div>
<hr />
<div class="row">

    @*<div class="col-lg-3">
            <div class="row ml-3">
                <label>Karlılık Oranı % (Yüzde)</label>
                <input type="number" placeholder="Karlılık Oranı" name="unitprice" id="profitRate" class="form-control money" value="@(Model.singleoffer.AraToplamProfitRate!=null?Model.singleoffer.AraToplamProfitRate.Value.ToString():"")" onchange="AddProfitRate(@Model.singleoffer.ID)">
                //Burayı tekrar test et!!
            </div>
        </div>*@
    <div class="col-lg-9">

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.shiftbegintime').mask('00:00');
        $('.hour').mask('00:00');
        $('.hourfull').mask('00:00:00');
        $('.shiftdate').mask('0000-00-00');
        $('.money').mask("#.##0,00", { reverse: true });
        $('.money4').mask("#.##0,0000", { reverse: true });
    });

  
</script>


