﻿@using OykaCrm.Models;
@model  OfferControlModel
@if (Model.singleoffer.AraToplam != null)
{
    var date = new DateTime(2024, 01, 01);

    <section class="card">
        <div class="card-body">


            <div class="list-group">
                <b>
                    <a class="list-group-item" style="background-color:#282f39; color:white;">Maliyet Analizi</a>
                </b>
                <b>
                    <a class="list-group-item">
                        Malzeme/Stok Kalemleri <br />
                        @(Model.singleoffer.AraToplam != null ? Model.singleoffer.AraToplam.Value.ToString("N2") + "₺" : "-")
                    </a>

                </b>
                <b>
                    <a class="list-group-item">
                        Makina/Demirbaş Kalemleri (Yıllık)<br />

                        @(Model.singleoffer.TotalMachineExpense != null ? Model.singleoffer.TotalMachineExpense.Value.ToString("N2") + "₺" : "-")
                    </a>
                </b>
                <b>
                    <a class="list-group-item">
                        İnsan Kaynakları Maliyeti <br />


                        @(Model.singleoffer.BrutToplam != null ? Model.singleoffer.BrutToplam.Value.ToString("N2") + "₺" : "-")
                    </a>
                </b>
                <b>
                    <a class="list-group-item">
                        Diğer Maliyetler <br />
                        @(Model.singleoffer.TotalOtherExpense != null ? Model.singleoffer.TotalOtherExpense.Value.ToString("N2") + "₺" : "-")
                    </a>
                </b>
                @*<b>
            <a class="list-group-item"> Toplam Kâr Oranı <br /> @(Model.singleoffer!=null?Model.singleoffer.AraToplamProfitRate+Model.p)  </a>
        </b>*@

                <b>
                    <a class="list-group-item">
                        Aylık Amortisman Maliyeti <br />
                        @(Model.singleoffer.TotalMonthlyDepreciation != null ? Model.singleoffer.TotalMonthlyDepreciation.Value.ToString("N2") + "₺" : "0,00 ₺")
                    </a>
                </b>

                <b>
                    <a class="list-group-item">
                        Aylık Birim Fiyat <br />

                        @(Model.singleoffer.MonthlyUnitPrice != null ? Model.singleoffer.MonthlyUnitPrice.Value.ToString("N2") + "₺" : "0,00 ₺")
                    </a>
                </b>

                @*<b>
            <a class="list-group-item">
                @{
                    TimeSpan res = Model.singleoffer.DateEnd.Value - Model.singleoffer.DateBegin.Value;
                    var totalDay = res.TotalDays;
                    int totalMonth = Convert.ToInt32((totalDay / 30));
                }


                Aylık Tutar(@(totalMonth!=0?totalMonth.ToString():"0"))<br />

                @{
                    double? total;
                    if (totalMonth != 0)
                    {
                        // total = (Model.singleoffer.AraToplam + Model.singleoffer.BrutToplam+ Model.singleoffer.TotalOtherExpense) / totalMonth;
                        total = (Model.singleoffer.GenelToplam) / totalMonth;

                    }
                    else
                    {
                        total = 0;
                    }
                }
                @total.Value.ToString("N2")₺


            </a>
        </b>*@
                <b>
                    <a class="list-group-item">
                        Genel Toplam (KDV Hariç) <br />
                        @if (Model.singleoffer.GenelToplam != null && Model.singleoffer.KdvToplam != null)
                        {
                            var result = Model.singleoffer.GenelToplam - Model.singleoffer.KdvToplam;
                            @(result.Value.ToString("N2")+"₺");
                        }

                    </a>
                </b>
                <b>
                    @if (Model.singleoffer.DateBegin < date)
                    {
                        <a class="list-group-item">
                            Genel Toplam KDV (%18)<br />
                            @(Model.singleoffer.KdvToplam !=null ? Model.singleoffer.KdvToplam.Value.ToString("N2") +"₺":"-")
                        </a>

                    }
                    else
                    {
                        <a class="list-group-item">
                            Genel Toplam KDV (%20)<br />
                            @(Model.singleoffer.KdvToplam !=null ? Model.singleoffer.KdvToplam.Value.ToString("N2") +"₺":"-")
                        </a>
                    }

                </b>

                <b>
                    <a class="list-group-item">
                        Genel Toplam <br />
                        @(Model.singleoffer.GenelToplam !=null ? Model.singleoffer.GenelToplam.Value.ToString("N2") +"₺":"-")
                    </a>
                </b>
            </div>

        </div>
    </section>
}






