﻿
@using OykaCrm.Models;
@model  OfferControlModel
@if (Model.singleoffer.AraToplam != null)
{
    var date = new DateTime(2024, 01, 01);

    <section class="card">
        <div class="card-body">


            <div class="list-group">
                <b>
                    <a class="list-group-item" style="background-color:#282f39; color:white;">Maliyet Analizi</a>
                </b>
                <b>
                    <a class="list-group-item">
                        Malzeme/Stok Kalemleri <br />
                        @(Model.singleoffer.AraToplam != null ? Model.singleoffer.AraToplam.Value.ToString("N2") + "₺" : "-")
                    </a>

                </b>
                <b>
                    <a class="list-group-item">
                        İnsan Kaynakları Maliyeti <br />
                        @(Model.singleoffer.BrutToplam != null ? Model.singleoffer.BrutToplam.Value.ToString("N2") + "₺" : "-")
                    </a>
                </b>
                <b>
                    <a class="list-group-item">
                        Diğer Maliyetler <br />
                        @(Model.singleoffer.TotalOtherExpense != null ? Model.singleoffer.TotalOtherExpense.Value.ToString("N2") + "₺" : "-")
                    </a>
                </b>
                <b>
                    <a class="list-group-item">
                        Genel Toplam(KDV Hariç) <br />
                        @if (Model.singleoffer.GenelToplam != null && Model.singleoffer.KdvToplam != null)
                        {
                            var result = Model.singleoffer.GenelToplam - Model.singleoffer.KdvToplam;
                            @(result.Value.ToString("N2")+"₺");
                        }

                    </a>
                </b>
                <b>
                    @if (Model.singleoffer.DateBegin < date)
                    {
                        <a class="list-group-item">
                            KDV (%18)<br />
                            @(Model.singleoffer.KdvToplam !=null ? Model.singleoffer.KdvToplam.Value.ToString("N2") +"₺":"-")
                        </a>

                    }
                    else
                    {
                        <a class="list-group-item">
                            KDV (%20)<br />
                            @(Model.singleoffer.KdvToplam !=null ? Model.singleoffer.KdvToplam.Value.ToString("N2") +"₺":"-")
                        </a>
                    }


                </b>

                <b>
                    <a class="list-group-item">
                        Genel Toplam <br />
                        @(Model.singleoffer.GenelToplam !=null ? Model.singleoffer.GenelToplam.Value.ToString("N2") +"₺":"-")
                    </a>
                </b>
            </div>

           
        </div>
    </section>
}







