﻿@using OykaCrm.Models
@model OfferControlModel
<table class="table table-bordered" style="border:1px solid #000">
    <thead style="background-color:#4b85d9;color:white;border-bottom:1px solid #ff0000">
        <tr>
            <td>Ücret Detayı</td>
            <td>Değer</td>


        </tr>

    </thead>
    <tbody>
        <input type="hidden" id="rowID" value="" />
        @if (Model.IsOneTimeOfferPosList != null && Model.IsOneTimeOfferPosList.Count() > 0)
        {
            foreach (var item in Model.IsOneTimeOfferPosList)
            {
                <tr style="background-color:#dedddc;color:#5e5854;border-top:#ffffff !important">
                    @if (item.PositionItemID == 5)
                    {
                        <td>
                            @item.IsOneTimePositionItems.ItemName (₺)
                        </td>
                        <td>
                            <input id="@("ttt"+item.PositionItemID)" type="text" value="@item.UnitPrice.Value.ToString("N2")" class="form-control money" />
                        </td>

                    }
                    else if (item.PositionItemID == 6)
                    {
                        <td>
                            @item.IsOneTimePositionItems.ItemName (₺)
                        </td>
                        <td>
                            <input id="@("ttt"+item.PositionItemID)" type="text" value="@item.UnitPrice.Value.ToString("N2")" class="form-control money" />
                        </td>
                    }
                </tr>
            }
        }


        <tr></tr>
    </tbody>
</table>