﻿
@using OykaCrm.Models;
@model  OfferControlModel

<div class="table-responsive">

    <table class="table multi-fields">
        <thead class="thead-dark">

            <tr>
                <th width="250">ADI</th>
                <th width="50">MİKTARI</th>
                @*<th width="110">BİRİM</th>*@
                <th width="100">MALİYET</th>
                <th width="120">TEKLİF FİYATI</th>
                <th>AMORTİSMAN</th>
                <th>AMORTİSMAN SÜRESİ (AY)</th>
                <th width="150">AYLIK AMORTİSMAN</th>
                @*<th>#</th>*@
            </tr>
        </thead>
        <tbody class="table-product-main multi-field">
            @if (Model.offerequipments != null && Model.offerequipments.Count > 0)
            {

                foreach (var row in Model.offerequipments)
                {
                    <tr>
                        <td width="250">
                            <input id="RowID" type="hidden" value="@row.ID" />
                            <input id="ProductID" type="hidden" value="@row.ProductID" readonly />
                            <input type="text" id="@("ProductNameMD"+row.ID)" name="urunadi" class="form-control" autocomplete="off" value="@(row.Products!=null?row.Products.ProductName:"-")" data-toggle="tooltip" data-placement="top" title="@(row.Products!=null?row.Products.ProductName:"-")"     readonly>
                        </td>
                        <td width="100">
                            <input type="number" placeholder="Miktar" name="urunmiktar" id="@("QuantityMD"+row.ID)" class="form-control" value="@(row.Quantity!=null?row.Quantity.Value.ToString().Replace(",","."):"1")" data-toggle="tooltip" data-placement="top" title="@(row.Quantity!=null?row.Quantity.Value.ToString().Replace(",","."):"1")" readonly>
                        </td>
                        @*<td width="110">
                            <select id="@("UnitMD"+row.ID)" disabled name="unit" class="hesap form-control urunindirimsec">
                                <option value="Adet" selected>Adet</option>
                                <option value="Kg.">Kg.</option>
                            </select>
                        </td>*@
                        <td width="100">
                            <input type="text" placeholder="Birim Fiyat" name="unitprice" id="@("UnitPriceMD"+row.ID)" class="form-control money" value="@(row.UnitPrice?.ToString("N2"))"readonly data-toggle="tooltip" data-placement="top" title="@(row.UnitPrice?.ToString("N2"))">
                        </td>
                        <td width="100">
                            <input type="text" placeholder="Birim Fiyat" name="unitprice" id="@("CostPriceMD"+row.ID)" class="form-control money" value="@(row.CostPrice?.ToString("N2"))" readonly data-toggle="tooltip" data-placement="top" title="@(row.CostPrice?.ToString("N2"))">
                        </td>
                        <td>
                            <input type="text" placeholder="Amortisman fiyatı giriniz.." name="unitprice" id="@("Depreciation"+row.ID)" class="form-control money" value="@(row.Depreciation?.ToString("N2"))" readonly data-toggle="tooltip" data-placement="top" title="@(row.Depreciation?.ToString("N2"))">
                        </td>
                        <td>
                            @if (row.Depreciation != 0 && row.Depreciation != null)
                            {
                                <input type="number" placeholder="Amortisman süresi giriniz.." name="urunmiktar" id="@("MonthCountMD" + row.ID)" class="form-control" value="@(row.MonthCount != null ? row.MonthCount.Value.ToString().Replace(",", ".") : "1")" readonly>
                            }
                            else
                            {
                                <input type="number" placeholder="Amortisman süresi giriniz.." name="urunmiktar" id="@("MonthCountMD" + row.ID)" class="form-control" value="@(row.MonthCount != null ? row.MonthCount.Value.ToString().Replace(",", ".") : "1")"  readonly>
                            }

                        </td>
                        <td>
                            <input type="text" name="unitprice" id="@("MonthlyDepreciation"+row.ID)" class="form-control money" value="@(row.MonthlyDepreciation?.ToString("N2"))" readonly data-toggle="tooltip" data-placement="top" title="@(row.MonthlyDepreciation?.ToString("N2"))"  />

                        </td>
                        @*<td>
                            <a href="#" class="btn btn-danger btn-xs" ><i class="fa fa-trash-o"></i></a>
                        </td>*@

                    </tr>
                }
            }



        </tbody>
    </table>

</div>
<hr />
<div class="row">

    @*<div class="col-lg-3">
            <div class="row ml-3">
                <label>Karlılık Oranı % (Yüzde)</label>
                <input type="number" placeholder="Karlılık Oranı" name="unitprice" id="profitRate" class="form-control money" value="@(Model.singleoffer.AraToplamProfitRate!=null?Model.singleoffer.AraToplamProfitRate.Value.ToString():"")" onchange="AddProfitRate(@Model.singleoffer.ID)">
                //Burayı tekrar test et!!
            </div>
        </div>*@
    <div class="col-lg-9">

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.shiftbegintime').mask('00:00');
        $('.hour').mask('00:00');
        $('.hourfull').mask('00:00:00');
        $('.shiftdate').mask('0000-00-00');
        $('.money').mask("#.##0,00", { reverse: true });
        $('.money4').mask("#.##0,0000", { reverse: true });
    });

</script>

