﻿@using OykaCrm.Models
@model OfferControlModel

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead style="background-color:#4b85d9;color:white;border-bottom:1px solid #ff0000">
                <tr>
                    <td>Seç</td>
                    <td>Pozisyon Adı</td>
                    <td>Durum</td>

                </tr>

            </thead>
            <tbody>
                @if (Model.OfferPositionID != null && Model.OfferPositionID.Count() > 0) // Hesaplama işlemlerinden sonra offerPositionID gönderilecek
                {

                    foreach (var item in Model.OfferPositionID)
                    {
                        <tr style="background-color:#dedddc;color:#5e5854;border-top:#ffffff !important">
                            @if (Model.offerpositions.Any(t => t.PositionID == item))
                            {
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" value="@item">

                                    </div>
                                </td>
                                <td>@Model.offerpositions.FirstOrDefault(t => t.PositionID == item).Positions.PositionName</td>
                                <td>@Model.offerpositions.FirstOrDefault(t => t.PositionID == item).Positions.PositionStatus.StatusName</td>
                                @*<td><input type="text" id="@("txt"+item)"</td>*@
                            }
                        </tr>
                    }
                }

                <tr></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead style="background-color:#4b85d9;color:white;border-bottom:1px solid #ff0000">
                <tr>
                    <td>Ücret Detayı</td>
                    <td>Değer</td>

                </tr>

            </thead>
            <tbody>
                @if (Model.OfferPositionID != null && Model.OfferPositionID.Count() > 0) // Hesaplama işlemlerinden sonra offerPositionID gönderilecek
                {
                    foreach (var item in Model.PositionItems)
                    {
                <tr style="background-color:#dedddc;color:#5e5854;border-top:#ffffff !important">


                    @if (item.ID == 4)
                    {

                        <td>
                            @item.ItemName (Gün)
                        </td>
                        <td>
                            <div id='yillikizindiv' class='list-group-item'><input type='radio' class='ml-3' name='t_yillikIzin' value='14' />14 Günlük <input type='radio' name='t_yillikIzin' class='ml-3' value='20' />20 Günlük <input type='radio' name='t_yillikIzin' class='ml-3' value='26' />26 Günlük</div>
                        </td>
                    }
                    else if (item.ID == 9)
                    {

                        <td>
                            @item.ItemName (₺)
                        </td>
                        <td>
                            <label id='lbl1'>
                                <input type='radio' name='bordro' value='bordro'>Bordro
                            </label>
                            <label id='lbl1'>
                                <input type='radio' name='bordro' value='kart'>Kart
                            </label>

                            <input id="yolttx" class='form-control money' type='text' value="" />


                        </td>

                    }
                    else if (item.ID == 10)
                    {

                        <td>
                            @item.ItemName (₺)
                        </td>
                        <td>
                            <div id='yemekdiv' class='list-group-item'>  <span id='baslik' style='font-size: 14px; margin-left: 20px; '></span> <label id='lbl1'><input type='radio' name='t_radioyemek' value='bordro'>Bordro</label> <label id='lbl2'><input type='radio' name='t_radioyemek' value='kart'>Kart</label> <input id='yemekttx' class='form-control money' type='text' /></div>
                        </td>
                    }
                    else if (item.ID == 5)
                    {

                        <td>
                            Kıdem Tazminat Tavanı (₺)
                        </td>
                        <td><input id="@("ttx"+item.ID)" type="text" value="@(Model.KidemTazValue!=null?Model.KidemTazValue.Value.ToString("N2"):"0,00")))" class="form-control money" /></td>
                    }
                    else if (item.ID == 6) //ihbar tazminatı hesaplanırken txt den veri alınmayacak.
                    {

                        <td>
                            @item.ItemName (₺)
                        </td>
                        <td>
                            <div id='ihbardiv' class='list-group-item'>
                                <input type='radio' name='ihbarTazminati' value='ihbarHesapla'>Hesapla
                            </div>
                        </td>
                    }
                    else if (item.ID == 7) //Bayram Mesaisi
                    {
                        <td style="margin-top:2px;">
                            @item.ItemName (Gün)

                        </td>
                        <td><input id="@("ttx"+item.ID)" type="text" class="form-control money" /></td>
                    }
                    else if (item.ID == 21) //Fazla Mesai
                    {
                        <td>
                            @item.ItemName (Saat)
                        </td>
                        <td>
                            <div id='fazlaMesaidiv' class='list-group-item'>
                                <label>Mesai Çarpanı:</label>
                                <span id='baslik' style='font-size: 14px; margin-left: 20px;'></span> <label id='lbl1'><input type='radio' name='fazlaMesair' value='1,5'>1,5</label> <label id='lbl2'><input type='radio' name='fazlaMesair' style="margin-left:25px" value='2'>2</label> <input id="@("ttx"+item.ID)" type="text" class="form-control money" />
                            </div>
                        </td>

                    }
                    else if (item.ID == 15)//Gelir Vergisi oranı
                    {
                        <td>
                            @item.ItemName (Oran)
                        </td>
                        <td><input id="@("ttx"+item.ID)" type="text"  class="form-control" /></td>
                    }
                    else
                    {

                        <td>
                            @item.ItemName (₺)
                        </td>
                        <td><input id="@("ttx"+item.ID)" type="text" class="form-control money" /></td>
                    }


                </tr>
                    }
                }
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>
