﻿


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oypa Tesis Yönetim Yazılımı | Ver 1.0</title>
    <meta name="description" content="Fiber Hesap ile ekonomik ve hızlı çözümler">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="assets/css/normalize.css">-->
    <link rel="stylesheet" href="~/assets/css/lib/datatable/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker3.css">
    <link href="~/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Condensed:400,400i,700|Roboto:300,400,400i,500,500i,700|Inconsolata|Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href='~/assets/css/jquery-ui.min.css' type='text/css' rel='stylesheet'>
    <link rel="stylesheet" href="~/assets/css/clockpicker.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/mystyle.css" />
</head>
<body>
    <!-- Left Panel -->

    @Html.Partial("~/Views/_PartialLeftMenu.cshtml")
    <!-- /#left-panel -->
    <!-- Left Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        @Html.Partial("~/Views/_PartialHeaderLogin.cshtml")

        <!-- /header -->
        <!-- Header-->
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="feed-box">
                            <section class="card">
                                <div class="card-body">
                                    @using (Html.BeginForm())

                                    {
                                        <div class="form-horizontal form-main form-teklif" id="form1" name="form1">
                                            <div class="col-md-9">
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-file-o"></i> TEKLİF AÇIKLAMASI</label></div>
                                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="teklifaciklamasi" placeholder="Teklif ile ilgili bir açıklama giriniz" class="form-control"></div>
                                                </div>
                                                <hr>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-building-o"></i> MÜŞTERİ</label></div>
                                                    <div class="col-12 col-md-9">
                                                        <input type="text" id="text-input" class="form-control search-customer" name="musteriadi" placeholder="Müşteri seçiniz veya yeni bir müşteri oluşturunuz" autocomplete="off">
                                                        <input type="hidden" id="text-input" class="form-control musteriid" name="musteriid">
                                                        <small class="form-text search-customer-small text-muted">Kayıtlı müşteri seçebilir veya yeni bir müşteri oluşturabilirsiniz.</small>
                                                    </div>
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-9"><div class="search-customer-result" style="display: none;"></div></div>

                                                    <div class="col col-md-3"><label for="text-input" class=" form-control-label"><i></i> MÜŞTERİ BİLGİLERİ</label></div>
                                                    <div class="col-12 col-md-9 customer-info">-</div>
                                                </div>
                                                <hr>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-check-circle-o"></i> BAĞLI AKTİVİTE</label></div>
                                                    <div class="col-12 col-md-9 bagli-aktivite">
                                                        <input type="hidden" name="aktivite" value="0">
                                                        Müşteriye ait bir aktivite bulunmuyor.
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-star-o"></i> BAĞLI FIRSAT</label></div>
                                                    <div class="col-12 col-md-9 bagli-firsat">
                                                        <input type="hidden" name="firsat" value="0">
                                                        Müşteriye ait bir firsat bulunmuyor.
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-calendar"></i> DÜZENLEME TARİHİ</label></div>
                                                    <div class="col-12 col-md-9"><input type="text" class="form-control tarih" placeholder="27.08.2019" name="duzenlemetarihi" maxlength="10" autocomplete="off"></div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-bell"></i> VADE TARİHİ</label></div>
                                                    <div class="col-12 col-md-9"><input type="text" class="form-control tarih" placeholder="27.08.2019" name="vadetarihi" maxlength="10" autocomplete="off"></div>
                                                </div>
                                                <hr>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-bell"></i> DÖVİZ CİNSİ</label></div>
                                                    <div class="col-12 col-md-9">
                                                        <select id="select" class="form-control parabirimi" name="parabirimi">
                                                            <option value="TL"> Türk Lirası</option>
                                                            <option value="$"> ABD Doları</option>
                                                            <option value="€"> Euro</option>
                                                            <option value="£"> İngiliz Sterlini</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-pencil"></i> TEKLİF KOŞULLARI</label></div>
                                                    <div class="col-12 col-md-6"><textarea id="textarea-input" name="kosullar" rows="6" placeholder="Teklifin geçerlilik tarihini, ödeme şartlarını, teklif ile ilgili koşulları yazmak için bu alanı kullanabilirsiniz." class="form-control"></textarea></div>
                                                    <div class="col col-md-3">
                                                        <small>Koşul ile ilgili önceden oluşturduğunuz bir şablon varsa seçebilirsiniz.</small>
                                                        <hr>
                                                        <select class="form-control kosulsablonu" name="kosulsablonu" data-type="1">
                                                            <option value=""> Seçiniz</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">


                                           

                                            <div class="col-md-3 text-right form-save-pc">
                                                <a href="/Offer/Index" class="btn btn-new-1">VAZGEÇ</a>
                                                <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                            </div>
                                            <div class="col-md-12 multi-field-wrapper">
                                                <div class="table-responsive">
                                                    <table class="table multi-fields">
                                                        <thead class="thead-dark">
                                                            <tr>
                                                                <th width="380">HİZMET / ÜRÜN</th>
                                                                <th width="80">MİKTAR</th>
                                                                <th width="105">BİRİM</th>
                                                                <th width="150">BİRİM FİYAT</th>
                                                                <th width="105">VERGİ</th>
                                                                <th width="150">TOPLAM</th>
                                                                <th>#</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-product-main multi-field">
                                                            <tr class="tr_input">
                                                                <td width="380">
                                                                    <input type="text" placeholder="Hizmet veya ürünü aratabilirsiniz" id="urunadi_1" name="urunadi" class="hesap urunadi form-control" autocomplete="off">
                                                                    <div id="urunaciklamagenel_1" style="display: none;">
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon">AÇIKLAMA</div>
                                                                            <input type="text" placeholder="Ürün Açıklaması" name="urunaciklamasi[]" class="form-control">
                                                                            <a class="btn btn-new-1 btn-sm" id="aciklamasil_1"><i class="fa fa-times"></i></a>
                                                                            <input type="hidden" value="" id="urunid_1" name="urun_id[]">
                                                                            <input type="hidden" value="" id="stokid_1" name="stok_id[]">
                                                                        </div>
                                                                    </div>
                                                                    <div id="urunlerindirimgenel_1" style="display: none;">
                                                                        <div class="input-group urun-indirimi-genel">
                                                                            <div class="input-group-addon">İNDİRİM</div>
                                                                            <input type="text" name="urunindirim[]" id="urunindirim_1" placeholder="Ara Toplam İndirimi" class="hesap col-md-8 form-control numberFormat2 urunindirim currency" style="text-align: right;">
                                                                            <select name="urunindirimsec[]" class="hesap form-control urunindirimsec">
                                                                                <option value="1">% İndirim</option>
                                                                                <option value="2">Fiyat İndirim</option>
                                                                            </select>
                                                                            <a class="btn btn-new-1 btn-sm" id="indirimsil_1"><i class="fa fa-times"></i></a>
                                                                            <input type="hidden" class="satirindirim" value="">
                                                                        </div>
                                                                    </div>
                                                                    <div id="urunotvgenel_1" style="display: none;">
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon">ÖTV</div>
                                                                            <input type="text" name="urunotv[]" placeholder="ÖTV" id="urunotv_1" class="hesap form-control numberFormat3 currency urunotv" value="0" maxlength="3" style="text-align: right;">
                                                                            <div class="input-group-addon">%</div>
                                                                            <a class="btn btn-new-1 btn-sm" id="urunotvsil_1"><i class="fa fa-times"></i></a>
                                                                            <input type="hidden" class="urunotvtutar">
                                                                        </div>
                                                                    </div>
                                                                    <div id="urunoivgenel_1" style="display: none;">
                                                                        <div class="input-group">
                                                                            <div class="input-group-addon">ÖİV</div>
                                                                            <input type="text" name="urunoiv[]" placeholder="ÖİV" id="urunoiv_1" class="hesap form-control numberFormat3 currency urunoiv" value="0" maxlength="3" style="text-align: right;">
                                                                            <div class="input-group-addon">%</div>
                                                                            <a class="btn btn-new-1 btn-sm" id="urunoivsil_1"><i class="fa fa-times"></i></a>
                                                                            <input type="hidden" class="urunoivtutar">
                                                                        </div>
                                                                    </div>

                                                                </td>
                                                                <td width="80"><input type="text" placeholder="1" name="urunmiktar" id="urunmiktar_1" class="hesap form-control numberFormat4 urunmiktar currency" value="1" maxlength="7" style="text-align: right;"></td>
                                                                <td width="105"><input type="text" placeholder="Adet,kg.." name="urunbirim[]" class="urunbirim form-control" id="urunbirim_1"></td>
                                                                <td width="150">
                                                                    <div class="input-group">
                                                                        <input type="text" placeholder="Ürün Fiyatı" name="urunfiyat" class="hesap form-control urunfiyat currency" id="urunfiyat_1" style="text-align: right;">
                                                                    </div>
                                                                    <input type="hidden" class="urunfiyatmiktarli">
                                                                </td>
                                                                <td width="105">
                                                                    <select class="hesap form-control urunkdv" name="urunkdv[]" id="urunkdv_1">
                                                                        <option value="18">18% KDV</option>
                                                                        <option value="8">8% KDV</option>
                                                                        <option value="1">1% KDV</option>
                                                                        <option value="0">0% KDV</option>
                                                                    </select>
                                                                    <input type="hidden" class="urunkdvfiyat">
                                                                </td>
                                                                <td width="150"><input type="text" placeholder="Toplam" name="uruntoplam[]" class="hesap form-control currency uruntoplam" id="uruntoplam_1" style="text-align: right;"></td>
                                                                <td width="120">
                                                                    <a class="btn btn-new-1 btn-sm satir-sil remove-field"><i class="fa fa-times"></i></a>
                                                                    <div class="btn-group" role="group" aria-label="...">
                                                                        <div class="btn-group" role="group">
                                                                            <a class="btn btn-new-2 btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="fa fa-plus"></i>
                                                                                <span class="caret"></span>
                                                                            </a>
                                                                            <ul class="dropdown-menu">
                                                                                <li><a class="aciklama-ekle" id="aciklamaekle_1">AÇIKLAMA EKLE</a></li>
                                                                                <li><a class="indirim-ekle" id="indirimekle_1">İNDİRİM EKLE</a></li>
                                                                                <li><a class="otv-ekle" id="urunotvekle_1">ÖTV EKLE</a></li>
                                                                                <li><a class="oiv-ekle" id="urunoivekle_1">ÖİV EKLE</a></li>
                                                                                <li class="switching-toplamdan-bul">
                                                                                    <label class="switch switch-default switch-warning-outline-alt switch-pill mr-2 switch-sm">
                                                                                        <input class="switch-input toplamdanbul" type="checkbox" name="toplamdanbul" value="1"> <span class="switch-label"></span> <span class="switch-handle"></span>
                                                                                    </label>
                                                                                    TOPLAMDAN BUL
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                    <table class="table table-tutar">
                                                        <tbody>
                                                            <tr>
                                                                <td width="380">
                                                                    <a id="addmore" class="add-field btn btn-new-1 btn-sm"><i class="fa fa-plus"></i> YENİ SATIR EKLE</a>
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td><!--<a class="btn btn-new-1 btn-sm hesapla-ok"><i class="fa fa-plus"></i> HESAPLA</a>--></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>ARA TOPLAM</h5></td>
                                                                <td></td>
                                                                <td class="ara-toplam"><span></span> <small><i class="fa fa-turkish-lira"></i></small><input type="hidden" name="aratoplam"></td>
                                                                <td>
                                                                    <div class="btn-group" role="group" aria-label="...">
                                                                        <div class="btn-group" role="group">
                                                                            <a class="btn btn-new-1 btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="fa fa-plus"></i>
                                                                                <span class="caret"></span>
                                                                            </a>
                                                                            <ul class="dropdown-menu">
                                                                                <li><a class="ara-toplam-indirimi-ekle">Ara Toplam İndirimi Ekle (%)</a></li>
                                                                                <!--<li><a class="stopaj-ekle">Stopaj Uygula</a></li> -->
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr class="satir-indirimi-genel" style="display: none;">
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>SATIR İNDİRİMİ</h5></td>
                                                                <td></td>
                                                                <td class="satir-indirimi">
                                                                    <span></span> <small><i class="fa fa-turkish-lira"></i></small><input type="hidden" name="satirindirimi">
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="ara-toplam-indirimi">
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>ARA TOPLAM İNDİRİMİ</h5></td>
                                                                <td></td>
                                                                <td class="ara_toplam_indirimi">
                                                                    <div class="input-group">
                                                                        <input type="text" name="ara_toplam_indirimi" placeholder="Ara Toplam İndirimi" class="hesap col-md-8 form-control currency" style="text-align: right;">
                                                                        <select name="ara_toplam_indirimi_sec" class="hesap form-control">
                                                                            <option value="1">% İndirim</option>
                                                                            <option value="2">Fiyat İndirim</option>
                                                                        </select>
                                                                        <a class="btn btn-new-1 btn-sm ara-toplam-indirimi-sil"><i class="fa fa-times"></i></a>
                                                                    </div>
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="brut-toplam-genel" style="display: none;">
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>BRÜT TOPLAM</h5></td>
                                                                <td></td>
                                                                <td class="brut-toplam">
                                                                    <span></span> <small><i class="fa fa-turkish-lira"></i></small><input type="hidden" name="bruttoplam">
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="stopaj">
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>STOPAJ</h5></td>
                                                                <td></td>
                                                                <td>
                                                                    <div class="input-group">
                                                                        <select name="stopaj" class="form-control">
                                                                            <option value="20">20%</option>
                                                                            <option value="17">17%</option>
                                                                            <option value="15">15%</option>
                                                                            <option value="10">10%</option>
                                                                            <option value="3">3%</option>
                                                                        </select>
                                                                        <a class="btn btn-new-1 btn-sm stopaj-sil"><i class="fa fa-times"></i></a>
                                                                    </div>
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="otv-toplam-genel" style="display: none;">
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>TOPLAM ÖTV</h5></td>
                                                                <td></td>
                                                                <td class="otv-toplam">
                                                                    <span></span> <small><i class="fa fa-turkish-lira"></i></small><input type="hidden" name="toplamotv">
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="oiv-toplam-genel" style="display: none;">
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>TOPLAM ÖİV</h5></td>
                                                                <td></td>
                                                                <td class="oiv-toplam">
                                                                    <span></span> <small><i class="fa fa-turkish-lira"></i></small><input type="hidden" name="toplamoiv">
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>TOPLAM KDV</h5></td>
                                                                <td></td>
                                                                <td class="ara-kdv"><span></span> <small><i class="fa fa-turkish-lira"></i></small><input type="hidden" name="toplamkdv"></td>
                                                                <td>
                                                                    <!--<div class="btn-group" role="group" aria-label="...">
                              <div class="btn-group" role="group">
                                <a class="btn btn-new-1 btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-plus"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a class="tevkifat-ekle">Tevkifat Uygula</a></li>
                                </ul>
                              </div>
                        </div>-->
                                                                </td>
                                                            </tr>
                                                            <tr class="tevkifat">
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>KDV TEVKİFAT ORANI</h5></td>
                                                                <td></td>
                                                                <td>
                                                                    <div class="input-group">
                                                                        <select name="select" class="form-control">
                                                                            <option value="10">Tümüne Tevkifat Uygula</option>
                                                                            <option value="9">9/10 Tevkifat Uygula</option>
                                                                            <option value="7">7/10 Tevkifat Uygula</option>
                                                                            <option value="5">5/10 Tevkifat Uygula</option>
                                                                            <option value="3">3/10 Tevkifat Uygula</option>
                                                                            <option value="2">2/10 Tevkifat Uygula</option>
                                                                        </select>
                                                                        <a class="btn btn-new-1 btn-sm tevkifat-sil"><i class="fa fa-times"></i></a>
                                                                    </div>
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="tevkifat">
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>KDV TEVKİFATI</h5></td>
                                                                <td></td>
                                                                <td>
                                                                    15.200 <small><i class="fa fa-turkish-lira"></i></small>
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>GENEL TOPLAM</h5></td>
                                                                <td></td>
                                                                <td class="genel-toplam"><span></span> <small><i class="fa fa-turkish-lira"></i></small><input type="hidden" name="geneltoplam"></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="usd-tl-karsiligi" style="display: none;">
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>TL KARŞILIĞI</h5></td>
                                                                <td></td>
                                                                <td class="kur"><span></span> <i class="fa fa-turkish-lira"></i><input type="hidden" name="kurusd" value="6.0358"><br><em>1 $ = 6.0358 <i class="fa fa-turkish-lira"></i></em></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="eur-tl-karsiligi" style="display: none;">
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>TL KARŞILIĞI</h5></td>
                                                                <td></td>
                                                                <td class="kur"><span></span> <i class="fa fa-turkish-lira"></i><input type="hidden" name="kureur" value="6.7344"><br><em>1 € = 6.7344 <i class="fa fa-turkish-lira"></i></em></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="gbp-tl-karsiligi" style="display: none;">
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td class="none-border"></td>
                                                                <td><h5>TL KARŞILIĞI</h5></td>
                                                                <td></td>
                                                                <td class="kur"><span></span> <i class="fa fa-turkish-lira"></i><input type="hidden" name="kurgbp" value="7.6784"><br><em>1 £ = 7.6784 <i class="fa fa-turkish-lira"></i></em></td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                            </div>
                                            <div class="offset-md-9 col-md-3 text-right form-save-pc">
                                                <a href="/Offer/Index" class="btn btn-new-1">VAZGEÇ</a>
                                                <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                            </div>
                                            <div class="col-md-12 text-right form-save-mobile">
                                                <a href="/teklifler" class="btn btn-new-1">VAZGEÇ</a>
                                                <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>


        </div> <!-- .content -->
    </div>
    <!-- /#right-panel -->
    <script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/jquery.maskMoney.min.js"></script>
    <script src="~/assets/js/jquery.mask.js"></script>
    <script src="~/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js" type="text/javascript"></script>

    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/clockpicker.js"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js"></script>
    <script src="~/assets/js/myscript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $(":input[data-autocomplete]").each(function () {

                $(this).autocomplete({
                    source: $(this).attr("data-autocomplete")
                })
            });

        });

    </script>
    <script type="text/javascript">
        var popup;
        function SelectName() {
            popup = window.open("/Offer/DetailPop", "Popup", "width=300,height=100");
            popup.focus();
        }
    </script>
    <script>

        (function ($) {
            "use strict";

            /* jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } ); */

            //jQuery(".urunmiktar").attr("type", "text");

            //var uzunluk = jQuery(".multi-fields tbody").css('height');
            jQuery(document).on('click', '#addmore', function (e) {
                //jQuery(this).parent().parent().parent().parent().prev().find(".musteri-urun-button").hide();
                jQuery(".musteri-urun-button").hide();
            });


            var saniye = 7200; // 10 dakika için 6000
            var gidilecekSite = "/index/ekranikilitle/";
            var geriSayim = setTimeout(function () {
                document.location.href = gidilecekSite;
            }, 1000 * saniye);

            jQuery(document).bind("blur focus focusin focusout load resize scroll unload click dblclick mousedown mouseup mousemove mouseover mouseout mouseenter mouseleave change select submit keydown keypress keyup error", function () {
                window.clearTimeout(geriSayim);
                geriSayim = setTimeout(function () {
                    document.location.href = gidilecekSite;
                }, 1000 * saniye);
            });
            $("#btnxx").change(function () {
                var fiyat = $("#urunfiyatx").val();
                $("")
            });
            //-->

        })(jQuery);


    </script>





</body>
</html>
