﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailPop</title>
</head>
<body>
     
        Ürün Adı<input type="text" id="urunadix" />
        Fiyat <input type="text" id="fiyatx" />
    
    <br />
    <br />
    <input type="button" value="Select" onclick="SetName();" />
    <script type="text/javascript">
        function SetName() 
        {
            if (window.opener != null && !window.opener.closed)
            {
                var urunadixx = window.opener.document.getElementById("urunadi").value;
                var fiyatxx = window.opener.document.getElementById("urunfiyat").value;
                urunadixx.value = document.getElementById("urunadix").value;                
                fiyatxx.value = document.getElementById("fiyatx").value;
            }
            window.close();
        }
    </script>
</body>
</html>
