﻿@model List<OykaCrm.Models.Offer>


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TYH - Teklif Modülü</title>
    <meta name="description" content="Fiber Hesap ile ekonomik ve hızlı çözümler">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="assets/css/normalize.css">-->
    @*<link rel="stylesheet" href="~/assets/css/lib/datatable/dataTables.bootstrap.min.css">*@

    <link rel="stylesheet" href="~/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker3.css">
    <link href="~/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Condensed:400,400i,700|Roboto:300,400,400i,500,500i,700|Inconsolata|Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href='~/assets/css/jquery-ui.min.css' type='text/css' rel='stylesheet'>
    <link rel="stylesheet" href="~/assets/css/clockpicker.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/mystyle.css" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

</head>
<body>
    <!-- Left Panel -->

    @Html.Partial("~/Views/_PartialLeftMenu.cshtml")
    <!-- /#left-panel -->
    <!-- Left Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        @Html.Partial("~/Views/_PartialHeaderLogin.cshtml")

        <!-- /header -->
        <!-- Header-->
        @if (ViewBag.SMessage != null)
        {

            <script type="text/javascript">
                window.onload = function () {
                    $(document).ready(function () {
                        $("#Message").css('display', '');
                        $("#Message").animate({ left: '250px' });
                        setInterval(function () { $("#Message").fadeOut() }, 3000);
                    });
                };
            </script>

            <div id="Message" class="col-md-4 alert alert-success" style="position:absolute; z-index:3;"><i class="fa fas fa-check-circle"></i>&nbsp;<b>@ViewBag.SMessage</b></div>
        }
        @if (ViewBag.EMessage != null)
        {

            <script type="text/javascript">
                window.onload = function () {
                    $(document).ready(function () {
                        $("#Message").css('display', '');
                        $("#Message").animate({ left: '250px' });
                        setInterval(function () { $("#Message").fadeOut() }, 3000);
                    });
                };
            </script>

            <div id="Message" class="col-md-4 alert alert-danger" style="display:none;position:absolute; z-index:3;"><b>@ViewBag.EMessage</b></div>
        }
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-horizontal">
                            @using (Html.BeginForm())
                            {
                                <div class="form-group">
                                    <div class="input-group">
                                        @*<div class="input-group-btn"><a class="btn btn-outline-link search-filter-button"><i class="fa fa-filter"></i> FİLTRELE  <i class="fa fa-angle-down"></i></a></div>*@
                                        <input type="text" id="input3-group2" name="filtertext" placeholder="Teklif Açıklaması" class="form-control">
                                        <div class="input-group-btn"><button type="submit" name="button" id="button" class="btn btn-secondary"><i class="fa fa-search"></i> </button></div>
                                    </div>
                                </div>
                                <div class="search-filter" style="display: none;">
                                    <div class="row form-group">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-4">
                                            <label class=" form-control-label">Teklif Arşiv Durumu</label>
                                            <select class="form-control" name="faturaarsiv">
                                                <option value="1">Arşiv Haricindeki Teklifler</option>
                                                <option value="2">Arşiv Teklifleri</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class=" form-control-label">Teklif Tarihi</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="27.08.2019" name="siparistarihi1" autocomplete="off">
                                                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-arrows-h" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" placeholder="27.08.2019" name="siparistarihi2" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group-btn"><a href="/Offer/Index" class="btn btn-new-1">Aramayı Sıfırla</a></div>
                    </div>
                    @*<div class="col-md-2">
                        <a href="#" class="btn btn-info">Yeni Teklif Oluştur</a>
                    </div>*@

                    <div class="col-md-12">
                        <div class="feed-box">
                            <section class="card">
                                <div class="card-body">

                                    <div class="clearfix"></div>
                                    <div class="table-responsive">
                                        <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                                            <thead>
                                                <tr>
                                                    <th width="60"></th>
                                                    <th>
                                                        TEKLİF NUMARASI
                                                        @*<a href="/teklifler/teklifnoAZ/"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                                        <a href="/teklifler/teklifnoZA/"><i class="fa fa-caret-down" aria-hidden="true"></i></a>*@
                                                    </th>
                                                    <th>
                                                        MÜŞTERİ
                                                        @*<a href="/teklifler/aciklamaAZ/"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                                        <a href="/teklifler/aciklamaZA/"><i class="fa fa-caret-down" aria-hidden="true"></i></a>*@
                                                    </th>
                                                    @*<th>FATURA</th>*@
                                                    <th>
                                                        KAYIT TARİHİ
                                                        @*<a href="/teklifler/duzenlemetarihiAZ/"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                                        <a href="/teklifler/duzenlemetarihiZA/"><i class="fa fa-caret-down" aria-hidden="true"></i></a>*@
                                                    </th>
                                                    @*<th>
                                                        AKTİVİTE
                                                        <a href="/teklifler/aktiviteAZ/"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                                        <a href="/teklifler/aktiviteZA/"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                                    </th>*@
                                                    @*<th>
                                                        FIRSAT
                                                        <a href="/teklifler/firsatAZ/"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                                        <a href="/teklifler/firsatZA/"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                                    </th>*@
                                                    <th>Süreç</th>
                                                    <th>Versiyon</th>
                                                    <th class="text-right">
                                                        TEKLİF TOPLAMI
                                                        @*<a href="/teklifler/tutarAZ/"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                                        <a href="/teklifler/tutarZA/"><i class="fa fa-caret-down" aria-hidden="true"></i></a>*@
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    if (item.StatusLevel == 9 || item.StatusLevel == 10)
                                                    {
                                                        <tr onclick="document.location = '/Offer/OfferDetailPreview?OpportunityID=@item.OpportunityID&AutoOpportunity=1';" class="pointer-tr">
                                                            <td width="60" class="text-center"><i class="fa fa-file-o"></i></td>
                                                            <td>@item.OfferNumber</td>
                                                            <td><strong>@item.Customers.CustomerFullName</strong><br><small></small></td>
                                                            <td>@item.RecordDate.Value.ToShortDateString()</td>
                                                            <td>@(item.OfferStatus!=null?item.OfferStatus.StatusName:"-")</td>
                                                            @if (item.VersionNumber == null)
                                                            {
                                                                <td><b> @item.VersiyonPrefix 0.0</b></td>
                                                            }
                                                            else
                                                            {
                                                                <td><b>@item.VersiyonPrefix @item.VersionNumber.@item.VersionDigit</b></td>
                                                            }
                                                            <td class="price text-right">@(item.GenelToplam!=null?item.GenelToplam.Value.ToString("N2")+"₺":"-")</td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr onclick="document.location = '/Offer/Detail?OpportunityID=@item.OpportunityID&AutoOpportunity=1';" class="pointer-tr">
                                                            <td width="60" class="text-center"><i class="fa fa-file-o"></i></td>
                                                            <td>@item.OfferNumber</td>
                                                            <td><strong>@item.Customers.CustomerFullName</strong><br><small></small></td>
                                                            <td>@item.RecordDate.Value.ToShortDateString()</td>
                                                            <td>@(item.OfferStatus!=null?item.OfferStatus.StatusName:"-")</td>
                                                            @if (item.VersionNumber == null)
                                                            {
                                                                <td><b>@item.VersiyonPrefix 0.0</b></td>
                                                            }
                                                            else
                                                            {
                                                                <td><b>@item.VersiyonPrefix @item.VersionNumber.@item.VersionDigit</b></td>
                                                            }
                                                            <td class="price text-right">@(item.GenelToplam!=null?item.GenelToplam.Value.ToString("N2")+"₺":"-")</td>
                                                        </tr>
                                                    }


                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-12 text-center">



                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>


        </div> <!-- .content -->
    </div>
    <!-- /#right-panel -->
    <script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/jquery.maskMoney.min.js"></script>
    <script src="~/assets/js/jquery.mask.js"></script>
    <script src="~/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js" type="text/javascript"></script>

    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/clockpicker.js"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js"></script>
    <script src="~/assets/js/myscript.js"></script>




    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>
    <script>

        (function ($) {
            "use strict";

            /* jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } ); */

            jQuery(".urunmiktar").attr("type", "tel");

            //var uzunluk = jQuery(".multi-fields tbody").css('height');
            jQuery(document).on('click', '#addmore', function (e) {
                //jQuery(this).parent().parent().parent().parent().prev().find(".musteri-urun-button").hide();
                jQuery(".musteri-urun-button").hide();
            });


            var saniye = 7200; // 10 dakika için 6000
            var gidilecekSite = "/index/ekranikilitle/";
            var geriSayim = setTimeout(function () {
                document.location.href = gidilecekSite;
            }, 1000 * saniye);

            jQuery(document).bind("blur focus focusin focusout load resize scroll unload click dblclick mousedown mouseup mousemove mouseover mouseout mouseenter mouseleave change select submit keydown keypress keyup error", function () {
                window.clearTimeout(geriSayim);
                geriSayim = setTimeout(function () {
                    document.location.href = gidilecekSite;
                }, 1000 * saniye);
            });


        })(jQuery);


    </script>





</body>
</html>
