﻿@using OykaCrm.Models
@model OfferNewViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="feed-box">
                        <section class="card">
                            <div class="card-body">
                                @using (Html.BeginForm("Add", "Offer", FormMethod.Post))
                                {
                                    <div class="form-horizontal form-main form-teklif" id="form1" name="form1">
                                        <div class="col-md-9">
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-file-o"></i>Teklif Numarası</label></div>
                                                <div class="col-5 col-md-5"><input type="text" value="@Model.GetOfferNumber" id="text-input" name="OfferNumber" readonly class="form-control"></div>
                                                <div class="row form-group">
                                                    <div class="col-md-12">
                                                        <div class="col col-md-3"><label for="text-input" class="form-control-label">Süreç</label></div>
                                                        <div class="col-9 col-md-9">
                                                            <select name="select" id="select" class="form-control">
                                                                <option value="1">İlk Kayıt</option>
                                                                <option value="2">Direktör Onay</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-file-o"></i> Teklif Açıklaması</label></div>
                                                <div class="col-12 col-md-9"><input type="text" id="text-input" name="OfferDetail" placeholder="teklife ait açıklama alanı.." class="form-control"></div>
                                            </div>
                                            <hr>

                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-building-o"></i> Müşteri</label></div>
                                                <div class="col-9 col-md-9">
                                                    <select name="Customer" class="selectpicker" data-show-subtext="true" data-live-search="true" required>
                                                        <option>Lütfen Müşteri Seçiniz..</option>

                                                        @foreach (var item in Model.CustomerList)
                                                        {

                                                            <option value="@item.ID">@item.CustomerFullName --(@(item.AccountCode))</option>
                                                        }

                                                    </select>
                                                </div>
                                            </div>
                                            <hr>

                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-calendar"></i> Düzenleme Tarihi:</label></div>
                                                <div class="col-12 col-md-9"><input type="text" class="form-control tarih" value="@DateTime.Now.ToShortDateString()" name="duzenlemetarihi" maxlength="10" autocomplete="off"></div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-bell"></i> Bitiş Tarihi:</label></div>
                                                <div class="col-12 col-md-9"><input type="text" class="form-control tarih" value="@DateTime.Now.ToShortDateString()" name="vadetarihi" maxlength="10" autocomplete="off"></div>
                                            </div>
                                            <hr> 
                                        </div>

                                        <div class="col-md-3 text-right form-save-pc">
                                            <a href="/Offer/Index" class="btn btn-new-1">VAZGEÇ</a>
                                            <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                        </div>

                                        <div class="offset-md-9 col-md-3 text-right form-save-pc">
                                            <a href="/Offer/Index" class="btn btn-new-1">VAZGEÇ</a>
                                            <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                        </div>
                                        <div class="col-md-12 text-right form-save-mobile">
                                            <a href="/teklifler" class="btn btn-new-1">VAZGEÇ</a>
                                            <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="largeModalLabel">Detaylı Müşteri Arama</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row form-group">
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="Lütfen aramak istediğiniz müşteri adını girin" />
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="button" class="btn btn-primary">Sorgula</button>
                                                </div>
                                            </div>

                                            <hr />

                                            <div id="ResultCustomerList">

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                            <button type="button" class="btn btn-success">Müşteri Seç</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

