﻿@model IEnumerable<OykaCrm.Models.Offer>
@{
    ViewBag.Title = "OfferArchive";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">


<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-8">
                <div class="form-horizontal">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-btn"><a class="btn btn-outline-link search-filter-button"><i class="fa fa-filter"></i> FİLTRELE  <i class="fa fa-angle-down"></i></a></div>
                                <input type="text" id="input3-group2" name="filtertext" placeholder="Teklif Açıklaması" class="form-control">
                                <div class="input-group-btn"><button type="submit" name="button" id="button" class="btn btn-secondary"><i class="fa fa-search"></i> </button></div>
                            </div>
                        </div>
                        <div class="search-filter" style="display: none;">
                            <div class="row form-group">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-4">
                                    <label class=" form-control-label">Teklif Arşiv Durumu</label>
                                    <select class="form-control" name="faturaarsiv">
                                        <option value="1">Arşiv Haricindeki Teklifler</option>
                                        <option value="2">Arşiv Teklifleri</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class=" form-control-label">Teklif Tarihi</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="27.08.2019" name="siparistarihi1" autocomplete="off">
                                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-arrows-h" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" placeholder="27.08.2019" name="siparistarihi2" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group-btn"><a href="/Offer/Index" class="btn btn-new-1">Aramayı Sıfırla</a></div>
            </div>
            @*<div class="col-md-2">
                    <a href="#" class="btn btn-info">Yeni Teklif Oluştur</a>
                </div>*@

            <div class="col-md-12">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">

                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                                    <thead>
                                        <tr>
                                            <th width="60"></th>
                                            <th>TEKLİF NUMARASI</th>
                                            <th>Müşteri</th>
                                            <th>Versiyon Numarası</th>
                                            <th>Detay</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count() > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr @*onclick="document.location = '/Offer/Detail?OpportunityID=@item.OpportunityID&AutoOpportunity=1';" class="pointer-tr"*@>
                                                    <td width="60" class="text-center"><i class="fa fa-file-o"></i></td>
                                                    <td>@item.OfferNumber</td>
                                                    <td>@item.Customers.CustomerFullName</td>
                                                    <td><strong>V @item.VersionNumber.@item.VersionDigit</strong><br><small></small></td>

                                                    <td class="price text-right"><a href="/Offer/OfferArchiveDetail?offerID=@item.ID" class="btn btn-primary">Detay</a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 text-center">



                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


</div> <!-- .content -->
}


<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>
