﻿@model OykaCrm.Models.OfferArchiveControlModel
@{
    ViewBag.Title = "OfferArchiveDetailSub";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<!------ Include the above in your HEAD tag ---------->

<style>

    #lg_modal223 .modal-dialog {
        max-width: 60% !important;
        margin: auto;
    }
    
    nav > .nav.nav-tabs {
        border: none;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

    nav > div a.nav-item.nav-link,
    nav > div a.nav-item.nav-link.active {
        border: none;
        padding: 6px 25px;
        color: #fff;
        background: #272e38;
        border-radius: 0;
    }

        nav > div a.nav-item.nav-link.active:after {
            content: "";
            position: relative;
            bottom: -60px;
            left: -10%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

    .tab-content {
        background: #fdfdfd;
        line-height: 25px;
        border: 1px solid #ddd;
        border-top: 5px solid #e74c3c;
        border-bottom: 5px solid #e74c3c;
        padding: 30px 25px;
    }

    nav > div a.nav-item.nav-link:hover,
    nav > div a.nav-item.nav-link:focus {
        border: none;
        background: #e74c3c;
        color: #fff;
        border-radius: 0;
        transition: background 0.20s linear;
    }
</style>

@if (Model != null)
{
    if (Model.IsOneTime)
    {
        //Süreli teklif
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">İnsan Kaynakları</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Makine/Araç/Demirbaş</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Malzeme/Stok</a>
                            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Diğer</a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        @*İK*@

                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                            <div class="col-md-12 mt-3 mb-3" style="border:1px solid;border-radius:inherit; background-color:cornsilk">

                                <div class="row mt-3 mb-3">
                                    <div class="col-md-4">
                                      
                                        <div class="col-md-2 ml-5">
                                            
                                            <button class="btn btn-primary" onclick="OpenHrProfitCalculateModalHistory(@Model.SingleOfferHistory.OfferID,@Model.SingleOfferHistory.VersionDigit)">Kârlılık Oranı Görüntüle</button>

                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table multi-fields">
                                    <thead class="thead-dark">

                                        <tr>
                                            <th>Pozisyon Adı</th>
                                            <th>Brüt Ücret</th>
                                            <th>Adet</th>

                                            <th></th>
                                            <th></th>
                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tbody class="table-product-main multi-field">
                                        @if (Model.PositionHistoryList != null && Model.PositionHistoryList.Count > 0)
                                        {

                                            foreach (var row in Model.PositionHistoryList.Where(i => i.PositionItemID == 1).ToList())
                                            {
                                                <tr>
                                                    <td>

                                                        @row.Positions.PositionName

                                                    </td>
                                                    <td width="160">
                                                        @(row.UnitPrice?.ToString("N2") ?? "") ₺
                                                    </td>
                                                    <td width="105">@row.Quantity</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <a class="btn btn-primary" data-toggle="collapse" href="@("#collapseExample"+row.ID)" role="button" aria-expanded="false" aria-controls="@("collapseExample"+row.ID)">
                                                            Ücret Detayları
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6">
                                                        <div class="collapse" id="@("collapseExample"+row.ID)">
                                                            <div class="card card-body">

                                                                <table class="table" style="border:1px solid;">
                                                                    <thead>
                                                                        <tr>

                                                                            <th colspan="4" style="color:red;border:1px solid; border-color:black">SGK Çalışan Türü: @row.Positions.PositionStatus.StatusName</th>
                                                                        </tr>
                                                                        <tr style="border:1px solid">
                                                                            <th style="border-right:1px solid;border-bottom:1px solid;">Maliyet Konusu</th>
                                                                            <th style="border-right:1px solid;border-bottom:1px solid;">Opsiyonel Detay</th>
                                                                            <th style="border-right:1px solid;border-bottom:1px solid;">Tutar (TL)</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var item in Model.PositionHistoryList.Where(i => i.PositionID == row.PositionID && i.PositionItemID != 1).ToList())
                                                                        {
                                                                            if (item.PositionItemID == 12 || item.PositionItemID == 13 || item.PositionItemID == 14 || item.PositionItemID == 15 || item.PositionItemID == 16)
                                                                            {

                                                                                @*<li class="list-group-item">@(item.PositionItems.ItemName)  : <font color="blue">@(item.CostPrice.Value.ToString("N2")) ₺</font></li>*@


                                                                            }
                                                                            else
                                                                            {
                                                                                if (item.PositionItemID == 4 || item.PositionItemID == 7) // Yıllık izin ve bayram
                                                                                {
                                                                                    <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                                                        <td style="border:1px solid">@item.PositionItems.ItemName</td>
                                                                                        <td style="border:1px solid;"><span style="color:red"> @item.Value Gün</span></td>
                                                                                        <td style="border:1px solid">@item.CostPrice.Value.ToString("N2")</td>
                                                                                    </tr>
                                                                                }
                                                                                else if (item.PositionItemID == 6)//İhbar
                                                                                {
                                                                                    <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                                                        <td style="border:1px solid">@item.PositionItems.ItemName</td>
                                                                                        <td style="border:1px solid;"><span style="color:red">@(item.PositionOptionID!=null? "28 Gün" :"0 Gün") </span></td>
                                                                                        <td style="border:1px solid">@item.CostPrice.Value.ToString("N2")</td>
                                                                                    </tr>
                                                                                }
                                                                                else if (item.PositionItemID == 9 || item.PositionItemID == 10) // yol yemek
                                                                                {

                                                                                    <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                                                        <td style="border:1px solid">@item.PositionItems.ItemName</td>
                                                                                        <td style="border:1px solid;"><span style="color:red"> @(item.PositionOptionID!=null? item.PositionOptions.OptionName.ToUpper():"-")</span></td>

                                                                                        <td style="border:1px solid">@item.CostPrice.Value.ToString("N2")</td>
                                                                                    </tr>


                                                                                }
                                                                                @*else if (item.PositionItemID == 11 || item.PositionItemID == 12 || item.PositionItemID == 20)
                                                                                    {
                                                                                        <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                                                            <td style="border:1px solid">@item.PositionItems.ItemName</td>
                                                                                            <td style="border:1px solid;"><span style="color:red"> @item.Value</span></td>
                                                                                            <td style="border:1px solid">@item.CostPrice.Value.ToString("N2")</td>
                                                                                        </tr>
                                                                                    }*@
                                                                                else if (item.PositionItemID == 21)
                                                                                {
                                                                                    <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                                                        <td style="border:1px solid">@item.PositionItems.ItemName</td>
                                                                                        <td style="border:1px solid;"><span style="color:red">@(item.PositionOptionID!=null?item.Value+" Saat":"0 Saat")</span></td>
                                                                                        <td style="border:1px solid">@item.CostPrice.Value.ToString("N2")</td>
                                                                                    </tr>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                                                        <td style="border:1px solid">@item.PositionItems.ItemName</td>
                                                                                        <td style="border:1px solid;"><span style="color:red">@(item.Value!=null?item.Value.Value.ToString("N2"):"-")</span> </td>
                                                                                        <td style="border:1px solid">@item.CostPrice.Value.ToString("N2")</td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                            //else
                                                                            //{



                                                                            @*<li class="list-group-item"><b>@(item.PositionItems.ItemName)  </b> : <font color="blue"><b>@(item.CostPrice.Value.ToString("N2")) ₺</b></font></li>*@
                                                                            // }

                                                                        }
                                                                        @foreach (var item in Model.PositionHistoryList.Where(i => i.PositionID == row.PositionID && i.PositionItemID != 1).ToList())
                                                                        {
                                                                            if (item.PositionItemID == 12 || item.PositionItemID == 13 || item.PositionItemID == 14 || item.PositionItemID == 15 || item.PositionItemID == 16)
                                                                            {
                                                                                if (item.PositionItemID != 15)
                                                                                {
                                                                                    <tr style="border:1px solid;background-color:#ffffff;">
                                                                                        <td style="border-right:1px solid"><i>@item.PositionItems.ItemName</i></td>
                                                                                        <td style="border-right:1px solid"><i></i><span style="color:red">@(item.Value!=null?item.Value.Value.ToString("N2"):"-")</span> </td>
                                                                                        <td><i>@item.CostPrice.Value.ToString("N2")</i></td>

                                                                                    </tr>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <tr style="border:1px solid;background-color:#ffffff;">
                                                                                        <td style="border-right:1px solid"><i>@item.PositionItems.ItemName</i></td>
                                                                                        <td style="border-right:1px solid"><i></i><span style="color:red">@(item.Value!=null?item.Value.ToString():"-")</span> </td>
                                                                                        <td><i>@item.CostPrice.Value.ToString("N2")</i></td>

                                                                                    </tr>
                                                                                }



                                                                            }
                                                                        }
                                                                    </tbody>

                                                                </table>


                                                                @*<ul class="list-group">
                                                                        @foreach (var item in Model.offerpositions.Where(i => i.PositionID == row.PositionID && i.PositionItemID != 1).ToList())
                                                                        {
                                                                            if (item.PositionItemID == 12 || item.PositionItemID == 13 || item.PositionItemID == 14 || item.PositionItemID == 15 || item.PositionItemID == 16)
                                                                            {

                                                                            }
                                                                            else
                                                                            {

                                                                                <li class="list-group-item"><b>@(item.PositionItems.ItemName)  </b> : <font color="blue"><b>@(item.CostPrice.Value.ToString("N2")) ₺</b></font></li>
                                                                            }


                                                                        }
                                                                        @foreach (var item in Model.offerpositions.Where(i => i.PositionID == row.PositionID && i.PositionItemID != 1).ToList())
                                                                        {
                                                                            if (item.PositionItemID == 12 || item.PositionItemID == 13 || item.PositionItemID == 14 || item.PositionItemID == 15 || item.PositionItemID == 16)
                                                                            {
                                                                                <li class="list-group-item pl-3"><i style="margin-left:30px;"> @(item.PositionItems.ItemName)  : <font color="blue">@(item.CostPrice.Value.ToString("N2")) ₺</font> </i></li>
                                                                            }



                                                                        }

                                                                    </ul>*@
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            @*//Makine demişbaş*@

                            <div class="col-md-12 mt-3 mb-3" style="border:1px solid;border-radius:inherit; background-color:cornsilk">

                                <div class="row mt-3 mb-3">
                                    <div class="col-md-4">
                                        <label>
                                            <b>İşletme Gideri Oranı % (Yüzde) : </b>
                                            @(Model.SingleOfferHistory.ManagementExpenseRateMD!=null?Model.SingleOfferHistory.ManagementExpenseRateMD.Value.ToString("N2"):"-")
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <label><b>Karlılık Oranı % (Yüzde) : </b>   @(Model.SingleOfferHistory.ProfitRateForMachine!=null?Model.SingleOfferHistory.ProfitRateForMachine.Value.ToString("N2"):"-")</label>



                                    </div>
                                </div>
                            </div>

                            <table class="table multi-fields">
                                <thead class="thead-dark">

                                    <tr>
                                        <th width="350">ADI</th>
                                        <th>MİKTARI</th>
                                        <th>BİRİM</th>
                                        <th>MALİYET</th>
                                        <th>TEKLİF FİYATI</th>
                                        <th>AMORTİSMAN</th>
                                        <th>AMORTİSMAN SÜRESİ (AY)</th>
                                        <th>AYLIK AMORTİSMAN</th>

                                    </tr>
                                </thead>
                                <tbody class="table-product-main multi-field">
                                    @if (Model.EquipmentHistoryList != null && Model.EquipmentHistoryList.Count > 0)
                                    {

                                        foreach (var row in Model.EquipmentHistoryList)
                                        {
                                            <tr>
                                                <td width="350">

                                                    @(row.Products!=null?row.Products.ProductName:"-")
                                                </td>
                                                <td width="50">
                                                    @(row.Quantity!=null?row.Quantity.Value.ToString().Replace(",","."):"1")
                                                </td>
                                                <td width="110">
                                                    @*<select id="@("UnitMD"+row.ID)" name="unit" class="hesap form-control urunindirimsec">
                                                            <option value="Adet" selected>Adet</option>
                                                            <option value="Kg.">Kg.</option>
                                                        </select>*@
                                                    <center>@row.Unit</center>
                                                </td>
                                                <td width="100">
                                                    @(row.UnitPrice?.ToString("N2")) ₺
                                                </td>
                                                <td width="100">
                                                    @(row.CostPrice?.ToString("N2")) ₺
                                                </td>
                                                <td>
                                                    @(row.Depreciation?.ToString("N2")) ₺
                                                </td>
                                                <td>
                                                    @if (row.Depreciation != 0 && row.Depreciation != null)
                                                    {
                                                        @(row.MonthCount != null ? row.MonthCount.Value.ToString().Replace(",", ".") : "1")
                                                    }
                                                    else
                                                    {
                                                        @(row.MonthCount != null ? row.MonthCount.Value.ToString().Replace(",", ".") : "1")
                                                    }

                                                </td>
                                                <td>
                                                    @(row.MonthlyDepreciation?.ToString("N2")) ₺

                                                </td>


                                            </tr>
                                        }
                                    }



                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            @*Malzeme/Stok*@
                            <div class="col-md-12 mt-3 mb-3" style="border:1px solid;border-radius:inherit; background-color:cornsilk">

                                <div class="row mt-3 mb-3">
                                    <div class="col-md-4">
                                        <label><b>İşletme Gideri Oranı % (Yüzde) : </b>      @(Model.SingleOfferHistory.ManagementExpenseRateProduct!=null?Model.SingleOfferHistory.ManagementExpenseRateProduct.Value.ToString("N2"):"-")</label>

                                    </div>
                                    <div class="col-md-4">
                                        <label><b>Karlılık Oranı % (Yüzde) : </b>    @(Model.SingleOfferHistory.AraToplamProfitRate!=null?Model.SingleOfferHistory.AraToplamProfitRate.Value.ToString("N2"):"-")</label>



                                    </div>
                                </div>
                            </div>
                            <table class="table multi-fields">
                                <thead class="thead-dark">

                                    <tr>
                                        <th>ADI</th>
                                        <th>MİKTARI</th>
                                        <th>BİRİM</th>
                                        <th>MALİYET FİYATI</th>
                                        <th>TEKLİF FİYATI</th>

                                    </tr>
                                </thead>
                                <tbody class="table-product-main multi-field">
                                    @if (Model.PrdHistoryList != null && Model.PrdHistoryList.Count > 0)
                                    {

                                        foreach (var row in Model.PrdHistoryList)
                                        {
                                            <tr>
                                                <td>

                                                    @(row.Products!=null?row.Products.ProductName:"-")
                                                </td>
                                                <td width="130">
                                                    @(row.Quantity!=null?row.Quantity.Value.ToString().Replace(",","."):"1")
                                                </td>
                                                <td width="140">
                                                    @*<select id="@("Unit"+row.ID)" name="unit" class="hesap form-control urunindirimsec">
                                                            <option value="Adet" selected>Adet</option>
                                                            <option value="Kg.">Kg.</option>
                                                        </select>*@
                                                    <center>@(row.Unit !=null?row.Unit :"-")</center>
                                                </td>
                                                <td width="150">
                                                    @(row.UnitPrice?.ToString("N2")) ₺
                                                </td>
                                                <td width="150">
                                                    @(row.CostPrice?.ToString("N2")) ₺
                                                </td>



                                            </tr>
                                        }
                                    }



                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">

                            <div class="col-md-12 mt-3 mb-3" style="border:1px solid;border-radius:inherit; background-color:cornsilk">

                                <div class="row mt-3 mb-3">
                                    <div class="col-md-4">
                                        <label>
                                            <b>İşletme Gideri Oranı % (Yüzde) : </b>
                                            @(Model.SingleOfferHistory.ManagementExpenseRateOther!=null?Model.SingleOfferHistory.ManagementExpenseRateOther.Value.ToString("N2"):"-")
                                        </label>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>
                                            <b>Karlılık Oranı % (Yüzde) : </b>
                                            @(Model.SingleOfferHistory.ProfitRateForOthers!=null?Model.SingleOfferHistory.ProfitRateForOthers.Value.ToString("N2"):"-")
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <table class="table multi-fields">
                                <thead class="thead-dark">

                                    <tr>
                                        <th>AÇIKLAMA</th>
                                        <th>TUTAR</th>

                                    </tr>
                                </thead>
                                <tbody class="table-product-main multi-field">
                                    @if (Model.OtherExpenseHistoryList != null && Model.OtherExpenseHistoryList.Count > 0)
                                    {

                                        foreach (var row in Model.OtherExpenseHistoryList)
                                        {
                                            <tr>
                                                <td>
                                                    @(row.Description != null ? row.Description : "-")
                                                </td>
                                                <td>
                                                    @(row.Price != null || row.Price != 0 ? row.Price : 0)₺
                                                </td>



                                            </tr>
                                        }
                                    }



                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">İnsan Kaynakları</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Malzeme/Stok</a>
                            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Diğer</a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        @*İK*@
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row mb-1 pl-3 pr-3">

                                <div class="col-md-12 mt-3 mb-3" style="border:1px solid;border-radius:inherit; background-color:cornsilk">

                                    <div class="row mt-3 mb-3">
                                        <div class="col-lg-4">

                                            <label>
                                                <b>Karlılık Oranı % (Yüzde) : </b>
                                                @(Model.SingleOfferHistory.BrutToplamProfitRate!=null?Model.SingleOfferHistory.BrutToplamProfitRate.Value.ToString("N2"):"-")

                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <table class="table multi-fields">
                                    <thead class="thead-dark">

                                        <tr>
                                            <th>Pozisyon Adı</th>
                                            <th>Adet</th>
                                            <th>Mesai Saati</th>
                                            <th>Mesai Ücreti</th>
                                            <th>İşverene Maliyeti</th>
                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tbody class="table-product-main multi-field">
                                        @if (Model.IsOneTimePositionHistoryList != null && Model.IsOneTimePositionHistoryList.Count > 0)
                                        {

                                            foreach (var row in Model.IsOneTimePositionHistoryList.Where(i => i.PositionItemID == 2).ToList())
                                            {
                                                <tr>
                                                    <td>

                                                        @row.Positions.PositionName

                                                    </td>

                                                    <td width="105">@row.Quantity</td>
                                                    <td width="105"> @(row.WorkingHour.Value.ToString("N2") ?? "") ₺</td>
                                                    <td width="160">
                                                        @(row.OvertimePay.Value.ToString("N2")) ₺
                                                    </td>
                                                    <td>
                                                        @(row.Price.Value.ToString("N2")) ₺
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-primary" data-toggle="collapse" href="@("#collapseExample"+row.ID)" role="button" aria-expanded="false" aria-controls="@("collapseExample"+row.ID)">
                                                            Ücret Detayları
                                                        </a>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td colspan="6">

                                                        <div class="collapse" id="@("collapseExample"+row.ID)">
                                                            <div class="card card-body">
                                                                <table class="table" style="border:1px solid;">
                                                                    <thead>
                                                                        <tr>

                                                                            <th colspan="4" style="color:red;border:1px solid; border-color:black">SGK Çalışan Türü: @row.Positions.PositionStatus.StatusName</th>
                                                                        </tr>
                                                                        <tr style="border:1px solid">
                                                                            <th style="border-right:1px solid;border-bottom:1px solid;">Maliyet Konusu</th>
                                                                            <th style="border-right:1px solid;border-bottom:1px solid;">Tutar (TL)</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var item in Model.IsOneTimePositionHistoryList.Where(i => i.PositionID == row.PositionID).ToList())
                                                                        {
                                                                            if (item.PositionItemID != 9 && item.PositionItemID != 10)
                                                                            {

                                                                                <tr style="border:1px solid;background-color:#d9edf7;font-weight:700">
                                                                                    <td style="border:1px solid">@(item.IsOneTimePositionItems.ItemName)</td>

                                                                                    <td style="border:1px solid">@(item.Price.Value.ToString("N2"))</td>
                                                                                </tr>


                                                                                @*<li class="list-group-item">@(item.IsOneTimePositionItems.ItemName)  : <font color="blue"><b>@(item.Price.Value.ToString("N2")) ₺</b></font></li>*@

                                                                            }

                                                                        }
                                                                    </tbody>

                                                                </table>


                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*malzeme stok*@
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">


                            <div class="col-md-12 mt-3 mb-3" style="border:1px solid;border-radius:inherit; background-color:cornsilk">

                                <div class="row mt-3 mb-3">
                                    <div class="col-lg-4">

                                        <label><b>Karlılık Oranı % (Yüzde)</b></label>
                                        @(Model.SingleOfferHistory.BrutToplamProfitRate!=null?Model.SingleOfferHistory.BrutToplamProfitRate.Value.ToString("N2"):"-")

                                    </div>
                                </div>
                            </div>
                            <table class="table multi-fields">
                                <thead class="thead-dark">

                                    <tr>
                                        <th>ADI</th>
                                        <th>MİKTARI</th>
                                        <th>BİRİM</th>
                                        <th>MALİYET FİYATI</th>
                                        <th>TEKLİF FİYATI</th>

                                    </tr>
                                </thead>
                                <tbody class="table-product-main multi-field">
                                    @if (Model.PrdHistoryList != null && Model.PrdHistoryList.Count > 0)
                                    {

                                        foreach (var row in Model.PrdHistoryList)
                                        {
                                            <tr>
                                                <td>
                                                    <input id="RowID" type="hidden" value="@row.ID" />
                                                    <input id="ProductID" type="hidden" value="@row.ProductID" />
                                                    @(row.Products!=null?row.Products.ProductName:"-")
                                                </td>
                                                <td width="130">
                                                    @(row.Quantity!=null?row.Quantity.Value.ToString().Replace(",","."):"1")
                                                </td>
                                                <td width="140">
                                                    @*<select id="@("Unit"+row.ID)" name="unit" class="hesap form-control urunindirimsec">
                                                            <option value="Adet" selected>Adet</option>
                                                            <option value="Kg.">Kg.</option>
                                                        </select>*@
                                                    <center>@(row.Unit !=null?row.Unit :"-")</center>
                                                </td>
                                                <td width="150">
                                                    @(row.UnitPrice?.ToString("N2")) ₺
                                                </td>
                                                <td width="150">
                                                    @(row.CostPrice?.ToString("N2")) ₺
                                                </td>



                                            </tr>
                                        }
                                    }



                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">


                            <div class="col-md-12 mt-3 mb-3" style="border:1px solid;border-radius:inherit; background-color:cornsilk">

                                <div class="row mt-3 mb-3">
                                    <div class="col-lg-4">

                                        <label><b>Karlılık Oranı % (Yüzde)</b></label>
                                        @(Model.SingleOfferHistory.BrutToplamProfitRate!=null?Model.SingleOfferHistory.BrutToplamProfitRate.Value.ToString("N2"):"-")


                                    </div>
                                </div>
                            </div>

                            <table class="table multi-fields">
                                <thead class="thead-dark">

                                    <tr>
                                        <th>AÇIKLAMA</th>
                                        <th>TUTAR</th>

                                    </tr>
                                </thead>
                                <tbody class="table-product-main multi-field">
                                    @if (Model.IsOneTimeOtherExpenseHistoryList != null && Model.IsOneTimeOtherExpenseHistoryList.Count() > 0)
                                    {
                                        foreach (var item in Model.IsOneTimeOtherExpenseHistoryList)
                                        {
                                            <tr style="background-color:#dedddc;color:#5e5854;border-top:#ffffff !important">

                                                @if (item.ID == 1)
                                                {
                                                    <td>
                                                        @item.IsOneTimeOfferOtherExpenseItems.ItemName
                                                    </td>
                                                    <td width="150" style="float:left">
                                                        @if (Model.IsOneTimeOtherExpenseHistoryList.FirstOrDefault(t => t.OtherExpenseItemID == 1) != null)
                                                        {


                                                            @(Model.IsOneTimeOtherExpenseHistoryList.FirstOrDefault(t=>t.OtherExpenseItemID==1).Price.Value.ToString("N2")+"₺")
                                                        }
                                                        else
                                                        {
                                                            <input id="@("ttt"+item.ID)" type="text" value="0,00" class="form-control money" />
                                                        }
                                                    </td>
                                                }
                                                else if (item.ID == 2)
                                                {
                                                    <td>
                                                        @item.IsOneTimeOfferOtherExpenseItems.ItemName
                                                    </td>
                                                    <td width="150" style="float:left">
                                                        @if (Model.IsOneTimeOtherExpenseHistoryList.FirstOrDefault(t => t.OtherExpenseItemID == 2) != null)
                                                        {


                                                            @(Model.IsOneTimeOtherExpenseHistoryList.FirstOrDefault(t=>t.OtherExpenseItemID==2).Price.Value.ToString("N2")+"₺");
                                                        }
                                                        else
                                                        {
                                                            <input id="@("ttt"+item.ID)" type="text" value="0,00" class="form-control money" />
                                                        }
                                                    </td>
                                                }



                                            </tr>
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
}

<div class="modal fade" id="HRCalculateProfitModalHistory" tabindex="-2" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div id="lg_modal223">
        <div class="modal-dialog">
            <input type="hidden" id="offerId" value="@Model.SingleOfferHistory.ID" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">İK Karlılık Hesapla</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-primary" onclick="HRProfitCalculate()">Hesapla</button>*@
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>

<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/assets/js/OfferApp.js"></script>
<script src="~/assets/js/jquery.blockUI.js"></script>