﻿@model OykaCrm.Models.ContractDetailModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@using (Html.BeginForm("Content", "Contract", FormMethod.Get))
{
    if (ViewBag.Error != null)
    {
        <div class="col-md-12">
            <div class="alert alert-danger">  @ViewBag.Error </div>

            <a href="/Contract/Index" class="btn btn-info">Geri Dön</a>
        </div>
    }
    else
    {
        if (Model != null)
        {
            <div class="col-md-12" id="right-panel">

                <div class="row">
                    <div class="col-md-12">
                        <div class="feed-box">
                            <section class="card">
                                <div class="card-body">
                                    <h4 class="new-baslik-1">Sözleşme Şablonu @(Model.singleoffer != null ? Model.singleoffer.OfferNumber : "")</h4>
                                    <hr />
                                    <div class="default-tab teklif-tab">
                                        <div class="row">
                                            <div class="col-lg-11">

                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingThree">
                                                        <h4 class="panel-title">
                                                            Şablon Seçimi
                                                        </h4>
                                                    </div><br />
                                                    <div id="collapseThree" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree" style="">
                                                        <div class="panel-body">

                                                            <div class="row">
                                                                <div class="col-sm-3 col-lg-3">
                                                                    <input type="hidden" value="@(Model.singleoffer != null ? Model.singleoffer.ID : 0)" name="contractID" />
                                                                    <select id="SelectTemplate" name="templateID" required class="form-control">
                                                                        <option value="">Lütfen Seçiniz</option>
                                                                        @if (Model.ContractTemplates != null && Model.ContractTemplates.Count > 0)
                                                                        {
                                                                            foreach (var item in Model.ContractTemplates)
                                                                            {
                                                                                <option value="@item.ID">@item.TemplateName</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                                &nbsp;
                                                                <div class="col-sm-2 col-lg-2">
                                                                    <div class="input-group-btn">
                                                                        <button class="btn btn-success" type="submit">
                                                                            Yeni Şablon Oluştur
                                                                        </button>
                                                                        <br />
                                                                    </div>

                                                                </div>
                                                                @*@if (Model.SingleOfferContract != null)
                                                                    {
                                                                        <div class="col-sm-3 col-lg-3">
                                                                            <div class="pull-left">
                                                                                <a href="/Contract/ShowContract?OfferContractID=@Model.SingleOfferContract.ID" class="btn btn-success" type="submit">
                                                                                    Var Olan Şablonu Görüntüle

                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    }*@


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="alert alert-danger"> Sözleşme Kaydı Bulunamadı </div>

                <a href="/Contract/Index" class="btn btn-info">Geri Dön</a>
            </div>
        }
    }

}

