﻿@model List<OykaCrm.Models.OfferForReportModel>



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

@{
    var offerDateBegin = Model.Select(x => x.FilterDateBegin).FirstOrDefault();
    var offerDateEnd = Model.Select(x => x.FilterDateEnd).FirstOrDefault();
    var offerReportType = Model.Select(x => x.ReportTypeID).FirstOrDefault();


}



<div>
    <a href="/Report/ExportToExcelReport?beginDate=@offerDateBegin&endDate=@offerDateEnd&reportTypeId=@offerReportType" class="btn btn-new-1 btn-sm">Excel'e Aktar</a>
    <a href="/Report/DownPdf?reportTypeID=@offerReportType&beginDate=@offerDateBegin&endDate=@offerDateEnd" class="btn btn-new-1 btn-sm no-print">PDF'e Aktar</a>
</div>
<br />
<br />

<div class="table-responsive">
    <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
        <thead>
            <tr>
                <th width="60"></th>
                <th>Teklif Numarası</th>
                <th>Proje Adı</th>
                <th>Müşteri</th>
                <th>Başlangıç Tarihi</th>
                <th>Bitiş Tarihi</th>
                @if (ViewBag.typeID == 3)
                {
                    <th>Ürünler Karlılık Tutarı</th>
                    <th>İK Karlılık Tutarı</th>
                    <th>Makine Karlılık Tutarı</th>
                    <th>Diğer Karlılık Tutarı</th>
                }
                @if (ViewBag.typeID == 4)
                {
                    <th>Süreç</th>
                }
                <th class="text-right"> Toplam Tutar </th>
                <th class="text-right">  </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr onclick="document.location = '#';" class="pointer-tr">
                        <td width="60" class="text-center"><i class="fa fa-file-text fa-2x"></i></td>
                        <td>
                            <input type="hidden" class="filterDateBegin" value="@item.FilterDateBegin" />
                            <input type="hidden" class="filterDateEnd" value="@item.FilterDateEnd" />
                            <input type="hidden" class="typeId" value="@ViewBag.typeID" />

                            <strong>@(item.OfferNumber != null ? item.OfferNumber:"-")</strong>
                        </td>
                        <td><strong>@(item.Projects != null ? item.Projects.ProjectName:"-")</strong></td>
                        <td><strong>@(item.Customers.CustomerFullName==null ? "-": item.Customers.CustomerFullName)</strong></td>
                        <td><strong>@item.DateBegin.Value.ToShortDateString()</strong></td>
                        <td><strong>@item.DateEnd.Value.ToShortDateString()</strong></td>
                        @if (ViewBag.typeID == 4)
                        {
                            <td>@item.StatusName</td>
                        }

                        @if (ViewBag.typeID == 3)
                        {
                            <td>@(item.AraToplamProfitability!=null?item.AraToplamProfitability.Value.ToString("N2")+"₺":"-")</td>
                            <td>@(item.BrutToplamProfitability!=null?item.BrutToplamProfitability.Value.ToString("N2")+"₺":"-")</td>
                            <td>@(item.MachineProfitability!=null?item.MachineProfitability.Value.ToString("N2")+"₺":"-")</td>
                            <td>@(item.OtherProfitability!=null?item.OtherProfitability.Value.ToString("N2")+"₺":"-")</td>
                        }
                        <td class="price text-right">@(item.GenelToplam!=null?item.GenelToplam.Value.ToString("N2")+"₺":"-")</td>
                        <td class="price text-right">
                            @if (item.ReportTypeID == 2)
                            {
                                <a href="/Invoice/Detail?ContractID=@item.OfferID" class="btn btn-warning invoiceDetail">Detay</a>

                            }
                            else
                            {
                                <a href="/Offer/Detail?OpportunityID=@item.OpportunityID&AutoOpportunity=1" class="btn btn-info">Detay</a>
                            }

                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>


<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>


<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/vendors/jszip/dist/jszip.min.js"></script>
<script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>
<script src="~/assets/js/jquery.blockUI.js"></script>





<script>
    function GetDetail() {
        var beginDate = $('#dateBegin').val();
        var endDate = $('#dateEnd').val();
        var selectOptionValue = $('#selectReport').val();

        if (beginDate != '' && endDate != '' && selectOptionValue != '') {

            var ViewReportParameterModel = {};
            ViewReportParameterModel.BeginDate = beginDate;
            ViewReportParameterModel.EndDate = endDate;
            ViewReportParameterModel.ReportTypeID = selectOptionValue;

            $.ajax({
                method: "POST",
                url: "/Report/ViewReportForDateFiltered",
                data: JSON.stringify({ model: ViewReportParameterModel }),
                contentType: 'application/json charset=utf=8',
                beforeSend: function () {
                    $.blockUI({ message: $('#domMessage') });
                }
            }).done(function (d) {
                if (d.failed) {
                    bootbox.alert({
                        size: "medium",
                        message: d.message,
                        buttons: {
                            ok: {
                                label: 'Tamam',
                                className: 'btn-success'
                            },
                        },
                        callback: function () { /* your callback code */ }
                    });
                    $('#partialList').html('');
                }
                else {
                    $('#partialList').html(d);
                }

            }).always(function () {
                //RefreshOfferFooter();
                $.unblockUI();
            });

        } else {
            bootbox.alert({
                size: "small",
                message: "Lütfen tüm alanları doldurunuz.!",
                buttons: {
                    ok: {
                        label: 'Tamam',
                        className: 'btn-success'
                    },
                },
                callback: function () { /* your callback code */ }
            })
        }
    }
</script>