﻿

@model List<OykaCrm.Models.ReportForOfferStatus>



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

@{
    var statusId = Model.Select(x => x.StatusLevel).FirstOrDefault();
}

<a href="/Report/ExportToExcelForOfferStatus?statusLevel=@statusId" class="btn btn-new-1 btn-sm">Excel'e Aktar</a>
<a href="/Report/DownPdfForOfferStatusReport?statusLevel=@statusId" class="btn btn-new-1 btn-sm">PDF'e Aktar</a>
<br />
<br />

<div class="table-responsive">
    <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
        <thead>
            <tr>
                <th width="60"></th>
                <th>Teklif Numarası</th>
                <th>Proje Adı</th>
                <th>Müşteri</th>
                <th>Başlangıç Tarihi</th>
                <th>Bitiş Tarihi</th>
                <th class="text-right"> Toplam Tutar </th>
                <th>Süreç</th>
                <th class="text-right">  </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr onclick="document.location = '#';" class="pointer-tr">
                        <td width="60" class="text-center"><i class="fa fa-file-text fa-2x"></i></td>
                        <td><strong>@(item.OfferNumber != null ? item.OfferNumber:"-")</strong></td>
                        <td><strong>@(item.Projects != null ? item.Projects.ProjectName:"-")</strong></td>
                        <td><strong>@(item.Customers.CustomerFullName==null ? "-": item.Customers.CustomerFullName)</strong></td>
                        <td><strong>@item.DateBegin.Value.ToShortDateString()</strong></td>
                        <td><strong>@item.DateEnd.Value.ToShortDateString()</strong></td>
                        <td class="price text-right">@(item.GenelToplam!=null?item.GenelToplam.Value.ToString("N2")+"₺":"-")</td>
                        <td><strong>@(item.OfferStatus!=null ? item.OfferStatus.StatusName:"-") </strong></td>
                        <td class="price text-right">
                            <a href="/Offer/Detail?OpportunityID=@item.OpportunityID&AutoOpportunity=1" class="btn btn-info">Detay</a>

                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>


<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>


<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/vendors/jszip/dist/jszip.min.js"></script>
<script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>
<script src="~/assets/js/jquery.blockUI.js"></script>


<script>
    function changeOfferStatusOption() {
        var selectOfferStatus = $('#selectOfferStatus').val();
        if (selectOfferStatus != '') {

        $.ajax({
            method: "POST",
            url: "/Report/ViewReportForOfferStatus",
            data: { selectOfferStatus },
            beforeSend: function () {
                $.blockUI({ message: $('#domMessage') });
            }
        }).done(function (d) {
            if (d.failed) {
                bootbox.alert({
                    size: "medium",
                    message: d.message,
                    buttons: {
                        ok: {
                            label: 'Tamam',
                            className: 'btn-success'
                        },
                    },
                    callback: function () { /* your callback code */ }
                });
                $('#partialListForOfferStatusReports').html('');
            }
            else {
                $('#partialListForOfferStatusReports').html(d);
            }

        }).always(function () {
            $.unblockUI();
        });
        }
    }


</script>