﻿

@model IEnumerable<OykaCrm.Models.OfferForReportModel>

<table>
    <tr>
        <td>
            <img src="http://194.100.100.21/images/header.PNG" style="width:300px;" height:"95px;" />
        </td>
    </tr>
</table>
<table style="width:100%">
    <tr style="width:100%; height:50px; text-align:center; line-height:50px; background-color:lightgrey; color:black">

        <td> @Model.Select(x => x.FilterDateBegin.Value.ToString("dd/MM/yyyy")).FirstOrDefault() - @Model.Select(x => x.FilterDateEnd.Value.ToString("dd/MM/yyyy")).FirstOrDefault() Tarihleri Arasında   Teklif  Durum Raporu</td>
    </tr>
</table>
<br />
@if (Model != null && Model.Count() > 0)
{
    <table class="table" width="100%" cellpadding="0" cellspacing="0">
        <thead>

            <tr style="height:35px;">
                <th style="border:1px solid black">Teklif Numarası</th>
                <th style="border:1px solid black">Proje Adı</th>
                <th style="border:1px solid black">Müşteri</th>
                <th style="border:1px solid black">Başlangıç Tarihi</th>
                <th style="border:1px solid black">Bitiş Tarihi</th>
                <th style="border:1px solid black">Süreç</th>
                <th style="border:1px solid black">Toplam Tutar</th>

            </tr>
        </thead>
        <tbody style="border:solid 1px;">
            @foreach (var item in Model)
            {
                <tr style="height:35px;">
                    <td width="5%" style="border:1px solid black"><center>@(item.OfferNumber != null ? item.OfferNumber : "-")</center></td>
                    <td width="40%" style="border:1px solid black"><center>@(item.Projects != null ? item.Projects.ProjectName : "-")</center></td>
                    <td width="25%" style="border:1px solid black"><center>@(item.Customers.CustomerFullName == null ? "-" : item.Customers.CustomerFullName)</center></td>
                    <td width="10%" style="border:1px solid black"><center>@item.DateBegin.Value.ToShortDateString()</center></td>
                    <td width="10%" style="border:1px solid black"><center>@item.DateEnd.Value.ToShortDateString()</center></td>

                    <td width="10%" style="border:1px solid black">
                        <center>
                            @(item.StatusName!=null?item.StatusName:"-")
                        </center>
                    </td>

                    <td width="20%" style="border:1px solid black"><center>@(item.GenelToplam != null ? item.GenelToplam.Value.ToString("N2") + "₺" : "-")</center></td>

                </tr>
            }

        </tbody>
    </table>
}


