﻿
@{
    ViewBag.Title = "CustomersReports";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@model List<OykaCrm.Models.Customers>

<div class="col-md-12">
    <div class="feed-box">
        <section class="card">
            <div class="card-body">

                <div class="row mt-3">

                    <div class="col-md-12">
                        <label class="col-md-3">Müşteri </label> <br />

                        <select class="form-control col-md-3 selectpicker" data-show-subtext="true" data-live-search="true" id="selectCustomer" onchange="changeCustomerOption()" required>
                            <option selected value="">Lütfen Müşteri Seçiniz</option>

                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <option value="@item.ID">@item.CustomerFullName</option>
                                }

                            }

                        </select>


                    </div>


                </div>


                <div class="col-md-12 mt-5" id="partialListForCustomerReports">
                    <!--PartiaView buraya gelecek-->

                </div>

            </div>

        </section>
    </div>
</div>

<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/af.min.js"></script>  

<script>

    function changeCustomerOption() {
        var selectCustomer = $('#selectCustomer').val();

        if (selectCustomer != '') {
            $.ajax({
                method: "POST",
                url: "/Report/ViewReportForCustomer",
                data: { selectCustomer },
                beforeSend: function () {
                    $.blockUI({ message: $('#domMessage') });
                }
            }).done(function (d) {
                if (d.failed) {
                    bootbox.alert({
                        size: "medium",
                        message: d.message,
                        buttons: {
                            ok: {
                                label: 'Tamam',
                                className: 'btn-success'
                            },
                        },
                        callback: function () { /* your callback code */ }
                    });
                    $('#partialListForCustomerReports').html('');
                }
                else {
                    $('#partialListForCustomerReports').html(d);
                }

            }).always(function () {
                $.unblockUI();
            });
        }
    }


</script>
