﻿@model IEnumerable<OykaCrm.Models.OfferContentTemplate>

@{
    ViewBag.Title = "GetReport";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<h2>GetReport</h2>


<div style="text-align:right"> @Html.ActionLink("PDF Print Templates", "DownPdf")</div>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemplateName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemplateName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
