﻿
@{
    ViewBag.Title = "OfferStatusReports";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@model IEnumerable<OykaCrm.Models.OfferStatus>

<div class="col-md-12">
    <div class="feed-box">
        <section class="card">
            <div class="card-body">

                <div class="row mt-3">

                    <div class="col-md-12">
                        <label class="col-md-3">Teklif Durumu</label> <br />

                        <select class="form-control col-md-3 selectpicker" @*title="Bulunamadı"*@ id="selectOfferStatus" @*data-show-subtext="true"*@ data-live-search="true" name="selectReport" onchange="changeOfferStatusOption()" required>
                            <option selected value="">Lütfen Teklif Durumu Seçiniz</option>

                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <option value="@item.StatusLevel">@item.StatusName</option>
                                }

                            }

                        </select>


                    </div>


                </div>


                <div class="col-md-12 mt-5" id="partialListForOfferStatusReports">
                    <!--PartiaView buraya gelecek-->

                </div>

            </div>

        </section>
    </div>
</div>


<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>


<script src="~/vendors/jquery/dist/jquery.min.js"></script>

<script>
        function changeOfferStatusOption() {
            var selectOfferStatus = $('#selectOfferStatus').val();
            if (selectOfferStatus != '') {

                $.ajax({
                    method: "POST",
                    url: "/Report/ViewReportForOfferStatus",
                    data: { selectOfferStatus },
                    beforeSend: function () {
                        $.blockUI({ message: $('#domMessage') });
                    }
                }).done(function (d) {
                    if (d.failed) {
                        bootbox.alert({
                            size: "medium",
                            message: d.message,
                            buttons: {
                                ok: {
                                    label: 'Tamam',
                                    className: 'btn-success'
                                },
                            },
                            callback: function () { /* your callback code */ }
                        });
                        $('#partialListForOfferStatusReports').html('');
                    }
                    else {
                        $('#partialListForOfferStatusReports').html(d);
                    }

                }).always(function () {
                    $.unblockUI();
                });
            }
        }


</script>