﻿<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Oyak Pazarlama - Tesis Yönetim Hizmetleri</title>
    <meta name="description" content="Fiber Hesap ile ekonomik ve hızlı çözümler">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <!--<link rel="stylesheet" href="assets/css/normalize.css">-->
    <link rel="stylesheet" href="~/assets/css/lib/datatable/dataTables.bootstrap.min.css">
     
    <link rel="stylesheet" href="~/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker3.css">
    <link href="~/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Condensed:400,400i,700|Roboto:300,400,400i,500,500i,700' rel='stylesheet' type='text/css'>
	<link href='~/assets/css/jquery-ui.min.css' type='text/css' rel='stylesheet' >
	<link rel="stylesheet" href="~/assets/css/clockpicker.css" />

	<link rel="stylesheet" href="~/assets/css/mystyle.css" />
</head>
<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                @using (Html.BeginForm())
                {
                <div class="login-form">
                    <div class="login-logo">
                        <a href="#">
                            <img class="align-content" src="~/images/oyakPazarlama.png" alt="" style="margin-top:60px;margin-bottom:60px;">
                            @*//<img src="~/images/oyakPazarlama.png" />*@
                        </a>
                    </div>
                    <div>
                        <div class="form-group">
                            <label>E-Posta</label>
                            <input type="text" class="form-control" name="txtusername" placeholder="E-posta adresiniz">
                        </div>
                        <div class="form-group">
                            <label>Şifre</label>
                            <input type="password" class="form-control" name="txtpass" placeholder="Şifreniz">
                        </div>
                        @*<div class="checkbox">
                            <label>
                                <input type="checkbox"> Beni Hatırla
                            </label>
                            <label class="pull-right">
                                <a href="/sifremi-unuttum">Şifrenizi mi unuttunuz?</a>
                            </label>
                        </div>*@
                        @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
                        {
                            <p class="col-md-offset-2"><b style="color:red">@ViewBag.ErrorMessage</b></p>
                        }
                        <br /><br />
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Oturum Aç</button>
                    </div>
                </div>
                }
                
            </div>
        </div>
    </div>
</body>
</html>
