﻿@model OykaCrm.Models.DefaultModel
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oypa Pazarlama - Tesis Yönetim Ver 1.0</title>
    <meta name="description" content="Fiber Hesap ile ekonomik ve hızlı çözümler">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="assets/css/normalize.css">-->
    <link rel="stylesheet" href="~/assets/css/lib/datatable/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker3.css">
    <link href="~/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Condensed:400,400i,700|Roboto:300,400,400i,500,500i,700|Inconsolata|Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href='~/assets/css/jquery-ui.min.css' type='text/css' rel='stylesheet'>
    <link rel="stylesheet" href="~/assets/css/clockpicker.css" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/css/mystyle.css" />
</head>
<body>
    <!-- Left Panel -->

    @Html.Partial("~/Views/_PartialLeftMenu.cshtml")
    <!-- /#left-panel -->
    <!-- Left Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        @Html.Partial("~/Views/_PartialHeaderLogin.cshtml")

        <!-- /header -->
        <!-- Header-->
        @if (ViewBag.IsDirector != null)
        {


            <div class="content mt-3">

                <div class="clearfix"></div>
                <div class="col-md-3">
                    <div class="card text-white bg-flat-color-1 main-page-top-button">
                        <a @*href="/firmalar"*@>
                            <div class="card-body pb-0">
                                <div class="dropdown float-right">
                                    <i class="fa fa-building-o fa-3x"></i>
                                </div>
                                <h3 class="mb-0">
                                    <span class="count">@Model.CustomerCount</span>
                                </h3>
                                <p class="text-light">Firma ve müşteri kaydı</p>
                            </div>
                        </a>
                    </div>
                </div>




                <div class="col-md-3">
                    <div class="card text-white bg-flat-color-4 main-page-top-button">
                        <a @*href="/stoklar/kritik-stok"*@>
                            <div class="card-body pb-0">
                                <div class="dropdown float-right">
                                    <i class="fa fa-dropbox fa-3x"></i>
                                </div>
                                <h3 class="mb-0">
                                    <span class="count">@Model.OfferCount</span>
                                </h3>
                                <p class="text-light">Toplam Teklif</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-flat-color-2 main-page-top-button">
                        <a @*href="/musteriler/borclumusteri"*@>
                            <div class="card-body pb-0">
                                <div class="dropdown float-right">
                                    <i class="fa fa-sign-in fa-3x"></i>
                                </div>
                                <h3 class="mb-0">
                                    <span class="count">@Model.ProjectCount</span>
                                </h3>
                                <p class="text-light">Toplam Proje</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-flat-color-4 main-page-top-button">
                        <a @*href="/stoklar/kritik-stok"*@>
                            <div class="card-body pb-0">
                                <div class="dropdown float-right">
                                    <i class="fa fa-dropbox fa-3x"></i>
                                </div>
                                <h3 class="mb-0">
                                    <span class="count">@Model.OpportunityCount</span>
                                </h3>
                                <p class="text-light">Toplam Fırsat</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="clearfix"></div>



                <div class="col-md-4">
                    <div class="card kisi-son-gorevler">
                        <div class="card-header">
                            <strong class="card-title mb-3">FIRSATLAR &nbsp;<i>(@DateTime.Now.Year)</i></strong> <small class="pull-right"><em>Son 20 Fırsat</em></small>
                        </div>
                        <ul class="list-group list-group-flush main-page-boxes">
                            @if (Model.OppList != null && Model.OppList.Count() > 0)
                            {
                                foreach (var item in Model.OppList)
                                {

                                    <li class="list-group-item">
                                        <a @*href="/siparisler/goruntuleme/874"*@>
                                            <i class="fa fa-envelope-o"></i>&nbsp; @item.OpportunityNumber - @item.OpportunityName
                                            @if (item.StatusLevel == 1)
                                            {
                                                <span class='badge badge-primary pull-right'>@item.OpportunityStatus.StatusName</span>
                                            }
                                            else if (item.StatusLevel == 2 || item.StatusLevel == 3)
                                            {
                                                <span class='badge badge-success pull-right'>@item.OpportunityStatus.StatusName</span>
                                            }
                                            else
                                            {
                                                <span class='badge badge-danger pull-right'>@item.OpportunityStatus.StatusName</span>
                                            }
                                        </a>
                                    </li>

                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card kisi-son-gorevler">
                        <div class="card-header">
                            <strong class="card-title mb-3">TEKLİFLER &nbsp;<i>(@DateTime.Now.Year)</i></strong> <small class="pull-right"><em>Son 20 Teklif</em></small>
                        </div>
                        <ul class="list-group list-group-flush main-page-boxes">
                            @if (Model.OfferList.Count() > 0 && Model.OfferList != null)
                            {
                                foreach (var item in Model.OfferList)
                                {

                                    <li class="list-group-item">
                                        <a @*href="/siparisler/goruntuleme/874"*@>
                                            @*//Teklif adı yerine fırsat adı yazdım*@
                                            <i class="fa fa-envelope-o"></i> @item.OfferNumber - @item.OfferName
                                            @if (item.StatusLevel != null)
                                            {
                                                if (item.StatusLevel == 10)
                                                {
                                                    <span class='badge badge-success pull-right'>@item.OfferStatus.StatusName</span>

                                                }
                                                else
                                                {
                                                    <span class='badge badge-primary pull-right'>@item.OfferStatus.StatusName</span>
                                                }

                                            }
                                            else
                                            {
                                                <span class='badge badge-danger pull-right'>Belirlenmemiş</span>
                                            }
                                        </a>
                                    </li>
                                }

                            }

                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card kisi-son-gorevler">
                        <div class="card-header">
                            <strong class="card-title mb-3">POPÜLER FİRMALAR &nbsp;<i>(@DateTime.Now.Year)</i></strong> <small class="pull-right"><em>En çok Teklif Verilen 20 Firma</em></small>
                        </div>
                        <ul class="list-group list-group-flush main-page-boxes">

                            @if (ViewBag.PopulerCustomer != null)
                            {
                                foreach (var item in ViewBag.PopulerCustomer)
                                {
                                    <li class="list-group-item">
                                        <a>
                                            <i class="fa fa-building-o">&nbsp; @item.Customer</i>

                                            <span class='badge badge-success pull-right'> @item.Count</span>




                                        </a>
                                    </li>
                                }

                            }
                            else
                            {
                                <li class="list-group-item">
                                    <a>
                                        <i class="fa fa-envelope-o">Teklif Bulunamadı</i>

                                        @*<span class='badge badge-success pull-right'> @item.Count</span>*@




                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>



                <div class="clearfix"></div>

                <div class="col-md-6">
                    <div class="card kisi-son-gorevler">
                        <div class="card-header">
                            <strong class="card-title mb-3">Açık ve Onaylanmış Fırsat Kayıtları <i>(@DateTime.Now.Year)</i></strong>
                        </div>
                        <div class="card-body chart-panel">
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                </div>

                @*<div class="col-md-6">
                        <div class="card kisi-son-gorevler">
                            <div class="card-header">
                                <strong class="card-title mb-3">Gelir ve Gider Tablosu</strong>
                            </div>
                            <div class="card-body chart-panel">
                                <canvas id="lineChart"></canvas>
                            </div>
                        </div>
                    </div>*@

                <div class="col-md-6">
                    <div class="card kisi-son-gorevler">
                        <div class="card-header">
                            <strong class="card-title mb-3">Teklif Durumları <i>(@DateTime.Now.Year)</i></strong>
                        </div>
                        <div class="card-body chart-panel">

                            <canvas id="singelBarChart23"></canvas>

                        </div>
                    </div>
                </div>






                @*<div class="col-md-6">
                    <div class="card kisi-son-gorevler">
                        <div class="card-header">
                            <strong class="card-title mb-3">Teklif Durumları</strong>
                        </div>
                        <div class="card-body chart-panel">
                            <h4 class="mb-3">Pie Chart </h4>
                            <canvas id="pieChart33"></canvas>


                        </div>
                    </div>
                </div>*@






                <!--<div class="col-md-4">
                    <div class="card kisi-son-gorevler">
                        <div class="card-header">
                            <strong class="card-title mb-3">AJANDA</strong>
                        </div>
                        <div class="card-body chart-panel">-->
                            <!--<h4 class="mb-3">Pie Chart </h4>-->
                            <!--<canvas id="pieChart"></canvas>
                            <hr />
                            <div class="row">
                                <div class="col-md-6 text-center chartpaneljs01"><h6><small>TOPLAM GÖRÜŞME SAYISI</small></h6><span>0</span></div>
                                <div class="col-md-6 text-center chartpaneljs02"><h6><small>OLUMLU GÖRÜŞME SAYISI</small></h6><span>0</span></div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <!--<div class="col-md-4">
                    <div class="card kisi-son-gorevler">
                        <div class="card-header">
                            <strong class="card-title mb-3">SATIŞ FIRSATLARI</strong>
                        </div>
                        <div class="card-body chart-panel">-->
                            <!--<h4 class="mb-3">Pie Chart </h4>-->
                            <!--<canvas id="polarChart"></canvas>
                            <hr />
                            <div class="row">
                                <div class="col-md-6 text-center chartpaneljs03"><h6><small>TOPLAM FIRSAT SAYISI</small></h6><span>0</span></div>
                                <div class="col-md-6 text-center chartpaneljs04"><h6><small>KAZANILAN FIRSAT SAYISI</small></h6><span>0</span></div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <!--<div class="col-md-4">
                    <div class="card kisi-son-gorevler">
                        <div class="card-header">
                            <strong class="card-title mb-3">TEKLİF TİPLERİ</strong>
                        </div>
                        <div class="card-body chart-panel">-->
                            <!--<h4 class="mb-3">Pie Chart </h4>-->
                            <!--<canvas id="doughutChart"></canvas>
                            <hr />
                            <div class="row">
                                <div class="col-md-6 text-center chartpaneljs05"><h6><small>TEK SEFERLİK TEKLİF SAYISI</small></h6><span>@Model.IsOneTimeOffer</span></div>
                                <div class="col-md-6 text-center chartpaneljs06"><h6><small>SÜRELİ TEKLİF SAYISI</small></h6><span>@Model.NormalOffer</span></div>
                            </div>
                        </div>
                    </div>
                </div>-->


                <div class="clearfix"></div>



            </div> <!-- .content -->
        }
    </div><!-- /#right-panel -->
    <script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/jquery.maskMoney.min.js"></script>
    <script src="~/assets/js/jquery.mask.js"></script>
    <script src="~/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js" type="text/javascript"></script>

    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/clockpicker.js"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js"></script>
    <script src="~/assets/js/myscript.js"></script>
    <script>

        (function ($) {
            "use strict";

            /* jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } ); */

            jQuery(".urunmiktar").attr("type", "tel");

            //var uzunluk = jQuery(".multi-fields tbody").css('height');
            jQuery(document).on('click', '#addmore', function (e) {
                //jQuery(this).parent().parent().parent().parent().prev().find(".musteri-urun-button").hide();
                jQuery(".musteri-urun-button").hide();
            });


            var saniye = 7200; // 10 dakika için 6000
            var gidilecekSite = "/index/ekranikilitle/";
            var geriSayim = setTimeout(function () {
                document.location.href = gidilecekSite;
            }, 1000 * saniye);

            jQuery(document).bind("blur focus focusin focusout load resize scroll unload click dblclick mousedown mouseup mousemove mouseover mouseout mouseenter mouseleave change select submit keydown keypress keyup error", function () {
                window.clearTimeout(geriSayim);
                geriSayim = setTimeout(function () {
                    document.location.href = gidilecekSite;
                }, 1000 * saniye);
            });


        })(jQuery);


    </script>


    <script src="~/assets/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="~/assets/js/lib/chart-js/chartjs-init.js"></script>

    <!--<script src="/assets/js/dashboard.js"></script>
    <script src="/assets/js/widgets.js"></script>-->

    @if (ViewBag.IsDirector != null)
    {


        <script>
        (function ($) {
            "use strict";

            //Kullanılabilir!!
            //var ctx = document.getElementById("pieChart33");
            //ctx.height = 150;
            //var myChart = new Chart(ctx, {
            //    type: 'pie',
            //    data: {
            //        datasets: [{
            //            data: [10, 20, 40, 50],
            //            backgroundColor: [
            //                "#1abc9c",
            //                "#2ecc71",
            //                "#3498db",
            //                "#9b59b6"
            //            ],
            //            hoverBackgroundColor: [
            //                "#16a085",
            //                "#27ae60",
            //                "#2980b9",
            //                "#8e44ad"
            //            ]

            //        }],
            //        labels: [
            //            " Telefon",
            //            " E-Posta",
            //            " Randevu",
            //            " Satış Görüşmesi"
            //        ]
            //    },
            //    options: {
            //        responsive: true
            //    }
            //});
            //jQuery(".chartpaneljs01 span").html("0");
            //jQuery(".chartpaneljs02 span").html("0");

            //////////////////////////////////////////////

            //var ctx = document.getElementById("polarChart");
            //ctx.height = 300;
            //var myChart = new Chart(ctx, {
            //    type: 'polarArea',
            //    data: {
            //        datasets: [{
            //            data: [0, 0, 0, 0, 0],
            //            backgroundColor: [
            //                "#00d2d3",
            //                "#54a0ff",
            //                "#576574",
            //                "#c8d6e5",
            //                "#5f27cd"
            //            ],
            //            hoverBackgroundColor: [
            //                "#01a3a4",
            //                "#2e86de",
            //                "#222f3e",
            //                "#8395a7",
            //                "#341f97"
            //            ]

            //        }],
            //        labels: [
            //            " Açık",
            //            " Kazanıldı",
            //            " Kaybedildi",
            //            " Vazgeçildi",
            //            " Askıya Alındı"
            //        ]
            //    },
            //    options: {
            //        responsive: true
            //    }
            //});
            //jQuery(".chartpaneljs03 span").html("0");
            //jQuery(".chartpaneljs04 span").html("0");

            //////////////////////////////////////////////

            //Kullanılabilir!!

            @*var ctx = document.getElementById("doughutChart");
            ctx.height = 300;
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [@Model.IsOneTimeOffer, @Model.NormalOffer],
                        backgroundColor: [
                            "#C4E538",
                            "#12CBC4"
                        ],
                        hoverBackgroundColor: [
                            "#A3CB38",
                            "#1289A7"
                        ]

                    }],
                    labels: [
                        "Tek Seferlik",
                        "Süreli"
                    ]
                },
                options: {
                    responsive: true
                }
            });
            jQuery(".chartpaneljs05 span").html("@Model.IsOneTimeOffer");
            jQuery(".chartpaneljs06 span").html("@Model.NormalOffer");*@

            //////////////////////////////////////////////

            var ctx = document.getElementById("barChart");
            ctx.height = 200;
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    datasets: [
                        {
                            label: "Direktör Onay",
                            data: [@Model.SingleMonthlyOpportunityCount.ConfirmJan,@Model.SingleMonthlyOpportunityCount.ConfirmFeb,@Model.SingleMonthlyOpportunityCount.ConfirmMar,@Model.SingleMonthlyOpportunityCount.ConfirmApr,@Model.SingleMonthlyOpportunityCount.ConfirmMay,@Model.SingleMonthlyOpportunityCount.ConfirmJune,@Model.SingleMonthlyOpportunityCount.ConfirmJuly,@Model.SingleMonthlyOpportunityCount.ConfirmAug,@Model.SingleMonthlyOpportunityCount.ConfirmSep,@Model.SingleMonthlyOpportunityCount.ConfirmOct,@Model.SingleMonthlyOpportunityCount.ConfirmNov,@Model.SingleMonthlyOpportunityCount.ConfirmDec],
                            borderColor: "#2980b9",
                            borderWidth: "0",
                            backgroundColor: "#3498db"
                        },
                        {
                            label: "Direktör Onay Bekleyen",
                            data: [@Model.SingleMonthlyOpportunityCount.WaitingJan,@Model.SingleMonthlyOpportunityCount.WaitingFeb,@Model.SingleMonthlyOpportunityCount.WaitingMar,@Model.SingleMonthlyOpportunityCount.WaitingApr,@Model.SingleMonthlyOpportunityCount.WaitingMay,@Model.SingleMonthlyOpportunityCount.WaitingJune,@Model.SingleMonthlyOpportunityCount.WaitingJuly,@Model.SingleMonthlyOpportunityCount.WaitingAug,@Model.SingleMonthlyOpportunityCount.WaitingSep,@Model.SingleMonthlyOpportunityCount.WaitingOct,@Model.SingleMonthlyOpportunityCount.WaitingNov,@Model.SingleMonthlyOpportunityCount.WaitingDec],
                            borderColor: "#ecf0f1",
                            borderWidth: "0",
                            backgroundColor: "#bdc3c7"
                        }, {
                            label: "Direktör Red",
                            data: [@Model.SingleMonthlyOpportunityCount.RefuseJan, @Model.SingleMonthlyOpportunityCount.RefuseFeb,@Model.SingleMonthlyOpportunityCount.RefuseMar,@Model.SingleMonthlyOpportunityCount.RefuseApr,@Model.SingleMonthlyOpportunityCount.RefuseMay,@Model.SingleMonthlyOpportunityCount.RefuseJune,@Model.SingleMonthlyOpportunityCount.RefuseJuly,@Model.SingleMonthlyOpportunityCount.RefuseAug,@Model.SingleMonthlyOpportunityCount.RefuseSep,@Model.SingleMonthlyOpportunityCount.RefuseOct,@Model.SingleMonthlyOpportunityCount.RefuseNov,@Model.SingleMonthlyOpportunityCount.RefuseDec],
                            borderColor: "#f86c6b",
                            borderWidth: "0",
                            backgroundColor: "#f86c6b"
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            //////////////////////////////////////////////




            })(jQuery);


            // single bar chart
            var ctx = document.getElementById("singelBarChart23");
            ctx.height = 200;
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["İlk Kayıt", "Teklif Hazırlık", "Satın Alma Onay", "Satın Alma  Red", "IK Onay", "IK Red", "Fiyat Revizyon", "İptal", "Müşteri Onay Bekliyor",  "Sözleşme Hazırlık","Satın Alma Müd. Onay","Satın Alma Müd.Red"],
                    datasets: [
                        {
                            label: "Teklif Durumları",
                            data: [@Model.SingleOfferStatusCount.IlkKayit, @Model.SingleOfferStatusCount.TeklifHazirlik,@Model.SingleOfferStatusCount.SatinAlmaUzmOnay, @Model.SingleOfferStatusCount.SatinAlmaUzmRed, @Model.SingleOfferStatusCount.IKOnay,@Model.SingleOfferStatusCount.IKRed,@Model.SingleOfferStatusCount.FiyatRevizyon,@Model.SingleOfferStatusCount.Iptal,@Model.SingleOfferStatusCount.MusteriOnayBekliyor,@Model.SingleOfferStatusCount.SozlesmeHazirlik,@Model.SingleOfferStatusCount.SatinAlmaMudOnay,@Model.SingleOfferStatusCount.SatinAlmaMudRed],
                            borderColor: "rgba(0, 123, 255, 0.9)",
                            borderWidth: "0",
                            backgroundColor: "rgba(0, 123, 255, 0.5)"
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        </script>

    }
</body>
</html>
