﻿<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OYAK PAZARLAMA TYH - ERP</title>
    <meta name="description" content="Oyak Pazarlama Tesis Yönetim Hizmetleri">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="assets/css/normalize.css">-->
    @*<link rel="stylesheet" href="~/assets/css/lib/datatable/dataTables.bootstrap.min.css">*@
    <link rel="stylesheet" href="~/assets/css/bootstrap-min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker3.css">
    <link href="~/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Condensed:400,400i,700|Roboto:300,400,400i,500,500i,700|Inconsolata|Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href='~/assets/css/jquery-ui.min.css' type='text/css' rel='stylesheet'>
    <link rel="stylesheet" href="~/assets/css/clockpicker.css" />

    @*<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">*@

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />*@

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>


    <link rel="stylesheet" href="~/assets/css/mystyle.css" />
    <!-- Latest compiled and minified CSS -->
    <link href="~/assets/css/bootstrap-select.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">


</head>
<body>
    <!-- Left Panel -->

    @Html.Partial("~/Views/_PartialLeftMenu.cshtml")
    <!-- /#left-panel -->
    <!-- Left Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        @Html.Partial("~/Views/_PartialHeaderLogin.cshtml")

        <!-- /header -->
        <!-- Header-->
        @RenderBody()

    </div>
    <!-- /#right-panel -->
    <script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/jquery.maskMoney.min.js"></script>
    <script src="~/assets/js/jquery.mask.js"></script>
    <script src="~/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery.mask.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/clockpicker.js"></script>
    <script src="~/assets/js/jquery.turkLirasi.min.js"></script>
    @*<script src="~/assets/js/myscript.js"></script>*@
    <script src="~/assets/js/OfferApp.js"></script>

    <script src="~/assets/js/bootstrap-notify.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>

    <script src="~/assets/js/jquery.blockUI.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>*@
    <script src="~/Scripts/MyScripts/CityChange.js"></script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">

        $('.selectpicker').selectpicker({
            
            noneResultsText:'Kayıt Bulunamadı',
            noneSelectedText:'vfj'
        });



        //$('.modal').on('hidden.bs.modal', function (e) {
        //    $('body').addClass('modal-open');
        //});
        function goBack() {
            window.history.back();
        }
    </script>



</body>
</html>

