﻿
@{
    ViewBag.Title = "ArchiveList";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}


@using OykaCrm.Models;
@model ConstantParameterListModel



<section class="card">
    <div class="card-body">

    </div>

    <br>
    <div class="row">
        <div class="col-md-12 ">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link" 
 id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" style="background-color:#F2F2F2;border:solid;"><b><i class="fa fa-tasks fa-1x"></i>&nbsp;Kıdem Tazaminatı Arşivi</b></a>
                    <a class="nav-item nav-link" id="nav-oppo-tab" data-toggle="tab" href="#nav-oppo" role="tab" aria-controls="nav-oppo" aria-selected="false" style="background-color:#F2F2F2;border:solid;"><b><i class="fa fa-mail-reply-all"></i>&nbsp;İK Brüt Oranı Arşivi</b></a>

                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <br>
                        <br>
                        <h5>Kıdem Tazminatı Arşivi</h5>
                        <br />
                        <div class="table-responsive">
                            <table class="table table-striped table-list table-hover">
                                <thead>
                                    <tr>

                                        <th>Değeri</th>
                                        <th>Tarih</th>
                                        <th>Durumu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.CompensationList != null && Model.CompensationList.Count() > 0)
                                    {
                                        foreach (var item in Model.CompensationList)
                                        {
                                            if (item.ParameterValue != null)
                                            {
                                                <tr>
                                                    <td>@item.ParameterValue</td>
                                                    <td>@item.UsedDate.Value.ToShortDateString()</td>
                                                    <td>
                                                        @if (item.IsActive == true)
                                                        {
                                                            <p class="text-success">Güncel</p>

                                                        }
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-oppo" role="tabpanel" aria-labelledby="nav-oppo-tab">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <br>
                        <br>
                        <h5>İK Brüt Oranı Arşivi</h5>
                        <br />
                        <div class="table-responsive">
                            <table class="table table-striped table-list table-hover">
                                <thead>
                                    <tr>

                                        <th>Değeri</th>
                                        <th>Durumu</th>
                                        <th>Tarih</th>
                                        <th>Durumu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.GrossRateateList != null && Model.GrossRateateList.Count() > 0)
                                    {
                                        foreach (var item in Model.GrossRateateList)
                                        {
                                            if (item.ParameterValue != null)
                                            {
                                                <tr>
                                                    <td>@item.ParameterValue</td>

                                                    @if (item.PositionStatus == 1)
                                                    {
                                                        <td>Çalışan</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Emekli</td>
                                                    }

                                                    <td>@item.UsedDate.Value.ToShortDateString()</td>
                                                    <td>
                                                        @if (item.IsActive == true)
                                                        {
                                                            <p class="text-success">Güncel</p>

                                                        }
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>



