﻿
@{
    ViewBag.Title = "EditCompensation";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@using OykaCrm.Models
@model ConstantParameterModel

@if (Model != null)
{
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="feed-box">
                        <section class="card">
                            <div class="card-body">
                                @using (Html.BeginForm("EditConstantParameter", "ConstantParamater", FormMethod.Post, new { enctype = "multipart/form-data" }))

                                {
                                    if (Model.PositionStatus == 0)
                                    {
                                        <h5>Kıdem Tazminatı Güncelleme</h5>
                                    }
                                    else if (Model.PositionStatus == 1)
                                    {
                                        <h5>İK Brüt Oranı Çalışan</h5>
                                    }
                                    else
                                    {
                                        <h5>İK Brüt Oranı Emekli</h5>
                                    }

                                    <hr />

                                    <div class="form-horizontal form-main form-teklif" id="form1" name="form1">
                                        <div class="col-md-9">
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label">Parametre Adı</label></div>
                                                <div class="col-5 col-md-5">
                                                    <input type="hidden" value="@Model.Id" />
                                                    <input type="hidden" name="ConstantParemeterId" value="@Model.ConstantParemeterId" />
                                                    <input type="text" id="text-input" name="parameterName" value="@Model.ParameterName" class="form-control" readonly required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="text-input" class="form-control-label">Parametre Değeri</label></div>
                                                <div class="col-5 col-md-5">
                                                    <input type="number" id="text-input" name="parameterValue" value="@Model.ParameterValue" class="form-control" required step="0.000001">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-3"><label for="text-input" class="form-control-label">Tarih</label></div>
                                                <div class="col-md-5">
                                                    <input type="date" id="usedDate" readonly name="usedDate" value="@Model.FormatDate" class="form-control">
                                                </div>
                                                <div class=" col-md-3">
                                                    <label><input type="checkbox" class="mt-3" value="" id="changeDate">&nbsp; Tarihi Değiştir</label>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success mt-5">Kaydet</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-12">
        <div class="alert alert-danger">
            Kayıt Bulunamadı
        </div>
        <button class="btn btn-info" onclick="goBack()">Geri Dön</button>
    </div>
}



<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script>

    $("#changeDate").change(function () {
        if (this.checked) {
            document.getElementById("usedDate").readOnly = false;
        }
        else {
            document.getElementById("usedDate").readOnly = true;
        }
    });

</script>


