﻿@using OykaCrm.Models
@model OpportunityDetailViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="col-md-12">
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        <div class="btn btn-info" onclick="goBack()">Geri Dön</div>
    </div>
}
else
{
    
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                @if (ViewBag.SMessage != null)
                {

                    <script type="text/javascript">
                        window.onload = function () {
                            $(document).ready(function () {
                                $("#Message").css('display', '');
                                $("#Message").animate({ left: '250px' });
                                setInterval(function () { $("#Message").fadeOut() }, 3000);
                            });
                        };
                    </script>

                    <div id="Message" class="col-md-4 alert alert-success" style="display:none;position:absolute; z-index:3;"><i class="fa fas fa-check-circle"></i>&nbsp;<b>@ViewBag.SMessage</b></div>
                }
                @if (ViewBag.EMessage != null)
                {

                    <script type="text/javascript">
                        window.onload = function () {
                            $(document).ready(function () {
                                $("#Message").css('display', '');
                                $("#Message").animate({ left: '250px' });
                                setInterval(function () { $("#Message").fadeOut() }, 3000);
                            });
                        };
                    </script>

                    <div id="Message" class="col-md-4 alert alert-danger" style="display:none;position:absolute; z-index:3;"><b>@ViewBag.EMessage</b></div>
                }
                @if (Model != null)
                {
                    <div class="col-md-12">
                        <div class="feed-box">
                            <section class="card">
                                <div class="card-body">

                                    @using (Html.BeginForm("Edit", "Opportunity", FormMethod.Post))
                                    {
                                        <div class="form-horizontal form-main form-teklif" id="form1" name="form1">
                                            <div class="col-md-9">
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-file-o"></i> Fırsat Numarası</label></div>
                                                    <div class="col-5 col-md-5"><input type="text" id="text-input" name="OpportunityNumber" value="@Model.SingleOpportunity.OpportunityNumber" readonly class="form-control"></div>
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Süreç</label></div>
                                                            <div class="col-9 col-md-9">
                                                                <select name="StatusLevel" id="select" class="form-control">
                                                                    @foreach (var item in Model.StatusList)
                                                                    {

                                                                        <option value="@item.StatusLevel" @(Model.RolePermissionList.FirstOrDefault(i => i.PermissionID == 12)?.MaxStatusLevel >= item.StatusLevel ? "" : "disabled") @(item.StatusLevel == Model.SingleOpportunity.StatusLevel ? "selected" : "")>@item.StatusName</option>

                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-file-o"></i> Fırsat Adı</label></div>
                                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="OpportunityName" value="@Model.SingleOpportunity.OpportunityName" class="form-control"></div>
                                                </div>
                                                <hr>
                                                <input type="hidden" name="ID" value="@Model.SingleOpportunity.ID" />
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-building-o"></i> Müşteri</label></div>
                                                    <div class="col-9 col-md-9">
                                                        <select class="selectpicker" name="CustomerID" data-show-subtext="true" data-live-search="true">
                                                            <option>Lütfen Müşteri Seçiniz..</option>
                                                            @foreach (var item in Model.CustomersList)
                                                            {

                                                                <option value="@item.ID" @(item.ID == Model.SingleOpportunity.CustomerID ? "selected" : "")>@item.CustomerFullName - (@item.AccountCode) </option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fas fa-project-diagram"></i> Proje</label></div>
                                                    <div class="col-9 col-md-9">
                                                        <select class="selectpicker" name="ProjectID" data-show-subtext="true" data-live-search="true">
                                                            <option>Lütfen Proje Seçiniz..</option>
                                                            @foreach (var item in Model.ProjectList)
                                                            {
                                                                <option value="@item.ID" @(item.ID == Model.SingleOpportunity.ProjectID ? "selected" : "")>@item.ProjectName</option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                                <hr> 
                                               
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-calendar"></i>Tek Seferlik Fırsat </label></div>
                                                    <div class="col-12 col-md-9">
                                                        @if (Model.SingleOpportunity.IsOneTime == false) // false ise tek seferlik teklif değil
                                                        {
                                                            <input name="IsOneTimee" value="false" style="display:none" id="IsOneTime" />
                                                            @*<input type="checkbox" id="IsOneTime" name="IsOneTimee" onchange="change()" value="true" data-toggle="toggle" data-on="Hayır" data-off="Evet" data-onstyle="success" data-offstyle="danger" data-size="small">*@
                                                            <label><b>Evet</b></label>
                                                        }
                                                        else //True ise süreli bir teklif
                                                        {
                                                            <input name="IsOneTimee" value="true" style="display:none" id="IsOneTime" />
                                                            <label><b>Hayır</b></label>
                                                            @*<input type="checkbox" id="IsOneTime" name="IsOneTimee" onchange="change()" value="true" checked data-toggle="toggle" data-on="Hayır" data-off="Evet" data-onstyle="success" data-offstyle="danger" data-size="small">*@
                                                        }
                                                    </div>

                                                </div>

                                                @if (Model.SingleOpportunity.IsOneTime == true) // false ise tek seferlik teklif değil
                                                {
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-calendar"></i> Düzenleme Tarihi:</label></div>

                                                        <div class="col-12 col-md-9"><input type="date" class="form-control" value="@Model.FormatDateBegin" name="DateBegin"></div>
                                                    </div>
                                                    <div id="EndDate">
                                                        <div class="row form-group" id="">
                                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-bell"></i> Bitiş Tarihi:</label></div>
                                                            <div class="col-12 col-md-9"><input type="date" class="form-control" value="@Model.FormatDateEnd" name="DateEnd"></div>
                                                        </div>
                                                    </div>
                                                }

                                                @if (Model.SingleOpportunity.IsOneTime == false)
                                                {
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-calendar"></i> Düzenleme Tarihi:</label></div>

                                                        <div class="col-12 col-md-9"><input type="date" class="form-control" value="@Model.FormatDateBegin" name="DateBegin" maxlength="10" autocomplete="off"></div>
                                                    </div>
                                                    <div id="EndDate" style="display:none">
                                                        <div class="row form-group">
                                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-bell"></i> Bitiş Tarihi:</label></div>
                                                            <div class="col-12 col-md-9"><input type="date" class="form-control" value="@Model.FormatDateEnd" name="DateEnd" maxlength="10" autocomplete="off"></div>
                                                        </div>
                                                    </div>
                                                }

                                                <hr>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-bell"></i> Fırsat Detayları:</label></div>
                                                    <div class="col-12 col-md-9">

                                                        <div class="card">

                                                            <div class="card-body">
                                                                <div class="default-tab success">
                                                                    <nav>
                                                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                                            <a class="nav-item nav-link  active show" id="nav-malzeme-tab" data-toggle="tab" href="#nav-malzeme" role="tab" aria-controls="nav-malzeme" aria-selected="true">

                                                                                <i class="fa fa-plus-square fa-1x"></i>
                                                                                Fırsata ait detaylar

                                                                            </a>
                                                                        </div>
                                                                    </nav>
                                                                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                                                        <div class="tab-pane fade active show" id="nav-malzeme" role="tabpanel" aria-labelledby="nav-malzeme-tab">
                                                                            <textarea name="MainContent" id="textarea-input" rows="9" style="height:300px;" class="form-control">@Model.SingleOpportunity.MainContent</textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label"> <i class="fa fa-bell"></i>Fırsat Dokümanları </label></div>

                                                    <div class="col-12 col-md-9">
                                                        @if (Model.DocumentsList != null && Model.DocumentsList.Count() > 0)
                                                        {


                                                            <table class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">Belge Adı</th>
                                                                        <th scope="col">İşlemler</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in Model.DocumentsList)
                                                                    {
                                                                        <tr>
                                                                            <td>@item.DocumentName.Remove(0, 36)</td>
                                                                            <td><a href="/Opportunity/DownloadFile?filePath=@item.DocumentName"><i>İndirmek için Tıklayınız</i></a></td>

                                                                        </tr>
                                                                    }


                                                                </tbody>
                                                            </table>
                                                        }

                                                    </div>



                                                </div>


                                            </div>

                                            <div class="col-md-3 text-right form-save-pc">
                                                <a href="/Opportunity/Index" class="btn btn-new-1">VAZGEÇ</a>
                                                @if (Model.SingleOpportunity.StatusLevel <= Model.RolePermissionList.FirstOrDefault(i => i.PermissionID == 11)?.MaxStatusLevel)
                                                {
                                                    <button type="submit" name="button" id="button" class="btn btn-new-2">GÜNCELLE</button>
                                                }
                                            </div>

                                            <div class="offset-md-9 col-md-3 text-right form-save-pc">
                                                <a href="/Opportunity/Index" class="btn btn-new-1">VAZGEÇ</a>
                                                @if (Model.SingleOpportunity.StatusLevel <= Model.RolePermissionList.FirstOrDefault(i => i.PermissionID == 11)?.MaxStatusLevel)
                                                {
                                                    <button type="submit" name="button" id="button" class="btn btn-new-2">GÜNCELLE</button>
                                                }
                                            </div>
                                            <div class="col-md-12 text-right form-save-mobile">
                                                <a href="/teklifler" class="btn btn-new-1">VAZGEÇ</a>
                                                <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                            </div>


                                        </div>
                                    }
                                </div>
                                <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="largeModalLabel">Detaylı Müşteri Arama</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row form-group">
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" placeholder="Lütfen aramak istediğiniz müşteri adını girin" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <button type="button" class="btn btn-primary">Sorgula</button>
                                                    </div>
                                                </div>

                                                <hr />

                                                <div id="ResultCustomerList">

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                <button type="button" class="btn btn-success">Müşteri Seç</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            Kayıt Bulunamadı
                        </div>
                        <button class="btn btn-info" onclick="goBack()">Geri Dön</button>
                    </div>
                }

            </div>
        </div>
    </div>
}
<script>
    $("#IsOnceTime").bootstrapSwitch({
        onSwitchChange: function (e, state) {
            alert(state);
        }
    });

    function change() {
        if ($("#IsOneTime").is(':checked')) {

            $("#EndDate").css('display', 'block');

        } else {
            $("#EndDate").css('display', 'none');


        }

    }
    function goBack() {
        window.history.back();
    }
</script>