﻿@using OykaCrm.Models
@model List<Opportunity>
@*@model OpportunityControlModel*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}
<link href="~/assets/css/demo.css" rel="stylesheet" />
<link href="~/assets/css/lobibox.css" rel="stylesheet" />

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="input3-group2" name="str" placeholder="Fırsat Numarası,Müşteri veya Bölge Kodunu Giriniz.." class="form-control">
                                <div class="input-group-btn"><button type="submit" name="button" id="button" class="btn btn-secondary"><i class="fa fa-search"></i> </button></div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group-btn"><a href="/Opportunity/Index" class="btn btn-new-1">Aramayı Sıfırla</a></div>
            </div>
            <div class="col-md-2">
             
            </div>
            <div class="col-md-2">
                <a href="/Opportunity/New" class="btn btn-info">Yeni Fırsat Oluştur</a>
            </div>
            @if (ViewBag.SMessage != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        $(document).ready(function () {
                            $("#Message").css('display', '');
                            $("#Message").animate({ left: '250px' });
                            setInterval(function () { $("#Message").fadeOut() }, 3000);
                        });
                    };
                </script>

                <div id="Message" class="col-md-4 alert alert-success" style="display:none;position:absolute; z-index:3;"><i class="fa fas fa-check-circle"></i>&nbsp;<b>@ViewBag.SMessage</b></div>
            }
            @if (ViewBag.EMessage != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        $(document).ready(function () {
                            $("#Message").css('display', '');
                            $("#Message").animate({ left: '250px' });
                            setInterval(function () { $("#Message").fadeOut() }, 3000);
                        });
                    };
                </script>

                <div id="Message" class="col-md-4 alert alert-danger" style="display:none;position:absolute; z-index:3;"><b>@ViewBag.EMessage</b></div>
            }
            <div class="col-md-12">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">
                            <div class="toplamsayi pull-right"><em>Toplam <strong>@(Model != null ? Model.Count : 0)</strong> fırsat bulunmaktadır.</em></div>
                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                                    <thead>
                                        <tr>
                                            <th width="60"></th>
                                            <th>
                                                FIRSAT NUMARASI
                                            </th>
                                            <th>
                                                MÜŞTERİ
                                            </th>

                                            <th>
                                                DÜZENLEME TARİHİ
                                            </th>
                                            <th>
                                                Süreç
                                            </th>
                                            <th>
                                                İşlem
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr onclick="document.location = '/Opportunity/Detail/@item.ID';" class="pointer-tr">
                                                    <td width="60" class="text-center"><i class="fa fa-file-o"></i></td>
                                                    <td><strong>@item.OpportunityNumber</strong></td>
                                                    <td><strong>@item.Customers.CustomerFullName</strong><br><small></small></td>
                                                    <td>@item.DateBegin.Value.ToShortDateString()</td>
                                                    <td>@item.OpportunityStatus.StatusName</td>
                                                    <td>
                                                        @if (item.StatusLevel == 3)
                                                        {

                                                            <a href="/Offer/Detail?OpportunityID=@item.ID&AutoOpportunity=1" class="btn btn-success btn-sm">Teklife Dönüştür</a>

                                                        }
                                                        else if (item.StatusLevel == 4)
                                                        {
                                                            <button class="btn btn-danger btn-sm">
                                                                Direktör Red
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-danger btn-sm">
                                                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                                                     width="15" height="15"
                                                                     viewBox="0 0 172 172"
                                                                     style=" fill:#000000;">
                                                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="bold" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M86,21.5c-35.56738,0 -64.5,28.93262 -64.5,64.5c0,35.56739 28.93262,64.5 64.5,64.5c35.56739,0 64.5,-28.93261 64.5,-64.5c0,-35.56738 -28.93261,-64.5 -64.5,-64.5zM86,32.25c29.75146,0 53.75,23.99854 53.75,53.75c0,29.75146 -23.99854,53.75 -53.75,53.75c-29.75146,0 -53.75,-23.99854 -53.75,-53.75c0,-29.75146 23.99854,-53.75 53.75,-53.75zM80.625,43v48.375h37.625v-10.75h-26.875v-37.625z"></path></g></g>
                                                                </svg> Onay Bekliyor
                                                            </button>
                                                        }
                                                    </td>

                                                </tr>
                                            }

                                        }
                                        else
                                        {
                                            <tr onclick="document.location = '/Opportunity/Detail/444';" class="pointer-tr">
                                                <td width="60" class="text-center"><i class="fa fa-file-o"></i></td>
                                                <td><strong>7777</strong></td>
                                                <td><strong>645646</strong><br><small></small></td>
                                                <td>779V</td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 text-center">



                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/js/lobibox.js"></script>
<script src="~/assets/js/demo.js"></script>