﻿@using OykaCrm.Models
@model OpportunityNewViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}


<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>


<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="feed-box">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                @ViewBag.ErrorMessage
                            </div>
                        </div>
                    }

                    <section class="card">

                        <div class="card-body">
                            @using (Html.BeginForm("Add", "Opportunity", FormMethod.Post, new { enctype = "multipart/form-data" }))

                            {
                                <input type="hidden" value="0" id="IsOneTimeForm" name="IsOneTimeForm" />
                                <div class="form-horizontal form-main form-teklif" id="form1" name="form1">
                                    <div class="col-md-9">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-file-o"></i> Fırsat Numarası</label></div>
                                            <div class="col-5 col-md-5"><input type="text" id="text-input" name="OpportunityNumber" value="@Model.OpportunityNumber" readonly class="form-control"></div>


                                            <div class="row form-group">
                                                <div class="col-md-12">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label">Süreç</label></div>
                                                    <div class="col-9 col-md-9">
                                                        <select name="StatusLevel" id="select" class="form-control">
                                                            @if (Model.StatusList != null && Model.StatusList.Count > 0)
                                                            {
                                                                foreach (var item in Model.StatusList)
                                                                {
                                                                    <option value="@item.StatusLevel" @(item.StatusLevel == 1 ? "" : "disabled")>@item.StatusName</option>

                                                                }
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-file-o"></i> Fırsat Adı</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="opportunityNumberValue" name="OpportunityName" value="" class="form-control"></div>
                                        </div>
                                        <hr>

                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-building-o"></i> Müşteri</label></div>
                                            <div class="col-9 col-md-9">
                                                <select class="selectpicker" name="CustomerID" data-show-subtext="true" data-live-search="true" required id="selectedCustomer">
                                                    <option value="">Lütfen Müşteri Seçiniz..</option>
                                                    @if (Model.CustomersList != null && Model.CustomersList.Count > 0)
                                                    {
                                                        foreach (var item in Model.CustomersList)
                                                        {

                                                            <option value="@item.ID">@item.CustomerFullName - (@item.AccountCode)</option>
                                                        }
                                                    }


                                                </select>

                                            </div>
                                        </div>
                                        <hr>

                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-building-o"></i> Proje</label></div>
                                            <div class="col-9 col-md-9 row">
                                                <select class="selectpicker col-md-6" name="ProjectID" data-show-subtext="true" data-live-search="true" required>
                                                    <option value="">Lütfen Proje Seçiniz..</option>
                                                    @if (Model.ProjectList != null && Model.ProjectList.Count > 0)
                                                    {
                                                        foreach (var item in Model.ProjectList)
                                                        {
                                                            <option value="@item.ID">@item.Code - @item.ProjectName</option>
                                                        }
                                                    }


                                                </select>
                                                <a href="#" class="btn btn-warning col-md-3" id="generateProjectCode" style="color:white"><i class="fa fa-plus-circle" aria-hidden="true">&nbsp; Yeni Proje Kodu</i></a>
                                            </div>
                                        </div>
                                        <hr>
                                        @*Tekseferlik Teklif toggle Start*@
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-calendar"></i>Tek Seferlik Fırsat </label></div>

                                            <div class="col-12 col-md-9">
                                                Evet <input type="checkbox" id="IsOneTime" name="IsOneTime" onchange="change()" @*checked*@>
                                            </div>




                                        </div>
                                        @*Tekseferlik Teklif toggle End*@
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-calendar"></i> Düzenleme Tarihi:</label></div>
                                            <div class="col-12 col-md-9"><input type="date" class="form-control" name="DateBegin" maxlength="10" autocomplete="off" required></div>
                                        </div>
                                        <div class="row form-group" id="EndDate">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-bell"></i> Bitiş Tarihi:</label></div>
                                            <div class="col-12 col-md-9"><input type="date" class="form-control" id="eDate" name="DateEnd" value="" maxlength="10" autocomplete="off" @*required*@></div>
                                        </div>
                                        <hr>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-bell"></i> Fırsat Detayları:</label></div>
                                            <div class="col-12 col-md-9">

                                                <div class="card">

                                                    <div class="card-body">
                                                        <div class="default-tab success">
                                                            <nav>
                                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                                    <a class="nav-item nav-link  active show" id="nav-malzeme-tab" data-toggle="tab" href="#nav-malzeme" role="tab" aria-controls="nav-malzeme" aria-selected="true">

                                                                        <i class="fa fa-plus-square fa-1x"></i>
                                                                        Fırsata ait detaylar

                                                                    </a>
                                                                </div>
                                                            </nav>
                                                            <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                                                <div class="tab-pane fade active show" id="nav-malzeme" role="tabpanel" aria-labelledby="nav-malzeme-tab">
                                                                    <textarea name="MainContent" id="textarea-input" rows="9" style="height:300px;" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-bell"></i> Fırsat Dokümanları </label></div>

                                            <div class="col-12 col-md-9">
                                                <div class="file-field">
                                                    <div class="btn btn-default btn-sm float-left">
                                                        <input type="file" name="uploadFiles" multiple>
                                                    </div>

                                                </div>

                                            </div>



                                        </div>


                                        <hr>


                                    </div>

                                    <div class="col-md-3 text-right form-save-pc">
                                        <a href="/Opportunity/Index" class="btn btn-new-1">VAZGEÇ</a>
                                        <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                    </div>

                                    <div class="offset-md-9 col-md-3 text-right form-save-pc">
                                        <a href="/Opportunity/Index" class="btn btn-new-1">VAZGEÇ</a>
                                        <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                    </div>
                                    <div class="col-md-12 text-right form-save-mobile">
                                        <a href="/teklifler" class="btn btn-new-1">VAZGEÇ</a>
                                        <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="largeModalLabel">Detaylı Müşteri Arama</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row form-group">
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" placeholder="Lütfen aramak istediğiniz müşteri adını girin" />
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-primary">Sorgula</button>
                                            </div>
                                        </div>

                                        <hr />

                                        <div id="ResultCustomerList">

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                        <button type="button" class="btn btn-success">Müşteri Seç</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="generateProjectCodeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Proje Kodu Talebi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="row form-group">
                    <h6 class="mt-2 ml-3 ">Fırsat Adı :</h6>
                    <input type="text" class="col-sm-6 ml-4 mb-2 form-control" readonly id="opportunityNumber" name="opportunityNumber" />
                    <br />

                </div>
                <div class="row form-group">
                    <h6 class="mt-2 ml-3 ">Müşteri Adı :</h6>
                    <input type="text" class="col-sm-6 ml-2  mb-2 form-control" readonly id="customerName" name="customerName" />
                    <br />

                </div>

                <div class="row form-group">
                    <h6 class="mt-2 ml-3 mr-1">İl Seçiniz :</h6>
                    <select class="col-sm-6 ml-4  mb-2 form-control" id="CityId" onchange="GetCounty()" name="CityId" required>
                        <option selected value="">Lütfen Bir İl Seçiniz</option>
                        @if (Model.CityList != null && Model.CityList.Count > 0)
                        {
                            foreach (var item in Model.CityList)
                            {
                                <option value="@item.id">@item.sehir</option>
                            }
                        }

                    </select>
                </div>



                <div class="row form-group">
                    <h6 class="mt-2 ml-3">İlçe Seçiniz :</h6>
                    <select class="col-sm-6 ml-3  mb-2 form-control" id="CountyId" name="CountyId" required >
                        <option selected value="">İlçe Seçiniz</option>

                    </select>
                </div>


            </div>


            <div class="form-group modal-footer">
                <div>
                    <button type="button" id="sendMailForGenerateProjectCode" class="btn btn-success" style="">Gönder</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                </div>
            </div>

        </div>
    </div>
</div>




<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/assets/js/jquery.blockUI.js"></script>

<script src="~/Scripts/bootbox.min.js"></script>

<script src="~/Scripts/MyScripts/CityChange.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js" data-turbolinks-track="true"></script>

<script>
    //Yeni Proje kodu üret butonu
    $("#generateProjectCode").click(function () {

        //Eger müşteri secili degilse uyarı veriyor
        var customer = $('#selectedCustomer').val();
        if (customer == "") {

            bootbox.alert({
                size: "small",
                message: "Lütfen önce müşteri seçiniz!",
                buttons: {
                    ok: {
                        label: 'Tamam',
                        className: 'btn-success'
                    }
                },
                callback: function () { /* your callback code */ }
            })
        }
        //Müsteri secili ise modal acılıyo
        else {
            var opportunityNumber = $('#opportunityNumberValue').val();
            $('#opportunityNumber').val(opportunityNumber);
            var customerName = $('#selectedCustomer option:selected').text();
            $('#customerName').val(customerName);
            $('#generateProjectCodeModal').modal('show');
        }

    });
</script>

<!--Proje kodu talebi modalında açılan ; (mail) gönder butonu-->
<script>
    $("#sendMailForGenerateProjectCode").click(function () {

        var cityId = $('#CityId').val();
        var countyId = $('#CountyId').val();
        if (cityId == "" || countyId == "") {
            bootbox.alert({
                size: "small",
                message: "Lütfen tüm alanları doldurunuz.",
                buttons: {
                    ok: {
                        label: 'Tamam',
                        className: 'btn-success'
                    },
                },

            })
        }
        else {

            $('#generateProjectCodeModal').modal('hide');
            bootbox.confirm({
                message: "Mail gönderilecek, emin misiniz?",
                buttons: {
                    confirm: {
                        label: 'Evet',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Hayır',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result == true) {


                        var opportunityNumber = $('#opportunityNumber').val();
                        var customerName = $('#customerName').val();

                        var GenerateProjectCodeModel = {};
                        GenerateProjectCodeModel.OpportunityNumber = opportunityNumber;
                        GenerateProjectCodeModel.CityId = cityId;
                        GenerateProjectCodeModel.CountyId = countyId;
                        GenerateProjectCodeModel.CustomerName = customerName;

                        $.ajax({
                            url: '/Opportunity/SendMailForGenerateProjectCode',
                            type: 'POST',
                            dataType: 'json',
                            data: JSON.stringify({ model: GenerateProjectCodeModel }),
                            contentType: 'application/json charset=utf=8',
                            success: function (result) {
                                debugger;
                                if (result.result == "true") {

                                    bootbox.alert({
                                        size: "small",
                                        message: "Mail gönderildi.",
                                        buttons: {
                                            ok: {
                                                label: 'Tamam',
                                                className: 'btn-success'
                                            },
                                        },

                                    })

                                }
                                else if (result.result == "missingMail")
                                {
                                    bootbox.alert({
                                        size: "medium",
                                        message: "Sistemede muhasebe birimi için bir mail adresi tanımlı değil.",
                                        buttons: {
                                            ok: {
                                                label: 'Tamam',
                                                className: 'btn-danger'
                                            },
                                        },

                                    })
                                }
                                else {
                                    bootbox.alert({
                                        size: "small",
                                        message: "Mail gönderilemedi.",
                                        buttons: {
                                            ok: {
                                                label: 'Tamam',
                                                className: 'btn-danger'
                                            },
                                        },

                                    })
                                }
                            }
                        });


                        //$.ajax({
                        //    method: "POST",
                        //    url: "/Opportunity/SendMailForGenerateProjectCode",
                        //    dataType: 'json',
                        //    data: JSON.stringify({ model: GenerateProjectCodeModel }),
                        //    contentType: 'application/json charset=utf=8',
                        //    beforeSend: function () {
                        //        $.blockUI({ message: $('#domMessage') });

                        //    }
                        //}).done(function (d) {
                        //    bootbox.alert({
                        //        size: "small",
                        //        message: "Mail gönderildi.",
                        //        buttons: {
                        //            ok: {
                        //                label: 'Tamam',
                        //                className: 'btn-success'
                        //            },
                        //        },

                        //    })

                        //}).always(function () {

                        //    $.unblockUI();
                        //});

                    }
                }
            });
        }


    });
</script>

<script>

    $("#IsOnceTime").bootstrapSwitch({
        onSwitchChange: function (e, state) {
            alert(state);
        }
    });

    function change()
    {  

        if ($("#IsOneTime").is(':checked'))
        {
            $("#EndDate").css('display', 'none'); 
            $("#IsOneTimeForm").prop('value', 1);
          
        }
        else
        {
            $("#EndDate").css('display', ''); 
            $("#IsOneTimeForm").prop('value', 0); 

        }
          
    }

    $('.tarih').datepicker({
        format: 'dd/mm/yyyy',
        language: 'tr'
    });


    (function ($) {
        $.fn.datepicker.language['tr'] = {
            days: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
            daysShort: ['Paz', 'Pzt', 'Sal', 'Çar', 'Per', 'Cum', 'Cmt'],
            daysMin: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
            months: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
            monthsShort: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz', 'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara'],
            today: 'Bugün',
            clear: 'Temizle',
            dateFormat: 'dd.mm.yyyy',
            timeFormat: 'hh:ii',
            firstDay: 1
        };
    })(jQuery);

</script>