﻿@using OykaCrm.Models
@model List<DocumentCategory>

@if (Model != null && Model.Count() > 0)
{

    <table class="table table-warning">
        <thead>
            <tr>
                <th> Kategoriler </th>
                <th>Kaldır</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table">
                    <td>
                        <input type="text" value="@item.CategoryName" name="catName" class="form-control" readonly>
                    </td>
                    <td>
                        <a onclick="RemoveCategory(@item.ID)" class="btn btn-new-1 btn-sm"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

}
