﻿
@using OykaCrm.Models
@model List<DocumentCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

<br />
<br />
@if (Model != null && Model.Count() > 0)
{
    <div class="col-md-12">
        <div class="feed-box">
            <section class="card">
                <div class="card-body">
                    @*<div class="col-md-1"></div>*@
                    <div class="col-md-7">
                        <br />
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th> KATEGORİ ADI </th>
                                        <th> EKLE </th>
                                    </tr>
                                </thead>
                                <tbody class="table-product-main multi-field">
                                    <tr>
                                        <td>
                                            <input type="text" placeholder="Kategori Adı giriniz.." id="ka" name="categoryName" class="form-control">
                                        </td>
                                        <td>
                                            <a id="addCategoryToDocument" class="add-field btn btn-new-1 btn-sm">&nbsp;Ekle&nbsp;</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input id="DocCatID" type="hidden" value="" name="DocumentCategoryID" />
                            <br />
                            <br />
                            <div id="kategoriler">
                                @Html.Partial("~/Views/DocumentCategory/_PartialDocumentCategories.cshtml", Model)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </section>
        </div>
    </div>

}
else
{
    <div class="col-md-12">
        <div class="alert alert-danger">
            Kayıt Bulunamadı
        </div>
        <button class="btn btn-info" onclick="goBack()">Geri Dön</button>
    </div>

}

<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/vendors/jszip/dist/jszip.min.js"></script>
<script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>

<script>

    $("#addCategoryToDocument").click(function () {
        var CatName = $("#ka").val();
        $.ajax({
            method: "GET",
            url: "/DocumentCategory/AddCategory",
            data: { CategoryName: CatName },

            beforeSend: function () {
            }

        }).done(function (d) {

            $("#kategoriler").html(d);
            $("#ka").val('');

        }).fail(function (d) {

        }).always(function () {
        }

        );

    });

    function RemoveCategory(categoryID) {
        bootbox.confirm({
            message: "Silmek istediğinizden emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    $.ajax({
                        method: "GET",
                        url: "/DocumentCategory/RemoveCategory",
                        data: { CategoryID: categoryID },

                        beforeSend: function () {
                        }

                    }).done(function (d) {

                        $("#kategoriler").html(d);
                        bootbox.alert("Kategori Silindi.");

                    }).fail(function (d) {
                        bootbox.alert("Kategori Silinemedi.");
                    }).always(function () {
                    }

                    );
                }
            }
        });


    }

</script>
