﻿@using OykaCrm.Models
@model CustomerControlModel

<br />
@if (Model.CustomerContacts != null && Model.CustomerContacts.Count() > 0)
{

        <table class="table table-warning">
            <thead>
                <tr>
                    <th width="280">Yetkili Kişinin Adı</th>
                    <th width="200">E-Posta</th>
                    <th width="200">Telefon</th>
                    <th width="320">Notlar</th>
                    <th width="20">Kaldır</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CustomerContacts)
                {
                    <tr class="table">
                        <td width="280">
                            <input type="text" value="@item.FullName"  name="yetkiliadi[]" disabled class="form-control">
                        </td>
                        <td width="200">
                            <input type="text" value="@item.Email"  name="yetkilieposta[]" disabled class="form-control">
                        </td>
                        <td width="200">
                            <input type="text" value="@item.Phone"  name="yetkilitelefon[]" disabled class="form-control">
                        </td>
                        <td width="320">
                            <textarea rows="4"  name="yetkilinotlar[]" disabled class="form-control">@item.Notes</textarea>
                        </td>
                        <td width="20">
                            <a onclick="RemoveContact(@item.CustomerID,@item.ID)" class="btn btn-new-1 btn-sm"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

}
