﻿@using OykaCrm.Models
@model CustomerControlModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}



<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">
                            <form action="~/Customer/Create" method="post" class="form-horizontal form-main form-teklif" id="form1" name="form1">
                                <div class="col-md-9">
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-building-o fa-3x"></i> FİRMA ÜNVANI *</label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="CustomerFullName" placeholder="Firma Ünvanını giriniz" class="form-control" required></div>
                                    </div>
                                    <hr>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-envelope-o"></i> E-POSTA ADRESİ *</label></div>
                                        <div class="col-12 col-md-9"><input type="email" id="text-input" name="EMail" placeholder="E-posta adresini giriniz" class="form-control" required></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-phone"></i> TELEFON NUMARASI *</label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="Phone" placeholder="Telefon numarasını giriniz" class="form-control  telefon_maskeli" required></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-fax"></i> FAKS NUMARASI</label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="FaxNumber" placeholder="Faks numarasını giriniz" class="form-control"></div>
                                    </div>
                                    @*<div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-try"></i> IBAN NUMARASI </label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="IBAN" placeholder="Firma IBAN numarasını giriniz" class="form-control"></div>
                                    </div>*@
                                    <hr>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-map-marker"></i> ADRES BİLGİSİ</label></div>
                                        <div class="col-12 col-md-9"><textarea name="Address" rows="4" placeholder="Adres bilgisini giriniz. Yurt dışı ise açık adresin tamamıı buraya yazarak, İlçe/İl bölümünü boş bırakınız." class="form-control" required></textarea></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-map-marker"></i> İLÇE, İL</label></div>

                                        <div class="col-sm-5">
                                            <div class="section_room">
                                                <div id="ili">
                                                    <select class="form-control" @*name="CityID" id="Iller"*@ id="CityId" name="CityId" required>
                                                        <option selected value="">Lütfen Bir İl Seçiniz</option>
                                                        @foreach (var item in Model.CityList)
                                                        {
                                                            <option value="@item.id">@item.sehir</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="section_room">
                                                <div id="ilcesi">
                                                    <select class="form-control" @*name="CountyName" id="ilce"*@ id="CountyId" name="CountyId" required>
                                                        <option selected value="">İlçe Seçiniz</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-calendar"></i> AÇILIŞ TARİHİ</label></div>
                                        <div class="col-12 col-md-9"><input type="date" class="form-control" name="OpeningDate" maxlength="10" autocomplete="off" required></div>
                                    </div>
                                    <hr>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-legal"></i> VERGİ/T.C KİMLİK NO</label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="TaxNumber" placeholder="Vergi kimlik yada T.C. kimlik numarasını giriniz" class="form-control"></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-legal"></i> VERGİ DAİRESİ</label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="TaxOffice" placeholder="Varsa Vergi dairesini giriniz" class="form-control"></div>
                                    </div>
                                    <hr>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-money"></i> DÖVİZ CİNSİ</label></div>
                                        <div class="col-12 col-md-9">
                                            <select id="select" class="form-control parabirimi" name="CurrencyType">
                                                @foreach (var item in Model.Currencies)
                                                {
                                                    <option value="@item.ID">@item.Name </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    @*<div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"><i class="fa fa-money"></i> AÇILIŞ BAKİYESİ</label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="OpeningBalance" placeholder="Varsa açılış bakiyesini giriniz" class="form-control currency" style="text-align: right;"></div>
                                    </div>*@
                                </div>
                                <div class="col-md-3 text-right form-save-pc">
                                    <a href="/Customer/Index" class="btn btn-new-1">VAZGEÇ</a>
                                    <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                </div>

                                <div class="col-md-12 multi-field-wrapper">
                                    <br />
                                    <br />
                                    <div class="alert alert-info">
                                        <p>&nbsp<i class="fa fa-info-circle"></i>&nbsp; Müşteri kaydettikten sonra iletişim kurulacak kişiyi/kişileri ekleyebilirsiniz. </p>
                                    </div> <br />


                                </div>
                                @*<div class="offset-md-9 col-md-3 text-right form-save-pc">
                                        <a href="/Customer/Index" class="btn btn-new-1">VAZGEÇ</a>
                                        <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                    </div>*@
                                @*<div class="col-md-12 text-right form-save-mobile">
                                        <a href="/Customer/Index" class="btn btn-new-1">VAZGEÇ</a>
                                        <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                    </div>*@
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>

<script type="text/javascript">


    $(document).ready(function () {


        //telefon mask
        $('.telefon_maskeli').mask('(000) 000-00-00', { placeholder: "(___) ___-__-__" });

    });


    //$("#Iller").on("change", function () {
    //    var il = $(this).val();
    //    console.log(il);
    //    alert("il:" + il);

    //    $.ajax({
    //        method: "GET",
    //        url: "/Customer/County",
    //        data: { ID: il },
    //        success: function (d) {
    //            alert("done1");
    //            $("#ilce").html(d);
    //            alert("done2");
    //        },
    //        error: function () {
    //            alert('error!');
    //        }

    //    });
    //});

    //$("#ilce").on("change", function () {
    //    var ilce = $(this).val();
    //    console.log(ilce);
    //});


</script>




