﻿
@using OykaCrm.Models
@model CustomerControlModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@using (Html.BeginForm("Update", "Customer", FormMethod.Post))
{
    @*<input type="hidden" value="@Model.SingleCustomer" name="SingleCustomer"/>*@

    if (Model != null)
    {
        if (Model.SingleCustomer != null)
        {
            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="feed-box">
                                <section class="card">
                                    <div class="card-body">
                                        <div id="yazdirmabaslik">@Model.SingleCustomer.CustomerFullName</div>

                                        <div class="row">
                                            <div class="col-md-9">
                                                <h2>
                                                    <i class="fa fa-building-o"></i> &nbsp; @Model.SingleCustomer.CustomerFullName
                                                </h2>
                                            </div>
                                            @*<div class="col-md-3 pull-right text-right form-save-pc">
                                                    <a href="/Customer/Index" class="btn btn-new-1">VAZGEÇ</a>
                                                    <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                                    <a href="/Customer/Delete?customerID=@Model.SingleCustomer.ID" class="btn btn-danger delBtn">Sil</a>
                                                </div>*@
                                        </div>


                                        <br />
                                        <hr> <br />
                                        <div class="clearfix"></div>
                                        <div class="col-md-12">
                                            @*<a class="btn btn-new-1 pull-right" id="button-musteri-bilgileri-goster">Müşteri Bilgilerini Göster<i class="fa fa-angle-down"></i></a>*@
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="container">
                                            <div class="col-sm-12 col-md-12 ">
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>Firma Ünvanı :</strong></label>
                                                    </div>
                                                    <div class="col-12 col-md-8">
                                                        <input type="text" class="form-control" disabled value="@if (Model.SingleCustomer.CustomerFullName != null)
                                            { @Model.SingleCustomer.CustomerFullName }" name="CustomerFullName" />
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>E-Posta Adresi :</strong></label>
                                                    </div>
                                                    <div class="col-12 col-md-8"><input type="email" required class="form-control" value="@Model.SingleCustomer.EMail" disabled name="EMail" /></div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>Telefon Numarası :</strong></label>
                                                    </div>
                                                    <div class="col-12 col-md-8"><input type="number" class="form-control" value="@Model.SingleCustomer.Phone" disabled name="Phone" /></div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>Faks Numarası :</strong></label>
                                                    </div>
                                                    <div class="col-12 col-md-8"><input type="number" class="form-control" value="@Model.SingleCustomer.FaxNumber" disabled name="FaxNumber" /></div>
                                                </div>
                                                @*<div class="row form-group">
                                                        <div class="col col-md-4">
                                                            <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>IBAN Numarası :</strong></label>
                                                        </div>
                                                        <div class="col-12 col-md-8"><input type="text" class="form-control" value="@Model.SingleCustomer.IBAN" name="IBAN" /></div>
                                                    </div>*@
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>Adres Bilgisi :</strong></label>
                                                    </div>
                                                    <div class="col-12 col-md-8"><input type="text" class="form-control" value="@Model.SingleCustomer.Address" disabled name="Address" /></div>
                                                </div>
                                                @*<div class="row form-group">
                                                        <div class="col col-md-4">
                                                            <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>İlçe / İl :</strong></label>
                                                        </div>
                                                        <div class="col-12 col-md-8"><input type="text" class="form-control" value="@Model.CountyName / @Model.CityName" name="County_City" /> </div>
                                                    </div>*@

                                                @*İl İlçe Start*@

                                                @*<div class="row form-group">
                                                        <div class="col col-md-4">
                                                            <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>İl:</strong></label>
                                                        </div>
                                                        <div class="col-12 col-md-8">
                                                            <select class="form-control" name="CityID" id="CityID" onchange="SelectCounty()">
                                                                <option value="">Seçiniz</option>
                                                                @if (Model.CityList != null && Model.CityList.Count > 0)
                                                                {
                                                                    foreach (var item in Model.CityList)
                                                                    {
                                                                        <option value="@item.id" @(item.id == Model.CityID ? "selected" : "")>@item.sehir</option>
                                                                        //Selected City Secilecek.
                                                                    }
                                                                }
                                                            </select>


                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-4">
                                                            <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>İlçe</strong></label>
                                                        </div>
                                                        <div class="col-12 col-md-8">

                                                            <select class="form-control" name="CountyID" id="CountyList">
                                                                <option value="">Seçiniz</option>
                                                                @if (Model.Counties != null && Model.Counties.Count > 0)
                                                                {
                                                                    foreach (var item in Model.Counties)
                                                                    {
                                                                        <option value="@item.id" @(item.id == Model.CountyId ? "selected" : "")>@item.ilce</option>
                                                                    }
                                                                }
                                                            </select>

                                                        </div>
                                                    </div>*@
                                                @*İl İlçe End*@
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>Müşteri Vergi Dairesi :</strong></label>
                                                    </div>
                                                    <div class="col-12 col-md-8"><input type="number" class="form-control" value="@Model.SingleCustomer.TaxOffice" disabled name="TaxOffice" /></div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col col-md-4">
                                                        <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>Müşteri Vergi / T.C. No :</strong></label>
                                                    </div>
                                                    <div class="col-12 col-md-8"><input type="number" class="form-control" value="@Model.SingleCustomer.TaxNumber" disabled name="TaxNumber" /></div>
                                                </div>
                                                @*<div class="row form-group">
                                                        <div class="col col-md-4">
                                                            <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>Açılış Tarihi :</strong></label>
                                                        </div>
                                                        <div class="col-12 col-md-8"><input type="date" class="form-control" value="@Model.FormatDate" required name="OpeningDate" /></div>
                                                    </div>*@
                                                @*<div class="row form-group">
                                                        <div class="col col-md-4">
                                                            <label for="text-input" class="form-control-label"><i class="fa fa-angle-right"></i> <strong>Açılış Bakiyesi :</strong></label>
                                                        </div>
                                                        <div class="col-12 col-md-8"><input type="text" class="form-control" value="@Model.SingleCustomer.OpeningBalance" name="OpeningBalance" /></div>
                                                    </div>*@
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br />
                                        <hr />
                                        <br />
                                        @* Yetkili ekleme Start *@
                                        <div class="col-md-12" style="height:200px;">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th width="280">YETKİLİ KİŞİNİN ADI</th>
                                                            <th width="200">E-POSTA</th>
                                                            <th width="200">TELEFON</th>
                                                            <th width="320">NOTLAR</th>
                                                            <th width="20">EKLE</th>
                                                            @*<th width="20">KALDIR</th>*@
                                                        </tr>
                                                    </thead>
                                                    <tbody class="table-product-main multi-field">
                                                        <tr class="tr_input_musteri">
                                                            <td width="280">
                                                                <input type="text" placeholder="Yetkili Kişinin Adı ve Soyadı" id="yetikiliadi_1" name="yetkiliadi[]" class="form-control">
                                                            </td>
                                                            <td width="200">
                                                                <input type="text" placeholder="E-posta adresi" id="yetkilieposta_1" name="yetkilieposta[]" class="form-control">
                                                            </td>
                                                            <td width="200">
                                                                <input type="number" placeholder="Telefon numarası" id="yetkilitelefon_1" name="yetkilitelefon[]" class="form-control">
                                                            </td>
                                                            <td width="320">
                                                                <textarea rows="4" placeholder="Kişi hakkında notlar" id="yetkilinotlar_1" name="yetkilinotlar[]" class="form-control"></textarea>
                                                            </td>
                                                            <td width="20">
                                                                <a id="addmusteriToCustomer" onclick="addMusteriToCustomer()" class="add-field btn btn-new-1 btn-sm">&nbsp;Ekle&nbsp;</a>
                                                            </td>
                                                            @*<td width="20">
                                                                    <a class="btn btn-new-1 btn-sm satir-sil removefieldmusteri" id="removemusteri_1"><i class="fa fa-times"></i></a>
                                                                </td>*@
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <input id="customerID" type="hidden" value="@Model.SingleCustomer.ID" name="CustomerID" />
                                                @*<table class="table table-tutar">
                                                        <tbody>
                                                            <tr>
                                                                <td width="380">
                                                    <a id="addmoremusteri" class="add-field btn btn-new-1 btn-sm"><i class="fa fa-plus"></i> YENİ YETKİLİ EKLE</a>
                                                    </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>*@
                                            </div>
                                        </div>

                                        <div id="musteriler" class="col-md-12">
                                            @Html.Partial("~/Views/Customer/_PartialMusteriler.cshtml", Model)
                                        </div>
                                        @* Yetkili ekleme END *@

                                        <div class="default-tab teklif-tab col-md-12 col-sm-12">
                                            @*<nav>
                                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                        <a class="nav-item nav-link" id="tab-1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab-1" aria-selected="false">SATIŞ FATURALARIM</a>
                                                        <a class="nav-item nav-link active show" id="tab-2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab-2" aria-selected="true">NAKİT AKIŞI</a>
                                                        <a class="nav-item nav-link" id="tab-3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab-3" aria-selected="false">ÇEKLER</a>
                                                        <a class="nav-item nav-link" id="tab-4" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab-4" aria-selected="false">ALIŞ FATURALARIM</a>
                                                        <a class="nav-item nav-link" id="tab-5" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab-5" aria-selected="false">TEKLİFLER</a>
                                                        <a class="nav-item nav-link" id="tab-6" data-toggle="tab" href="#tab6" role="tab" aria-controls="tab-6" aria-selected="false">TÜM AKIŞ</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                                    <div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="tab-1">
                                                        Müşteriye ait bir kayıt bulunamadı.
                                                    </div>
                                                    <div class="tab-pane fade active show in" id="tab2" role="tabpanel" aria-labelledby="tab-2">
                                                        Müşteriye ait bir kayıt bulunamadı.
                                                    </div>
                                                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab-3">
                                                        Müşteriye ait bir kayıt bulunamadı.
                                                    </div>
                                                    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab-4">
                                                        Müşteriye ait bir kayıt bulunamadı.
                                                    </div>
                                                    <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab-5">
                                                        Müşteriye ait bir kayıt bulunamadı.
                                                    </div>
                                                    <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab-6">
                                                        Müşteriye ait bir kayıt bulunamadı.
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <!--<div class="feed-box">
                                <section class="card">
                                    <div class="card-body">
                                        <a href="" class="btn btn-new-2 btn-width-49">PAYLAŞ</a>
                                        <a href="" class="btn btn-new-2 btn-width-49">YAZDIR</a>
                                        <hr />
                                        <a href="" class="btn btn-new-1 btn-width-100 btn-lg">FATURA OLUŞTUR</a>
                                    </div>
                                </section>
                            </div>-->
                            @*<div class="feed-box">
                                    <section class="card">
                                        <div class="card-body">
                                            <h4 class="text-center">Müşteri Bilgileri</h4>
                                            <hr>
                                            <dl class="dl-horizontal">
                                                <dt>Fatura ve Avanslar :</dt>
                                                <dd>0,00</dd>
                                                <dt>Tahsilatlar : </dt>
                                                <dd>0,00</dd>
                                                <dt>Bakiye :</dt>
                                                <dd>
                                                    <span class="text-success">0,00 TL</span>
                                                </dd>
                                                <dt>Son İşlem (Nakit) :</dt>
                                                <dd></dd>
                                            </dl>
                                            <div class="clearfix"></div>
                                            <div id="container-tahsilat-ekle">
                                                <h4 class="new-baslik-2 text-center"><i class="fa fa-sign-in fa-rotate-90"></i> Tahsilat Ekle</h4>
                                                <hr>
                                                <form action="" method="post" class="form-horizontal form-main form-teklif" id="form1" name="form1">
                                                    <div class="row form-group">
                                                        <div class="col col-md-12">
                                                            <div class="form-check-inline form-check">
                                                                <label for="inline-radio1" class="form-check-label ">
                                                                    <input id="inline-radio1" name="tahsilattipi" value="1" checked="" class="form-check-input tahsilat-tip-1" type="radio">NAKİT TAHSİLAT
                                                                </label>
                                                                <label for="inline-radio2" class="form-check-label ">
                                                                    <input id="inline-radio2" name="tahsilattipi" value="2" class="form-check-input tahsilat-tip-2" type="radio">ÇEK TAHSİLAT
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label for="text-input" class="form-control-label">TARİH * </label></div>
                                                        <div class="col-12 col-md-9"><input type="text" class="form-control tarih" placeholder="27.08.2019" name="tahsilattarihi" value="27.08.2019" maxlength="10" autocomplete="off"></div>
                                                    </div>
                                                    <div class="row form-group tahsilat-hesap">
                                                        <div class="col col-md-3"><label for="text-input" class="form-control-label">HESAP * </label></div>
                                                        <div class="col-12 col-md-9">
                                                            <select id="select" class="form-control parabirimi" name="tahsilathesap">
                                                                <option value="">! Önce Hesap Oluşturmalısınız !</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group tahsilat-vade-tarihi">
                                                        <div class="col col-md-3"><label for="text-input" class="form-control-label">VADE TARİHİ *</label></div>
                                                        <div class="col-12 col-md-9"><input type="text" class="form-control tarih" name="vadetarihi" placeholder="27.08.2019" value="27.08.2019" maxlength="10" autocomplete="off"></div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label for="text-input" class="form-control-label">MEBLAĞ *</label></div>
                                                        <div class="col-12 col-md-9"><input type="text" class="form-control currency" name="tahsilatmeblag" placeholder="Meblağ" value="" style="text-align: right;"></div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><label for="text-input" class="form-control-label">AÇIKLAMA </label></div>
                                                        <div class="col-12 col-md-9"><textarea name="tahsilataciklama" rows="4" placeholder="Tahsilat Açıklaması" class="form-control"></textarea></div>
                                                    </div>
                                                    <div class="text-center">
                                                        <a class="btn btn-new-1 btn-width-49" id="button-tahsilat-vazgec">VAZGEÇ</a>
                                                        <button type="submit" name="button" id="button" class="btn btn-new-3 btn-width-49">KAYDET</button>
                                                    </div>
                                                </form>
                                                <hr>
                                            </div>
                                            <hr>
                                            <button class="btn btn-new-3 btn-width-100 btn-lg" id="button-tahsilat-ekle">TAHSİLAT EKLE</button>
                                            <hr>
                                            <a href="" class="btn btn-new-1 btn-sm" data-toggle="modal" data-target="#ibanpaylas"><small><i class="fa fa fa-share"></i>&nbsp; HESAP NUMARASINI PAYLAŞ</small></a>
                                            <a href="/tedarikciler/goruntuleme/687" class="btn btn-new-1 btn-sm pull-right"><small>TEDİYE (ÖDEME EKLE)</small></a>
                                        </div>
                                    </section>
                                </div>
                                <div class="feed-box">
                                    <section class="card">
                                        <div class="card-body">
                                            <h4 class="new-baslik-1">Müşteri Geçmişi</h4>
                                            <hr>
                                            <div class="default-tab teklif-tab">
                                                <nav>
                                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                        <a class="nav-item nav-link active show" id="tumgecmis-tab" data-toggle="tab" href="#tumgecmis" role="tab" aria-controls="tumgecmis" aria-selected="true">Tüm Kayıtlar</a>
                                                        <a class="nav-item nav-link" id="notgecmis-tab" data-toggle="tab" href="#notgecmis" role="tab" aria-controls="notgecmis" aria-selected="false">Not Ekle</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                                    <div class="tab-pane fade active show in" id="tumgecmis" role="tabpanel" aria-labelledby="tumgecmis-tab">
                                                        <ul class="list-group list-group-flush">

                                                            <li class="list-group-item text-right">
                                                                <span data-id="2437" page-id="1" page-style="1">Müşteri Oluşturuldu.</span> <br><br>27.08.2019 20:33:46 / ismail bayraktar / <i class="fa fa-edit"></i>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                    <div class="tab-pane fade" id="notgecmis" role="tabpanel" aria-labelledby="notgecmis-tab">
                                                        <form action="/musteriler/goruntuleme/687/notekle" method="post" class="form-horizontal form-main form-teklif" id="form1" name="form1">
                                                            <div class="row form-group">
                                                                <div class="col-md-12"><textarea name="not" rows="3" placeholder="Not Ekle" class="form-control"></textarea></div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col-md-12"><button type="submit" name="button" id="button" class="btn btn-new-1 btn-sm pull-right">NOT EKLE</button></div>
                                                            </div>
                                                        </form>
                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="alert alert-danger">
                    Müşteri Kaydı Bulunamadı
                </div>
                @*<a href="/Customer/Index" class="btn btn-info">Geri Dön</a>*@
                <button class="btn btn-info" onclick="goBack()">Geri Dön</button>
            </div>
        }
    }
    else
    {
        <div class="col-md-12">
            <div class="alert alert-danger">
                Müşteri Kaydı Bulunamadı
            </div>
            @*<a href="/Customer/Index" class="btn btn-info">Geri Dön</a>*@
            <button class="btn btn-info" onclick="goBack()">Geri Dön</button>
        </div>
    }

}

<script>

    //(function ($) {
    //    "use strict";

    //    /* jQuery( '#vmap' ).vectorMap( {
    //        map: 'world_en',
    //        backgroundColor: null,
    //        color: '#ffffff',
    //        hoverOpacity: 0.7,
    //        selectedColor: '#1de9b6',
    //        enableZoom: true,
    //        showTooltip: true,
    //        values: sample_data,
    //        scaleColors: [ '#1de9b6', '#03a9f5' ],
    //        normalizeFunction: 'polynomial'
    //    } ); */

    //    jQuery(".urunmiktar").attr("type", "tel");

    //    //var uzunluk = jQuery(".multi-fields tbody").css('height');
    //    jQuery(document).on('click', '#addmore', function (e) {
    //        //jQuery(this).parent().parent().parent().parent().prev().find(".musteri-urun-button").hide();
    //        jQuery(".musteri-urun-button").hide();
    //    });


    //    var saniye = 7200; // 10 dakika için 6000
    //    var gidilecekSite = "/index/ekranikilitle/";
    //    var geriSayim = setTimeout(function () {
    //        document.location.href = gidilecekSite;
    //    }, 1000 * saniye);

    //    jQuery(document).bind("blur focus focusin focusout load resize scroll unload click dblclick mousedown mouseup mousemove mouseover mouseout mouseenter mouseleave change select submit keydown keypress keyup error", function () {
    //        window.clearTimeout(geriSayim);
    //        geriSayim = setTimeout(function () {
    //            document.location.href = gidilecekSite;
    //        }, 1000 * saniye);
    //    });


    //})(jQuery);


</script>

<script src="~/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="~/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="~/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="~/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.html5.min.js"></script>

    <script src="~/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="~/assets/js/lib/data-table/datatables-init.js"></script>
<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/assets/js/addmusteriToCustomer.js"></script>
<script type="text/javascript">
    //$(document).ready(function () {
    //    $('#bootstrap-data-table-export').DataTable();
    //    $('#bootstrap-data-table-export-2').DataTable();
    //    $('#bootstrap-data-table-export-3').DataTable();
    //    $('#bootstrap-data-table-export-4').DataTable();
    //    $('#bootstrap-data-table-export-5').DataTable();


    //});


    function RemoveContact(CustomerID, ID) {

        bootbox.confirm({
            message: "Silmek istediğinizden emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        method: "GET",
                        url: "/Customer/RemoveContact",
                        data: { CustomerID: CustomerID, ContactID: ID },

                        beforeSend: function () {
                        }

                    }).done(function (d) {
                        bootbox.alert({
                            size: "small",
                            message: "Yetkili silindi.",
                            buttons: {
                                ok: {
                                    label: 'Tamam',
                                    className: 'btn-success'
                                },
                            },
                            callback: function () { /* your callback code */ }
                        })
                        $("#musteriler").html(d);



                    }).fail(function (d) {

                    }).always(function () {
                    }

                    );
                }
            }
        });


    }

    function SelectCounty() {
        var cityId = $("#CityID").val();

        $.ajax({
            method: "GET",
            url: "/Customer/AddCity",
            data: { cityId: cityId },

            beforeSend: function () {
            }

        }).done(function (d) {

            $("#CountyList").html(d);

        }).fail(function (d) {

        }).always(function () {
        }

        );
    }
    function addMusteriToCustomer() {


        var ya = $("#yetikiliadi_1").val();
        var ye = $("#yetkilieposta_1").val();
        var yt = $("#yetkilitelefon_1").val();
        var yn = document.getElementById("yetkilinotlar_1").value;
        var CI = $("#customerID").val();
        if (ya != "" && ye != "") {
            debugger;
            var emailValid;
            if (!validateEmail(ye)) {
                emailValid = false;
            } else {
                emailValid = true;

            }
            if (emailValid == true) {
                $.ajax({
                    method: "GET",
                    url: "/Customer/AddContact",
                    data: { yetikiliadi: ya, yetkilieposta: ye, yetkilitelefon: yt, yetkilinotlar: yn, CustomerID: CI },

                    beforeSend: function () {
                    }

                }).done(function (d) {


                    if (d.result == "Error") {
                        bootbox.alert({
                            size: "small",
                            message: d.message,
                            buttons: {
                                ok: {
                                    label: 'Tamam',
                                    className: 'btn-success'
                                },
                            },
                            callback: function () { /* your callback code */ }
                        })
                    } else {

                        $("#musteriler").html(d);
                        $("#yetikiliadi_1").val('');
                        $("#yetkilieposta_1").val('');
                        $("#yetkilitelefon_1").val('');
                        document.getElementById("yetkilinotlar_1").value = "";
                        bootbox.alert({
                            size: "small",
                            message: "Yetkili eklendi.",
                            buttons: {
                                ok: {
                                    label: 'Tamam',
                                    className: 'btn-success'
                                },
                            },
                            callback: function () { /* your callback code */ }
                        })
                    }





                }).fail(function (d) {

                }).always(function () {
                }

                );
            } else {
                bootbox.alert({
                    size: "small",
                    message: "Hatalı E-posta",
                    buttons: {
                        ok: {
                            label: 'Tamam',
                            className: 'btn-success'
                        },
                    },
                    callback: function () { /* your callback code */ }
                })
            }




        } else {
            bootbox.alert({
                size: "small",
                message: "Yetkili adı ve E-posta boş geçilemez!",
                buttons: {
                    ok: {
                        label: 'Tamam',
                        className: 'btn-success'
                    },
                },
                callback: function () { /* your callback code */ }
            })
        }

    };



</script>


