﻿@using OykaCrm.Models
@model CustomerControlModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">




@if (Model != null)
{
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-2">

                </div>


                <div class="col-md-12">

                    <div class="alert alert-info">
                        <i><b>*Firmaları Güncelle</b> butonu logo programından yer alan güncel firma bilgilerini uygulamaya dahil etmek için kullanılır.</i>
                    </div>
                </div>
                <br />
                <br />
                <div class="col-md-12">
                    <div class="feed-box">
                        <section class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-md-2">

                                        <a href="/Customer/ExportToExcelCustomers" class="btn btn-new-1 btn-sm" @*target="_blank"*@>Excel'e Aktar</a><br /><br />
                                    </div>
                                    <div class="col-md-10">
                                        <div class="float-right">
                                            <button type="button" id="GetCustomerFromLogo" class="btn btn-info">Firmaları Güncelle</button>
                                        </div>
                                    </div>
                                </div>



                                <div class="clearfix"></div>
                                <div class="table-responsive">
                                    <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                                        <thead>
                                            <tr>
                                                <th width="60"></th>
                                                <th>
                                                    ÜNVANI
                                                    @*<a href="/musteriler/musteriAZ/"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                                        <a href="/musteriler/musteriZA/"><i class="fa fa-caret-down" aria-hidden="true"></i></a>*@
                                                </th>
                                                <th>ARP KODU</th>
                                                <th>KAYIT TARİHİ</th>

                                                @*<th>AÇILIŞ TARİHİ</th>
                                                    <th class="text-right">
                                                        BAKİYE
                                                        <a href="/musteriler/bakiyeAZ/"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                                            <a href="/musteriler/bakiyeZA/"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                                    </th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Customers != null && Model.Customers.Count > 0)
                                            {
                                                foreach (var item in Model.Customers)
                                                {
                                                    <tr onclick="document.location = '/Customer/Detail?customerID=@item.ID';" class="pointer-tr">
                                                        <td width="60" class="text-center"><i class="fa fa-building-o"></i></td>
                                                        <td><strong>@item.CustomerFullName</strong></td>
                                                        <td><strong>@item.AccountCode</strong></td>
                                                        @if (item.UpdateDate != null)
                                                        {
                                                            <td class="price text-right">   @string.Format("{0:dd.MM.yyyy HH:mm}", item.UpdateDate)</td>


                                                        }
                                                        else
                                                        {

                                                            <td class="price text-right">-</td>
                                                        }

                                                        @*@if (item.OpeningDate == null)
                                                            {
                                                                <td>-</td>
                                                            }
                                                            else
                                                            {
                                                                <td>@item.OpeningDate</td>
                                                            }
                                                            <td class="price text-right"></td>*@
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>



                                @*<div class="col-md-12 text-center">


                                        <nav aria-label="Page navigation">
                                            <ul class="pagination pagination-md">
                                                <li class="disabled">
                                                    <a href="/musteriler/id/1" aria-label="First">
                                                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="/musteriler/id/0" aria-label="Previous">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="active"><a href="/musteriler/id/1">1</a></li>
                                                <li class="disabled">
                                                    <a href="/musteriler/id/2" aria-label="Next">
                                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="/musteriler/id/1" aria-label="Last">
                                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>*@




                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>


    </div>


}




<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>


<script src="~/vendors/jquery/dist/jquery.min.js"></script>


<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/vendors/jszip/dist/jszip.min.js"></script>
<script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>

<script src="~/Scripts/bootbox.min.js"></script>



<script>

    (function ($) {
        "use strict";

        /* jQuery( '#vmap' ).vectorMap( {
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: [ '#1de9b6', '#03a9f5' ],
            normalizeFunction: 'polynomial'
        } ); */

        jQuery(".urunmiktar").attr("type", "tel");

        //var uzunluk = jQuery(".multi-fields tbody").css('height');
        jQuery(document).on('click', '#addmore', function (e) {
            //jQuery(this).parent().parent().parent().parent().prev().find(".musteri-urun-button").hide();
            jQuery(".musteri-urun-button").hide();
        });


        var saniye = 7200; // 10 dakika için 6000
        var gidilecekSite = "/index/ekranikilitle/";
        var geriSayim = setTimeout(function () {
            document.location.href = gidilecekSite;
        }, 1000 * saniye);

        jQuery(document).bind("blur focus focusin focusout load resize scroll unload click dblclick mousedown mouseup mousemove mouseover mouseout mouseenter mouseleave change select submit keydown keypress keyup error", function () {
            window.clearTimeout(geriSayim);
            geriSayim = setTimeout(function () {
                document.location.href = gidilecekSite;
            }, 1000 * saniye);
        });


    })(jQuery);


</script>


<!--<script src="~/assets/js/lib/chart-js/Chart.bundle.js"></script>

<script src="/assets/js/dashboard.js"></script>
<script src="/assets/js/widgets.js"></script>-->



<script>
    (function ($) {
        "use strict";

        var ctx = document.getElementById("pieChart");
        ctx.height = 300;
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    data: [0, 0, 0, 0],
                    backgroundColor: [
                        "#1abc9c",
                        "#2ecc71",
                        "#3498db",
                        "#9b59b6"
                    ],
                    hoverBackgroundColor: [
                        "#16a085",
                        "#27ae60",
                        "#2980b9",
                        "#8e44ad"
                    ]

                }],
                labels: [
                    " Telefon",
                    " E-Posta",
                    " Randevu",
                    " Satış Görüşmesi"
                ]
            },
            options: {
                responsive: true
            }
        });
        jQuery(".chartpaneljs01 span").html("0");
        jQuery(".chartpaneljs02 span").html("0");

        //////////////////////////////////////////////

        var ctx = document.getElementById("polarChart");
        ctx.height = 300;
        var myChart = new Chart(ctx, {
            type: 'polarArea',
            data: {
                datasets: [{
                    data: [0, 0, 0, 0, 0],
                    backgroundColor: [
                        "#00d2d3",
                        "#54a0ff",
                        "#576574",
                        "#c8d6e5",
                        "#5f27cd"
                    ],
                    hoverBackgroundColor: [
                        "#01a3a4",
                        "#2e86de",
                        "#222f3e",
                        "#8395a7",
                        "#341f97"
                    ]

                }],
                labels: [
                    " Açık",
                    " Kazanıldı",
                    " Kaybedildi",
                    " Vazgeçildi",
                    " Askıya Alındı"
                ]
            },
            options: {
                responsive: true
            }
        });
        jQuery(".chartpaneljs03 span").html("0");
        jQuery(".chartpaneljs04 span").html("0");

        //////////////////////////////////////////////

        var ctx = document.getElementById("doughutChart");
        ctx.height = 300;
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [1, 0],
                    backgroundColor: [
                        "#12CBC4",
                        "#C4E538"
                    ],
                    hoverBackgroundColor: [
                        "#1289A7",
                        "#A3CB38"
                    ]

                }],
                labels: [
                    " Fatura Oluşturulmadı",
                    " Fatura Oluşturuldu"
                ]
            },
            options: {
                responsive: true
            }
        });
        jQuery(".chartpaneljs05 span").html("1");
        jQuery(".chartpaneljs06 span").html("0");

        //////////////////////////////////////////////

        var ctx = document.getElementById("barChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                datasets: [
                    {
                        label: "Açılmış Müşteri Görüşmeleri",
                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        borderColor: "#2980b9",
                        borderWidth: "0",
                        backgroundColor: "#3498db"
                    },
                    {
                        label: "Satışa Çevrilen Görüşmeler",
                        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                        borderColor: "#ecf0f1",
                        borderWidth: "0",
                        backgroundColor: "#bdc3c7"
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        //////////////////////////////////////////////

        var ctx = document.getElementById("lineChart");
        ctx.height = 150;
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                datasets: [
                    {
                        label: "Gelir Faturaları",
                        borderColor: "rgba(0,0,0,.09)",
                        borderWidth: "1",
                        backgroundColor: "rgba(0,0,0,.07)",
                        data: [, , , , , , , , , , ,]
                    },
                    {
                        label: "Gider Faturalar",
                        borderColor: "rgba(0, 123, 255, 0.9)",
                        borderWidth: "1",
                        backgroundColor: "rgba(0, 123, 255, 0.5)",
                        pointHighlightStroke: "rgba(26,179,148,1)",
                        data: [, , , , , , , , , , ,]
                    }
                ]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                }

            }
        });
    })(jQuery);
</script>


<script>


    $('#GetCustomerFromLogo').click(function () {



        bootbox.confirm({
            message: "Firmaları logodan çekmek istediğinizden emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {

                if (result == true) {
                    console.log(result);
                    $.ajax({
                        method: "GET",
                        url: "/Customer/GetCustomerFromLogo",
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                        data: {},

                        beforeSend: function () {
                            $.blockUI({ message: $('#domMessage') });
                        }
                    }).done(function (d) {
                        console.log(d.result);
                        console.log(d.message);
                        if (d.result == "Success") {

                            bootbox.alert({
                                size: "medium",
                                message: d.message,
                                buttons: {
                                    ok: {
                                        label: 'Tamam',
                                        className: 'btn-success'
                                    },
                                },
                                callback: function () {
                                    window.location.href = '/Customer/Index'
                                }
                            });

                        } else {

                            bootbox.alert({
                                size: "medium",
                                message: d.message,
                                buttons: {
                                    ok: {
                                        label: 'Tamam',
                                        className: 'btn-success'
                                    },
                                },
                                callback: function () { /* your callback code */ }
                            });

                        }

                    }).always(function () {
                        $.unblockUI();
                    });
                }
            }
        });
        return false;


    });


</script>