﻿@using OykaCrm.Models

@model OvertimeDetailModel

<style>
    .dataTableLayout {
        table-layout: fixed;
        width: 100%;
    }

    #generalTotalDiv, #btnDiv {
        float: right;
        clear: both;
    }
</style>

<div class="col-md-12 mt-2 mb-4">

    <input type="hidden" value="@Model.OfferID" id="urlUpdateOvertimeOfferId" />
    <form class="col-12">
        <div class="form-row">
            <label class="col-sm-1 col-form-label" for="name"><b>Açıklama</b></label>
            <input type="text" class="form-control col-sm-11" maxlength="220" value="@Model.Description" id="overtimeDesc" />

        </div>
        <br />
    </form>
    <table id="overtimeTable" class="table table-bordered table-hover dataTableLayout" style="width:100%">
        <thead>
            <tr>
                <th>Pozisyon Adı</th>
                <th>Durumu</th>
                <th width="65">Kişi Sayısı</th>
                <th width="110">
                    Dönem Brüt Ücreti(TL)
                </th>
                <th width="100">Hİ FM Oranı(%)</th>
                <th width="100">Hİ FM Saat</th>
                <th width="100">HS FM Oranı(%)</th>
                <th>HS FM Saat</th>
                <th width="100">
                    BAYRAM FM Oranı(%)
                </th>
                <th>Bayram FM Saat</th>

                <th width="70">Toplam FM Brüt Ücret</th>
                <th>Toplam FM Sgk İşveren Payı</th>
                <th>Toplam FM Sgk İşveren İşsizlik

                <th>Toplam Fm Maliyeti</th>
                <th width="100">Kar Oranı %</th>
                <th>Fatura Tutarı (TL)</th>


            </tr>
        </thead>
        <tbody>

            @if (Model.ListOvertime != null && Model.ListOvertime.Count() > 0)
            {

                foreach (var item in Model.ListOvertime)
                {

                    <tr>
                        <!--Pozisyon adı-->
                        <td>
                            <!--PositionId-->
                            <input type="hidden" name="positionId" value="@item.PositionId" />
                            <input type="hidden" name="overtimeId" value="@item.Id" />
                            @Model.Positons.FirstOrDefault(x => x.ID == item.PositionId).PositionName
                        </td>
                        <!--100-200 option seçim-->
                        @{
                            var statusId = 0;
                        }

                        @if (@Model.Positons.FirstOrDefault(t => t.ID == item.PositionId).StatusID == 1)
                        {
                            statusId = 1;
                            <td>
                                @*<input type="text" name="status" class="col-md-10 ml-2" readonly value=" Çalışan" />*@
                                <p id="@("status"+item.Id)">Çalışan</p>

                            </td>
                        }
                        @if (@Model.Positons.FirstOrDefault(t => t.ID == item.PositionId).StatusID == 2)
                        {
                            statusId = 2;
                            <td>
                                @*<input type="text" name="status" class="col-md-10 ml-2" readonly value=" Emekli" />*@
                                <p id="@("status"+item.Id)">Emekli</p>
                            </td>
                        }
                        @*Kişi Sayısı*@
                        @if (Model.OfferPositionList.Any(t => t.OfferID == Model.OfferID))
                        {
                            var personCount = Model.OfferPositionList.FirstOrDefault(t => t.OfferID == Model.OfferID && t.PositionID == item.PositionId && t.PositionItemID == 1).Quantity;
                            <td>@personCount</td>
                        }

                        @*GrossWages*@
                        <td>
                            <input type="text" min="1" step="0.00001" class="form-control money" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name=@("grossWages"+item.Id) id="@(" grossWages"+item.Id)" value="@item.GrossPrice" style="width:90px" />
                        </td>
                        <!--HI 100-150-200 option-->
                        <td>
                            <div class="row">
                                <div class="col-md-12">
                                    @if (item.HI_Rate == 1)
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("hi"+item.Id)" checked value="1" class="ml-1" />
                                    }
                                    else
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("hi"+item.Id)" value="1" class="ml-1" />
                                    }
                                    <label class="ml-1"><b> %100 </b></label>
                                </div>

                                <div class="col-md-12">
                                    @if (item.HI_Rate == 1.5)
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("hi"+item.Id)" checked value="1.5" class="ml-1" />
                                    }
                                    else
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("hi"+item.Id)" value="1.5" class="ml-1" />
                                    }

                                    <label class="ml-1"><b> %150 </b></label>
                                </div>

                                <div class="col-md-12">
                                    @if (item.HI_Rate == 2)
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("hi"+item.Id)" checked value="2" class="ml-1" />
                                    }
                                    else
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("hi"+item.Id)" value="2" class="ml-1" />
                                    }
                                    <label class="ml-1"><b> %200 </b></label>
                                </div>


                            </div>
                        </td>

                        @*Hİ FM Saat*@
                        <td><input type="text" min="1" step="0.00001" class="form-control money " name="hiHour" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" value="@item.HI_Hour" id="@("weekdaysHour"+item.Id)" /></td>

                        <!--HS 100-150-200 option-->
                        <td>
                            <div class="row">

                                <div class="col-md-12">
                                    @if (item.HS_Rate == 1)
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("hs"+item.Id)" value="1" checked class="ml-1" />
                                    }
                                    else
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("hs"+item.Id)" value="1" class="ml-1" />
                                    }
                                    <label class="ml-1"><b> %100 </b></label>
                                </div>

                                <div class="col-md-12">
                                    @if (item.HS_Rate == 1.5)
                                    {
                                        <input type="radio" checked onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("hs"+item.Id)" value="1.5" class="ml-1" />
                                    }
                                    else
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("hs"+item.Id)" value="1.5" class="ml-1" />
                                    }

                                    <label class="ml-1"><b> %150 </b></label>
                                </div>

                                <div class="col-md-12">
                                    @if (item.HS_Rate == 2)
                                    {
                                        <input type="radio" checked onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("hs"+item.Id)" value="2" class="ml-1" />
                                    }
                                    else
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("hs"+item.Id)" value="2" class="ml-1" />
                                    }

                                    <label class="ml-1"><b> %200 </b></label>
                                </div>


                            </div>
                        </td>

                        @*HS FM Saat*@
                        <td><input type="text" min="1" step="0.00001" value="@item.HS_Hour" class="form-control money " name="hsHour" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" id="@("weekendHour"+item.Id)" /></td>


                        <!--BT 100-150-200 option-->
                        <td>
                            <div class="row">

                                <div class="col-md-12">
                                    @if (item.BT_Rate == 1)
                                    {
                                        <input type="radio" checked onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("bt"+item?.Id)" value="1" class="ml-1" />
                                    }
                                    else
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("bt"+item?.Id)" value="1" class="ml-1" />
                                    }
                                    <label class="ml-1"><b> %100 </b></label>
                                </div>

                                <div class="col-md-12">
                                    @if (item.BT_Rate == 1.5)
                                    {
                                        <input type="radio" checked onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("bt"+item?.Id)" value="1.5" class="ml-1" />
                                    }
                                    else
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("bt"+item?.Id)" value="1.5" class="ml-1" />
                                    }

                                    <label class="ml-1"><b> %150 </b></label>
                                </div>

                                <div class="col-md-12">
                                    @if (item.BT_Rate == 2)
                                    {
                                        <input type="radio" checked onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("bt"+item?.Id)" value="2" class="ml-1" />
                                    }
                                    else
                                    {
                                        <input type="radio" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" name="@("bt"+item?.Id)" value="2" class="ml-1" />
                                    }

                                    <label class="ml-1"><b> %200 </b></label>
                                </div>


                            </div>
                        </td>

                        @*BT FM Saat*@
                        <td><input type="text" value="@item.BT_Hour" min="1" step="0.00001" class="form-control money " name="btHour" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" id="@("holidayHour"+item.Id)" /></td>


                        @*TOPLAM FM Brüt Ücreti*@
                        <td>
                            <p name="TotalOvertimeGrossPrice" id="@("totalOvertimeGrossPrice"+item?.Id)">@item.TotalOvertimeGrossPrice</p>
                        </td>

                        @*TOPLAM FM SGK İşveren Payı*@

                        <td>
                            <p name="EmployerShare" id="@("employerShare"+item.Id)">@item.EmployerShare</p>
                        </td>
                        @*TOPLAM FM SGK İşveren İşssizlik*@
                        <td>
                            <p name="EmployerUnemployement" id="@("employerUnemployment"+item.Id)">@item.EmployerUnemployment</p>
                        </td>
                        @*TOPLAM FM Maliyeti*@
                        <td>
                            <p name="TotalOvertimeCost" id="@("totalOvertimeCost"+item.Id)">@item.TotalOvertimeCost</p>
                        </td>
                        @*Kar Oranı*@

                        <td>
                            <input type="text" value="@item.Spread" class="form-control money" name="Spread" id="@("spread"+item.Id)" onchange="CalculateOvertimeForWeekdays(@item.Id,@statusId)" />
                        </td>
                        @*Fatura Edilecek Tutar*@
                        <td>
                            <p id="@("invoiceAmount"+item.Id)" name="InvoiceAmountForOvertime" class="generalTotal">@item.InvoiceAmountForOvertime</p>
                        </td>

                    </tr>


                }
            }

        </tbody>
    </table>

    <div class="row mr-2" id="generalTotalDiv">
        <input type="hidden" id="invoiceRowId" value="@Model.InvoiceRow.ID" />
        <label>Genel Toplam:</label>
        <input type="text" value="@Model.InvoiceRow.OvertTimeGeneralTotal" class="ml-3" readonly id="generalTotal" />
    </div>

    <br />
    <br />

    <div class="row mr-2" id="btnDiv">
        <button class="btn btn-success" id="saveOvertime"><i class="fa fa-save"></i>&nbsp; Kaydet</button>
        <button class="btn btn-danger ml-2" onclick="deleteOvertime(@Model.InvoiceRow.ID)"><i class="fa fa-trash"></i>&nbsp; Sil</button>
    </div>



</div>

<script>
    //Fazla mesai Güncelleme
    function CalculateOvertimeForWeekdays(rowId, statusId) {
        //Hafta içi saat
        var weekdaysHour = $('#weekdaysHour' + rowId).val();
        //hi oran
        var radioHIName = "hi" + rowId;
        var radioHIValue = $("input[name='" + radioHIName + "']:checked").val();

        //brüt ücret
        //var grossWages = $('#grossWages' + rowId).val();
        var name = "grossWages" + rowId;
        var grossWages = $("input[name='" + name + "']").val();

        //Hafta sonu oran
        var radioHSName = "hs" + rowId;
        var radioHSValue = $("input[name='" + radioHSName + "']:checked").val();

        //Hafta sonu saat
        var weekendHour = $('#weekendHour' + rowId).val();

        //Bayram fazla mesai oran
        var radioBTName = "bt" + rowId;
        var radioBTValue = $("input[name='" + radioBTName + "']:checked").val();

        //Bayram fazla mesai saat
        var holidayHour = $('#holidayHour' + rowId).val();

        //kar oranı
        var spread = $('#spread' + rowId).val();
        var percentSpread = 0;
        if (spread == "") {
            spread = 0;
        }
        else {
            //yüzde olarak kar oranı
            percentSpread = ((parseFloat(spread.split(',').join("."))) / 100);
        }


        var parseDot = grossWages.split('.').join("");
        var parseGrossWages = parseDot.split(',').join(".");


        if ((weekdaysHour != '' && radioHIValue != '' && parseGrossWages != '') || (weekendHour != '' && radioHSValue != '' && parseGrossWages != '') || (holidayHour != '' && radioBTValue != '' && parseGrossWages != '')) {

            var totalOvertime = 0;
            var employerShare = 0;
            var employerUnemployment = 0;
            var totalOvertimeCost = 0;
            var invoiceAmount = 0;

            //hafta içi fazla mesai hesabı
            var overtimeHI = ((parseFloat(parseGrossWages) / 225) * parseFloat(radioHIValue) * parseFloat(weekdaysHour.split(',').join(".")));
            if (!isNaN(overtimeHI)) {
                totalOvertime += overtimeHI;

                if (statusId == 1) {
                    employerShare = (parseFloat(totalOvertime) * parseFloat(0.205));
                    employerUnemployment = (parseFloat(totalOvertime) * parseFloat(0.02));

                }
                if (statusId == 2) {
                    employerShare = (parseFloat(totalOvertime) * parseFloat(0.245));
                }

                totalOvertimeCost = totalOvertime + employerShare + employerUnemployment;
                invoiceAmount = (parseFloat(totalOvertimeCost) + (parseFloat(totalOvertimeCost) * percentSpread));
            }

            //Hafta sonu fazla mesai hesabı
            var overtimeHS = ((parseFloat(parseGrossWages) / 225) * parseFloat(radioHSValue) * parseFloat(weekendHour.split(',').join(".")));
            if (!isNaN(overtimeHS)) {
                //toplam fm ücret
                totalOvertime += overtimeHS;

                if (statusId == 1) {
                    //toplam fm işveren payı
                    employerShare = (parseFloat(totalOvertime) * parseFloat(0.205));
                    employerUnemployment = (parseFloat(totalOvertime) * parseFloat(0.02));

                }
                if (statusId == 2) {
                    //toplam fm sgk işveren işsizlik
                    employerShare = (parseFloat(totalOvertime) * parseFloat(0.245));
                }

                //toplam fm maaliyet
                totalOvertimeCost = totalOvertime + employerShare + employerUnemployment;
                invoiceAmount = (parseFloat(totalOvertimeCost) + (parseFloat(totalOvertimeCost) * percentSpread));
            }

            //bayram tatili fm hesabı
            var overtimeBT = ((parseFloat(parseGrossWages) / 225) * parseFloat(radioBTValue) * parseFloat(holidayHour.split(',').join(".")));
            if (!isNaN(overtimeBT)) {
                totalOvertime += overtimeBT;

                if (statusId == 1) {
                    //toplam fm işveren payı
                    employerShare = (parseFloat(totalOvertime) * parseFloat(0.205));
                    employerUnemployment = (parseFloat(totalOvertime) * parseFloat(0.02));

                }
                if (statusId == 2) {
                    //toplam fm sgk işveren işsizlik
                    employerShare = (parseFloat(totalOvertime) * parseFloat(0.245));
                }
                totalOvertimeCost = totalOvertime + employerShare + employerUnemployment;
                invoiceAmount = (parseFloat(totalOvertimeCost) + (parseFloat(totalOvertimeCost) * percentSpread));
            }


            //$('#totalOvertimeGrossPrice' + rowId).text(totalOvertime.toFixed(2));
            //$('#employerShare' + rowId).text(employerShare.toFixed(2));
            //$('#employerUnemployment' + rowId).text(employerUnemployment.toFixed(2));
            //$('#totalOvertimeCost' + rowId).text(totalOvertimeCost.toFixed(2));
            //$('#invoiceAmount' + rowId).text(invoiceAmount.toFixed(2));

            $('#totalOvertimeGrossPrice' + rowId).text(totalOvertime.toLocaleString());
            $('#employerShare' + rowId).text(employerShare.toLocaleString());
            $('#employerUnemployment' + rowId).text(employerUnemployment.toLocaleString());
            $('#totalOvertimeCost' + rowId).text(totalOvertimeCost.toLocaleString());
            $('#invoiceAmount' + rowId).text(invoiceAmount.toLocaleString());


            var sum = 0;
            var generalTotal = 0;

            $(".generalTotal").each(function () {

                var value = $(this).text();
                // add only if the value is number
                if (value != "") {
                    //sum += parseFloat(value.split(',').join("."));
                    //$('#generalTotal').val(sum.toFixed(2));
                    var sumReplace = value.split('.').join("");
                    sum += Number(sumReplace.split(',').join("."));
                    $('#generalTotal').val(sum.toLocaleString());
                    generalTotal = 1;
                }
                if (generalTotal == 0) {
                    $('#generalTotal').val('');
                }
            });


        }

        //Saat ve option(fm oranı %100-%150-%200) seçili değilse hesaplamaları bosalt
        else {
            $('#totalOvertimeGrossPrice' + rowId).text('');
            $('#employerShare' + rowId).text('');
            $('#employerUnemployment' + rowId).text('');
            $('#totalOvertimeCost' + rowId).text('');
            $('#invoiceAmount' + rowId).text('');

            var sum = 0;
            var generalTotal = 0;

            $(".generalTotal").each(function () {

                var value = $(this).text();
                // add only if the value is number
                if (value != "") {
                    //sum += parseFloat(value.split(',').join("."));
                    //$('#generalTotal').val(sum.toFixed(2));
                    var sumReplace = value.split('.').join("");
                    sum += Number(sumReplace.split(',').join("."));
                    $('#generalTotal').val(sum.toLocaleString());
                    generalTotal = 1;
                }
                if (generalTotal == 0) {
                    $('#generalTotal').val('');
                }
            });

        }

    }


    //Fazla mesai kaydetme
    $('#saveOvertime').click(function () {

        var offerId = $('#urlUpdateOvertimeOfferId').val();
        var description = $("#overtimeDesc").val();
        bootbox.confirm({
            message: "Fazla mesai güncellenecek, emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {

                    var parameters = new Array();

                    $("#overtimeTable").find("tr:gt(0)").each(function () {

                        var td = $('td', this);

                        var PositionId = $('input[name="positionId"]', td).val();
                        var OvertimeId = $('input[name="overtimeId"]', td).val();
                        //var Status = $('input[name="status"]', td).val();
                        var Status = $('#status' + OvertimeId).text();

                        var grossWagesName = "grossWages" + OvertimeId;

                        var GrossPrice = $("input[name='" + grossWagesName + "']", td).val();

                        var radioHIName = "hi" + OvertimeId;
                        var HIRate = $("input[name='" + radioHIName + "']:checked").val();

                        var HIHour = $('input[name="hiHour"]', td).val();

                        var radioHSName = "hs" + OvertimeId;
                        var HSRate = $("input[name='" + radioHSName + "']:checked").val();

                        var HSHour = $('input[name="hsHour"]', td).val();

                        var radioBTName = "bt" + OvertimeId;
                        var BTRate = $("input[name='" + radioBTName + "']:checked").val();

                        //var BTHour = $('input[name="btHour"]', td).val();
                        var BTHour = $('#holidayHour' + OvertimeId).val();

                        //var TotalOvertimeGrossPrice = $('input[name="TotalOvertimeGrossPrice"]', td).val();

                        var TotalOvertimeGrossPrice = $('#totalOvertimeGrossPrice' + OvertimeId).text();
                        //var EmployerShare = $('input[name="EmployerShare"]', td).val();
                        var EmployerShare = $("#employerShare" + OvertimeId).text();

                        //var EmployerUnemployement = $('input[name="EmployerUnemployement"]', td).val();
                        var EmployerUnemployement = $("#employerUnemployment" + OvertimeId).text();
                        //var TotalOvertimeCost = $('input[name="TotalOvertimeCost"]', td).val();
                        var TotalOvertimeCost = $('#totalOvertimeCost' + OvertimeId).text();
                        var Spread = $('input[name="Spread"]', td).val();

                        //var InvoiceAmountForOvertime = $('input[name="InvoiceAmountForOvertime"]', td).val();
                        //var InvoiceAmountName = "InvoiceAmountForOvertime" + OvertimeId;
                        //var InvoiceAmountForOvertime = $("input[name='" + InvoiceAmountName+"']", td).val();

                        var InvoiceAmountForOvertime = $('#invoiceAmount' + OvertimeId).text();

                        var OvertimeModel = {};
                        OvertimeModel.PositionId = PositionId;
                        OvertimeModel.Status = Status;
                        OvertimeModel.GrossPrice = GrossPrice;
                        OvertimeModel.HIRate = HIRate;
                        OvertimeModel.HIHour = HIHour;
                        OvertimeModel.HSRate = HSRate;
                        OvertimeModel.HSHour = HSHour;
                        OvertimeModel.BTRate = BTRate;
                        OvertimeModel.BTHour = BTHour;

                        OvertimeModel.TotalOvertimeGrossPrice = TotalOvertimeGrossPrice;
                        OvertimeModel.EmployerShare = EmployerShare;
                        OvertimeModel.EmployerUnemployement = EmployerUnemployement;
                        OvertimeModel.TotalOvertimeCost = TotalOvertimeCost;
                        OvertimeModel.Spread = Spread;
                        OvertimeModel.InvoiceAmountForOvertime = InvoiceAmountForOvertime;

                        parameters.push(OvertimeModel);
                    });

                    var GeneralModel = {};
                    GeneralModel.OvertimeGeneralTotal = $('#generalTotal').val();
                    GeneralModel.InvoiceRowId = $('#invoiceRowId').val();

                    $.ajax({
                        async: true,
                        method: "POST",
                        url: "/Invoice/SaveOvertime",
                        //dataType: 'json',
                        data: JSON.stringify({ OvertimeModel: parameters, GeneralModel: GeneralModel, Description: description }),
                        contentType: 'application/json charset=utf=8',
                        beforeSend: function () {

                        }
                    }).done(function (d) {

                        $('#overtime').modal('hide');
                        $('#listDiv').html(d);

                        setTimeout(function () {
                            bootbox.alert({
                                size: "small",
                                message: "Fazla mesai güncellendi",
                                buttons: {
                                    ok: {
                                        label: 'Tamam',
                                        className: 'btn-success'
                                    },
                                },
                                callback: function () { /* your callback code */ }
                            })
                        }, 200);


                        //window.location.href = "/Invoice/Detail?ContractID=" + offerId + "";


                    }).always(function () {

                    });


                }
            }
        });

    });



</script>
