﻿
@using OykaCrm.Models

@model OvertimeDetailModel

<style>
    .dataTableLayout {
        table-layout: fixed;
        width: 100%;
    }

    #generalTotalDiv, #btnDiv {
        float: right;
        clear: both;
    }
</style>

<div class="col-md-12 mt-2 mb-4">

    <input type="hidden" value="@Model.OfferID" id="urlUpdateOvertimeOfferId" />
    <form class="col-12">
        <div class="form-row">
            <label class="col-sm-1 col-form-label" for="name"><b>Açıklama</b></label>
            <input type="text" class="form-control col-sm-11"  value="@Model.Description" readonly />

        </div>
        <br />
    </form>
    <table id="overtimeTable" class="table table-bordered table-hover dataTableLayout" style="width:100%">
        <thead>
            <tr>
                <th width="120">Pozisyon Adı</th>
                <th width="120">Durumu</th>
                <th width="80">Kişi Sayısı</th>
                <th width="110">
                    Dönem Brüt Ücreti(TL)
                </th>
                <th width="100">Hİ FM Oranı(%)</th>
                <th width="100">Hİ FM Saat</th>
                <th width="100">HS FM Oranı(%)</th>
                <th>HS FM Saat</th>
                <th width="100">
                    BAYRAM FM Oranı(%)
                </th>
                <th>Bayram FM Saat</th>

                <th width="70">Toplam FM Brüt Ücret</th>
                <th>Toplam FM Sgk İşveren Payı</th>
                <th>Toplam FM Sgk İşveren İşsizlik

                <th>Toplam Fm Maliyeti</th>
                <th width="100">Kar Oranı %</th>
                <th>Fatura Tutarı (TL)</th>


            </tr>
        </thead>
        <tbody>

            @if (Model.ListOvertime != null && Model.ListOvertime.Count() > 0)
            {

                foreach (var item in Model.ListOvertime)
                {

                    <tr>
                        <!--Pozisyon adı-->
                        <td>
                            <!--PositionId-->
                            <input type="hidden" name="positionId" value="@item.PositionId" />
                            <input type="hidden" name="overtimeId" value="@item.Id" />
                            @Model.Positons.FirstOrDefault(x => x.ID == item.PositionId).PositionName
                        </td>
                        <!--100-200 option seçim-->
                        @{
                            var statusId = 0;
                        }

                        @if (@Model.Positons.FirstOrDefault(t => t.ID == item.PositionId).StatusID == 1)
                        {
                            statusId = 1;
                            <td>
                                @*<input type="text" name="status" class="col-md-10 ml-2" readonly value=" Çalışan" />*@
                                <p id="@("status"+item.Id)">Çalışan</p>

                            </td>
                        }
                        @if (@Model.Positons.FirstOrDefault(t => t.ID == item.PositionId).StatusID == 2)
                        {
                            statusId = 2;
                            <td>
                                @*<input type="text" name="status" class="col-md-10 ml-2" readonly value=" Emekli" />*@
                                <p id="@("status"+item.Id)">Emekli</p>
                            </td>
                        }
                        @*Kişi Sayısı*@
                        @if (Model.OfferPositionList.Any(t => t.OfferID == Model.OfferID))
                        {
                            var personCount = Model.OfferPositionList.FirstOrDefault(t => t.OfferID == Model.OfferID && t.PositionID == item.PositionId && t.PositionItemID == 1).Quantity;
                            <td>@personCount</td>
                        }

                        @*GrossWages*@
                        <td>
                            @*<input type="text" min="1" step="0.00001" class="form-control money" name=@("grossWages"+item.Id) id="@(" grossWages"+item.Id)" value="@item.GrossPrice" style="width:90px" />*@
                            <label class="money">@item.GrossPrice</label>

                        </td>
                        <!--HI 100-150-200 option-->
                        <td>
                            <div class="row">
                                <div class="col-md-12">
                                    @if (item.HI_Rate == 1)
                                    {
                                        <label class="ml-1"><b> %100 </b></label>
                                    }
                                    else if (item.HI_Rate == 1.5)
                                    {
                                        <label class="ml-1"><b> %150 </b></label>
                                    }
                                    else if (item.HI_Rate == 2)
                                    {

                                        <label class="ml-1"><b> %200 </b></label>
                                    }
                                    else
                                    {
                                        <label class="ml-1"><b> - </b></label>
                                    }
                                </div>




                            </div>
                        </td>

                        @*Hİ FM Saat*@
                        <td>
                            @* <input type="text" min="1" step="0.00001" class="form-control money " name="hiHour" value="@item.HI_Hour" id="@("weekdaysHour"+item.Id)" />*@

                            @if (item.HI_Hour != null)
                            {
                                <label class="money">@item.HI_Hour</label>
                            }
                            else
                            {
                                <label>-</label>
                            }

                        </td>

                        <!--HS 100-150-200 option-->
                        <td>
                            <div class="row">

                                <div class="col-md-12">

                                    @if (item.HS_Rate == 1)
                                    {
                                        <label class="ml-1"><b> %100 </b></label>
                                    }
                                    else if (item.HS_Rate == 1.5)
                                    {
                                        <label class="ml-1"><b> %150 </b></label>
                                    }
                                    else if (item.HS_Rate == 2)
                                    {

                                        <label class="ml-1"><b> %200 </b></label>
                                    }
                                    else
                                    {
                                        <label class="ml-1"><b>-</b></label>
                                    }
                                </div>

                            </div>
                        </td>

                        @*HS FM Saat*@
                        <td>
                            @*<input type="text" min="1" step="0.00001" value="@item.HS_Hour" class="form-control money " name="hsHour" id="@("weekendHour"+item.Id)" />

                            *@
                            @if (item.HS_Hour != null)
                            {
                                <label class="money">@item.HS_Hour</label>
                            }
                            else
                            {
                                <label>-</label>
                            }

                        </td>

                        <!--BT 100-150-200 option-->
                        <td>
                            <div class="row">

                                <div class="col-md-12">

                                    @if (item.BT_Rate == 1)
                                    {
                                        <label class="ml-1"><b> %100 </b></label>
                                    }
                                    else if (item.BT_Rate == 1.5)
                                    {
                                        <label class="ml-1"><b> %150 </b></label>
                                    }
                                    else if (item.BT_Rate == 2)
                                    {

                                        <label class="ml-1"><b> %200 </b></label>
                                    }
                                    else
                                    {
                                        <label class="ml-1"><b>-</b></label>
                                    }
                                </div>


                            </div>
                        </td>

                        @*BT FM Saat*@
                        <td>

                            @*<input type="text" value="@item.BT_Hour" min="1" step="0.00001" class="form-control money " name="btHour" id="@("holidayHour"+item.Id)" />
                            *@
                            @if (item.BT_Hour != null)
                            {
                                <label class="money">@item.BT_Hour</label>
                            }
                            else
                            {
                                <label>-</label>
                            }


                        </td>


                        @*TOPLAM FM Brüt Ücreti*@
                        <td>
                            <p name="TotalOvertimeGrossPrice" id="@("totalOvertimeGrossPrice"+item?.Id)">@item.TotalOvertimeGrossPrice</p>
                        </td>

                        @*TOPLAM FM SGK İşveren Payı*@

                        <td>
                            <p name="EmployerShare" id="@("employerShare"+item.Id)">@item.EmployerShare</p>
                        </td>
                        @*TOPLAM FM SGK İşveren İşssizlik*@
                        <td>
                            <p name="EmployerUnemployement" id="@("employerUnemployment"+item.Id)">@item.EmployerUnemployment</p>
                        </td>
                        @*TOPLAM FM Maliyeti*@
                        <td>
                            <p name="TotalOvertimeCost" id="@("totalOvertimeCost"+item.Id)">@item.TotalOvertimeCost</p>
                        </td>
                        @*Kar Oranı*@

                        <td>
                            @*<input type="text" value="@item.Spread" class="form-control money" name="Spread" id="@("spread"+item.Id)" />*@

                            @if (item.Spread != null)
                            {
                                <label class="money">@item.Spread</label>
                            }
                            else
                            {
                                <label>-</label>
                            }



                        </td>
                        @*Fatura Edilecek Tutar*@
                        <td>
                            <p id="@("invoiceAmount"+item.Id)" name="InvoiceAmountForOvertime" class="generalTotal">@item.InvoiceAmountForOvertime</p>
                        </td>

                    </tr>


                }

            }
            else
            {
                <tr>
                    <td colspan="16">
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-danger">
                                @ViewBag.Message

                            </div>
                        }
                    </td>

                </tr>

            }




        </tbody>
    </table>
    @if (ViewBag.Message == null)
    {

        <div class="row mr-3" id="generalTotalDiv">
            <input type="hidden" id="invoiceRowId" value="@Model.InvoiceRow.ID" />
            <label>Genel Toplam: @Model.InvoiceRow.OvertTimeGeneralTotal ₺</label>
            @*<input type="text" value="@Model.InvoiceRow.OvertTimeGeneralTotal" class="ml-3" readonly id="generalTotal" /> <br />

                <span>asd</span>*@
        </div>
    }

    <br />
    <br />





</div>

