﻿@model OykaCrm.Models.InvoiceControlModel

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <label><b>Kesilen Tutar : </b></label>
            <span>@(Model.SingleInvoice.PaidedPrice.Value.ToString("N2")+" ₺")</span><br />

            @if (Model.SingleOffer.IsOneTime.Value == true)
            {

                <label><b>Hizmet Bedeli : </b></label>
                <span>@(Model.SingleInvoice.ShortfallAmount!=null? (Model.SingleInvoice.ShortfallAmount.Value.ToString("N2")+"₺"):"-")</span><br />

                <label><b>Fazla Mesai : </b></label>
                <span>@(Model.SingleInvoice.OvertTimeGeneralTotal !=null? (Model.SingleInvoice.OvertTimeGeneralTotal.Value.ToString("N2")+"₺"):"-")</span><br />
            }
            <label><b>Masraf Merkezi : </b></label>
            <span>@Model.SingleInvoice.ExpenseCenterCode</span><br />

        </div>
        <div class="col-md-12">
        </div>
    </div>


    <hr />
    @if (Model.SingleOffer.IsOneTime.Value == true)
    {
        <div class="row mb-3">

            <button type="button" class="btn btn-primary" id="" onclick="openMissingDayModalReadOnly(@Model.SingleInvoice.ID)">Eksik Gün</button>

            <button type="button" class="btn btn-primary ml-3" onclick="OvertimeDetailModalShowReadOnly(@Model.SingleInvoice.ID)">
                Fazla  Mesai
            </button>

        </div>
    }
</div>

