﻿@model OykaCrm.Models.InvoiceControlModel


<style>
    #overtimeDetail .modal-dialog {
        max-width: 100% !important;
        margin: auto;
    }

    #EndingInvoiceModal .modal-dialog {
        max-width: 60% !important;
        margin: auto;
    }
</style>


<div class="col-md-4">
    <a href="/Invoice/ExportToExcelInvoiceRow?offerID=@Model.OfferID" class="btn btn-new-1 btn-sm" @*target="_blank"*@>Excel'e Aktar</a><br /><br />
</div>
<div class="col-md-8 pull-right">
    @*@if (Model.Remaining == 0)
        {
            <p class="pull-right" id="remain"><strong>Kalan Fatura Tutarı : Ödendi</strong></p>
        }*@
    @*else if (Model.TotalPaidedInvoiceTotal != null && Model.TotalPaidedInvoiceTotal != 0)
        {*@
    @if (Model.TotalPaidedInvoiceTotal != null && Model.TotalPaidedInvoiceTotal != 0)
    {

        <p class="pull-right"><strong>Kesilen Toplam Tutar : @(Model.TotalPaidedInvoiceTotal.Value.ToString("N2"))</strong> <i class="fa fa-try" aria-hidden="true"></i></p>
        <input type="hidden" id="remain" value="@(Model.Remaining.Value.ToString("N2"))" />
    }

    @*}*@

    <input type="hidden" value="@(Model.Remaining != null ? Model.Remaining : 0.0)" name="remainInvoiceHidden" id="remainInvoiceHidden" />
    <input type="hidden" value="@Model.RemainInvoiceCount" name="remainInvoiceCount" id="remainInvoiceCount" />
    <input type="hidden" value="" name="invoiceRowID" id="invoiceRowID" />

</div>

<div class="col-md-12">
    <div class="feed-box">
        <section class="card">

            <div class="card-body">

                <input type="hidden" value="@Model.OfferID" id="urlOfferId" />

                <div class="clearfix"></div>
                <div class="table-responsive">
                    <table id="bootstrap-data-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="100">
                                    FATURA NUMARASI
                                </th>
                                <th>
                                    FATURA TUTARI
                                </th>
                                <th>
                                    KESİLEN TUTAR
                                </th>
                                @*<th>
                                        HİZMET BEDELİ TUTARI
                                    </th>
                                    <th>FAZLA MESAİ TUTARI</th>*@
                                <th>
                                    FATURA TARİHİ
                                </th>
                                <th>İŞLEM</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.InvoiceRows != null && Model.InvoiceRows.Count > 0)
                            {
                                var count = 0;
                                foreach (var item in Model.InvoiceRows)
                                {
                                    count += 1;
                                    if (item.IsPaid == true)
                                    {
                                        <tr style="background-color:#69CD6E">
                                            <td width="100">@count</td>
                                            <td>@(item.MonthlyInvoice.Value.ToString("N2"))&nbsp;<i class="fa fa-try" aria-hidden="true" style="color:dimgray"></i></td>
                                            @if (item.PaidedPrice != null)
                                            {
                                                <td>@(item.PaidedPrice.Value.ToString("N2"))&nbsp;<i class="fa fa-try" aria-hidden="true" style="color:dimgray"></i></td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }


                                            <td id="@("invoiceDate"+item.ID)">@item.PaymentDate.Value.ToShortDateString()</td>
                                            <td>
                                                <div class="row col-md-12">
                                                    <div class="col-md-4">
                                                        <button class="btn btn-dark btn-sm" onclick="openDetailModal(@item.ID)"><i class="fa fa-search"></i>&nbsp; Detay </button>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <button class="btn btn-danger btn-sm ml-4" onclick="DeleteConfirm(@item.ID)"><i class="fa fa-trash"></i>&nbsp; İptal</button>
                                                    </div>

                                                </div>

                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>@count</td>
                                            <td>@(item.MonthlyInvoice.Value.ToString("N2"))&nbsp;<i class="fa fa-try" aria-hidden="true" style="color:dimgray"></i></td>
                                            @if (item.PaidedPrice != null)
                                            {
                                                <td>@(item.PaidedPrice.Value.ToString("N2"))&nbsp;<i class="fa fa-try" aria-hidden="true" style="color:dimgray"></i></td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }

                                            <td id="@("invoiceDate"+item.ID)">@item.PaymentDate.Value.ToShortDateString()</td>
                                            <td>
                                                <div class="row col-md-12">
                                                    <div class="col-sm-2 mr-2">
                                                        <button class="btn btn-dark btn-sm" id="btnDetail" onclick="Detail(@item.ID)"><i class="fa fa-search"></i>&nbsp; Detay</button>
                                                    </div>
                                                    @*<div class="col-md-3">
                                                            <button class="btn btn-danger" onclick="DeleteConfirm(@item.ID)" disabled><i class="far fa-trash-alt"></i>&nbsp; İptal</button>
                                                        </div>*@

                                                    @*<div class="col-md-5">
                                                            @if (item.IsOvertime == true)
                                                            {
                                                                <button class="btn btn-primary btn-sm ml-4" onclick="overtimeDetailModelShow(@item.ID)"><i class="fa fa-info-circle"></i>&nbsp; Fazla Mesai</button>
                                                            }
                                                        </div>


                                                        <div class="col-md-3">
                                                            @if (item.IsMissingDay == true)
                                                            {
                                                                <button class="btn btn-primary btn-sm ml-2 mr-1" onclick="openMissingDayModal2(@item.ID)"><i class="fa fa-info-circle"></i>&nbsp;Eksik Gün</button>
                                                            }
                                                        </div>*@
                                                </div>

                                            </td>
                                        </tr>
                                    }

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>





<div class="modal fade" id="overtimeDetail" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title overtimeDate" id="staticModalLabel"></h5>
                <input type="hidden" id="NewPriceID" value="" />
                <input type="hidden" id="invoiceRowIdForOvertime" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12" id="overtimeDetailRows"></div>
                <!--buraya partial gelecek-->

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EndingInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="false" @*data-backdrop="false"*@>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">Fatura Detayı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Aylık Tutar: </label>
                        </div>

                        <div class="col-md-8">
                            <input class="form-control" type="text" @*style="width:97%"*@ value="@(Model.MonthlyInvoice.ToString("N2"))" id="lastRemainPrice" readonly />
                        </div>


                    </div>


                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Tutar Giriniz: </label>
                        </div>

                        <div class="col-md-8">
                            <form class="form-inline">
                                <input type="checkbox" id="checkNewPriceEndInvoice" onchange="changeEndInvoiceAmountCheckbox()" class="form-control-lg checkNewPrice mt-2" />
                                <input class="form-control money ml-3 pull-right  ml-3" type="text" id="endPrice" style="width:84%" readonly />
                            </form>

                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label>Masraf Merkezi: </label>
                        </div>

                        <div class="col-md-8">

                            <form class="form-inline">
                                <select class="form-control" id="masrafMerkezi" style="width:100%">
                                    <option value="">Seçiniz</option>
                                    @if (Model.ExpenseCenterList != null && Model.ExpenseCenterList.Count() > 0)
                                    {
                                        foreach (var item in Model.ExpenseCenterList)
                                        {
                                            <option value="@item.LogicalRef">@item.Code</option>
                                        }
                                    }
                                </select>
                            </form>
                        </div>
                    </div>

                    <div class="pull-right">
                        <button class="btn btn-success mt-3" onclick="BtnEnding()"> Fatura Kes </button>
                    </div>

                    <br />
                    <br />
                    <hr />


                    @*<div class="col-md-12 mt-3 mb-3">
                            <button type="button" class="btn btn-primary" id="" onclick="openMissingDayModal()">Eksik Gün</button>
                            <a class="btn btn-primary" href="#" onclick="showOvertime()">
                                Fazla  Mesai
                            </a>
                        </div>*@

                </div>

                <div class="col-md-6">
                    <div class="row ml-3">
                        <!--Eksik mesai varsa degerleri burada gösteriliyor-->
                        <!--Eksik mesai tutarı-->
                        <p class="col-md-12" style="font-size:15px;color:green" id="ShortfallAmountInvoice"></p>
                        <!--Fazla Mesai Tutarı-->
                        <p class="col-md-12" style="font-size:15px;color:green" id="OvertimeTotal"></p>
                        <!--Toplam fazla mesai ve eksik mesai tutarı-->
                        @*<p class="col-md-12" style="font-size:15px;color:green;visibility:hidden" id="totalText">Toplam: </p>*@

                        @*<input type="text" readonly class="form-control  w-25 ml-2 money" style="visibility: hidden" id="serviceFree" />*@

                        <p class="col-md-12" style="font-size:15px;color:green" id="serviceFree"></p>

                    </div>
                </div>



            </div>
        </div>
    </div>
</div>


<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>



<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery.maskMoney.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script src="~/Scripts/moment.js"></script>
<script src="~/assets/js/jquery.blockUI.js"></script>

<script type="text/javascript">

    //Yeni tutar check seçili degilse; value bosalt
    function changeEndInvoiceAmountCheckbox() {
        if ($('#checkNewPrice').not(':checked')) {
            $('#endPrice').val('');
        }
    }

    $("#checkNewPriceEndInvoice").change(function () {
        if (this.checked) {
            document.getElementById("endPrice").readOnly = false;
        }
        else {
            document.getElementById("endPrice").readOnly = true;
        }
    });

    function Detail(RowID) {

        $("#checkNewPrice").prop("checked", false);
        document.getElementById("newPrice").readOnly = true;

        var x = $("#invoiceDate" + RowID).text();
        $("#pid").text(x);

        var date = moment(x, 'DD.MM.YYYY');
        var formattedDate = moment(date).format("MM/DD/YYYY");
        var newDate = new Date(formattedDate);
        var month = newDate.getMonth() + 1;
        //alert(month);
        var year = newDate.getFullYear();
        //alert(year);

        var todayDate = new Date();
        var currentMonth = todayDate.getMonth() + 1;
        //alert(currentMonth);
        var currentYear = todayDate.getFullYear();
        //alert(currentYear);

        $("#NormalPriceID").val(RowID);

        if (month > currentMonth && year >= currentYear) // ileri tarihli bir fatura odenmek isteniyor
        {
            IsConfirm(RowID);
        }
        else {


            if ($("#remainInvoiceCount").val() == 1) {
                ShowLastInvoiceModal(RowID);


                var sfallAmount = $('#sfallAmount' + RowID).text();
                var OvertTimeGeneralTotal = $('#OvertTimeGeneralTotal' + RowID).text();
                var generalTotal = 0;

                if (sfallAmount != "") {
                    $('#ShortfallAmountInvoice').text("Hizmet Bedeli : " + sfallAmount);

                    var replaceSfallAmount = sfallAmount.split('.').join("");

                    generalTotal += Number(replaceSfallAmount.split(',').join("."));
                }
                else {
                    $('#ShortfallAmountInvoice').text('');
                }
                if (OvertTimeGeneralTotal != "") {
                    $('#OvertimeTotal').text("Fazla Mesai : " + OvertTimeGeneralTotal);
                    var replaceOvertime = OvertTimeGeneralTotal.split('.').join("");
                    generalTotal += Number(replaceOvertime.split(',').join("."));

                }
                else {
                    $('#OvertimeTotal').text('');
                }

                if (generalTotal != 0) {

                    $('#serviceFree').text("Toplam  : " + generalTotal.toLocaleString());

                }
                else {
                    $("#serviceFree").text('');
                }


            }
            else {

                var sfallAmount = $('#sfallAmount' + RowID).text();
                var OvertTimeGeneralTotal = $('#OvertTimeGeneralTotal' + RowID).text();
                var generalTotal = 0;

                if (sfallAmount != "") {
                    $('#ShortfallAmountInvoiceDetailModal').text("Hizmet Bedeli : " + sfallAmount);

                    var replaceSfallAmount = sfallAmount.split('.').join("");

                    generalTotal += Number(replaceSfallAmount.split(',').join("."));
                }
                else {
                    $('#ShortfallAmountInvoiceDetailModal').text('');
                }
                if (OvertTimeGeneralTotal != "") {
                    $('#OvertimeTotalDetailModal').text("Fazla Mesai : " + OvertTimeGeneralTotal);
                    var replaceOvertime = OvertTimeGeneralTotal.split('.').join("");
                    generalTotal += Number(replaceOvertime.split(',').join("."));

                }
                else {
                    $('#OvertimeTotalDetailModal').text('');
                }

                if (generalTotal != 0) {

                    $('#serviceFreeDetailModal').text("Toplam  : " + generalTotal.toLocaleString());

                }
                else {
                    $("#serviceFreeDetailModal").text('');
                }


                setTimeout(function () {
                    $('#InvoiceRowId').val(RowID);

                    $("#DetailModal").modal('show');
                }, 100);

            }
        }
    }

    function SaveInvoice() {

        var invoiceRowId = $("#InvoiceRowId").val();

        var sfallAmount = $('#sfallAmount' + invoiceRowId).text();
        var OvertTimeGeneralTotal = $('#OvertTimeGeneralTotal' + invoiceRowId).text();
        var confirmMessage = "";


        if (sfallAmount != "" || OvertTimeGeneralTotal != "") {
            confirmMessage = "Faturanız kesilecektir onaylıyor musunuz ?";
        }
        else {
            confirmMessage = "Fazla/eksik mesai girişi yapılmadan fatura kesilecektir.Onaylıyor musunuz?";
        }


        bootbox.confirm({
            message: confirmMessage,
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {

                if (result == true) {

                    var RowID = $("#NormalPriceID").val();
                    var normalPrice = $("#normalPrice").val();
                    var newPrice = $("#newPrice").val();
                    var sendPrice;

                    var RIC = $("#remainInvoiceCount").val();
                    if (RIC == 1) {
                        $("#remainInvoiceHidden").val($("#remain").val() + " ₺");
                        ShowLastInvoiceModal(RowID);
                    }


                    if (newPrice != null && newPrice != "") {
                        //sendPrice = newPrice.replace('.', ',');
                        sendPrice = newPrice;
                    }
                    else {
                        sendPrice = normalPrice;
                        //alert(sendPrice);
                    }

                    $.ajax({
                        method: "GET",
                        url: "/Invoice/SaveInvoice",
                        dataType: 'json',
                        data: { invoiceRowID: RowID, Price: sendPrice },
                        beforeSend: function () {
                            $.blockUI({ message: $('#domMessage') });
                        }
                    }).done(function (d) {

                        if (d.result != "Error") {
                            $("#DetailModal").modal('hide');
                            $("#PriceChangeModal").modal('hide');
                            $(".newPrice").val('');

                            //$("#remainInvoiceCount").val(RIC - 1);

                            if ($("#remainInvoiceCount").val() == 1) {
                                $("#remainInvoiceHidden").val($("#remain").val() + " ₺");
                                ShowLastInvoiceModal(RowID);
                            }

                            $("#checkNewPrice").prop("checked", false);
                            document.getElementById("newPrice").readOnly = true;

                            $("#listDiv").html(d);
                        } else {
                            bootbox.alert({
                                size: "medium",
                                message: d.message,
                                buttons: {
                                    ok: {
                                        label: 'Tamam',
                                        className: 'btn-success'
                                    },
                                },
                                callback: function () { location.reload(); }
                            })
                        }
                    }).always(function () {
                        $.unblockUI();
                    });

                    //setTimeout(function () {
                    //    bootbox.alert({
                    //        size: "small",
                    //        message: "Faturanız kesilmiştir",
                    //        buttons: {
                    //            ok: {
                    //                label: 'Tamam',
                    //                className: 'btn-success'
                    //            },
                    //        },
                    //        callback: function () { /* your callback code */ }
                    //    })
                    //}, 500);


                }
            }


        });

    }

    function DeleteInvoice() {

        $("#btnDetail").prop('disabled', false);
        $("#DeleteConfirmModal").modal('hide');
        RowID = $("#deletedRowID").val();

        var RIC = $("#remainInvoiceCount").val();

        $.ajax({
            method: "GET",
            url: "/Invoice/DeleteInvoice",
            data: { invoiceRowID: RowID },
            beforeSend: function () {
                $.blockUI({ message: $('#domMessage') });
            }
        }).done(function (d) {

            $("#remainInvoiceCount").val((+RIC + +1));
            $(".lastAlert").css("display", "none");
            $("#listDivIsOneTime").html(d);

            setTimeout(function () {
                bootbox.alert({
                    size: "small",
                    message: "Kesilen fatura iptal edilmiştir.",
                    buttons: {
                        ok: {
                            label: 'Tamam',
                            className: 'btn-success'
                        },
                    },
                    callback: function () { /* your callback code */ }
                })
            }, 300);



        }).always(function () {
            $.unblockUI();
        });
    }

    function IsConfirm(RowID) {
        $("#invoiceRowID").val(RowID);
        $("#ConfirmModal").modal('show');

    }

    function DeleteConfirm(RowID) {

        $("#deletedRowID").val(RowID);
        $("#DeleteConfirmModal").modal('show');
    }

    function ChangePrice() {

        $("#DetailModal").modal('hide');

        var y = $("#pid").text();
        $("#pid2").text(y);

        var newPrice = $("#NormalPriceID").val();

        $("#NewPriceID").val(newPrice);

        $("#PriceChangeModal").modal('show');

    }

    function confirm() {


        $("#ConfirmModal").modal('hide');

        var invoiceRowId = $("#invoiceRowID").val();
        $('#InvoiceRowId').val(invoiceRowId);

        var sfallAmount = $('#sfallAmount' + invoiceRowId).text();
        var OvertTimeGeneralTotal = $('#OvertTimeGeneralTotal' + invoiceRowId).text();
        var generalTotal = 0;

        if ($("#remainInvoiceCount").val() == 1) {

            if (sfallAmount != "") {
                $('#ShortfallAmountInvoice').text("Hizmet Bedeli :  " + sfallAmount);
                var replaceSfallAmount = sfallAmount.split('.').join("");

                generalTotal += Number(replaceSfallAmount.split(',').join("."));
            }
            else {
                $('#ShortfallAmountInvoice').text('');
            }
            if (OvertTimeGeneralTotal != "") {
                $('#OvertimeTotal').text("Fazla Mesai :  " + OvertTimeGeneralTotal);
                var replaceOvertime = OvertTimeGeneralTotal.split('.').join("");
                generalTotal += Number(replaceOvertime.split(',').join("."));
            }
            else {
                $('#OvertimeTotal').text('');
            }

            if (generalTotal != 0) {

                $('#serviceFree').text("Toplam : " + generalTotal.toLocaleString());

            }
            else {
                $("#serviceFree").text('');
            }

            ShowLastInvoiceModal($("#invoiceRowID").val());

        } else {
            var sfallAmount = $('#sfallAmount' + invoiceRowId).text();
            var OvertTimeGeneralTotal = $('#OvertTimeGeneralTotal' + invoiceRowId).text();
            var generalTotal = 0;

            if (sfallAmount != "") {
                $('#ShortfallAmountInvoiceDetailModal').text("Hizmet Bedeli : " + sfallAmount);

                var replaceSfallAmount = sfallAmount.split('.').join("");

                generalTotal += Number(replaceSfallAmount.split(',').join("."));
            }
            else {
                $('#ShortfallAmountInvoiceDetailModal').text('');
            }
            if (OvertTimeGeneralTotal != "") {
                $('#OvertimeTotalDetailModal').text("Fazla Mesai : " + OvertTimeGeneralTotal);
                var replaceOvertime = OvertTimeGeneralTotal.split('.').join("");
                generalTotal += Number(replaceOvertime.split(',').join("."));

            }
            else {
                $('#OvertimeTotalDetailModal').text('');
            }

            if (generalTotal != 0) {

                $('#serviceFreeDetailModal').text("Toplam  : " + generalTotal.toLocaleString());

            }
            else {
                $("#serviceFreeDetailModal").text('');
            }

            setTimeout(function () {
                $("#DetailModal").modal('show');
            }, 500);

        }

    }

    function ShowLastInvoiceModal(rowID) {

        $("#remainInvoice").text($("#remainInvoiceHidden").val() + " ₺");
        //$("#LastInvoiceModal").modal('show');

        $("#invoiceRowID").val(rowID); //ilk hali
        $('#InvoiceRowId').val(rowID); //Fazla mesai ve eksik gün için eklendi.

        $("#EndingInvoiceModal").modal('show');


    }

    function lastInvoice() {

        $("#LastInvoiceModal").modal('hide');
        $("#EndingInvoiceModal").modal('show');
    }

    function BtnEnding() {


        var last = $("#lastRemainPrice").val();
        var end = $("#endPrice").val();
        var ID = parseInt($("#invoiceRowID").val());

        if (end != '') {
            last = end;
        }
        var masrafMerkezi = $("#masrafMerkezi").val();

        if (masrafMerkezi != "") {
            bootbox.confirm({
                message: "Faturanız kesilecektir onaylıyor musunuz ?",
                buttons: {
                    confirm: {
                        label: 'Evet',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Hayır',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {

                    if (result == true) {
                        $("#EndingInvoiceModal").modal('hide');
                        $.ajax({
                            method: "GET",
                            url: "/Invoice/SaveInvoice",
                            data: { invoiceRowID: ID, Price: last, expenseCenter: masrafMerkezi },
                            dataType: 'json',
                            beforeSend: function () {
                                $.blockUI({ message: $('#domMessage') });
                            }
                        }).done(function (d) {
                            debugger;

                            if (d.result != "Error") {
                                $("#EndingInvoiceModal").modal('hide');
                                $(".lastAlert").css("display", "block");
                                $("#listDivIsOneTime").html(d);
                            } else {
                                bootbox.alert({
                                    size: "medium",
                                    message: d.message,
                                    buttons: {
                                        ok: {
                                            label: 'Tamam',
                                            className: 'btn-success'
                                        },
                                    },
                                    callback: function () { location.reload(); }
                                })
                            }

                        }).always(function () {
                            $.unblockUI();
                        });

                    }
                }


            });
        } else {
            bootbox.alert({
                size: "small",
                message: "Masraf Merkezi boş geçilemez!",
                buttons: {
                    ok: {
                        label: 'Tamam',
                        className: 'btn-success'
                    },
                },
                callback: function () { }
            })
        }
    }


</script>

