﻿@using OykaCrm.Models
@model MissingDayControlModel
<div id="Message" class="col-md-3 alert alert-success" style="display:none;position:absolute; z-index:3;"><i class="fa fas fa-check-circle"></i>&nbsp;<b>Kayıt Güncellendi.</b></div>
<form class="col-12">
    <div class="form-row">
        <label class="col-sm-1 col-form-label" for="name"><b>Açıklama</b></label>
        <input type="text" class="form-control col-sm-11" maxlength="220"  id="missingDayDesc" />
        
    </div>
    <br />
</form>
<table id="missingDayTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Pozisyon Adı</th>
            <th>Kişi Sayısı</th>
            <th>İK Birim Fiyatı(TL)</th>
            <th>İK Toplam Fiyat(TL)</th>
            <th>İK Dışı Birim Fiyat Toplam(TL)</th>
            <th>Aylık Çalışma Günü</th>
            <th>Eksik Çalışma Günü</th>
            <th>Dönem Çalışma Günü</th>
            <th>@Model.MonthName Dönemi İk Birim Fiyatı(TL)</th>
            <th>@Model.MonthName Dönemi Fatura Tutarı(TL)</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.MdList != null && Model.MdList.Count() > 0)
        {
            foreach (var item in Model.MdList)
            {
                <tr>


                    <td>
                        <input name="positionID" type="hidden" value="@item.PositionID" />
                        <input name="rowID" type="hidden" value="@item.ID" />
                        @item.Positions.PositionName
                    </td>
                    <td id=@("quantity"+item.ID)>@item.Quantity</td>
                    <td><input id="@("HRUnitPrice"+item.ID)" onchange="calculateMissingDay(@item.ID,@item.PositionID)" type="text" class="form-control money" value="@item.HumanResourcesUnitPrice.Value.ToString("N2")" /></td>
                    <td id=@("HRSum"+item.ID)>@item.HrSum.Value.ToString("N2")</td>
                    @*<td><input id="@("HRSum"+item.ID)" onchange="calculateMissingDay(@item.ID,@item.PositionID)" type="text" class="form-control money" value="@item.HrSum.Value.ToString("N2")" /></td>*@
                    <td id="@("ExpectHRUnitPrice"+item.ID)">@item.NonHumanResourcesUnitPrice.Value.ToString("N2")</td>
                    <td><input id="@("MonthlyWorkingDay"+item.ID)" onchange="calculateMissingDay(@item.ID,@item.PositionID)" type="text" class="form-control money" value="@item.MonthlyWorkingDay.Value.ToString("N2")" /></td>
                    <td><input id="@("MissingDay"+item.ID)" onchange="calculateMissingDay(@item.ID,@item.PositionID)" type="text" class="form-control money" value="@item.MonthlyMissingDay.Value.ToString("N2")" /></td>
                    <td id="@("TermWorkingDay"+item.ID)">@item.TermWorkingDay.Value.ToString("N2")</td>
                    <td id="@("TermHRUnitPrice"+item.ID)">@item.TermHumanResourcesUnitPrice.Value.ToString("N2")</td>
                    <td id="@("TermInvoiceAmount"+item.ID)">@item.TermInvoiceAmount.Value.ToString("N2")</td>

                </tr>
            }
            <tr>
                <td colspan="9"><span style="float:right"><b>Toplam ₺</b></span></td>

                <td><b>@(Model.TotalTermInvoiceAmount!=null?Model.TotalTermInvoiceAmount.Value.ToString("N2"):"-")</b></td>
            </tr>

        }
    </tbody>
</table>
<div class="col-md-12">
    <div class="pull-right">

        <div class="btn btn-success" onclick="SaveMissingDay()">Kaydet</div>
        <div class="btn btn-danger" onclick="closeMissingDayModal()">Kapat</div>

    </div>
</div>


<script>
    function SaveMissingDay() {
        bootbox.confirm({
            message: "Eksik gün hesabını kaydetmek istediğinizden emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    var RowID = $('input[name="rowID"]').val();
                    var description = $("#missingDayDesc").val();
                   
                    //var parameters = new Array();

                    //$("#missingDayTable").find("tr:gt(0)").each(function () {

                    //    var td = $('td', this);

                    //    var PositionID = $('input[name="positionID"]', td).val();
                    //    var RowID = $('input[name="rowID"]', td).val();
                    //    var Quantity = $('#quantity' + RowID).text();
                    //    var UnitPrice = $('#unitPrice' + RowID).val();
                    //    var ExpectHRPrice = $('#ExpectHRUnitPrice' + RowID).text();
                    //    var HrUnitePrice = $('#HRUnitPrice' + RowID).val();
                    //    var MonthlyWorkingDay = $('#MonthlyWorkingDay' + RowID).val();
                    //    var MonthlyMissingDay = $('#MissingDay' + RowID).val();
                    //    var TermWorkingDay = $('#TermWorkingDay' + RowID).text();
                    //    var TermHRUnitPrice = $('#TermHRUnitPrice' + RowID).text();
                    //    var TermInvoiceAmount = $('#TermInvoiceAmount' + RowID).text();


                    //    var AddMissingDayValues = {};
                    //    AddMissingDayValues.PositionID = PositionID;
                    //    AddMissingDayValues.RowID = RowID;
                    //    AddMissingDayValues.Quantity = Quantity;
                    //    AddMissingDayValues.UnitePrice = UnitPrice;
                    //    AddMissingDayValues.ExpectHRPrice = ExpectHRPrice;
                    //    AddMissingDayValues.HrUnitePrice = HrUnitePrice;
                    //    AddMissingDayValues.MonthlyWorkingDay = MonthlyWorkingDay;
                    //    AddMissingDayValues.MonthlyMissingDay = MonthlyMissingDay;
                    //    AddMissingDayValues.TermWorkingDay = TermWorkingDay;
                    //    AddMissingDayValues.TermHRUnitPrice = TermHRUnitPrice;
                    //    AddMissingDayValues.TermInvoiceAmount = TermInvoiceAmount;

                    //    parameters.push(AddMissingDayValues);
                    //});
                    $("#missingDayModal").modal('hide');
                    $.ajax({
                        async: true,
                        method: "POST",
                        url: "/Invoice/SaveMissingDay",
                        //data: JSON.stringify({ AddMissingDayValues: parameters}),
                        //contentType: 'application/json charset=utf=8',
                        data: { rowID: RowID, Description: description },
                        beforeSend: function () {
                            // $.blockUI({ message: $('#domMessage') });
                        }
                    }).done(function (d) {


                        $("#listDiv").html(d);
                        bootbox.alert({
                            size: "small",
                            message: "Eksik Gün Eklendi",
                            buttons: {
                                ok: {
                                    label: 'Tamam',
                                    className: 'btn-success'
                                },
                            },
                            callback: function () { /* your callback code */ }
                        })

                    }).always(function () {
                        // $.unblockUI();
                    });
                }
            }
        });
    }
</script>