﻿
@using OykaCrm.Models
@model MissingDayControlModel
<div id="Message" class="col-md-3 alert alert-success" style="display:none;position:absolute; z-index:3;"><i class="fa fas fa-check-circle"></i>&nbsp;<b>Kayıt Güncellendi.</b></div>
<form class="col-12">
    <div class="form-row">
        <label class="col-sm-1 col-form-label" for="name"><b>Açıklama</b></label>
        <input type="text" class="form-control col-sm-11"  value="@Model.Description"  readonly />

    </div>
    <br />
</form>
<table id="missingDayTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Pozisyon Adı</th>
            <th>Kişi Sayısı</th>
            <th>İK Birim Fiyatı(TL)</th>
            <th>İK Toplam Fiyat(TL)</th>
            <th>İK Dışı Birim Fiyat Toplam(TL)</th>
            <th>Aylık Çalışma Günü</th>
            <th>Eksik Çalışma Günü</th>
            <th>Dönem Çalışma Günü</th>
            <th>@Model.MonthName Dönemi İk Birim Fiyatı(TL)</th>
            <th>@Model.MonthName Dönemi Fatura Tutarı(TL)</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.IsEmpty)
        {
            if (Model.MdList != null && Model.MdList.Count() > 0)
            {
                foreach (var item in Model.MdList)
                {
                    <tr>


                        <td>
                            <input name="positionID" type="hidden" value="@item.PositionID" />
                            <input name="rowID" type="hidden" value="@item.ID" />
                            @item.Positions.PositionName
                        </td>
                        <td id=@("quantity"+item.ID)>@item.Quantity</td>
                        <td>@item.HumanResourcesUnitPrice.Value.ToString("N2")</td>
                        <td id=@("HRSum"+item.ID)>@item.HrSum.Value.ToString("N2")</td>

                        <td>@item.NonHumanResourcesUnitPrice.Value.ToString("N2")</td>
                        <td>@item.MonthlyWorkingDay.Value.ToString("N2")</td>
                        <td>@item.MonthlyMissingDay.Value.ToString("N2")</td>
                        <td id="@("TermWorkingDay"+item.ID)">@item.TermWorkingDay.Value.ToString("N2")</td>
                        <td id="@("TermHRUnitPrice"+item.ID)">@item.TermHumanResourcesUnitPrice.Value.ToString("N2")</td>
                        <td id="@("TermInvoiceAmount"+item.ID)">@item.TermInvoiceAmount.Value.ToString("N2")</td>

                    </tr>
                }
                <tr>
                    <td colspan="9"><span style="float:right"><b>Toplam ₺</b></span></td>

                    <td><b> @(Model.TotalTermInvoiceAmount!=null?Model.TotalTermInvoiceAmount.Value.ToString("N2"):"-")</b></td>
                </tr>

            }
        }
        else
        {
            <tr>
                <td colspan="10">
                    <div class="alert alert-danger">
                        Eksik gün hesabı bulunmamaktadır.
                    </div>
                </td>
            </tr>
        }



    </tbody>
</table>
<div class="col-md-12">
    <div class="pull-right">


        <div class="btn btn-danger" onclick="closeMissingDayModal()">Kapat</div>

    </div>
</div>

