﻿@using OykaCrm.Models
@model InvoiceControlModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}


@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />*@
<style>

    .checkNewPrice {
        width: 1.50rem;
        height: 1.50rem;
        top: .9rem;
        border-color: blue !important;
    }

    #DetailModal .modal-dialog {
        max-width: 60% !important;
        margin: auto;
    }

    .checkRadio {
        width: 1.30rem;
        height: 1.30rem;
    }

    #overtime .modal-dialog {
        max-width: 100% !important;
        margin: auto;
    }

    .dataTableLayout {
        table-layout: fixed;
        width: 100%;
    }

    #generalTotalOvertimeDiv, #btnOvertimeSaveDiv {
        float: right;
        clear: both;
    }

    #missingDayModal .modal-dialog {
        max-width: 95% !important;
        margin: auto;
    }

    #updateMissingDayModal .modal-dialog {
        max-width: 95% !important;
        margin: auto;
    }
</style>

<div id="domMessage" style="display:none;">
    <center><img src="~/images/op2.png" style="width:205px;height:70px" /></center>
    <br />
    <img src="~/images/786.gif" style="width:90px; height:90px;" /><br />
    <br />
    <h4><b>Lütfen Bekleyin.  İşlem Devam Ediyor ...</b></h4>

</div>

@if (ViewBag.Error != null)
{
    <div class="col-md-12">
        <div class="alert alert-danger">
            @ViewBag.Error
        </div>
        @*<a href="/Invoice/Index" class="btn btn-info">Geri Dön</a>*@
        <button class="btn btn-info" onclick="goBack()">Geri Dön</button>

    </div>
}
else if (Model != null)
{
    <div class="col-md-12">
        <div class="feed-box">
            <section class="card">
                <div class="card-body">

                    <input type="hidden" id="urlSaveOvertimeOfferId" value="@Model.OfferID" />

                    <div class="col-sm-12 col-md-4">
                        <br />
                        <input type="hidden" value="" id="offerid" />
                        <p><i class="fa fa-calendar"></i> &nbsp;<strong>Teklif Numarası : </strong> @Model.OfferNumber</p>
                        <p><i class="fa fa-certificate"></i> <strong>Proje Adı : </strong> @Model.ProjectName</p>
                        <p><i class="fa fa-user"></i> &nbsp;<strong>Müşteri : </strong> @Model.CustomerName</p>

                    </div>

                    <div class="col-sm-12 col-md-4">
                        <br />
                        @if (Model.DateBegin != null)
                        {
                            <p><i class="fa fa-calendar"></i> &nbsp;<strong>Oluşturma Tarihi : </strong> @String.Format("{0:d}", Model.DateBegin)</p>
                        }
                        else
                        {
                            <p><i class="fa fa-calendar"></i> &nbsp;<strong>Oluşturma Tarihi : </strong> - </p>
                        }
                        @if (Model.DateEnd != null)
                        {
                            <p><i class="fa fa-calendar"></i> &nbsp;<strong>Vade Tarihi : </strong> @String.Format("{0:d}", Model.DateEnd)</p>
                        }
                        else
                        {
                            <p><i class="fa fa-calendar"></i> &nbsp;<strong>Vade Tarihi : </strong> - </p>
                        }
                        <p><i class="fa fa-credit-card"></i> &nbsp;<strong>Genel Toplam (KDV Hariç) : </strong> @Model.Total.ToString("N2") <i class="fa fa-try" aria-hidden="true"></i> </p>

                    </div>
                    <div class="col-sm-12 col-md-4">
                        <br />
                        <p><i class="fa fa-credit-card"></i> &nbsp;<strong>KDV : </strong> @Model.KDV.ToString("N2") <i class="fa fa-try" aria-hidden="true"></i></p>
                    </div>
                </div>

                <br />

                <div class="alert alert-success lastAlert container" style="display:none">
                    <p> <b>Tüm Faturalar Kesildi. </b></p>
                </div>

                <br />
                @if (Model.SingleOffer.IsOneTime == true)
                {
                    <div class="col-md-12" id="listDiv">
                        @Html.Partial(@"~\Views\Invoice\_PartialInvoiceList.cshtml", Model)
                    </div>
                }
                else
                {
                    <div class="col-md-12" id="listDivIsOneTime">
                        @Html.Partial("~/Views/Invoice/_PartialInvoiceListIsOneTime.cshtml")
                    </div>
                }

            </section>
        </div>
    </div>

    <div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Fatura Detayı - </h5> &nbsp; <h5 class="modal-title" id="pid"></h5>
                    <input type="hidden" id="NormalPriceID" value="" />
                    <input type="hidden" id="NewPriceID" value="" />

                    <input type="hidden" id="InvoiceRowId" />

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Fatura Tutarı: </label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control price" id="normalPrice" readonly value="@(Model.MonthlyInvoice.ToString("N2"))" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label>Yeni Tutar: </label>
                            </div>

                            <div class="col-md-8">

                                <form class="form-inline">
                                    <input type="checkbox" id="checkNewPrice" onchange="changeNewAmountCheckbox()" class="form-control-lg checkNewPrice mt-2" />
                                    <input type="text" min="0" step=".01" class="form-control money newPrice ml-3 pull-right" id="newPrice" style="width:84%" readonly />
                                </form>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <label>Masraf Merkezi: </label>
                            </div>

                            <div class="col-md-8">

                                <form class="form-inline">
                                    <select class="form-control" id="masrafMerkezi" style="width:100%">
                                        <option value="">Seçiniz</option>
                                        @if (Model.ExpenseCenterList != null && Model.ExpenseCenterList.Count() > 0)
                                        {
                                            foreach (var item in Model.ExpenseCenterList)
                                            {
                                                <option value="@item.Code">@item.Code</option>
                                            }
                                        }
                                    </select>
                                </form>
                            </div>
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-success mt-3" onclick="SaveInvoice()"><i class="fa fa-check" aria-hidden="true"></i>&nbsp; Fatura Kes</button>
                        </div>
                        <br />
                        <br />
                        <br />
                        <hr />
                        <div class="col-md-12 mt-3 mb-3">

                            <button type="button" class="btn btn-primary" id="" onclick="openMissingDayModal()">Eksik Gün</button>

                            <a class="btn btn-primary" href="#" onclick="showOvertime()">
                                Fazla  Mesai
                            </a>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row ml-3">
                            <!--Eksik mesai varsa degerleri burada gösteriliyor-->
                            <!--Eksik mesai tutarı-->
                            <p class="col-md-12" style="font-size:15px;color:green" id="ShortfallAmountInvoiceDetailModal"></p>
                            <!--Fazla Mesai Tutarı-->
                            <p class="col-md-12" style="font-size:15px;color:green" id="OvertimeTotalDetailModal"></p>
                            <!--Toplam fazla mesai ve eksik mesai tutarı-->
                            @*<p class="col-md-12" style="font-size:15px;color:green;visibility:hidden" id="totalText">Toplam: </p>*@

                            @*<input type="text" readonly class="form-control  w-25 ml-2 money" style="visibility: hidden" id="serviceFree" />*@

                            <p class="col-md-12" style="font-size:15px;color:green" id="serviceFreeDetailModal"></p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="DetailModalReadOnly" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Fatura Detayı</h5> &nbsp; <h5 class="modal-title" id="pid"></h5>
                    <input type="hidden" id="NormalPriceID" value="" />
                    <input type="hidden" id="NewPriceID" value="" />

                    <input type="hidden" id="InvoiceRowId" />

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="overtime" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title overtimeDate" id="staticModalLabel"> </h5>
                    <input type="hidden" id="NewPriceID" value="" />
                    <input type="hidden" id="invoiceRowIdForOvertime" />
                </div>

                <div class="modal-body">
                    <div class="col-md-12 mt-2 mb-4">
                        <form class="col-12">
                            <div class="form-row">
                                <label class="col-sm-1 col-form-label" for="name"><b>Açıklama</b></label>
                                <input type="text" class="form-control col-sm-11" maxlength="220" value="" id="overtimeDesc" />

                            </div>
                            <br />
                        </form>
                        <table id="overtimeTable" style="width:100%" class="table table-bordered table-hover dataTableLayout">
                            <thead>
                                <tr>
                                    <th>Pozisyon Adı</th>
                                    <th>Durumu</th>
                                    <th width="65">Kişi Sayısı</th>
                                    <th width="170">
                                        Dönem Brüt Ücreti(TL)
                                    </th>
                                    <th width="100">Hİ FM Oranı(%)</th>
                                    <th width="100">Hİ FM Saat</th>
                                    <th width="100">HS FM Oranı(%)</th>
                                    <th>HS FM Saat</th>
                                    <th width="100">
                                        BAYRAM FM Oranı(%)
                                    </th>
                                    <th>Bayram FM Saat</th>

                                    <th width="70">Toplam FM Brüt Ücret</th>
                                    <th>Toplam FM Sgk İşveren Payı</th>
                                    <th>Toplam FM Sgk İşveren İşsizlik

                                    <th>Toplam Fm Maliyeti</th>
                                    <th width="100">Kar Oranı %</th>
                                    <th>Fatura Tutarı (TL)</th>


                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.Positons != null && Model.Positons.Count() > 0)
                                {
                                    if (Model.OfferPositonsID != null && Model.OfferPositonsID.Count() > 0)
                                    {
                                        foreach (var item in Model.OfferPositonsID)
                                        {
                                            if (Model.Positons.Any(t => t.ID == item))
                                            {

                                                <tr class="clearInputSaveOvertime">


                                                    @*Pozisyon adı*@
                                                    <td>
                                                        @*PositionId*@
                                                        <input type="hidden" name="positionId" value="@item" />
                                                        @Model.Positons.FirstOrDefault(t => t.ID == item).PositionName
                                                    </td>

                                                    @{
                                                        var statusId = 0;
                                                    }


                                                    @if (@Model.Positons.FirstOrDefault(t => t.ID == item).StatusID == 1)
                                                    {
                                                        statusId = 1;
                                                        <td>
                                                            <h6 id="@("status" + item)">Çalışan</h6>

                                                        </td>
                                                    }
                                                    @if (@Model.Positons.FirstOrDefault(t => t.ID == item).StatusID == 2)
                                                    {
                                                        statusId = 2;
                                                        <td>
                                                            <h6 id="@("status" + item)">Emekli</h6>
                                                        </td>
                                                    }
                                                    @*Kişi sayısı*@
                                                    @if (Model.OfferPositionList.Any(t => t.OfferID == Model.OfferID))
                                                    {
                                                        var personCount = Model.OfferPositionList.FirstOrDefault(t => t.OfferID == Model.OfferID && t.PositionID == item && t.PositionItemID == 1).Quantity;
                                                        <td>@personCount</td>
                                                    }

                                                    @*GrossWages*@
                                                    @if (Model.OfferPositons.Any(t => t.OfferID == Model.OfferID))
                                                    {
                                                        var brut = Model.OfferPositons.FirstOrDefault(t => t.OfferID == Model.OfferID && t.PositionID == item && t.PositionItemID == 1).UnitPrice;
                                                        <td>
                                                            <input type="text" min="1" step="0.00001" class="form-control money" onchange="CalculateOvertime(@item,@statusId)" value="@brut.Value.ToString("N2")" name="grossWages" id="@("grossWages" + item)" />
                                                        </td>
                                                    }

                                                    @* Hİ Fazla Mesai Oranı 100-150-200 option seçim*@
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("hi" + item)" value="1" class=" ml-1" />
                                                                <label class="ml-1"><b> 100% </b></label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("hi" + item)" value="1.5" class=" ml-1" />
                                                                <label class=" ml-1"><b> 150% </b></label>
                                                            </div>
                                                            <div class="col-md-12">

                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("hi" + item)" value="2" class=" ml-1" />
                                                                <label class=" ml-1"><b> 200% </b></label>
                                                            </div>

                                                        </div>



                                                    </td>
                                                    @*Hİ FM Saat*@
                                                    <td><input type="text" min="1" step="0.00001" class="form-control money " name="hiHour" onchange="CalculateOvertime(@item,@statusId)" id="@("weekdaysHour" + item)" /></td>
                                                    @* HS Fazla Mesai Oranı 100-150-200 option seçim*@
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("hs" + item)" value="1" class="ml-1" />
                                                                <label class="col-ml-1"><b> 100% </b></label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("hs" + item)" value="1.5" class="ml-1" />
                                                                <label class="ml-1"><b> 150% </b></label>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("hs" + item)" value="2" class="ml-1" />
                                                                <label class="ml-1"><b> 200% </b></label>
                                                            </div>


                                                        </div>
                                                    </td>
                                                    @*HS FM Saat*@
                                                    <td><input type="text" min="1" step="0.00001" class="form-control money " name="hsHour" onchange="CalculateOvertime(@item,@statusId)" id="@("weekendHour" + item)" /></td>
                                                    @* BAYRAM Fazla Mesai Oranı 100-150-200 option seçim*@
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("bt" + item)" value="1" class="ml-1" />
                                                                <label class="ml-1"><b> 100% </b></label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("bt" + item)" value="1.5" class="ml-1" />
                                                                <label class="ml-1"><b> 150% </b></label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("bt" + item)" value="2" class=" ml-1" />
                                                                <label class="ml-1"><b> 200% </b></label>
                                                            </div>


                                                        </div>
                                                    </td>
                                                    @*BAYRAM FM Saat*@
                                                    <td><input type="text" min="1" step="0.00001" class="form-control money " name="btHour" onchange="CalculateOvertime(@item,@statusId)" id="@("holidayHour" + item)" /></td>
                                                    @*TOPLAM FM Brüt Ücreti*@
                                                    <td>
                                                        <p name="TotalOvertimeGrossPrice" id="@("totalOvertimeGrossPrice" + item)"></p>
                                                    </td>

                                                    @*TOPLAM FM SGK İşveren Payı*@

                                                    <td>
                                                        <p name="EmployerShare" id="@("employerShare" + item)"></p>
                                                    </td>
                                                    @*TOPLAM FM SGK İşveren İşssizlik*@
                                                    <td>
                                                        <p name="EmployerUnemployement" id="@("employerUnemployment" + item)"></p>
                                                    </td>
                                                    @*TOPLAM FM Maliyeti*@
                                                    <td>
                                                        <p name="TotalOvertimeCost" id="@("totalOvertimeCost" + item)"></p>
                                                    </td>
                                                    @*Kar Oranı*@
                                                    <td>
                                                        <input type="text" value="0" class="form-control money " name="Spread" id="@("spread" + item)" onchange="CalculateOvertime(@item,@statusId)" />
                                                    </td>
                                                    @*Fatura Edilecek Tutar*@
                                                    <td>

                                                        <p id="@("invoiceAmount" + item)" name="InvoiceAmountForOvertime" class="generalTotal"></p>

                                                    </td>
                                                </tr>

                                            }
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div>


                    <div class="row mr-3" id="generalTotalOvertimeDiv">
                        <label class="mr-3">Genel Toplam:</label>
                        <input type="text" readonly id="generalTotal" />

                    </div>

                    <div class="row mr-3 mb-lg-5" id="btnOvertimeSaveDiv">
                        <br />
                        <br />
                        <button class="btn btn-success btn-sm ml-2 mt-2" id="saveOvertime">Kaydet</button>
                        <a href="/Invoice/Detail?ContractID=@Model.OfferID" class="btn btn-danger btn-sm ml-2 mt-2">Kapat</a>
                    </div>




                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="overtimeReadOnly" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title overtimeDate" id="staticModalLabel"> </h5>
                    <input type="hidden" id="NewPriceID" value="" />
                    <input type="hidden" id="invoiceRowIdForOvertime" />
                </div>

                <div class="modal-body">
                    <div class="col-md-12 mt-5 mb-4">
                        <table id="overtimeTable" style="width:100%" class="table table-bordered table-hover dataTableLayout">
                            <thead>
                                <tr>
                                    <th>Pozisyon Adı</th>
                                    <th>Durumu</th>
                                    <th width="65">Kişi Sayısı</th>
                                    <th width="170">
                                        Dönem Brüt Ücreti(TL)
                                    </th>
                                    <th width="100">Hİ FM Oranı(%)</th>
                                    <th width="100">Hİ FM Saat</th>
                                    <th width="100">HS FM Oranı(%)</th>
                                    <th>HS FM Saat</th>
                                    <th width="100">
                                        BAYRAM FM Oranı(%)
                                    </th>
                                    <th>Bayram FM Saat</th>

                                    <th width="70">Toplam FM Brüt Ücret</th>
                                    <th>Toplam FM Sgk İşveren Payı</th>
                                    <th>Toplam FM Sgk İşveren İşsizlik

                                    <th>Toplam Fm Maliyeti</th>
                                    <th width="100">Kar Oranı %</th>
                                    <th>Fatura Tutarı (TL)</th>


                                </tr>
                            </thead>
                            <tbody>

                                @if (Model.Positons != null && Model.Positons.Count() > 0)
                                {
                                    if (Model.OfferPositonsID != null && Model.OfferPositonsID.Count() > 0)
                                    {
                                        foreach (var item in Model.OfferPositonsID)
                                        {
                                            if (Model.Positons.Any(t => t.ID == item))
                                            {

                                                <tr class="clearInputSaveOvertime">


                                                    @*Pozisyon adı*@
                                                    <td>
                                                        @*PositionId*@
                                                        <input type="hidden" name="positionId" value="@item" />
                                                        @Model.Positons.FirstOrDefault(t => t.ID == item).PositionName
                                                    </td>

                                                    @{
                                                        var statusId = 0;
                                                    }


                                                    @if (@Model.Positons.FirstOrDefault(t => t.ID == item).StatusID == 1)
                                                    {
                                                        statusId = 1;
                                                        <td>
                                                            <h6 id="@("status" + item)">Çalışan</h6>

                                                        </td>
                                                    }
                                                    @if (@Model.Positons.FirstOrDefault(t => t.ID == item).StatusID == 2)
                                                    {
                                                        statusId = 2;
                                                        <td>
                                                            <h6 id="@("status" + item)">Emekli</h6>
                                                        </td>
                                                    }
                                                    @*Kişi sayısı*@
                                                    @if (Model.OfferPositionList.Any(t => t.OfferID == Model.OfferID))
                                                    {
                                                        var personCount = Model.OfferPositionList.FirstOrDefault(t => t.OfferID == Model.OfferID && t.PositionID == item && t.PositionItemID == 1).Quantity;
                                                        <td>@personCount</td>
                                                    }

                                                    @*GrossWages*@
                                                    @if (Model.OfferPositons.Any(t => t.OfferID == Model.OfferID))
                                                    {
                                                        var brut = Model.OfferPositons.FirstOrDefault(t => t.OfferID == Model.OfferID && t.PositionID == item && t.PositionItemID == 1).UnitPrice;
                                                        <td>
                                                            <input type="text" min="1" step="0.00001" class="form-control money" onchange="CalculateOvertime(@item,@statusId)" value="@brut.Value.ToString("N2")" name="grossWages" id="@("grossWages" + item)" />
                                                        </td>
                                                    }

                                                    @* Hİ Fazla Mesai Oranı 100-150-200 option seçim*@
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("hi" + item)" value="1" class=" ml-1" />
                                                                <label class="ml-1"><b> 100% </b></label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("hi" + item)" value="1.5" class=" ml-1" />
                                                                <label class=" ml-1"><b> 150% </b></label>
                                                            </div>
                                                            <div class="col-md-12">

                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("hi" + item)" value="2" class=" ml-1" />
                                                                <label class=" ml-1"><b> 200% </b></label>
                                                            </div>

                                                        </div>



                                                    </td>
                                                    @*Hİ FM Saat*@
                                                    <td><input type="text" min="1" step="0.00001" class="form-control money " name="hiHour" onchange="CalculateOvertime(@item,@statusId)" id="@("weekdaysHour" + item)" /></td>
                                                    @* HS Fazla Mesai Oranı 100-150-200 option seçim*@
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("hs" + item)" value="1" class="ml-1" />
                                                                <label class="col-ml-1"><b> 100% </b></label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("hs" + item)" value="1.5" class="ml-1" />
                                                                <label class="ml-1"><b> 150% </b></label>
                                                            </div>

                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("hs" + item)" value="2" class="ml-1" />
                                                                <label class="ml-1"><b> 200% </b></label>
                                                            </div>


                                                        </div>
                                                    </td>
                                                    @*HS FM Saat*@
                                                    <td><input type="text" min="1" step="0.00001" class="form-control money " name="hsHour" onchange="CalculateOvertime(@item,@statusId)" id="@("weekendHour" + item)" /></td>
                                                    @* BAYRAM Fazla Mesai Oranı 100-150-200 option seçim*@
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("bt" + item)" value="1" class="ml-1" />
                                                                <label class="ml-1"><b> 100% </b></label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("bt" + item)" value="1.5" class="ml-1" />
                                                                <label class="ml-1"><b> 150% </b></label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="radio" onchange="CalculateOvertime(@item,@statusId)" name="@("bt" + item)" value="2" class=" ml-1" />
                                                                <label class="ml-1"><b> 200% </b></label>
                                                            </div>


                                                        </div>
                                                    </td>
                                                    @*BAYRAM FM Saat*@
                                                    <td><input type="text" min="1" step="0.00001" class="form-control money " name="btHour" onchange="CalculateOvertime(@item,@statusId)" id="@("holidayHour" + item)" /></td>
                                                    @*TOPLAM FM Brüt Ücreti*@
                                                    <td>
                                                        <p name="TotalOvertimeGrossPrice" id="@("totalOvertimeGrossPrice" + item)"></p>
                                                    </td>

                                                    @*TOPLAM FM SGK İşveren Payı*@

                                                    <td>
                                                        <p name="EmployerShare" id="@("employerShare" + item)"></p>
                                                    </td>
                                                    @*TOPLAM FM SGK İşveren İşssizlik*@
                                                    <td>
                                                        <p name="EmployerUnemployement" id="@("employerUnemployment" + item)"></p>
                                                    </td>
                                                    @*TOPLAM FM Maliyeti*@
                                                    <td>
                                                        <p name="TotalOvertimeCost" id="@("totalOvertimeCost" + item)"></p>
                                                    </td>
                                                    @*Kar Oranı*@
                                                    <td>
                                                        <input type="text" value="0" class="form-control money " name="Spread" id="@("spread" + item)" onchange="CalculateOvertime(@item,@statusId)" />
                                                    </td>
                                                    @*Fatura Edilecek Tutar*@
                                                    <td>

                                                        <p id="@("invoiceAmount" + item)" name="InvoiceAmountForOvertime" class="generalTotal"></p>

                                                    </td>



                                                </tr>

                                            }
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div>


                    <div class="row" id="generalTotalOvertimeDiv">
                        <label class="mr-3">Genel Toplam:</label>
                        <input type="text" readonly id="generalTotal" />

                    </div>

                    @*<div class="row mb-lg-5" id="btnOvertimeSaveDiv">
                            <br />
                            <br />
                            <button class="btn btn-success btn-sm ml-2 mt-2" id="saveOvertime">Kaydet</button>
                            <a href="/Invoice/Detail?ContractID=@Model.OfferID" class="btn btn-danger btn-sm ml-2 mt-2">Kapat</a>
                        </div>*@




                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="missingDayModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title shortFallAmountDate" id="staticModalLabel"></h5>

                    <input type="hidden" id="invorowid" value="" />
                </div>

                <div class="modal-body">

                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">İleri Tarihli Fatura</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> İleri tarihli fatura kesmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hayır</button>
                    <button type="button" class="btn btn-success" onclick="confirm()">Evet</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="LastInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Son Fatura Tutarı</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> Son faturanız için ödemeniz gereken miktar: <p id="remainInvoice"> </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="lastInvoice()">Tamam</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="alertModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p><b>Lütfen son fatura tutarını giriniz..  </b> </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="DeleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticModalLabel">Fatura İptal</h5>
                </div>
                <div class="modal-body">
                    <p> Bu fatura işlemini iptal etmek istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="deletedRowID" value="" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hayır</button>
                    <button type="button" class="btn btn-success" onclick="DeleteInvoice()">Evet</button>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="col-md-12">
        <div class="alert alert-danger">
            Fatura Kaydı Bulunamadı
        </div>
        @*<a href="/Invoice/Index" class="btn btn-info">Geri Dön</a>*@
        <button class="btn btn-info" onclick="goBack()">Geri Dön</button>

    </div>
}


<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/assets/js/jquery.maskMoney.min.js"></script>
<script src="~/assets/js/jquery.mask.js"></script>


<script src="~/assets/js/jquery.blockUI.js"></script>
<script>

    (function ($) {
        "use strict";

        $('.shifttime').mask('00:00');
        $('.shiftdate').mask('0000-00-00');
        $('.money').mask("#.##0,00", { reverse: true });
        $('.money4').mask("#.##0,0000", { reverse: true });


        jQuery(".urunmiktar").attr("type", "tel");


        jQuery(document).bind("blur focus focusin focusout load resize scroll unload click dblclick mousedown mouseup mousemove mouseover mouseout mouseenter mouseleave change select submit keydown keypress keyup error", function () {
            window.clearTimeout(geriSayim);
            geriSayim = setTimeout(function () {
                document.location.href = gidilecekSite;
            }, 1000 * saniye);
        });


    })(jQuery);



</script>

<!--Fazla Mesai ücreti modal'ı show-->
<script>
    function showOvertime() {
        $('#DetailModal').modal('hide');
        var dateText = $('#pid').text();

        $('.overtimeDate').text("Fazla Mesai Hesabı - " + dateText);
        setTimeout(function () {

            $('#overtime').modal('show');
        }, 500);

    }

    //Yeni tutar check seçili degilse; value bosalt
    function changeNewAmountCheckbox() {

        if ($('#checkNewPrice').not(':checked')) {
            $('#newPrice').val('');
        }
    }

</script>

<script>
    function openMissingDayModal() {
        var invoRowID = $("#InvoiceRowId").val();
        $('#DetailModal').modal('hide');

        $.ajax({
            method: "GET",
            url: "/Invoice/OpenMissingDayModal",
            data: { invoiceRowID: invoRowID },
            beforeSend: function () {
                $.blockUI({ message: $('#domMessage') });
            }
        }).done(function (d) {
            $("#invorowid").val(invoRowID);
            $("#missingDayModal .modal-body").html(d);

            var dateText = $('#pid').text();
            $('.shortFallAmountDate').text('Eksik Gün Hesabı - ' + dateText);

            $("#missingDayModal").modal('show');

        }).always(function () {

            $.unblockUI();
        });
    }
    function openMissingDayModal2(invoRowID) {

        $.ajax({
            method: "GET",
            url: "/Invoice/OpenMissingDayModal",
            data: { invoiceRowID: invoRowID },
            beforeSend: function () {
            }
        }).done(function (d) {
            $("#invorowid").val(invoRowID);

            var dateTextForTable = $("#invoiceDate" + invoRowID).text();
            $('.shortFallAmountDate').text('Eksik Gün Güncelleme - ' + dateTextForTable);

            $("#missingDayModal").modal('show');
            $("#missingDayModal .modal-body").html(d);


        }).always(function () {

        });
    }
    function openMissingDayModalReadOnly(invoRowID) {

        $("#DetailModalReadOnly").modal('hide');
        $.ajax({
            method: "GET",
            url: "/Invoice/OpenMissingDayModalReadOnly",
            data: { invoiceRowID: invoRowID },
            beforeSend: function () {
                $.blockUI({ message: $('#domMessage') });
            }
        }).done(function (d) {
            $("#missingDayModal").modal('show');
            $("#missingDayModal .modal-body").html(d);


        }).always(function () {

            $.unblockUI();
        });
    }

    function calculateMissingDay(ID, positonID) {

        //var unitPrice = $("#HRSum" + ID).val();
        var hRUnitPrice = $("#HRUnitPrice" + ID).val();
        var monthlyWorkingDay = $("#MonthlyWorkingDay" + ID).val();
        var monthlyMissingDay = $("#MissingDay" + ID).val();
        $.ajax({
            method: "GET",
            url: "/Invoice/CalculateMissingDay",
            data: {
                //UnitPrice: unitPrice,
                HRUnitPrice: hRUnitPrice,
                MonthlyWorkingDay: monthlyWorkingDay,
                MonthlyMissingDay: monthlyMissingDay,
                RowID: ID,
                PositionID: positonID
            },
            beforeSend: function () {
                $.blockUI({ message: $('#domMessage') });
            }

        }).done(function (d) {

            $("#missingDayModal .modal-body").html(d);

        }).always(function () {

            $.unblockUI();
        });

    }


    function refreshInvoiceList(rowID) {
        $("#missingDayModal").modal('hide');

        $.ajax({
            method: "GET",
            url: "/Invoice/RefreshInvoiceList",
            data: { RowID: rowID },
            beforeSend: function () {

            }
        }).done(function (d) {

            $("#listDiv").html(d);


        }).always(function () {


        });
    }


    function deleteMissingDay(ID) {
        bootbox.confirm({
            message: "Eksik gün hesabını silmek istediğinizden emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {

                if (result == true) {

                    $("#missingDayModal").modal('hide');
                    $.ajax({
                        method: "GET",
                        url: "/Invoice/DeleteMissingDay",
                        data: {
                            RowID: ID
                        },
                        beforeSend: function () {
                        }

                    }).done(function (d) {
                        $("#listDiv").html(d);
                        bootbox.alert({
                            size: "small",
                            message: "Eksik Gün Silindi",
                            buttons: {
                                ok: {
                                    label: 'Tamam',
                                    className: 'btn-success'
                                },
                            },
                            callback: function () { /* your callback code */ }
                        })
                    }).always(function () {

                    });
                }
            }
        });
    }

    function updateMissingDay(ID, positonID) {
        var unitPrice = $("#unitPrice" + ID).val();
        var hRUnitPrice = $("#HRUnitPrice" + ID).val();
        var monthlyWorkingDay = $("#MonthlyWorkingDay" + ID).val();
        var monthlyMissingDay = $("#MissingDay" + ID).val();
        var description = $("#missingDayDesc").val();
        $.ajax({
            method: "GET",
            url: "/Invoice/UpdateMissingDay",
            data: {
                UnitPrice: unitPrice,
                HRUnitPrice: hRUnitPrice,
                MonthlyWorkingDay: monthlyWorkingDay,
                MonthlyMissingDay: monthlyMissingDay,
                RowID: ID,
                PositionID: positonID,
                Description: description
            },
            beforeSend: function () {
                $.blockUI({ message: $('#domMessage') });
            }

        }).done(function (d) {

            var dateText = $('#pid').text();
            $('.shortFallAmountDate').text('Eksik Gün Hesabı - ' + dateText);

            $("#missingDayModal").modal('show');
            $("#missingDayModal .modal-body").html(d);
            $(document).ready(function () {
                $("#Message").css('display', '');
                $("#Message").animate({ left: '75px' });
                setInterval(function () { $("#Message").fadeOut() }, 1000);
            });
        }).always(function () {
            $.unblockUI();
        });
    }
    function closeMissingDayModal() {
        $("#missingDayModal").modal('hide');

    }

</script>

<!--Fazla Mesai-Eksik Mesai Ücreti hesabı-->
<script>

    //FazlaMesaiHesabı
    function CalculateOvertime(rowId, statusId) {


        //Hafta içi saat
        var weekdaysHour = $('#weekdaysHour' + rowId).val();
        //hi oran
        var radioHIName = "hi" + rowId;
        var radioHIValue = $("input[name='" + radioHIName + "']:checked").val();

        //brüt ücret
        var grossWages = $('#grossWages' + rowId).val();

        //Hafta sonu oran
        var radioHSName = "hs" + rowId;
        var radioHSValue = $("input[name='" + radioHSName + "']:checked").val();

        //Hafta sonu saat
        var weekendHour = $('#weekendHour' + rowId).val();

        //Bayram fazla mesai oran
        var radioBTName = "bt" + rowId;
        var radioBTValue = $("input[name='" + radioBTName + "']:checked").val();

        //Bayram fazla mesai saat
        var holidayHour = $('#holidayHour' + rowId).val();

        //kar oranı
        var spread = $('#spread' + rowId).val();
        var percentSpread = 0;
        if (spread == "") {
            spread = 0;
        }
        else {
            //yüzde olarak kar oranı
            percentSpread = ((parseFloat(spread.split(',').join("."))) / 100);
        }

        var parseDot = grossWages.split('.').join("");
        var parseGrossWages = parseDot.split(',').join(".");

        if ((weekdaysHour != '' && radioHIValue != '' && parseGrossWages != '') || (weekendHour != '' && radioHSValue != '' && parseGrossWages != '') || (holidayHour != '' && radioBTValue != '' && parseGrossWages != '')) {

            var totalOvertime = 0;
            var employerShare = 0;
            var employerUnemployment = 0;
            var totalOvertimeCost = 0;
            var invoiceAmount = 0;

            //hafta içi fazla mesai hesabı
            var overtimeHI = ((parseFloat(parseGrossWages) / 225) * parseFloat(radioHIValue) * parseFloat(weekdaysHour.split(',').join(".")));
            if (!isNaN(overtimeHI)) {
                totalOvertime += overtimeHI;

                if (statusId == 1) {
                    employerShare = (parseFloat(totalOvertime) * parseFloat(0.205));
                    employerUnemployment = (parseFloat(totalOvertime) * parseFloat(0.02));

                }
                if (statusId == 2) {
                    employerShare = (parseFloat(totalOvertime) * parseFloat(0.245));
                }

                totalOvertimeCost = totalOvertime + employerShare + employerUnemployment;
                invoiceAmount = (parseFloat(totalOvertimeCost) + (parseFloat(totalOvertimeCost) * percentSpread));
            }

            //Hafta sonu fazla mesai hesabı
            var overtimeHS = ((parseFloat(parseGrossWages) / 225) * parseFloat(radioHSValue) * parseFloat(weekendHour.split(',').join(".")));
            if (!isNaN(overtimeHS)) {
                //toplam fm ücret
                totalOvertime += overtimeHS;

                if (statusId == 1) {
                    //toplam fm işveren payı
                    employerShare = (parseFloat(totalOvertime) * parseFloat(0.205));
                    employerUnemployment = (parseFloat(totalOvertime) * parseFloat(0.02));

                }
                if (statusId == 2) {
                    //toplam fm sgk işveren işsizlik
                    employerShare = (parseFloat(totalOvertime) * parseFloat(0.245));
                }

                //toplam fm maaliyet
                totalOvertimeCost = totalOvertime + employerShare + employerUnemployment;
                invoiceAmount = (parseFloat(totalOvertimeCost) + (parseFloat(totalOvertimeCost) * percentSpread));
            }

            //bayram tatili fm hesabı
            var overtimeBT = ((parseFloat(parseGrossWages) / 225) * parseFloat(radioBTValue) * parseFloat(holidayHour.split(',').join(".")));
            if (!isNaN(overtimeBT)) {
                totalOvertime += overtimeBT;

                if (statusId == 1) {
                    //Normal çalışan
                    //toplam fm işveren payı
                    employerShare = (parseFloat(totalOvertime) * parseFloat(0.205));
                    employerUnemployment = (parseFloat(totalOvertime) * parseFloat(0.02));

                }
                if (statusId == 2) {
                    //emekli
                    //toplam fm sgk işveren işsizlik
                    employerShare = (parseFloat(totalOvertime) * parseFloat(0.245));
                }
                totalOvertimeCost = totalOvertime + employerShare + employerUnemployment;
                invoiceAmount = (parseFloat(totalOvertimeCost) + (parseFloat(totalOvertimeCost) * percentSpread));
            }

            $('#totalOvertimeGrossPrice' + rowId).text(totalOvertime.toLocaleString());
            $('#employerShare' + rowId).text(employerShare.toLocaleString());
            $('#employerUnemployment' + rowId).text(employerUnemployment.toLocaleString());
            $('#totalOvertimeCost' + rowId).text(totalOvertimeCost.toLocaleString());


            $('#invoiceAmount' + rowId).text(invoiceAmount.toLocaleString());

            var sum = 0;
            var generalTotal = 0;


            $(".generalTotal").each(function () {

                var value = $(this).text();
                // add only if the value is number
                if (value != "") {
                    var sumReplace = value.split('.').join("");
                    sum += Number(sumReplace.split(',').join("."));
                    $('#generalTotal').val(sum.toLocaleString());
                    generalTotal = 1;
                }
                if (generalTotal == 0) {
                    $('#generalTotal').val('');
                }
            });

        }

        //Saat ve option(fm oranı %100-%150-%200) seçili değilse hesaplamaları bosalt
        else {
            $('#totalOvertimeGrossPrice' + rowId).text('');
            $('#employerShare' + rowId).text('');
            $('#employerUnemployment' + rowId).text('');
            $('#totalOvertimeCost' + rowId).text('');
            $('#invoiceAmount' + rowId).text('');

            var sum = 0;
            var generalTotal = 0;


            $(".generalTotal").each(function () {

                var value = $(this).text();
                // add only if the value is number
                if (value != "") {
                    //sum += parseFloat(value);
                    var sumReplace = value.split('.').join("");
                    sum += Number(sumReplace.split(',').join("."));
                    $('#generalTotal').val(sum.toLocaleString());
                    generalTotal = 1;
                }
                if (generalTotal == 0) {
                    $('#generalTotal').val('');
                }
            });
        }

    }


    //Fazla mesai kaydetme
    $('#saveOvertime').click(function () {

        var offerId = $('#urlSaveOvertimeOfferId').val();
        var description = $("#overtimeDesc").val();
        bootbox.confirm({
            message: "Fazla mesai kaydedilecek, emin misiniz?",
            buttons: {
                confirm: {
                    label: 'Evet',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {

                    var parameters = new Array();

                    $("#overtimeTable").find("tr:gt(0)").each(function () {

                        var td = $('td', this);

                        var PositionId = $('input[name="positionId"]', td).val();
                        var Status = $('#status' + PositionId).text();
                        var GrossPrice = $('input[name="grossWages"]', td).val();

                        var radioHIName = "hi" + PositionId;
                        var HIRate = $("input[name='" + radioHIName + "']:checked").val();

                        var HIHour = $('input[name="hiHour"]', td).val();

                        var radioHSName = "hs" + PositionId;
                        var HSRate = $("input[name='" + radioHSName + "']:checked").val();

                        //var HSRate = $("input:radio.hsRadio:checked").val();
                        var HSHour = $('input[name="hsHour"]', td).val();

                        var radioBTName = "bt" + PositionId;
                        var BTRate = $("input[name='" + radioBTName + "']:checked").val();

                        //var BTHour = $('input[name="btHour"]', td).val();
                        var BTHour = $('#holidayHour' + PositionId).val();

                        var TotalOvertimeGrossPrice = $('#totalOvertimeGrossPrice' + PositionId).text();
                        var EmployerShare = $("#employerShare" + PositionId).text();
                        var EmployerUnemployement = $("#employerUnemployment" + PositionId).text();
                        var TotalOvertimeCost = $('#totalOvertimeCost' + PositionId).text();


                        var Spread = $('input[name="Spread"]', td).val();
                        //var InvoiceAmountForOvertime = $('input[name="InvoiceAmountForOvertime"]', td).val();
                        var InvoiceAmountForOvertime = $('#invoiceAmount' + PositionId).text();



                        var OvertimeModel = {};
                        OvertimeModel.PositionId = PositionId;
                        OvertimeModel.Status = Status;
                        OvertimeModel.GrossPrice = GrossPrice;
                        OvertimeModel.HIRate = HIRate;
                        OvertimeModel.HIHour = HIHour;
                        OvertimeModel.HSRate = HSRate;
                        OvertimeModel.HSHour = HSHour;
                        OvertimeModel.BTRate = BTRate;
                        OvertimeModel.BTHour = BTHour;

                        OvertimeModel.TotalOvertimeGrossPrice = TotalOvertimeGrossPrice;
                        OvertimeModel.EmployerShare = EmployerShare;
                        OvertimeModel.EmployerUnemployement = EmployerUnemployement;
                        OvertimeModel.TotalOvertimeCost = TotalOvertimeCost;
                        OvertimeModel.Spread = Spread;
                        OvertimeModel.InvoiceAmountForOvertime = InvoiceAmountForOvertime;

                        parameters.push(OvertimeModel);
                    });

                    var GeneralModel = {};
                    GeneralModel.OvertimeGeneralTotal = $('#generalTotal').val();
                    GeneralModel.InvoiceRowId = $('#InvoiceRowId').val();


                    $.ajax({
                        async: true,
                        url: '/Invoice/SaveOvertime',
                        type: 'POST',
                        //dataType: 'json',
                        data: JSON.stringify({ OvertimeModel: parameters, GeneralModel: GeneralModel, Description: description }),
                        contentType: 'application/json charset=utf=8',
                        //cache: false,
                        //processData: false

                        beforeSend: function () {

                        }
                    }).done(function (d) {
                        $('#overtime').modal('hide');
                        $('#listDiv').html(d);
                        //window.location.href = "/Invoice/Detail?ContractID=" + offerId + "";
                        bootbox.alert({
                            size: "small",
                            message: "Fazla mesai eklendi",
                            buttons: {
                                ok: {
                                    label: 'Tamam',
                                    className: 'btn-success'
                                },
                            },
                            callback: function () { /* your callback code */ }
                        })


                        $("#overtimeTable").find("tr:gt(0)").each(function () {

                            var td = $('td', this);

                            $('input[name="hiHour"]', td).val('');
                            $('input[name="hsHour"]', td).val('');
                            $('input[name="btHour"]', td).val('');
                            $('input[name="Spread"]', td).val('');
                        });

                        //$('#overtimeTable input[type="text"]').val('');

                        $('#overtimeTable input[type="radio"]').prop('checked', false)

                        $('#overtimeTable p').text('');
                        $('#generalTotal').val('');

                    }).always(function () {

                    });
                }
            }
        });

    });


    $("#checkNewPrice").change(function () {
        if (this.checked) {
            document.getElementById("newPrice").readOnly = false;
        }
        else {
            document.getElementById("newPrice").readOnly = true;
        }
    });

    function openDetailModal(id) {
        $("#DetailModalReadOnly").modal('show');

        $.ajax({
            method: "GET",
            url: "/Invoice/DetailModalReadOnly",
            data: { invoiceRowID: id },
            beforeSend: function () {
                $.blockUI({ message: $("#domMessage ") });
            }
        }).done(function (d) {

            $("#DetailModalReadOnly .modal-body").html(d);
        }).always(function () {
            $.unblockUI();
        });

    }

</script>
