﻿
@{
    ViewBag.Title = "ExportToExcelInvoiceRow";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

 <div class="col-md-12">
     <div class="alert alert-danger">
         @ViewBag.Message
     </div>
 </div>
