﻿
@model List<OykaCrm.Models.Offer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="~/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

@if (Model != null && Model.Count() > 0)
{
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                </div>

                <div class="col-md-2 text-right">
                </div>
                <div class="col-md-12">

                    <div class="alert alert-info">
                        <i><b>Tek seferlik teklif </b> yeşil  <b>Süreli teklif </b>mavi renkli detay butonu ile ifade edilmektedir.</i>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="feed-box">
                        <section class="card">
                            <div class="card-body">
                                <a href="/Contract/ExportToExcelContracts" class="btn btn-new-1 btn-sm">Excel'e Aktar</a><br /><br />
                                <div class="clearfix"></div>
                                <div class="table-responsive">
                                    <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                                        <thead>
                                            <tr>
                                                <th width="60"></th>
                                                <th>Teklif Numarası</th>
                                                <th>Proje Adı</th>
                                                <th>Müşteri</th>
                                                <th>Tarih</th>
                                                <th class="text-right"> Toplam Tutar </th>
                                                <th class="text-right">  </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr onclick="document.location = '#';" class="pointer-tr">
                                                    <td width="60" class="text-center"><i class="fa fa-file-text fa-2x"></i></td>
                                                    <td><strong>@(item.OfferNumber != null ? item.OfferNumber:"-")</strong></td>
                                                    <td><strong>@(item.Projects != null ? item.Projects.ProjectName:"-")</strong></td>
                                                    <td><strong>@(item.Customers.CustomerFullName==null ? "-": item.Customers.CustomerFullName)</strong></td>
                                                    <td><strong>@item.RecordDate.Value.ToShortDateString()</strong></td>
                                                    <td class="price text-right">@(item.GenelToplam!=null?item.GenelToplam.Value.ToString("N2")+"₺":"-")</td>
                                                    @if (item.IsOneTime == true)
                                                    {

                                                        <td class="price text-right"><a href="/Invoice/Detail?ContractID=@item.ID" class="btn btn-info">Detay</a></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="price text-right"><a href="/Invoice/Detail?ContractID=@item.ID" class="btn btn-success">Detay</a></td>
                                                    }
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="col-md-12">
        <div class="alert alert-danger">
            Kayıt Bulunamadı
        </div>
        <button class="btn btn-info" onclick="goBack()">Geri Dön</button>
    </div>
}




<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="~/vendors/jszip/dist/jszip.min.js"></script>
<script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/init-scripts/data-table/datatables-init.js"></script>
