﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="index.html">
                    <img class="align-content" src="images/logo.png" alt="">
                </a>
            </div>
            <div class="login-form"> 
                <div class="form-group">
                    <label><b>Yetkiniz Yok!</b></label> 
                </div>
                <a href="/Default/" class="btn btn-primary btn-flat m-b-15">Ana Sayfa</a>

            </div>
        </div>
    </div>
</div>

