﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>TYH-Sayfa Bulunamadı</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">

    
 
    <link href="~/assets/css/404/style.css" rel="stylesheet" />
 
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1 style="color:black;">404</h1>
            </div>
            <h2>Hata! Sayfa bulunamadı</h2>
            
            <a onclick="goBack()">Geri Dön</a>
        </div>
    </div>

</body> 

</html>


<script>
    function goBack() {
        window.history.back();
    }
</script>