﻿@using OykaCrm.Models
@model AuditDetailViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

@*@if (Model != null)
{
    if (Model.RoleGroup != null)
    {*@
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feed-box">
                            <section class="card">
                                <div class="card-body">
                                    <p><strong><i class="fa fa-caret-right"></i>Rol Grubu</strong></p>
                                    <hr>
                                    <div class="col-md-12">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label">ID</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="ID" readonly class="form-control" value="@Model.RoleGroup.ID"></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Grup Adı</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="groupname" readonly class="form-control" value="@Model.RoleGroup.GroupName"></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Rol Seviyesi</label></div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-input" name="groupname" readonly class="form-control" value="@Model.rolelevelname">

                                                @*<select name="RoleLevelNumber" class="form-control">
                                                        @foreach (var item in Model.RoleLevel)
                                                        {

                                                            <option value="@item.LevelNumber" disabled @(item.LevelNumber == Model.RoleGroup.RoleLevel ? "selected" : "")>@item.Name</option>
                                                        }
                                                    </select>*@
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-5 text-right form-save-pc">
                                            <button type="submit" name="button" id="button" class="btn btn-new-2">Güncelle</button>

                                        </div>*@
                                    <div class="col-md-12 text-right form-save-mobile">
                                        <a href="/ayarlar/" class="btn btn-new-1">VAZGEÇ</a>
                                        <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="feed-box">
                            <section class="card">
                                <div class="card-body">
                                    @using (Html.BeginForm("AddGroupPermission", "Audit", FormMethod.Post, new { @class = "bs-example form-horizontal" }))
                                    {
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Role Group</label></div>
                                            <div class="col-9 col-md-9"><input type="text" id="text-input" name="ID" class="form-control" readonly value="@Model.RoleGroup.GroupName"></div>
                                        </div>
                                        @*<div class="form-group">
                                                <label class="col-lg-3 control-label">Yetki</label>
                                                <div class="col-lg-9">
                                                    <select name="PermissionID" class="form-control">
                                                        @foreach (var item in Model.PermissionList.OrderBy(i => i.Controller))
                                                        {
                                                            <option value="@item.ID">@item.Controller - @item.Action</option>
                                                        }

                                                    </select>
                                                </div>
                                            </div>*@
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="text-input" class="form-control-label">Yetki</label></div>
                                            <div class="col-9 col-md-9">
                                                <select name="PermissionID" class="form-control">
                                                    @if (Model.PermissionList != null && Model.PermissionList.Count() > 0)
                                                    {
                                                        foreach (var item in Model.PermissionList.OrderBy(i => i.Controller))
                                                        {
                                                            <option value="@item.ID">@item.ID -  @item.Description</option>
                                                        }
                                                    }
                                                </select>

                                            </div>
                                        </div>
                                        <div id="kullaniciyetkiler" style="display: block;">
                                            <div class="row form-group">
                                                <div class="col-12 col-md-12">
                                                    <div class="table-responsive">
                                                        <table id="bootstrap-data-table-export" class="table table-musteri-list table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>Sayfa Erişimi</th>
                                                                    <th>Ekleme</th>
                                                                    <th>Silme</th>
                                                                    <th>Güncelleme</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <input type="hidden" name="RoleGroupID" value="@Model.RoleGroup.ID" />
                                                                <tr>
                                                                    <td>
                                                                        <label class="switch switch-default switch-success-outline-alt switch-pill mr-2">
                                                                            <input class="switch-input" type="checkbox"   name="PermNavigate" value="1" checked=""> <span class="switch-label"></span> <span class="switch-handle"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>
                                                                        <label class="switch switch-default switch-success-outline-alt switch-pill mr-2">
                                                                            <input class="switch-input" type="checkbox"  name="PermInsert" value="1" checked=""> <span class="switch-label"></span> <span class="switch-handle"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>
                                                                        <label class="switch switch-default switch-success-outline-alt switch-pill mr-2">
                                                                            <input class="switch-input" type="checkbox"  name="PermDelete" value="1" checked=""> <span class="switch-label"></span> <span class="switch-handle"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>
                                                                        <label class="switch switch-default switch-success-outline-alt switch-pill mr-2">
                                                                            <input class="switch-input" type="checkbox"  name="PermUpdate" value="1" checked=""> <span class="switch-label"></span> <span class="switch-handle"></span>
                                                                        </label>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-new-2">Rol Grubuna Yetki Ekle</button>
                                            </div>

                                        </div>
                                    }
                                </div>
                            </section>
                            <a href="/Audit/Index" class="btn btn-primary">Listeye Dön</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="feed-box">
                            <section class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped b-t b-light">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Role Grubu</th>
                                                    <th>Yetki</th>
                                                    <th>Erişim</th>
                                                    <th>Ekleme</th>
                                                    <th>Güncelleme</th>
                                                    <th>Silme</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*<i class="fa fa-times text-danger text"></i>*@

                                                @if (Model.PermList != null && Model.PermList.Count() > 0)
                                                {
                                                    foreach (var item in Model.PermList.Where(i => i.MaxStatusLevel == null).ToList())
                                                    {
                                                        <tr>
                                                            <td>@item.PermissionID</td>
                                                            <td>@Model.RoleGroup.GroupName</td>
                                                            <td>
                                                                <span class="badge ">@(item.Permission.Description)</span>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="active">
                                                                    @(item.IsNavigate == true ? Html.Raw("<i class='fa fa-check text-success text-active'></i>") : Html.Raw("<i class='fa fa-times text-danger text'></i>"))
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="active">
                                                                    @(item.IsInsert == true ? Html.Raw("<i class='fa fa-check text-success text-active'></i>") : Html.Raw("<i class='fa fa-times text-danger text'></i>"))
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="active">
                                                                    @(item.IsUpdate == true ? Html.Raw("<i class='fa fa-check text-success text-active'></i>") : Html.Raw("<i class='fa fa-times text-danger text'></i>"))
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="active">
                                                                    @(item.IsDelete == true ? Html.Raw("<i class='fa fa-check text-success text-active'></i>") : Html.Raw("<i class='fa fa-times text-danger text'></i>"))
                                                                </a>
                                                            </td>
                                                            <td style="text-align:right;">
                                                                <a href="/Audit/RemoveGrupPermission/@item.ID?GrupID=@item.RoleGroupID" class="btn btn-danger btn-xs" onclick="return confirm('Silmek istediğinize emin misiniz?')"><i class="fa fa-trash-o"></i></a>
                                                            </td>
                                                        </tr>

                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </section>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    @*}
    else
    {
        <div class="col-md-12">
            <div class="alert alert-danger">
                Rol Grup Kaydı Bulunamadı
            </div>
            <button class="btn btn-info" onclick="goBack()">Geri Dön</button>
        </div>
    }
}
else
{
    <div class="col-md-12">
        <div class="alert alert-danger">
            Rol Grup Kaydı Bulunamadı
        </div>
        <button class="btn btn-info" onclick="goBack()">Geri Dön</button>
    </div>
}*@

