﻿@using OykaCrm.Models
@model IEnumerable<RoleGroup>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-4 text-right">
                <a href="/Audit/New" class="btn btn-info">Yeni Rol Grubu Ekle</a>
            </div>

            <hr />
            <div class="col-md-12">
                <br />
                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">

                            <div class="clearfix"></div>
                            <div class="table-responsive">
                                <table id="bootstrap-data-table" class="table table-striped table-list table-hover">
                                    <thead>
                                        <tr>
                                            <th width="60"></th>
                                            <th style="min-width:100px">
                                                Grup Adı
                                            </th>
                                            <th width="160">Grup Seviyesi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr onclick="document.location = '/Audit/Detail/@item.ID';" class="pointer-tr">
                                                <td width="60" class="text-center"></td>
                                                <td><strong>@item.GroupName</strong></td>
                                                <td>@item.RoleLevel1.Name</td>
                                            </tr>
                                        } 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


</div>

