﻿@using OykaCrm.Models
@model IEnumerable<RoleLevel>
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="feed-box">
                    <section class="card">
                        <div class="card-body">
                            @using (Html.BeginForm("Add", "Audit", FormMethod.Post))
                            {


                                <div class="col-md-9">
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label">Rol Grubu Adı</label></div>
                                        <div class="col-12 col-md-9"><input type="text" id="text-input" name="rolgroupname" placeholder="Rol Grubu adını giriniz" class="form-control"></div>
                                    </div>
                                    <hr>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label"> Rol Seviyesi</label></div>
                                        <div class="col-12 col-md-9">
                                            <select id="select" class="form-control parabirimi" name="RoleLevelNumber">
                                                @foreach (var item in Model)
                                                {
                                                    <option value="@item.LevelNumber">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 text-right form-save-pc">
                                    <a href="/Audit/Index" class="btn btn-new-1">VAZGEÇ</a>
                                    <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                </div>
                                <div class="col-md-12 text-right form-save-mobile">
                                    <a href="/kasa-banka" class="btn btn-new-1">VAZGEÇ</a>
                                    <button type="submit" name="button" id="button" class="btn btn-new-2">KAYDET</button>
                                </div>
                            }
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


</div>

